Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

core: imx: fix IOMUXC GPR5 register read
  core/arch/arm/plat-imx/pm/psci.c
  core/arch/arm/plat-imx/registers/imx7.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: re-work SRC driver
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/pm/local.h
  core/arch/arm/plat-imx/pm/psci.c
  core/arch/arm/plat-imx/pm/src.c
  core/arch/arm/plat-imx/registers/imx6.h
  core/arch/arm/plat-imx/registers/imx7.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: remove power management code for imx7d platforms
  core/arch/arm/plat-imx/imx_pm.h
  core/arch/arm/plat-imx/imx_pm_asm_defines.c
  core/arch/arm/plat-imx/mmdc.c
  core/arch/arm/plat-imx/mmdc.h
  core/arch/arm/plat-imx/pm/cpuidle-imx7d.c
  core/arch/arm/plat-imx/pm/imx7_suspend.c
  core/arch/arm/plat-imx/pm/pm-imx7.c
  core/arch/arm/plat-imx/pm/psci-cpuidle-imx7.S
  core/arch/arm/plat-imx/pm/psci-suspend-imx7.S
  core/arch/arm/plat-imx/pm/psci.c
  core/arch/arm/plat-imx/pm/sub.mk
  core/arch/arm/plat-imx/sub.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: pm: imx: relocate power management code
  core/arch/arm/plat-imx/sub.mk
  core/drivers/pm/imx/gpcv2.c
  core/drivers/pm/imx/local.h
  core/drivers/pm/imx/psci.c
  core/drivers/pm/imx/src.c
  core/drivers/pm/imx/sub.mk
  core/drivers/pm/sub.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

core: imx: move SRC driver to pm directory
  core/arch/arm/plat-imx/imx.h
  core/arch/arm/plat-imx/pm/local.h
  core/arch/arm/plat-imx/pm/psci.c
  core/arch/arm/plat-imx/pm/src.c
  core/arch/arm/plat-imx/pm/sub.mk
  core/arch/arm/plat-imx/sub.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: remove PSCI_CPU_SUSPEND capability
  core/arch/arm/plat-imx/pm/psci.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: pm: imx: remove useless header includes
  core/drivers/pm/imx/psci.c
Owners: @OP-TEE/linaro

core: imx: re-work GPCv2 driver
  core/arch/arm/plat-imx/pm/gpcv2.c
  core/arch/arm/plat-imx/pm/local.h
  core/arch/arm/plat-imx/registers/imx7.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: arm: SPMC obtain device memory info from DTB
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: support fault mitigations in non-threaded code
  core/arch/arm/include/kernel/thread_arch.h
  lib/libutils/ext/include/fault_mitigation.h
Owners: @OP-TEE/linaro

core: spmc: implement boot-order support
  core/arch/arm/include/kernel/secure_partition.h
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

core: arm: SPMC obtain device memory info from DTB
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: spmc: implement boot-order support
  core/arch/arm/include/kernel/secure_partition.h
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

[P-R#6301]drivers: regulator framework
  core/drivers/regulator/regulator.c
  core/drivers/regulator/sub.mk
  core/drivers/sub.mk
  core/include/drivers/regulator.h
  mk/config.mk
Owners: @OP-TEE/linaro

[review] drivers: regulator framework
  core/drivers/regulator/regulator.c
Owners: @OP-TEE/linaro

drivers: regulator: always on property
  core/drivers/regulator/regulator.c
  core/include/drivers/regulator.h
Owners: @OP-TEE/linaro

drivers: regulator: list supported levels
  core/drivers/regulator/regulator.c
  core/include/drivers/regulator.h
Owners: @OP-TEE/linaro

core: dt_driver: define DT_DRIVER_REGULATOR
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

core: dt_driver: add dt_driver_provider_priv_data()
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

drivers: regulator: register to dt_driver
  core/drivers/regulator/regulator_dt.c
  core/drivers/regulator/sub.mk
  core/include/drivers/regulator.h
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: regulator: add regulator_dt_get_supply()
  core/drivers/regulator/regulator_dt.c
  core/include/drivers/regulator.h
Owners: @OP-TEE/linaro

drivers: regulator: add pull down mode
  core/drivers/regulator/regulator_dt.c
  core/include/drivers/regulator.h
Owners: @OP-TEE/linaro

drivers: regulator: fixed regulator
  core/drivers/regulator/regulator_fixed.c
  core/drivers/regulator/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: regulator: GPIO controlled regulator
  core/drivers/regulator/regulator_gpio.c
  core/drivers/regulator/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

core: arm: timeout_elapsed_us() return elapsed time
  core/arch/arm/include/kernel/delay_arch.h
Owners: @OP-TEE/linaro

pta: tests: DT probe test for regulators
  core/arch/arm/dts/dt_driver_test.dtsi
  core/pta/tests/dt_driver_test.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: pta: stats: implement a method to get tee and ree time
  core/pta/stats.c
Owners: @OP-TEE/linaro

core: pta: stats: implement a method to get tee and ree time
  core/pta/stats.c
Owners: @OP-TEE/linaro

core: add CFG_WDT_SM_HANDLER_ID in TOS fast call list
  core/arch/arm/include/sm/watchdog_smc.h
  core/arch/arm/tee/entry_fast.c
  core/drivers/wdt/watchdog_sm.c
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: regulator framework
  core/drivers/regulator/regulator.c
  core/drivers/regulator/sub.mk
  core/drivers/sub.mk
  core/include/drivers/regulator.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: support fault mitigations in non-threaded code
  core/arch/arm/include/kernel/thread_arch.h
  lib/libutils/ext/include/fault_mitigation.h
Owners: @OP-TEE/linaro

drivers: regulator framework
  core/drivers/regulator/regulator.c
  core/drivers/regulator/sub.mk
  core/drivers/sub.mk
  core/include/drivers/regulator.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: riscv: Register thread_vector_table in primary CPU initialization
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: Implement thread_vector_table for ABI and FIQ entries
  core/arch/riscv/kernel/asm-defines.c
  core/arch/riscv/kernel/thread_optee_abi_rv.S
Owners: @OP-TEE/linaro

libutils: compiler.h: Add macro for __attribute__((naked))
  lib/libutils/ext/include/compiler.h
Owners: @OP-TEE/linaro

core: riscv: Implement SBI-based function to return to REE
  core/arch/riscv/include/sbi.h
  core/arch/riscv/kernel/sbi.c
Owners: @OP-TEE/linaro

core: add CFG_WDT_SM_HANDLER_ID in TOS fast call list
  core/arch/arm/include/sm/watchdog_smc.h
  core/arch/arm/tee/entry_fast.c
  core/drivers/wdt/watchdog_sm.c
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: imx_csu: add resume capability to CSU driver
  core/drivers/imx_csu.c
Owners: @OP-TEE/linaro

core: imx: increase heap size to 128k
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: ls: increase heap size to 128k
  core/arch/arm/plat-ls/conf.mk
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com
