Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

libmbedtls: add SM2 curve
  lib/libmbedtls/mbedtls/include/mbedtls/ecp.h
  lib/libmbedtls/mbedtls/library/ecp.c
  lib/libmbedtls/mbedtls/library/ecp_curves.c
Owners: @OP-TEE/linaro

riscv: kernel: entry.S: remove unused boot_args array
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: add SiFive Unleashed and Unmatched board support
  core/arch/riscv/plat-sifive/conf.mk
  core/arch/riscv/plat-sifive/main.c
  core/arch/riscv/plat-sifive/platform_config.h
  core/arch/riscv/plat-sifive/sub.mk
Owners: @OP-TEE/linaro

core: drivers: support sifive uart
  core/drivers/sifive_uart.c
  core/drivers/sub.mk
  core/include/drivers/sifive_uart.h
Owners: @OP-TEE/linaro

riscv: kernel: sbi: introduce sbi_hsm_hart_get_status() function
  core/arch/riscv/include/sbi.h
  core/arch/riscv/kernel/sbi.c
Owners: @OP-TEE/linaro

ci: add SiFive platform build (rv64, PLATFORM=sifive)
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

riscv: plat-virt: move stack alignment definition
  core/arch/riscv/include/riscv.h
  core/arch/riscv/plat-virt/platform_config.h
Owners: @OP-TEE/linaro

riscv: kernel: support booting non-contiguous non-zero-based hart IDs
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/kernel/asm-defines.c
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
  core/arch/riscv/kernel/thread_arch.c
  core/arch/riscv/kernel/thread_rv.S
  core/include/kernel/boot.h
Owners: @OP-TEE/linaro

libmbedtls: fix build warning related to deprecated DTLS connect ID
  lib/libmbedtls/mbedtls/include/mbedtls/ssl.h
Owners: @OP-TEE/linaro

core: fix configuration to disable stack protector
  core/core.mk
Owners: @OP-TEE/linaro

tree-wide: use /usr/bin/env bash in bash scripts
  scripts/checkpatch.sh
  scripts/checkpatch_inc.sh
  ta/pkcs11/scripts/dump_ec_curve_params.sh
  ta/pkcs11/scripts/verify-helpers.sh
Owners: @OP-TEE/linaro

libutils: merge malloc pools if possible
  lib/libutils/isoc/bget.c
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

libutils: add raw_malloc_flags()
  lib/libutils/isoc/bget_malloc.c
  lib/libutils/isoc/include/malloc.h
Owners: @OP-TEE/linaro

libutee: TEE_Realloc(): avoid realloc()
  lib/libutee/tee_api.c
Owners: @OP-TEE/linaro

libutee: fix __utee_tcb_init()
  lib/libutee/tcb.c
Owners: @OP-TEE/linaro

libutils: avoid unneeded zero init in realloc()
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

libmbedtls: fix build warning related to deprecated DTLS connect ID
  lib/libmbedtls/mbedtls/include/mbedtls/ssl.h
Owners: @OP-TEE/linaro

riscv: kernel: entry.S: remove unused boot_args array
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

riscv: plat-virt: move stack alignment definition
  core/arch/riscv/include/riscv.h
  core/arch/riscv/plat-virt/platform_config.h
Owners: @OP-TEE/linaro

riscv: kernel: sbi: introduce sbi_hsm_hart_get_status() function
  core/arch/riscv/include/sbi.h
  core/arch/riscv/kernel/sbi.c
Owners: @OP-TEE/linaro

libutils: avoid unneeded zero init in realloc()
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

libutee: fix __utee_tcb_init()
  lib/libutee/tcb.c
Owners: @OP-TEE/linaro

libutee: TEE_Realloc(): avoid realloc()
  lib/libutee/tee_api.c
Owners: @OP-TEE/linaro

libutils: add raw_malloc_flags()
  lib/libutils/isoc/bget_malloc.c
  lib/libutils/isoc/include/malloc.h
Owners: @OP-TEE/linaro

riscv: kernel: support booting non-contiguous non-zero-based hart IDs
  core/arch/riscv/include/kernel/misc_arch.h
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/kernel/asm-defines.c
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
  core/arch/riscv/kernel/thread_arch.c
  core/arch/riscv/kernel/thread_rv.S
  core/include/kernel/boot.h
Owners: @OP-TEE/linaro

core: riscv: add SiFive Unleashed and Unmatched board support
  core/arch/riscv/plat-sifive/conf.mk
  core/arch/riscv/plat-sifive/main.c
  core/arch/riscv/plat-sifive/platform_config.h
  core/arch/riscv/plat-sifive/sub.mk
Owners: @OP-TEE/linaro

core: drivers: support SiFive UART
  core/drivers/sifive_uart.c
  core/drivers/sub.mk
  core/include/drivers/sifive_uart.h
Owners: @OP-TEE/linaro

ci: add SiFive platform build (rv64, PLATFORM=sifive)
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: imx: disable ELE on i.MX8ULP by default
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx_csu: add SA settings for i.MX6ULL
  core/drivers/imx_csu.c
Owners: @OP-TEE/linaro

core: imx: disable ELE on i.MX8ULP by default
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: arm: ffa: enable FF-A version 1.2 for virtualization
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: drivers: support SiFive UART
  core/drivers/sifive_uart.c
  core/drivers/sub.mk
  core/include/drivers/sifive_uart.h
Owners: @OP-TEE/linaro

riscv: kernel: support booting non-contiguous non-zero-based hart IDs
  core/arch/riscv/include/kernel/misc_arch.h
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/kernel/asm-defines.c
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
  core/arch/riscv/kernel/thread_arch.c
  core/arch/riscv/kernel/thread_rv.S
  core/include/kernel/boot.h
Owners: @OP-TEE/linaro

core: riscv: add SiFive Unleashed and Unmatched board support
  core/arch/riscv/plat-sifive/conf.mk
  core/arch/riscv/plat-sifive/main.c
  core/arch/riscv/plat-sifive/platform_config.h
  core/arch/riscv/plat-sifive/sub.mk
Owners: @OP-TEE/linaro

riscv: kernel: sbi: introduce sbi_hsm_hart_get_status() function
  core/arch/riscv/include/sbi.h
  core/arch/riscv/kernel/sbi.c
Owners: @OP-TEE/linaro

ci: add SiFive platform build (rv64, PLATFORM=sifive)
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

riscv: plat-virt: move stack alignment definition
  core/arch/riscv/include/riscv.h
  core/arch/riscv/plat-virt/platform_config.h
Owners: @OP-TEE/linaro

riscv: kernel: entry.S: remove unused boot_args array
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

drivers: imx_csu: add SA settings for i.MX6ULL
  core/drivers/imx_csu.c
Owners: @OP-TEE/linaro
