Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

core: ffa: only accept FFA_RUN for S-EL0 SPs
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: arm: ffa: add framework for Logical SPs
  core/arch/arm/include/kernel/thread_spmc.h
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: arm: ffa: add test logical SP
  core/arch/arm/arm.mk
  core/arch/arm/tests/ffa_lsp.c
  core/arch/arm/tests/sub.mk
Owners: @OP-TEE/linaro

core: dynamic allocation of thread_core_local and its stacks
  core/arch/arm/include/kernel/thread_arch.h
  core/arch/arm/include/kernel/thread_private_arch.h
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/thread.c
  core/include/kernel/thread.h
  core/include/kernel/thread_private.h
  core/kernel/thread.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: add thread_count to thread_init_threads()
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/thread_a64.S
  core/arch/arm/kernel/virtualization.c
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
  core/arch/riscv/kernel/thread_rv.S
  core/include/kernel/thread.h
  core/include/kernel/thread_private.h
  core/kernel/thread.c
Owners: @OP-TEE/linaro

ci: QEMUv8: check CFG_DYN_CONFIG=n
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: mm: shared xlat tables for NEX_DYN_VASPACE
  core/arch/arm/mm/core_mmu_lpae.c
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: dynamic allocation of threads and their stacks
  core/include/kernel/thread.h
  core/kernel/thread.c
Owners: @OP-TEE/linaro

core: ffa: only accept FFA_RUN for S-EL0 SPs
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: arm: ffa: add test logical SP
  core/arch/arm/arm.mk
  core/arch/arm/tests/ffa_lsp.c
  core/arch/arm/tests/sub.mk
Owners: @OP-TEE/linaro

core: ffa: sp_partition_info_get() takes uuid_words[]
  core/arch/arm/include/kernel/secure_partition.h
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: arm: ffa: add framework for Logical SPs
  core/arch/arm/include/kernel/thread_spmc.h
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: ffa: add spmc_is_reserved_id()
  core/arch/arm/include/kernel/thread_spmc.h
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

ci: QEMUv8: check CFG_DYN_CONFIG=n
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: arm: mm: fix core_mmu_xlat_table_alloc() for nexus
  core/arch/arm/mm/core_mmu_lpae.c
Owners: @OP-TEE/linaro

core: dynamic allocation of thread_core_local and its stacks
  core/arch/arm/include/kernel/thread_arch.h
  core/arch/arm/include/kernel/thread_private_arch.h
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/thread.c
  core/include/kernel/thread.h
  core/include/kernel/thread_private.h
  core/kernel/thread.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: mm: shared xlat tables for NEX_DYN_VASPACE
  core/arch/arm/mm/core_mmu_lpae.c
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: pta: update virt_to_phys() self tests
  core/pta/tests/misc.c
Owners: @OP-TEE/linaro

core: add thread_count to thread_init_threads()
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/thread_a64.S
  core/arch/arm/kernel/virtualization.c
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
  core/arch/riscv/kernel/thread_rv.S
  core/include/kernel/thread.h
  core/include/kernel/thread_private.h
  core/kernel/thread.c
Owners: @OP-TEE/linaro

core: arm64: increase tmp stack size for debug
  core/arch/arm/include/kernel/thread_private_arch.h
Owners: @OP-TEE/linaro

core: add core_count to thread_init_thread_core_local()
  core/arch/arm/kernel/boot.c
  core/arch/arm/sm/pm_a32.S
  core/arch/riscv/kernel/entry.S
  core/include/kernel/thread.h
  core/include/kernel/thread_private.h
  core/kernel/thread.c
Owners: @OP-TEE/linaro

core: arm: virt: share TA memory with core
  core/arch/arm/kernel/virtualization.c
Owners: @OP-TEE/linaro

core: dynamic allocation of threads and their stacks
  core/include/kernel/thread.h
  core/kernel/thread.c
Owners: @OP-TEE/linaro

plat-ti: replace stack_tmp_stride usage
  core/arch/arm/plat-ti/a9_plat_init.S
Owners: @OP-TEE/plat-ti, @glneo

ci: QEMUv8: check Firmware Handoff
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: mm: refactor ASLR mapping for architecture support
  core/arch/arm/mm/core_mmu.c
  core/arch/riscv/mm/core_mmu_arch.c
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: mm: factor out virtual address range validation to arch code
  core/arch/arm/mm/core_mmu.c
  core/arch/riscv/mm/core_mmu_arch.c
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: mm: fix va to index calculation for RV64
  core/include/mm/core_mmu.h
Owners: @OP-TEE/linaro

core: riscv: mm: add per-mapping VA range validation
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro

riscv: mm: fix map_offset data type
  core/arch/riscv/include/mm/core_mmu_arch.h
Owners: @OP-TEE/linaro

core: riscv: Remove init_sec_mon()
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

core: riscv: Refactor boot
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: kernel: Remove CFG_BOOT_INIT_CURRENT_THREAD_CORE_LOCAL
  core/include/kernel/thread.h
  core/kernel/thread.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: riscv: Call page_alloc_init()
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

shdr: add SHA-224 to the deprecated algorithms
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro

shdr: add check for weak key sizes
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro

keys: increase default RSA key size to 4096 bits
  keys/default.pem
Owners: @OP-TEE/linaro

keys: increase default RSA key size to 4096 bits
  keys/default.pem
Owners: @OP-TEE/linaro

shdr: add SHA-224 to the deprecated algorithms
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro

shdr: add check for weak key sizes
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro
