Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: riscv: vector: low-level save and restore of the v registers
  core/arch/riscv/include/kernel/vfp.h
  core/arch/riscv/include/riscv.h
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/kernel/vfp_private.h
  core/arch/riscv/kernel/vfp_rv.S
Owners: @OP-TEE/linaro

plat-qcom: wildcat/nord: add IRIS video codec PAS support
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
  core/pta/qcom/pas/platform/nord/iris.c
  core/pta/qcom/pas/platform/nord/iris.h
  core/pta/qcom/pas/platform/nord/sub.mk
  core/pta/qcom/pas/platform/nord/subsys.c
Owners: @OP-TEE/linaro

pta: qcom: pas: nord: update IRIS video-codec bring-up
  core/pta/qcom/pas/platform/nord/iris.c
  core/pta/qcom/pas/platform/nord/iris.h
Owners: @OP-TEE/linaro

drivers: qcom: add OP-TEE-owned EL3 interrupt delegation for GICv2 platforms
  core/arch/arm/plat-qcom/bobcat/el3_intr_delegation.c
  core/arch/arm/plat-qcom/bobcat/sub.mk
  core/arch/arm/plat-qcom/el3_intr_delegation.h
  core/arch/arm/plat-qcom/main.c
Owners: @OP-TEE/linaro

plat-qcom: ipq52xx: delegate GICv2-only secure interrupts to TF-A
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target.mk
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target_config.h
Owners: @OP-TEE/linaro

mk: require CFG_INSECURE=y for the default TA signing key
  mk/config.mk
Owners: @OP-TEE/linaro

crypto: asu: fix RSA PSS/OAEP firmware error code mapping
  core/drivers/crypto/asu_driver/asu_rsa.c
Owners: @OP-TEE/linaro

plat-qcom: hoya: raise the core heap to 128 KiB
  core/arch/arm/plat-qcom/hoya/qcom-arch.mk
Owners: @OP-TEE/linaro

clk: qcom: lemans: add QCOM_IO_VA() for the PAS clock paths
  core/drivers/clk/qcom/platform/lemans/clock-pas.c
Owners: @OP-TEE/linaro

pta: qcom: pas: lemans: use PUB-relative QDSP6SS offsets
  core/pta/qcom/pas/platform/lemans/lpass.c
Owners: @OP-TEE/linaro

pta: qcom: pas: lemans: add the ADSP shutdown
  core/arch/arm/plat-qcom/hoya/lemans/target_config.h
  core/drivers/clk/qcom/platform/lemans/clock-pas.c
  core/drivers/clk/qcom/platform/lemans/clock_group.h
  core/pta/qcom/pas/platform/lemans/lpass.c
Owners: @OP-TEE/linaro

clk: qcom: lemans: power collapse LPASS before the Q6 reset
  core/drivers/clk/qcom/platform/lemans/clock-pas.c
  core/drivers/clk/qcom/platform/lemans/clock_group.h
Owners: @OP-TEE/linaro

pta: qcom: pas: Remove processor reset from bring-up
  core/drivers/clk/qcom/platform/lemans/clock-pas.c
  core/pta/qcom/pas/pas_core.c
  core/pta/qcom/pas/platform/pas_subsys.h
Owners: @OP-TEE/linaro

clk: qcom: lemans: reset LPASS while its PDC holds it in low power
  core/drivers/clk/qcom/platform/lemans/clock-pas.c
Owners: @OP-TEE/linaro

clk: qcom: lemans: use IO_READ32_POLL_TIMEOUT() for the halt acks
  core/drivers/clk/qcom/platform/lemans/clock-pas.c
Owners: @OP-TEE/linaro

pta: qcom: pas: nord: fix SEC_0 region programming and tidy driver
  core/pta/qcom/pas/platform/nord/iris.c
  core/pta/qcom/pas/platform/nord/iris.h
  core/pta/qcom/pas/platform/nord/subsys.c
Owners: @OP-TEE/linaro

MAINTAINERS: add Qualcomm GENI SPI driver
  MAINTAINERS
Owners: @OP-TEE/approvers

ta: pkcs11: fix short-buffer error code on get attribute command
  ta/pkcs11/src/entry.c
Owners: @OP-TEE/linaro

core: fix ftrace dump
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

drivers: qcom: rpmh: add nord support
  core/arch/arm/plat-qcom/wildcat/arch_config.h
  core/arch/arm/plat-qcom/wildcat/nord/target.mk
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
  core/drivers/qcom/rpmh/wildcat/rpmh_target.h
Owners: @OP-TEE/linaro

drivers: qcom: rpmh: target/arch specific msg ram config
  core/arch/arm/plat-qcom/hoya/arch_config.h
  core/drivers/qcom/rpmh/rpmh_client.c
Owners: @OP-TEE/linaro

ta: pkcs11: fix return code on invalid elliptic curve type
  ta/pkcs11/src/processing_ec.c
Owners: @OP-TEE/linaro

ta: pkcs11: fix return code on unsupported RSA key generation
  ta/pkcs11/src/processing_rsa.c
Owners: @OP-TEE/linaro

core: riscv: mark thread_unhandled_trap() __noreturn
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

ci: build RISC-V virt with Clang
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: riscv: mark thread_unhandled_trap() __noreturn
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: switch the FP and vector units per unit
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/include/kernel/vfp.h
  core/arch/riscv/kernel/thread_arch.c
  core/arch/riscv/kernel/vfp.c
Owners: @OP-TEE/linaro

core: riscv: route the disabled-unit trap to the FP or vector unit
  core/arch/riscv/kernel/abort.c
Owners: @OP-TEE/linaro

MAINTAINERS: add me to PKCS11 reviewers
  MAINTAINERS
Owners: @OP-TEE/approvers

core: riscv: enable vector context switching with CFG_RISCV_ISA_V
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: vm: avoid shrinking overlapping parameter mappings
  core/mm/vm.c
Owners: @OP-TEE/linaro

core: pager: preserve user mapping size and offset
  core/arch/arm/mm/tee_pager.c
  core/include/mm/tee_pager.h
  core/mm/vm.c
Owners: @OP-TEE/linaro

core: riscv: flush invalid PTEs on map when Svvptc is unavailable
  core/arch/riscv/include/mm/core_mmu_arch.h
Owners: @OP-TEE/linaro

core: riscv: add the SpacemiT K1 platform
  core/arch/riscv/plat-spacemit/conf.mk
  core/arch/riscv/plat-spacemit/main.c
  core/arch/riscv/plat-spacemit/platform_config.h
  core/arch/riscv/plat-spacemit/sub.mk
Owners: @OP-TEE/linaro

core: riscv: plat-spacemit: derive the HUK from the eFuse chip id
  core/arch/riscv/plat-spacemit/main.c
  core/arch/riscv/plat-spacemit/platform_config.h
Owners: @OP-TEE/linaro

core: imx: fix number of cores for i.MX952
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

ci: build RISC-V with ASLR disabled
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
