Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

libutils: util.h: add usage description to {get,set}_field_u{32,64}()
  lib/libutils/ext/include/util.h
Owners: @OP-TEE/linaro

drivers: firewall: stm32_etzpc: add check_access handler
  core/drivers/firewall/stm32_etzpc.c
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi_server: test reset/clock access against ETZPC config
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

plat-stm32mp1: remove unused stm32mp_nsec_can_access_clock()
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

plat-stm32mp1: remove unused stm32mp_nsec_can_access_reset()
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

drivers: clk: sam: extend the time for waiting PLL ready
  core/drivers/clk/sam/clk-sam9x60-pll.c
Owners: @OP-TEE/linaro

drivers: microchip_pit: add driver for sama7g54's pit64b
  core/arch/arm/plat-sam/conf.mk
  core/drivers/microchip_pit.c
  core/drivers/sub.mk
Owners: @OP-TEE/plat-sam, @nodeax, @OP-TEE/linaro

drivers: stm32_iwdg: remove registering to shared_resources driver
  core/drivers/stm32_iwdg.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: remove registering to shared_resources driver
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

drivers: stm32_uart: remove registering to shared_resources driver
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-stm32mp2/main.c
  core/drivers/stm32_uart.c
  core/include/drivers/stm32_uart.h
Owners: @OP-TEE/linaro

drivers: stm32_cryp: remove registering to shared_resource driver
  core/drivers/crypto/stm32/stm32_cryp.c
Owners: @OP-TEE/linaro

plat-stm32mp1: remove PMIC registering to shared_resources driver
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
Owners: @OP-TEE/linaro

plat-rockchip: allow specifying DRAM via CFG options
  core/arch/arm/plat-rockchip/main.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

dts: stm32: disable stm32mp15 SD switch regulator node
  core/arch/arm/dts/stm32mp157c-ed1.dts
  core/arch/arm/dts/stm32mp15xx-dhcor-avenger96.dtsi
Owners: @OP-TEE/linaro

[review] plat-stm32mp1: scmi_server: test reset/clock access against ETZPC config
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

[review] drivers: firewall: stm32_etzpc: add check_access handler
  core/drivers/firewall/stm32_etzpc.c
Owners: @OP-TEE/linaro

[review] drivers: stm32_iwdg: remove registering to shared_resources driver
  core/drivers/stm32_iwdg.c
Owners: @OP-TEE/linaro

drivers: stm32_iwdg: remove useless device list
  core/drivers/stm32_iwdg.c
Owners: @OP-TEE/linaro

driver: crypto: hisilicon: add rsa algorithm
  core/drivers/crypto/hisilicon/crypto.mk
  core/drivers/crypto/hisilicon/hpre_rsa.c
  core/drivers/crypto/hisilicon/hpre_rsa.h
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

plat-k3: drivers: Add mutex lock for ti_sci_do_xfer
  core/arch/arm/plat-k3/drivers/ti_sci.c
Owners: @OP-TEE/linaro

plat-k3: drivers: Move message_sequence updates inside ti_sci_do_xfer
  core/arch/arm/plat-k3/drivers/ti_sci.c
Owners: @OP-TEE/linaro

plat-k3: drivers: Remove ti_sci_get_response function
  core/arch/arm/plat-k3/drivers/ti_sci.c
Owners: @OP-TEE/linaro

plat-k3: drivers: Add some trace message for TI-SCI calls
  core/arch/arm/plat-k3/drivers/ti_sci.c
Owners: @OP-TEE/linaro

dts: stm32: stm32mp15 DH board uses non-secure I2C4 bus
  core/arch/arm/dts/stm32mp15xx-dhcom-som.dtsi
  core/arch/arm/dts/stm32mp15xx-dhcor-som.dtsi
Owners: @OP-TEE/linaro

drivers: stm32_i2c: rely on DT compat ID for secure/non-secure bus state
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

plat-k3: drivers: Add mutex lock for ti_sci_do_xfer
  core/arch/arm/plat-k3/drivers/ti_sci.c
Owners: @OP-TEE/linaro

plat-k3: drivers: Add some trace message for TI-SCI calls
  core/arch/arm/plat-k3/drivers/ti_sci.c
Owners: @OP-TEE/linaro

plat-k3: drivers: Remove ti_sci_get_response function
  core/arch/arm/plat-k3/drivers/ti_sci.c
Owners: @OP-TEE/linaro

plat-k3: drivers: Move message_sequence updates inside ti_sci_do_xfer
  core/arch/arm/plat-k3/drivers/ti_sci.c
Owners: @OP-TEE/linaro

dts: stm32: disable stm32mp15 SD switch regulator node
  core/arch/arm/dts/stm32mp157c-ed1.dts
  core/arch/arm/dts/stm32mp15xx-dhcor-avenger96.dtsi
Owners: @OP-TEE/linaro

[review] drivers: stm32_i2c: rely on DT compat ID for secure/non-secure bus state
  core/drivers/stm32_i2c.c
Owners: @OP-TEE/linaro

driver: crypto: hisilicon: add rsa algorithm
  core/drivers/crypto/hisilicon/crypto.mk
  core/drivers/crypto/hisilicon/hpre_rsa.c
  core/drivers/crypto/hisilicon/hpre_rsa.h
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

[DO NOT MERGE] ci: QEMUv8: set MEASURED_BOOT_FTPM=n
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ta: pkcs11: default disable CFG_PKCS11_TA_RSA_X_509
  ta/pkcs11/sub.mk
Owners: @OP-TEE/linaro

plat-vexpress: conf: default enable CFG_PKCS11_TA_RSA_X_509
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

core: mm: allow unmapping VCORE_FREE
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: mm: unify secure core and TA memory
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: arm64: increase thread stack size for debug
  core/arch/arm/include/kernel/thread_private_arch.h
Owners: @OP-TEE/linaro

core: arm: core_mmu_v7.c: increase MAX_XLAT_TABLES by 2
  core/arch/arm/mm/core_mmu_v7.c
Owners: @OP-TEE/linaro

core: mm: map memory using requested block size
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
