Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: move user_ctx field to struct ts_session
  core/arch/arm/kernel/pseudo_ta.c
  core/include/kernel/tee_ta_manager.h
  core/include/kernel/ts_manager.h
Owners: @OP-TEE/linaro

core: invoke SVC handler through struct ts_session
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/user_ta.c
  core/include/kernel/ts_manager.h
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

core: add handle_db_is_empty() function
  core/include/kernel/handle.h
  core/kernel/handle.c
Owners: @OP-TEE/linaro

libutil: add hdr_size parameter to bget
  lib/libutils/isoc/bget.c
  lib/libutils/isoc/bget.h
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

Introduce CFG_TA_BGET_TEST
  lib/libutils/isoc/bget.c
  lib/libutils/isoc/bget.h
  mk/config.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

core: introduce CFG_ENABLE_EMBEDDED_TESTS
  .shippable.yml
  mk/config.mk
Owners: @OP-TEE/linaro

Reintroduce memalign() and friends
  core/pta/tests/misc.c
  lib/libutils/isoc/bget_malloc.c
  lib/libutils/isoc/include/malloc.h
Owners: @OP-TEE/linaro

libutil: add alignment parameter to bget
  lib/libutils/isoc/bget.c
  lib/libutils/isoc/bget.h
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

core: rpmb: return TEE_ERROR_STORAGE_NO_SPACE if no space left
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: invoke SVC handler through struct ts_session
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/user_ta.c
  core/include/kernel/ts_manager.h
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

core: move user_ctx field to struct ts_session
  core/arch/arm/kernel/pseudo_ta.c
  core/include/kernel/tee_ta_manager.h
  core/include/kernel/ts_manager.h
Owners: @OP-TEE/linaro

core: add handle_db_is_empty() function
  core/include/kernel/handle.h
  core/kernel/handle.c
Owners: @OP-TEE/linaro

core: prefer struct user_mode_ctx in system PTA
  core/pta/system.c
Owners: @OP-TEE/linaro

core: ldelf: implement separate syscalls for ldelf
  core/arch/arm/include/kernel/ldelf_loader.h
  core/arch/arm/include/tee/arch_svc.h
  core/arch/arm/kernel/ldelf_loader.c
  core/arch/arm/tee/arch_svc.c
  core/include/kernel/ldelf_syscalls.h
  core/kernel/ldelf_syscalls.c
  core/pta/system.c
  ldelf/include/ldelf.h
  ldelf/include/ldelf_syscalls.h
  ldelf/start_a32.S
  ldelf/start_a64.S
  ldelf/sub.mk
  ldelf/sys.c
  ldelf/sys.h
  ldelf/syscalls_a32.S
  ldelf/syscalls_a64.S
  ldelf/syscalls_asm.S
  ldelf/ta_elf.c
  lib/libutee/trace_ext.c
Owners: @OP-TEE/linaro

core: extract ldelf related code from system PTA
  core/arch/arm/include/kernel/ldelf_loader.h
  core/arch/arm/kernel/ldelf_loader.c
  core/include/kernel/ldelf_syscalls.h
  core/kernel/ldelf_syscalls.c
  core/kernel/sub.mk
  core/pta/system.c
Owners: @OP-TEE/linaro

.shippable: se050: use expressions
  .shippable.yml
Owners: @OP-TEE/linaro

plat-imx: do not enable CFG_CRYPTO_DRIVER with CFG_NXP_CAAM
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/crypto_conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

.shippable: imx8mmevk: se050: use RNG and HUK from CAAM
  .shippable.yml
Owners: @OP-TEE/linaro

.shippable: caam: explicitly enable CRYPTO_DRIVER
  .shippable.yml
Owners: @OP-TEE/linaro

plat-imx: do not enable CFG_CRYPTO_DRIVER with CFG_NXP_CAAM
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/crypto_conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

.shippable: caam: explicitly enable CRYPTO_DRIVER
  .shippable.yml
Owners: @OP-TEE/linaro

.shippable: se050: use expressions
  .shippable.yml
Owners: @OP-TEE/linaro

.shippable: imx8mmevk: se050: use RNG and HUK from CAAM
  .shippable.yml
Owners: @OP-TEE/linaro

core: rpmb fs uses mempool for temporary transfer buffers
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: rpmb fs uses mempool for temporary transfer buffers
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

plat-imx, plat-rzn1: remove redundant recipes to generate tee-raw.bin
  core/arch/arm/plat-imx/link.mk
  core/arch/arm/plat-rzn1/link.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

shippable: remove useless CFG_CORE_ASLR=y for QEMU
  .shippable.yml
Owners: @OP-TEE/linaro

plat-imx, plat-rzn1: remove redundant recipes to generate tee-raw.bin
  core/arch/arm/plat-imx/link.mk
  core/arch/arm/plat-rzn1/link.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

core: imx: remove security check for i.MX6SDL
  core/arch/arm/plat-imx/drivers/imx_snvs.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

ta: pkcs11: Change sizeof argument for consistency
  ta/pkcs11/src/persistent_token.c
Owners: @OP-TEE/linaro

pkcs11: persistent_token: Don't read token object UUIDs if we have none
  ta/pkcs11/src/persistent_token.c
Owners: @OP-TEE/linaro

core: tee_rpmb_fs: Return error when block decryption fails
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: imx: remove security check for i.MX6SDL
  core/arch/arm/plat-imx/drivers/imx_snvs.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

shippable: remove useless CFG_CORE_ASLR=y for QEMU
  .shippable.yml
Owners: @OP-TEE/linaro

ta: pkcs11: entry_ck_token_initialize: reset SO flags on init
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

ta: pkcs11: set_pin: use token shortcut like in other pin functions
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

ta: pkcs11: Add TEE Identity based authentication support
  mk/config.mk
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/persistent_token.c
  ta/pkcs11/src/pkcs11_token.c
  ta/pkcs11/src/pkcs11_token.h
Owners: @OP-TEE/linaro

core: add core_mmu_remove_mapping()
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: remove temporary external DT mapping
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

core: ifdef frag_id member in struct dt_descriptor
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
