Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: imx_ocotp: make use of hw timers during ocotp_ctrl_wait_for
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

plat-corstone1000: specify GIC version in plat specific conf.mk
  core/arch/arm/cpu/cortex-a320.mk
  core/arch/arm/plat-corstone1000/conf.mk
Owners: @OP-TEE/linaro

gic: refactor implementation of GICv3 to add GICv4 support
  core/arch/arm/arm.mk
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/kernel/sub.mk
  core/arch/arm/plat-corstone1000/main.c
  core/arch/arm/plat-corstone1000/platform_config.h
  core/drivers/gic.c
  core/include/drivers/gic.h
Owners: @OP-TEE/linaro

plat-corstone1000: swap GIC-600 for GIC-700 for Cortex-A320 variant
  core/arch/arm/plat-corstone1000/conf.mk
Owners: @OP-TEE/linaro

ta: avb: fix memory copied in read_persist_value()
  ta/avb/entry.c
Owners: @OP-TEE/linaro

pta: Add a missing header
  lib/libutee/include/pta_rtc.h
  lib/libutee/include/pta_scmi_client.h
  lib/libutee/include/pta_stm32mp_bsec.h
Owners: @OP-TEE/linaro

plat-marvell: register DDR for dynamic shared memory
  core/arch/arm/plat-marvell/conf.mk
  core/arch/arm/plat-marvell/main.c
Owners: @OP-TEE/plat-marvell, @kevin-peng-hao

plat-marvell: register DDR for dynamic shared memory
  core/arch/arm/plat-marvell/conf.mk
  core/arch/arm/plat-marvell/main.c
Owners: @OP-TEE/plat-marvell, @kevin-peng-hao

libutee: fix copy_mpi_to_bigint()
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

ta: avb: fix memory copied in read_persist_value()
  ta/avb/entry.c
Owners: @OP-TEE/linaro

libutee: fix copy_mpi_to_bigint()
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

gic: refactor implementation of GICv3 to add GICv4 support
  core/arch/arm/arm.mk
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/kernel/sub.mk
  core/arch/arm/plat-corstone1000/main.c
  core/arch/arm/plat-corstone1000/platform_config.h
  core/drivers/gic.c
  core/include/drivers/gic.h
Owners: @OP-TEE/linaro

plat-corstone1000: specify GIC version in plat specific conf.mk
  core/arch/arm/cpu/cortex-a320.mk
  core/arch/arm/plat-corstone1000/conf.mk
Owners: @OP-TEE/linaro

plat-corstone1000: swap GIC-600 for GIC-700 for Cortex-A320 variant
  core/arch/arm/plat-corstone1000/conf.mk
Owners: @OP-TEE/linaro

drivers: crypto: fix SM2 ECC encrypt and decrypt
  core/drivers/crypto/crypto_api/acipher/ecc.c
Owners: @OP-TEE/linaro

drivers: crypto: fix SM2 ECC encrypt and decrypt
  core/drivers/crypto/crypto_api/acipher/ecc.c
Owners: @OP-TEE/linaro

core: mm: add core_mmu_for_each_nsec_ddr support
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

drivers: imx: tzc380: add support to discover nsec_dram dynamically
  core/arch/arm/plat-imx/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: relax CFG_DDR_SIZE decision
  core/arch/arm/plat-imx/main.c
  core/arch/arm/plat-imx/platform_config.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx: tzc380: document reconfiguration requirements
  core/arch/arm/plat-imx/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

driver: crypto: hisilicon: fix CKEY_LEN macro value
  core/drivers/crypto/hisilicon/sec_cipher.h
Owners: @OP-TEE/linaro

driver: crypto: hisilicon: fix qm timeout variable type
  core/drivers/crypto/hisilicon/hisi_qm.c
Owners: @OP-TEE/linaro

driver: crypto: hisilicon: fix qm timeout variable type
  core/drivers/crypto/hisilicon/hisi_qm.c
Owners: @OP-TEE/linaro

driver: crypto: hisilicon: fix CKEY_LEN macro value
  core/drivers/crypto/hisilicon/sec_cipher.h
Owners: @OP-TEE/linaro

core: kernel: bump transfer list to spec version 2.0
  core/include/kernel/transfer_list.h
Owners: @OP-TEE/linaro

ta: remoteproc: fix ELF parser
  ta/remoteproc/src/elf_parser.c
Owners: @OP-TEE/linaro

ta: remoteproc: fix ELF parser
  ta/remoteproc/src/elf_parser.c
Owners: @OP-TEE/linaro

core: plat-imx: i.MX6 CA9 has no generic timer
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/main.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx_ocotp: fix error/busy defines for i.MX8MP
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: fix clearing the error bit
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: fix imx_ocotp_read g_base_addr and g_ocotp check
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: make use of hw timers during ocotp_ctrl_wait_for
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: fix ocotp_ctrl_wait_for for i.MX6
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: add support to burn fuses
  core/drivers/imx_ocotp.c
  core/include/drivers/imx_ocotp.h
Owners: @OP-TEE/linaro

drivers: imx_ocotp: write support i.MX6Q/D/S/DL/UL
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: write support i.MX6ULL
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

plat-rockchip: increase FDT max size to 384KiB on all Aarch64 supported SoCs
  core/arch/arm/plat-rockchip/conf.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

lib: libutee: add pbkdf2 derive type define
  lib/libutee/include/tee_api_defines_extensions.h
Owners: @OP-TEE/linaro

drivers: imx_ocotp: write support i.MX6ULL
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: write support i.MX6Q/D/S/DL/UL
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro
