Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: reference count struct mobj
  core/arch/arm/include/mm/mobj.h
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/user_ta.c
  core/arch/arm/mm/mobj.c
  core/arch/arm/mm/mobj_dyn_shm.c
  core/arch/arm/mm/tee_mmu.c
  core/arch/arm/tee/entry_std.c
  core/include/mm/tee_mmu_types.h
  core/kernel/msg_param.c
  core/pta/system.c
  core/tee/tee_svc.c
Owners: @OP-TEE/linaro

core: reference count struct mobj
  core/arch/arm/include/mm/mobj.h
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/user_ta.c
  core/arch/arm/mm/mobj.c
  core/arch/arm/mm/mobj_dyn_shm.c
  core/arch/arm/mm/tee_mmu.c
  core/arch/arm/tee/entry_std.c
  core/include/mm/tee_mmu_types.h
  core/kernel/msg_param.c
  core/pta/system.c
  core/tee/tee_svc.c
Owners: @OP-TEE/linaro

Assembly FUNC macros take optional section
  lib/libutils/ext/include/asm.S
Owners: @OP-TEE/linaro

symbolize.py: add support for TEE core ASLR
  scripts/symbolize.py
Owners: @OP-TEE/linaro

core: Add core memory type MEM_AREA_IDENTITY_MAP_RX
  core/arch/arm/include/kernel/linker.h
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/kernel/kern.ld.S
  core/arch/arm/kernel/link_dummy.ld
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: add support for CFG_CORE_ASLR
  core/arch/arm/arm.mk
  core/arch/arm/include/kernel/generic_boot.h
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/kernel/generic_boot.c
  core/arch/arm/kernel/generic_entry_a32.S
  core/arch/arm/kernel/generic_entry_a64.S
  core/arch/arm/kernel/link.mk
  core/arch/arm/kernel/misc_a32.S
  core/arch/arm/kernel/misc_a64.S
  core/arch/arm/kernel/thread_optee_smc_a32.S
  core/arch/arm/kernel/thread_optee_smc_a64.S
  core/arch/arm/kernel/unwind_arm32.c
  core/arch/arm/kernel/unwind_arm64.c
  core/arch/arm/mm/core_mmu.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: kern.ld.S: make ctors/dtors contiguous with other relro sections
  core/arch/arm/kernel/kern.ld.S
Owners: @OP-TEE/linaro

core: generic_entry: add enable_mmu()
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/kernel/generic_entry_a32.S
  core/arch/arm/kernel/generic_entry_a64.S
  core/arch/arm/kernel/proc_a32.S
  core/arch/arm/kernel/proc_a64.S
  core/arch/arm/kernel/sub.mk
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/arm/mm/core_mmu_v7.c
Owners: @OP-TEE/linaro

ci: shippable: build with CFG_CORE_ASLR=y
  .shippable.yml
Owners: @OP-TEE/linaro

Fix warning in fallback SUB_OVERFLOW() macro
  lib/libutils/ext/include/compiler.h
Owners: @OP-TEE/linaro

core: add relocatable VCORE_START_VA
  core/arch/arm/include/kernel/linker.h
  core/arch/arm/kernel/thread.c
Owners: @OP-TEE/linaro

elf_common.h: Add relocation type R_AARCH64_NONE
  ldelf/include/elf_common.h
Owners: @OP-TEE/linaro

core: core_mmu.h: make page size and friends unsigned
  core/arch/arm/include/mm/core_mmu.h
Owners: @OP-TEE/linaro

core: arm grow MAX_XLAT_TABLES with ASLR
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/arm/mm/core_mmu_v7.c
Owners: @OP-TEE/linaro

core: refactor core_init_mmu_map() and helpers
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: kern.ld.S: make .got RO after relocation
  core/arch/arm/kernel/kern.ld.S
Owners: @OP-TEE/linaro

core: bugfix v7 core_mmu_entry_to_finer_grained()
  core/arch/arm/mm/core_mmu_v7.c
Owners: @OP-TEE/linaro

core: kern.ld.S: provide start/end of relocations
  core/arch/arm/kernel/kern.ld.S
  core/arch/arm/kernel/link_dummy.ld
Owners: @OP-TEE/linaro

core: add get_aslr_seed()
  core/arch/arm/include/kernel/generic_boot.h
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

core: fix check_mem_map() vs MEM_AREA_IDENTITY_MAP_RX
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

scripts/gen_ldelf_hex.py: remove unused imports
  scripts/gen_ldelf_hex.py
Owners: @OP-TEE/linaro

scripts/gen_ldelf_hex.py: remove unused imports
  scripts/gen_ldelf_hex.py
Owners: @OP-TEE/linaro

core: fix check_mem_map() vs MEM_AREA_IDENTITY_MAP_RX
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

mbedtls: Add MBEDTLS_X509_CSR_WRITE_C define
  lib/libmbedtls/include/mbedtls_config_uta.h
Owners: @OP-TEE/linaro

core: generic_boot: extend dts while supporting overlay generation.
  core/arch/arm/kernel/generic_boot.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: imx: disable CAAM driver for i.MX6SL
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: fix CFG_DRAM_BASE for i.MX7ulp
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: rename register files
  core/arch/arm/plat-imx/registers/imx6-crm.h
  core/arch/arm/plat-imx/registers/imx6.h
  core/arch/arm/plat-imx/registers/imx7-crm.h
  core/arch/arm/plat-imx/registers/imx7.h
  core/arch/arm/plat-imx/registers/imx7ulp-crm.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

stdint.h: add UL macro
  lib/libutils/isoc/include/stdint.h
Owners: @OP-TEE/linaro

imx: change imx8 prefixe to mx8
  .shippable.yml
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/registers/imx8m.h
  core/drivers/crypto/caam/hal/sub.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

pta: bcm: Add PTA for secure watchdog
  core/arch/arm/plat-bcm/platform_config.h
  core/pta/bcm/sub.mk
  core/pta/bcm/wdt.c
Owners: @OP-TEE/linaro

core: imx: disable CAAM driver for i.MX6SL
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

stdint.h: add UL macro
  lib/libutils/isoc/include/stdint.h
Owners: @OP-TEE/linaro

imx: change imx8 prefixe to mx8
  .shippable.yml
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/registers/imx8m.h
  core/drivers/crypto/caam/hal/sub.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: fix CFG_DRAM_BASE for i.MX7ulp
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: rename register files
  core/arch/arm/plat-imx/registers/imx6-crm.h
  core/arch/arm/plat-imx/registers/imx6.h
  core/arch/arm/plat-imx/registers/imx7-crm.h
  core/arch/arm/plat-imx/registers/imx7.h
  core/arch/arm/plat-imx/registers/imx7ulp-crm.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

trace: Add weak platform tracer function
  core/arch/arm/kernel/trace_ext.c
  lib/libutils/ext/include/trace.h
Owners: @OP-TEE/linaro

plat-bcm: Add Broadcom platform specific err log support
  core/arch/arm/plat-bcm/bcm_elog.c
  core/arch/arm/plat-bcm/bcm_elog.h
  core/arch/arm/plat-bcm/conf.mk
  core/arch/arm/plat-bcm/main.c
  core/arch/arm/plat-bcm/sub.mk
Owners: @OP-TEE/linaro

plat-bcm: Add Broadcom platform specific err log support
  core/arch/arm/plat-bcm/bcm_elog.c
  core/arch/arm/plat-bcm/bcm_elog.h
  core/arch/arm/plat-bcm/conf.mk
  core/arch/arm/plat-bcm/main.c
  core/arch/arm/plat-bcm/sub.mk
Owners: @OP-TEE/linaro

trace: Add weak platform tracer function
  core/arch/arm/kernel/trace_ext.c
  lib/libutils/ext/include/trace.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
