Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

core: imx: add MU_BASE and MU_SIZE for imx95
  core/arch/arm/plat-imx/registers/imx95.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: ele: enable getting HUK/RNG from ELE on imx95
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: ele: remove sab_init() initialization
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: imx: mu: rename imx_mu_8ulp.c to imx_mu_8ulp_9x.c
  core/drivers/imx/mu/imx_mu_8ulp_9x.c
  core/drivers/imx/mu/sub.mk
Owners: @OP-TEE/linaro

drivers: ele: update struct get_info_rsp{} fields
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

mmu: ignore VA spaces in core_mmu_get_type_by_pa
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

plat: rpi5: add basic Raspberry Pi 5 support
  .github/workflows/ci.yml
  core/arch/arm/plat-rpi5/conf.mk
  core/arch/arm/plat-rpi5/main.c
  core/arch/arm/plat-rpi5/platform_config.h
  core/arch/arm/plat-rpi5/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: qemuv8: test RPMB via kernel interface
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: mention reviewers/maintainers from MAINTAINERS
  .github/workflows/ci.yml
  scripts/notify_maintainers.py
Owners: @OP-TEE/approvers, @OP-TEE/linaro

drivers: crypto: Add marvell crypto engine support
  core/drivers/crypto/marvell/crypto.mk
  core/drivers/crypto/marvell/ehsm/ehsm-aes.c
  core/drivers/crypto/marvell/ehsm/ehsm.c
  core/drivers/crypto/marvell/ehsm/include/ehsm-aes.h
  core/drivers/crypto/marvell/ehsm/include/ehsm-hal.h
  core/drivers/crypto/marvell/ehsm/include/ehsm-security.h
  core/drivers/crypto/marvell/ehsm/include/ehsm.h
  core/drivers/crypto/marvell/mrvl_ehsm_cryp.c
  core/drivers/crypto/marvell/mrvl_ehsm_cryp.h
  core/drivers/crypto/marvell/sub.mk
  core/drivers/crypto/sub.mk
Owners: @OP-TEE/linaro

crypto: marvell: Add authentication driver
  core/drivers/crypto/marvell/authenc.c
  core/drivers/crypto/marvell/crypto.mk
  core/drivers/crypto/marvell/sub.mk
Owners: @OP-TEE/linaro

crypto: marvell: Add cipher driver
  core/drivers/crypto/marvell/cipher.c
  core/drivers/crypto/marvell/crypto.mk
  core/drivers/crypto/marvell/sub.mk
Owners: @OP-TEE/linaro

drivers: stm32_i2c: fallback to interrupt access when no bottom half
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

dts: stm32: add i2c1 to i2c3 nodes in stm32mp211.dtsi
  core/arch/arm/dts/stm32mp211.dtsi
Owners: @OP-TEE/linaro

dts: stm32: add i2c1, i2c2, i2c7 and i2c8 nodes in stm32mp231.dtsi
  core/arch/arm/dts/stm32mp231.dtsi
Owners: @OP-TEE/linaro

dts: stm32: add i2c1 to i2c8 nodes in stm32mp251.dtsi
  core/arch/arm/dts/stm32mp251.dtsi
Owners: @OP-TEE/linaro

fixup! drivers: stm32_i2c: fallback to interrupt access when no bottom half
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

plat-stm32mp2: conf: default enable CFG_STM32_I2C for stm32mp2 family
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

drivers: imx_ocotp: write support i.MX6ULL
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

core: plat-imx: i.MX6 CA9 has no generic timer
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/main.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx_ocotp: add support to burn fuses
  core/drivers/imx_ocotp.c
  core/include/drivers/imx_ocotp.h
Owners: @OP-TEE/linaro

drivers: imx_ocotp: write support i.MX6Q/D/S/DL/UL
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: make use of hw timers during ocotp_ctrl_wait_for
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: fix imx_ocotp_read g_base_addr and g_ocotp check
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: fix clearing the error bit
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: fix error/busy defines for i.MX8MP
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: tzc380: add support to dump region0
  core/drivers/tzc380.c
Owners: @OP-TEE/linaro

drivers: imx: tzc380: add CFG_MX6QP TZASC2 configuration
  core/arch/arm/plat-imx/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: dt: add overlay support to dt_enable_secure_status
  core/kernel/dt.c
Owners: @OP-TEE/linaro

core: dt: fix add_res_mem_dt_node for _CFG_USE_DTB_OVERLAY use-cases
  core/kernel/dt.c
Owners: @OP-TEE/linaro

core: dt: add add_dt_node_overlay_fragmet helper
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro

core: dt: add support to pass target-path to add_dt_overlay_fragment
  core/kernel/dt.c
Owners: @OP-TEE/linaro

drivers: plat-imx: implement plat_rpmb_key_was_written()
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/main.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: rpmb: add plat_notify_tee_rpmb_key_write_key_post notification
  core/include/tee/tee_fs.h
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: rpmb: add platform specific hook to avoid rpmb key exchange
  core/include/tee/tee_fs.h
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: imx: fix console handling
  core/arch/arm/plat-imx/main.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: sync ABI description files
  core/arch/arm/include/optee_ffa.h
  core/arch/arm/include/sm/optee_smc.h
  core/include/optee_msg.h
Owners: @OP-TEE/linaro

core: arm: refactor struct mobj_ffa
  core/arch/arm/mm/mobj_ffa.c
Owners: @OP-TEE/linaro

core: ABI description for dynamic protected memory
  core/arch/arm/include/optee_ffa.h
  core/arch/arm/include/sm/optee_smc.h
  core/include/optee_msg.h
Owners: @OP-TEE/linaro

core: arm: SMC ABI to return protected memory configuration
  core/arch/arm/include/sm/optee_smc.h
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro
