Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: remove some redundant RPC return registers
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_optee_smc_a32.S
  core/arch/arm/kernel/thread_optee_smc_a64.S
  core/arch/arm/kernel/thread_private.h
Owners: @OP-TEE/linaro

core: remove some redundant RPC return registers
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_optee_smc_a32.S
  core/arch/arm/kernel/thread_optee_smc_a64.S
  core/arch/arm/kernel/thread_private.h
Owners: @OP-TEE/linaro

core: thread: separate old SMC interface handling
  core/arch/arm/kernel/sub.mk
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_a32.S
  core/arch/arm/kernel/thread_a64.S
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_optee_smc_a32.S
  core/arch/arm/kernel/thread_optee_smc_a64.S
  core/arch/arm/kernel/thread_private.h
Owners: @OP-TEE/linaro

core: replace thread_std_smc_handler_ptr with weak function
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/include/tee/entry_std.h
  core/arch/arm/kernel/link_dummies.c
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_private.h
  core/arch/arm/plat-bcm/main.c
  core/arch/arm/plat-d02/main.c
  core/arch/arm/plat-hikey/main.c
  core/arch/arm/plat-hisilicon/main.c
  core/arch/arm/plat-imx/main.c
  core/arch/arm/plat-k3/main.c
  core/arch/arm/plat-ls/main.c
  core/arch/arm/plat-marvell/main.c
  core/arch/arm/plat-mediatek/main.c
  core/arch/arm/plat-poplar/main.c
  core/arch/arm/plat-rcar/main.c
  core/arch/arm/plat-rockchip/main.c
  core/arch/arm/plat-rpi3/main.c
  core/arch/arm/plat-sam/main.c
  core/arch/arm/plat-sprd/main.c
  core/arch/arm/plat-stm/main.c
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-sunxi/main.c
  core/arch/arm/plat-synquacer/main.c
  core/arch/arm/plat-ti/main.c
  core/arch/arm/plat-vexpress/main.c
  core/arch/arm/plat-zynq7k/main.c
  core/arch/arm/plat-zynqmp/main.c
  core/arch/arm/tee/entry_std.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp

core: thread_handle_std_smc() takes arguments by value
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_optee_smc_a32.S
  core/arch/arm/kernel/thread_optee_smc_a64.S
  core/arch/arm/kernel/thread_private.h
Owners: @OP-TEE/linaro

core: replace thread_fast_smc_handler_ptr with weak function
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/include/tee/entry_fast.h
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_private.h
  core/arch/arm/plat-bcm/main.c
  core/arch/arm/plat-d02/main.c
  core/arch/arm/plat-hikey/main.c
  core/arch/arm/plat-hisilicon/main.c
  core/arch/arm/plat-imx/main.c
  core/arch/arm/plat-ls/main.c
  core/arch/arm/plat-marvell/main.c
  core/arch/arm/plat-mediatek/main.c
  core/arch/arm/plat-poplar/main.c
  core/arch/arm/plat-rcar/main.c
  core/arch/arm/plat-rockchip/main.c
  core/arch/arm/plat-rpi3/main.c
  core/arch/arm/plat-sam/main.c
  core/arch/arm/plat-sprd/main.c
  core/arch/arm/plat-stm/main.c
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-sunxi/main.c
  core/arch/arm/plat-synquacer/main.c
  core/arch/arm/plat-ti/main.c
  core/arch/arm/plat-vexpress/main.c
  core/arch/arm/plat-zynq7k/main.c
  core/arch/arm/plat-zynqmp/main.c
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp

core: __thread_std_smc_entry() takes arguments by value
  core/arch/arm/kernel/link_dummies.c
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_optee_smc_a32.S
  core/arch/arm/kernel/thread_optee_smc_a64.S
  core/arch/arm/kernel/thread_private.h
Owners: @OP-TEE/linaro

core: replace thread_nintr_handler_ptr with weak function
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_a32.S
  core/arch/arm/kernel/thread_a64.S
  core/arch/arm/kernel/thread_optee_smc_a32.S
  core/arch/arm/kernel/thread_optee_smc_a64.S
  core/arch/arm/kernel/thread_private.h
  core/arch/arm/plat-bcm/main.c
  core/arch/arm/plat-d02/main.c
  core/arch/arm/plat-hikey/main.c
  core/arch/arm/plat-hisilicon/main.c
  core/arch/arm/plat-imx/main.c
  core/arch/arm/plat-k3/main.c
  core/arch/arm/plat-ls/main.c
  core/arch/arm/plat-marvell/main.c
  core/arch/arm/plat-mediatek/main.c
  core/arch/arm/plat-poplar/main.c
  core/arch/arm/plat-rcar/main.c
  core/arch/arm/plat-rockchip/main.c
  core/arch/arm/plat-rpi3/main.c
  core/arch/arm/plat-sam/main.c
  core/arch/arm/plat-sprd/main.c
  core/arch/arm/plat-stm/main.c
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-sunxi/main.c
  core/arch/arm/plat-synquacer/main.c
  core/arch/arm/plat-ti/main.c
  core/arch/arm/plat-vexpress/main.c
  core/arch/arm/plat-zynq7k/main.c
  core/arch/arm/plat-zynqmp/main.c
  core/include/kernel/interrupt.h
  core/kernel/interrupt.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp

core: arm64 Add sev/wfe inline function
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

plat-imx: Add CRM registers mapping
  MAINTAINERS
  core/arch/arm/plat-imx/registers/imx6-crm_regs.h
  core/arch/arm/plat-imx/registers/imx6.h
  core/arch/arm/plat-imx/registers/imx7-crm_regs.h
  core/arch/arm/plat-imx/registers/imx7.h
Owners: @OP-TEE/approvers, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: add DT function to read/modify DT
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro

core: kernel: move DT pack at the end of boot
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

core: io: add {get/put}_le{32/64}()
  core/include/io.h
Owners: @OP-TEE/linaro

core: arm64: add read_ctr_el0 function
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: driver: generic resources for crypto device driver
  MAINTAINERS
  core/crypto/crypto.c
  core/drivers/crypto/crypto_api/drvcrypt_init.c
  core/drivers/crypto/crypto_api/hash/hash.c
  core/drivers/crypto/crypto_api/hash/sub.mk
  core/drivers/crypto/crypto_api/include/drvcrypt.h
  core/drivers/crypto/crypto_api/include/drvcrypt_hash.h
  core/drivers/crypto/crypto_api/sub.mk
  core/drivers/crypto/sub.mk
  core/drivers/sub.mk
  core/include/crypto/crypto_impl.h
Owners: @OP-TEE/approvers, @OP-TEE/linaro

core: driver: Remove drvcrypt_hash ops
  core/drivers/crypto/caam/hash/caam_hash.c
  core/drivers/crypto/crypto_api/hash/hash.c
  core/drivers/crypto/crypto_api/include/drvcrypt.h
  core/drivers/crypto/crypto_api/include/drvcrypt_hash.h
Owners: @OP-TEE/linaro

Force CFG_CRYPTO_SIZE_OPTIMIZATION=n when DEBUG=1
  core/arch/arm/arm.mk
Owners: @OP-TEE/linaro

Do not let CFG_CRYPTO_SIZE_OPTIMIZATION set -Os
  core/crypto.mk
  core/lib/libtomcrypt/sub.mk
  lib/libmbedtls/core/sub.mk
Owners: @OP-TEE/linaro

Do not let CFG_CRYPTO_SIZE_OPTIMIZATION set -Os
  core/crypto.mk
  core/lib/libtomcrypt/sub.mk
  lib/libmbedtls/core/sub.mk
Owners: @OP-TEE/linaro

core: ltc: make key in accel_ecb_encrypt() and accel_ecb_decrypt() const
  core/lib/libtomcrypt/src/headers/tomcrypt_cipher.h
Owners: @OP-TEE/linaro

Remove 'All rights reserved' from Linaro files
  core/lib/libtomcrypt/src/ciphers/aes_modes_armv8a_ce_a32.S
  core/lib/libtomcrypt/src/ciphers/aes_modes_armv8a_ce_a64.S
  core/lib/libtomcrypt/src/hashes/sha1_armv8a_ce_a32.S
  core/lib/libtomcrypt/src/hashes/sha1_armv8a_ce_a64.S
  core/lib/libtomcrypt/src/hashes/sha2/sha256_armv8a_ce_a32.S
  core/lib/libtomcrypt/src/hashes/sha2/sha256_armv8a_ce_a64.S
  core/lib/libtomcrypt/src/headers/tomcrypt_arm_neon.h
Owners: @OP-TEE/linaro

core: ltc: fix 'switch case misses default'
  core/lib/libtomcrypt/src/misc/ssh/ssh_decode_sequence_multi.c
  core/lib/libtomcrypt/src/misc/ssh/ssh_encode_sequence_multi.c
  core/lib/libtomcrypt/src/pk/asn1/der/choice/der_decode_choice.c
  core/lib/libtomcrypt/src/pk/asn1/der/custom_type/der_decode_custom_type.c
  core/lib/libtomcrypt/src/pk/asn1/der/custom_type/der_encode_custom_type.c
  core/lib/libtomcrypt/src/pk/asn1/der/custom_type/der_length_custom_type.c
  core/lib/libtomcrypt/src/pk/asn1/der/sequence/der_decode_sequence_multi.c
  core/lib/libtomcrypt/src/pk/asn1/der/sequence/der_encode_sequence_ex.c
  core/lib/libtomcrypt/src/pk/asn1/der/sequence/der_encode_sequence_multi.c
  core/lib/libtomcrypt/src/pk/asn1/der/sequence/der_length_sequence.c
  core/lib/libtomcrypt/src/pk/asn1/der/utf8/der_encode_utf8_string.c
Owners: @OP-TEE/linaro

arm32: AES using ARMv8-A cryptographic extensions
  core/lib/libtomcrypt/src/ciphers/aes_modes_armv8a_ce_a32.S
Owners: @OP-TEE/linaro

ltc: make hash_descriptor a pointer to descriptors
  core/lib/libtomcrypt/src/hashes/chc/chc.c
  core/lib/libtomcrypt/src/hashes/helper/hash_filehandle.c
  core/lib/libtomcrypt/src/hashes/helper/hash_memory.c
  core/lib/libtomcrypt/src/hashes/helper/hash_memory_multi.c
  core/lib/libtomcrypt/src/headers/tomcrypt_hash.h
  core/lib/libtomcrypt/src/mac/hmac/hmac_done.c
  core/lib/libtomcrypt/src/mac/hmac/hmac_init.c
  core/lib/libtomcrypt/src/mac/hmac/hmac_memory.c
  core/lib/libtomcrypt/src/mac/hmac/hmac_process.c
  core/lib/libtomcrypt/src/mac/hmac/hmac_test.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_find_hash.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_find_hash_any.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_find_hash_id.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_find_hash_oid.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_hash_descriptor.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_hash_is_valid.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_register_hash.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_unregister_hash.c
  core/lib/libtomcrypt/src/misc/hkdf/hkdf.c
  core/lib/libtomcrypt/src/misc/pkcs12/pkcs12_kdf.c
  core/lib/libtomcrypt/src/misc/pkcs5/pkcs_5_1.c
  core/lib/libtomcrypt/src/pk/dsa/dsa_encrypt_key.c
  core/lib/libtomcrypt/src/pk/dsa/dsa_generate_pqg.c
  core/lib/libtomcrypt/src/pk/ecc/ecc_encrypt_key.c
  core/lib/libtomcrypt/src/pk/pkcs1/pkcs_1_mgf1.c
  core/lib/libtomcrypt/src/pk/pkcs1/pkcs_1_oaep_decode.c
  core/lib/libtomcrypt/src/pk/pkcs1/pkcs_1_oaep_encode.c
  core/lib/libtomcrypt/src/pk/pkcs1/pkcs_1_pss_decode.c
  core/lib/libtomcrypt/src/pk/pkcs1/pkcs_1_pss_encode.c
  core/lib/libtomcrypt/src/pk/rsa/rsa_sign_hash.c
  core/lib/libtomcrypt/src/pk/rsa/rsa_sign_saltlen_get.c
  core/lib/libtomcrypt/src/pk/rsa/rsa_verify_hash.c
  core/lib/libtomcrypt/src/prngs/yarrow.c
Owners: @OP-TEE/linaro

SHA-1 ARMv8 crypto extension implementation
  core/lib/libtomcrypt/src/hashes/sha1_arm32_ce.c
  core/lib/libtomcrypt/src/hashes/sha1_arm32_ce_asm.S
  core/lib/libtomcrypt/src/headers/tomcrypt_hash.h
Owners: @OP-TEE/linaro

Remove license notice from Linaro files
  core/lib/libtomcrypt/src/ciphers/aes_modes_armv8a_ce_a32.S
  core/lib/libtomcrypt/src/ciphers/aes_modes_armv8a_ce_a64.S
  core/lib/libtomcrypt/src/hashes/sha1_armv8a_ce_a32.S
  core/lib/libtomcrypt/src/hashes/sha1_armv8a_ce_a64.S
  core/lib/libtomcrypt/src/hashes/sha2/sha256_armv8a_ce_a32.S
  core/lib/libtomcrypt/src/hashes/sha2/sha256_armv8a_ce_a64.S
  core/lib/libtomcrypt/src/headers/tomcrypt_arm_neon.h
Owners: @OP-TEE/linaro

LTC: add GHASH acceleration
  core/lib/libtomcrypt/src/encauth/gcm/gcm_mult_h_arm_ce.c
Owners: @OP-TEE/linaro

ltc: make prng_descriptor a pointer to descriptors
  core/lib/libtomcrypt/src/headers/tomcrypt_prng.h
  core/lib/libtomcrypt/src/math/rand_bn.c
  core/lib/libtomcrypt/src/math/rand_prime.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_find_prng.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_prng_descriptor.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_prng_is_valid.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_register_prng.c
  core/lib/libtomcrypt/src/misc/crypt/crypt_unregister_prng.c
  core/lib/libtomcrypt/src/pk/dh/dh_generate_key.c
  core/lib/libtomcrypt/src/pk/dsa/dsa_generate_pqg.c
  core/lib/libtomcrypt/src/pk/ec25519/tweetnacl.c
  core/lib/libtomcrypt/src/pk/pkcs1/pkcs_1_oaep_encode.c
  core/lib/libtomcrypt/src/pk/pkcs1/pkcs_1_pss_encode.c
  core/lib/libtomcrypt/src/pk/pkcs1/pkcs_1_v1_5_encode.c
  core/lib/libtomcrypt/src/pk/x25519/x25519_make_key.c
  core/lib/libtomcrypt/src/prngs/rng_make_prng.c
Owners: @OP-TEE/linaro

core: LTC use only _CFG_CORE_LTC_ variables
  core/lib/libtomcrypt/src/encauth/gcm/gcm_mult_h_arm_ce.c
Owners: @OP-TEE/linaro

arm64: libtomcrypt: rename AES CE files
  core/lib/libtomcrypt/src/ciphers/aes_armv8a_ce.c
  core/lib/libtomcrypt/src/ciphers/aes_modes_armv8a_ce_a64.S
Owners: @OP-TEE/linaro

arm64: SHA-1 using ARMv8-A cryptographic extensions
  core/lib/libtomcrypt/src/hashes/sha1_armv8a_ce.c
  core/lib/libtomcrypt/src/hashes/sha1_armv8a_ce_a32.S
  core/lib/libtomcrypt/src/hashes/sha1_armv8a_ce_a64.S
  core/lib/libtomcrypt/src/headers/tomcrypt_private.h
Owners: @OP-TEE/linaro

core: crypto: libtomcrypt: fix LTC_CLEAN_STACK bug
  core/lib/libtomcrypt/src/misc/burn_stack.c
  core/lib/libtomcrypt/src/misc/zeromem.c
Owners: @OP-TEE/linaro

core: crypto: arm32: add counter increment in ce_aes_ctr_encrypt()
  core/lib/libtomcrypt/src/ciphers/aes_modes_armv8a_ce_a32.S
Owners: @OP-TEE/linaro

core: crypto: cleanup and fix CE accelerated AES CTR
  core/lib/libtomcrypt/src/ciphers/aes_armv8a_ce.c
  core/lib/libtomcrypt/src/ciphers/aes_modes_armv8a_ce_a32.S
  core/lib/libtomcrypt/src/ciphers/aes_modes_armv8a_ce_a64.S
  core/lib/libtomcrypt/src/modes/ctr/ctr_encrypt.c
Owners: @OP-TEE/linaro

arm64: AES using ARMv8-A cryptographic extensions
  core/lib/libtomcrypt/src/ciphers/aes_arm64_ce.c
  core/lib/libtomcrypt/src/ciphers/aes_modes_arm64_ce_a64.S
Owners: @OP-TEE/linaro

arm64: AES XTS using ARMv8-A cryptographic extensions
  core/lib/libtomcrypt/src/ciphers/aes_arm64_ce.c
  core/lib/libtomcrypt/src/ciphers/aes_modes_arm64_ce_a64.S
Owners: @OP-TEE/linaro

core: crypto: arm64 ce: update AES CBC routines
  core/lib/libtomcrypt/src/ciphers/aes_armv8a_ce.c
  core/lib/libtomcrypt/src/ciphers/aes_modes_armv8a_ce_a64.S
Owners: @OP-TEE/linaro

core: ltc: tomcrypt_custom.h: OP-TEE thread support
  core/lib/libtomcrypt/src/headers/tomcrypt_custom.h
Owners: @OP-TEE/linaro

ltc: bugfix find_prng()
  core/lib/libtomcrypt/src/misc/crypt/crypt_find_prng.c
Owners: @OP-TEE/linaro

SHA-256 ARMv8 crypto extension implementation
  core/lib/libtomcrypt/src/hashes/sha2/sha256_arm32_ce.c
  core/lib/libtomcrypt/src/hashes/sha2/sha256_arm32_ce_asm.S
  core/lib/libtomcrypt/src/headers/tomcrypt_arm_neon.h
  core/lib/libtomcrypt/src/headers/tomcrypt_hash.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
