Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: versal_net: pki: Fix queue alignment and DMA setup
  core/drivers/crypto/versal/pki/ecc_pki_engine.c
Owners: @OP-TEE/linaro

drivers: versal_net: pki: Enhance status and error checking; be verbose if needed
  core/drivers/crypto/versal/pki/ecc_pki_engine.c
Owners: @OP-TEE/linaro

plat-versal: Add support for Versal NET variant
  core/arch/arm/plat-versal/conf.mk
  core/arch/arm/plat-versal/platform_config.h
  core/drivers/versal_gpio.c
  core/drivers/versal_mbox.c
  core/drivers/versal_pmc.c
Owners: @OP-TEE/linaro

plat-versal: Increase IPI command timeout
  core/arch/arm/plat-versal/conf.mk
Owners: @OP-TEE/linaro

drivers: versal_net: trng: Add support for TRNG via PLM Firmware
  core/arch/arm/plat-versal/conf.mk
  core/drivers/versal_trng.c
Owners: @OP-TEE/linaro

drivers: versal_net: trng: Add support for newer PKI TRNG and use in PKI driver
  core/arch/arm/plat-versal/conf.mk
  core/drivers/crypto/versal/pki/ecc_pki_engine.c
  core/drivers/versal_trng.c
  core/include/drivers/versal_trng.h
Owners: @OP-TEE/linaro

drivers: versal_net: trng: Fix continuous random generation sequence
  core/drivers/versal_trng.c
Owners: @OP-TEE/linaro

drivers: versal_net: Add OCP driver
  core/arch/arm/plat-versal/conf.mk
  core/drivers/sub.mk
  core/drivers/versal_ocp.c
  core/drivers/versal_pmc.c
  core/include/drivers/versal_mbox.h
  core/include/drivers/versal_ocp.h
Owners: @OP-TEE/linaro

console: introduce plat_trace_init() weak hook
  core/include/console.h
  core/kernel/console.c
Owners: @OP-TEE/linaro

plat-bcm: support the tracing feature on all consoles.
  core/arch/arm/plat-bcm/main.c
Owners: @OP-TEE/linaro

core: pseudo_ta: fix spurious error from from_bounce_params()
  core/kernel/pseudo_ta.c
Owners: @OP-TEE/linaro

core: dt_driver: fix under-counted bounds check in prop_phandle helper
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

crypto: asu: ECC and ECDH crypto driver support
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_ecc.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

crypto: asu: align ECC ABI with ASUFW and fix P-521 DMA corruption
  core/drivers/crypto/asu_driver/asu_ecc.c
Owners: @OP-TEE/linaro

core: fix typo MOBJ_USE_CASE_TRUSED_UI -> TRUSTED_UI
  core/arch/arm/mm/mobj_ffa.c
  core/include/mm/mobj.h
  core/tee/entry_std.c
Owners: @OP-TEE/linaro

Squashed commit importing Kconfiglib-v1.14.1a4
  scripts/kconfig/kconfiglib/LICENSE.txt
  scripts/kconfig/kconfiglib/alldefconfig.py
  scripts/kconfig/kconfiglib/allmodconfig.py
  scripts/kconfig/kconfiglib/allnoconfig.py
  scripts/kconfig/kconfiglib/allyesconfig.py
  scripts/kconfig/kconfiglib/defconfig.py
  scripts/kconfig/kconfiglib/genconfig.py
  scripts/kconfig/kconfiglib/guiconfig.py
  scripts/kconfig/kconfiglib/kconfiglib.py
  scripts/kconfig/kconfiglib/listnewconfig.py
  scripts/kconfig/kconfiglib/menuconfig.py
  scripts/kconfig/kconfiglib/oldconfig.py
  scripts/kconfig/kconfiglib/olddefconfig.py
  scripts/kconfig/kconfiglib/savedefconfig.py
  scripts/kconfig/kconfiglib/setconfig.py
Owners: @OP-TEE/linaro

crypto: asu: add crypto RSA driver
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_rsa.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

fixup! core: fix typo MOBJ_USE_CASE_TRUSED_UI -> TRUSTED_UI
  core/include/mm/mobj.h
Owners: @OP-TEE/linaro

core: huk: Enable support for platform specific HUK length
  core/arch/arm/plat-qcom/conf.mk
  lib/libutee/include/utee_defines.h
  mk/config.mk
Owners: @OP-TEE/linaro

ci: run TA ASAN self-tests in KASAN jobs
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: pta: Add Qualcomm PAS pseudo TA
  core/pta/qcom/pta_qcom_pas.c
  core/pta/qcom/sub.mk
  core/pta/sub.mk
  lib/libutee/include/pta_qcom_pas.h
Owners: @OP-TEE/linaro

clk: Add initial clock framework for Qualcomm platforms
  core/drivers/clk/qcom/clock-qcom.c
  core/drivers/clk/qcom/sub.mk
  core/drivers/clk/sub.mk
  core/include/drivers/clk_qcom.h
Owners: @OP-TEE/linaro

pta: qcom_pas: Add support to bringup WPSS firmware
  core/pta/qcom/pas.h
  core/pta/qcom/pta_qcom_pas.c
  core/pta/qcom/q6dsp.c
  core/pta/qcom/sub.mk
Owners: @OP-TEE/linaro

plat: qcom: kodiak: separate DSP boot logic from PAS resources
  core/pta/qcom/dsp.c
  core/pta/qcom/dsp.h
  core/pta/qcom/pas.c
  core/pta/qcom/pas.h
  core/pta/qcom/platform/kodiak/dsp_boot.h
  core/pta/qcom/platform/kodiak/pas_resources.h
  core/pta/qcom/pta_qcom_pas.c
  core/pta/qcom/q6dsp.c
  core/pta/qcom/sub.mk
Owners: @OP-TEE/linaro

plat: qcom: kodiak: Enable PAS pseudo TA and WPSS bringup
  core/arch/arm/plat-qcom/conf.mk
  core/arch/arm/plat-qcom/main.c
  core/arch/arm/plat-qcom/platform_config.h
Owners: @OP-TEE/linaro

pta: qcom_pas: Add support for WPSS get resource table API
  core/pta/qcom/pas.h
  core/pta/qcom/pta_qcom_pas.c
  core/pta/qcom/q6dsp.c
Owners: @OP-TEE/linaro

plat: qcom: kodiak: move clock definitions to platform header
  core/arch/arm/plat-qcom/main.c
  core/drivers/clk/qcom/clock-qcom.c
  core/drivers/clk/qcom/platform/kodiak/clock_group_qcom.h
  core/drivers/clk/qcom/sub.mk
Owners: @OP-TEE/linaro

pta: qcom_pas: Add support for CDSP
  core/arch/arm/plat-qcom/main.c
  core/arch/arm/plat-qcom/platform_config.h
  core/drivers/clk/qcom/clock-qcom.c
  core/drivers/clk/qcom/platform/kodiak/clock_group_qcom.h
  core/include/drivers/clk_qcom.h
  core/pta/qcom/compute.c
  core/pta/qcom/dsp.c
  core/pta/qcom/pas.c
  core/pta/qcom/pas.h
  core/pta/qcom/platform/kodiak/dsp_boot.h
  core/pta/qcom/platform/kodiak/pas_resources.h
  core/pta/qcom/pta_qcom_pas.c
  core/pta/qcom/sub.mk
Owners: @OP-TEE/linaro

pta: qcom_pas: Add support for ADSP
  core/arch/arm/plat-qcom/main.c
  core/arch/arm/plat-qcom/platform_config.h
  core/drivers/clk/qcom/clock-qcom.c
  core/drivers/clk/qcom/platform/kodiak/clock_group_qcom.h
  core/include/drivers/clk_qcom.h
  core/pta/qcom/dsp.h
  core/pta/qcom/lpass.c
  core/pta/qcom/pas.c
  core/pta/qcom/pas.h
  core/pta/qcom/platform/kodiak/dsp_boot.h
  core/pta/qcom/platform/kodiak/pas_resources.h
  core/pta/qcom/pta_qcom_pas.c
  core/pta/qcom/sub.mk
Owners: @OP-TEE/linaro

pta: qcom_pas: Add support for Venus
  core/arch/arm/plat-qcom/main.c
  core/arch/arm/plat-qcom/platform_config.h
  core/pta/qcom/pas.h
  core/pta/qcom/platform/kodiak/video.h
  core/pta/qcom/pta_qcom_pas.c
  core/pta/qcom/sub.mk
  core/pta/qcom/venus.c
Owners: @OP-TEE/linaro

pta: qcom: pas: move PAS to dedicated directory
  core/pta/qcom/pas/compute.c
  core/pta/qcom/pas/dsp.c
  core/pta/qcom/pas/dsp.h
  core/pta/qcom/pas/lpass.c
  core/pta/qcom/pas/pas.c
  core/pta/qcom/pas/pas.h
  core/pta/qcom/pas/platform/kodiak/dsp_boot.h
  core/pta/qcom/pas/platform/kodiak/pas_resources.h
  core/pta/qcom/pas/platform/kodiak/video.h
  core/pta/qcom/pas/pta_qcom_pas.c
  core/pta/qcom/pas/q6dsp.c
  core/pta/qcom/pas/sub.mk
  core/pta/qcom/pas/venus.c
  core/pta/qcom/sub.mk
Owners: @OP-TEE/linaro

ta: pas: Add Qualcomm PAS TA
  core/pta/qcom/pas/pta_qcom_pas.c
  ta/qcom_pas/Makefile
  ta/qcom_pas/include/ta_qcom_pas.h
  ta/qcom_pas/src/qcom_pas.c
  ta/qcom_pas/src/sub.mk
  ta/qcom_pas/src/user_ta_header_defines.h
  ta/qcom_pas/sub.mk
  ta/qcom_pas/user_ta.mk
Owners: @OP-TEE/linaro

plat-qcom: enable PAS early TA when PTA is enabled
  core/arch/arm/plat-qcom/conf.mk
Owners: @OP-TEE/linaro

pta: qcom: pas: map PAS resources on demand
  core/arch/arm/plat-qcom/conf.mk
  core/arch/arm/plat-qcom/main.c
  core/pta/qcom/pas/pta_qcom_pas.c
Owners: @OP-TEE/linaro

clk: qcom: move PAS clock group to its own compilation unit
  core/drivers/clk/qcom/clock-qcom-pas.c
  core/drivers/clk/qcom/clock-qcom.c
  core/drivers/clk/qcom/sub.mk
  core/include/drivers/clk_qcom.h
Owners: @OP-TEE/linaro

core: pta: manufacturing: make glitching harder
  core/pta/manufacturing.c
Owners: @OP-TEE/linaro

core: pta: manufacturing: extend with rpmb key get
  core/pta/manufacturing.c
  lib/libutee/include/pta_manufacturing.h
Owners: @OP-TEE/linaro

core: pta: add manufacturing pta
  core/pta/manufacturing.c
  core/pta/sub.mk
  lib/libutee/include/pta_manufacturing.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: rpmb_fs: make tee_rpmb_key_gen function public
  core/include/tee/tee_fs.h
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

plat-imx: add state check for rpmb-pta with fuses
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/main.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue
