Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

drivers: wdt: add watchdog interface
  core/drivers/sub.mk
  core/drivers/wdt/sub.mk
  core/drivers/wdt/watchdog.c
  core/include/drivers/wdt.h
  mk/config.mk
Owners: @OP-TEE/linaro

dts: sama5d2: set the watchdog as secure
  core/arch/arm/dts/at91-sama5d27_som1_ek.dts
  core/arch/arm/dts/at91-sama5d2_xplained.dts
  core/arch/arm/dts/sama5d2.dtsi
Owners: @OP-TEE/linaro

dts: sama5d2: add clocks for cpu
  core/arch/arm/dts/sama5d2.dtsi
Owners: @OP-TEE/linaro

delay: allow udelay() function to work without generic timers
  core/arch/arm/include/kernel/boot.h
  core/arch/arm/include/kernel/misc.h
  core/arch/arm/kernel/delay.c
  core/arch/arm/kernel/misc_a32.S
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: atmel_wdt: add atmel watchdog timer driver
  core/drivers/atmel_wdt.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

plat-sam: enable watchdog support in configuration
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: disable CFG_CORE_HAS_GENERIC_TIMER
  core/arch/arm/plat-sam/conf.mk
  core/arch/arm/plat-sam/freq.c
  core/arch/arm/plat-sam/sub.mk
Owners: @OP-TEE/plat-sam, @nodeax

drivers: wdt: add SMC handler for arm-smc-wdt Linux driver
  core/drivers/wdt/sub.mk
  core/drivers/wdt/watchdog_sm.c
  core/include/drivers/wdt.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: sm: call wdt_sm_handler()
  core/arch/arm/sm/sm.c
Owners: @OP-TEE/linaro

plat-vexpress: enable uart IT with TF-A and GICv3
  core/arch/arm/plat-vexpress/main.c
Owners: @OP-TEE/plat-vexpress

core: ffa: fix spmc_rxtx_map()
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: ffa: stop using FFA_MEMORY_REGION_FLAG_TIME_SLICE
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: ffa: correct response to FFA_INTERRUPT
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: add support for SPMC at EL3
  core/arch/arm/arm.mk
  core/arch/arm/include/kernel/thread_spmc.h
  core/arch/arm/kernel/thread_spmc.c
  core/arch/arm/mm/mobj_ffa.c
  core/include/mm/mobj.h
Owners: @OP-TEE/linaro

pkcs11: keep EC_POINT in attributes for private object creation
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/processing_ec.c
Owners: @OP-TEE/linaro

Add CFG_SECURE_DATA_PATH and DT cohabitation
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/mm/core_mmu.c
  core/tee/entry_std.c
Owners: @OP-TEE/linaro

[Embedded DT] Do not check SDP memory
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

Code cleanup
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: arm{32,64}.h: add "memory" constraint
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: split core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/include/mm/core_mmu_arch.h
  core/include/mm/core_mmu.h
Owners: @OP-TEE/linaro

core: split core_mmu_private.h
  core/arch/arm/include/mm/core_mmu_arch.h
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/arm/mm/core_mmu_private.h
  core/arch/arm/mm/core_mmu_v7.c
  core/include/mm/core_mmu.h
Owners: @OP-TEE/linaro

core: introduce TRUSTED_{S,D}RAM_*
  core/arch/arm/include/mm/core_mmu_arch.h
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: add core_mmu_table_write_barrier()
  core/arch/arm/include/mm/core_mmu_arch.h
Owners: @OP-TEE/linaro

core: split core/arch/arm/mm/core_mmu.c
  core/arch/arm/include/mm/core_mmu_arch.h
  core/arch/arm/mm/core_mmu.c
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
  core/mm/sub.mk
Owners: @OP-TEE/linaro

core: introduce TRUSTED_{S,D}RAM_*
  core/arch/arm/include/mm/core_mmu_arch.h
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: arm{32,64}.h: add "memory" constraint
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: split core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/include/mm/core_mmu_arch.h
  core/include/mm/core_mmu.h
Owners: @OP-TEE/linaro

core: split core_mmu_private.h
  core/arch/arm/include/mm/core_mmu_arch.h
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/arm/mm/core_mmu_private.h
  core/arch/arm/mm/core_mmu_v7.c
  core/include/mm/core_mmu.h
Owners: @OP-TEE/linaro

core: split core/arch/arm/mm/core_mmu.c
  core/arch/arm/include/mm/core_mmu_arch.h
  core/arch/arm/mm/core_mmu.c
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
  core/mm/sub.mk
Owners: @OP-TEE/linaro

core: add core_mmu_table_write_barrier()
  core/arch/arm/include/mm/core_mmu_arch.h
Owners: @OP-TEE/linaro

Add SDP memory area structure
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

lib: libutils: compiler.h: set trailing comment according to target
  lib/libutils/ext/include/compiler.h
Owners: @OP-TEE/linaro

core: kernel: tee_ta_manager.c: remove arm.h from includes
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

core: kernel: move boot.h to core/include/kernel
  core/include/kernel/boot.h
Owners: @OP-TEE/linaro

core: mm: move tee_mm.c to core/mm
  core/arch/arm/mm/sub.mk
  core/mm/sub.mk
  core/mm/tee_mm.c
Owners: @OP-TEE/linaro

updated OPTEE start address to 0x30000000 instead of 0x3F000000
  core/arch/arm/plat-nuvoton/conf.mk
Owners: @OP-TEE/linaro

update OPTEE start address
  core/arch/arm/arm.mk
  core/arch/arm/plat-nuvoton/conf.mk
Owners: @OP-TEE/linaro

Add Nuvoton npcm8mn SOC support
  core/arch/arm/plat-nuvoton/conf.mk
  core/arch/arm/plat-nuvoton/main.c
  core/arch/arm/plat-nuvoton/npcm845x_clock.h
  core/arch/arm/plat-nuvoton/npcm845x_gcr.h
  core/arch/arm/plat-nuvoton/npcm845x_iomux.h
  core/arch/arm/plat-nuvoton/npcm845x_lpuart.h
  core/arch/arm/plat-nuvoton/npcm845x_serial_port.c
  core/arch/arm/plat-nuvoton/npcm845x_spmc_pm.c
  core/arch/arm/plat-nuvoton/nuvoton_16550_console.S
  core/arch/arm/plat-nuvoton/nuvoton_uart_16550.h
  core/arch/arm/plat-nuvoton/platform_config.h
  core/arch/arm/plat-nuvoton/sub.mk
  core/arch/arm/plat-nuvoton/vendor_props.c
Owners: @OP-TEE/linaro

updated OPTEE start address to 0x30000000 instead of 0x3F000000
  core/arch/arm/plat-nuvoton/conf.mk
Owners: @OP-TEE/linaro

core: kernel: move boot.h to core/include/kernel
  core/include/kernel/boot.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
