Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: caam: increase the minimum entropy delay the imx6sx
  core/drivers/crypto/caam/hal/common/registers/rng_regs.h
Owners: @OP-TEE/linaro

drivers: caam: increase the minimum entropy delay the imx6sx
  core/drivers/crypto/caam/hal/common/registers/rng_regs.h
Owners: @OP-TEE/linaro

core: plat-ls: set CFG_NUM_THREADS ?= 2 for LS1012ARDB
  core/arch/arm/plat-ls/conf.mk
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

core: plat-ls: set CFG_NUM_THREADS ?= 2 for LS1012ARDB
  core/arch/arm/plat-ls/conf.mk
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

core: plat-ls: remove OP-TEE support for LS1012A-FRWY platform
  .azure-pipelines.yml
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/crypto_conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

core: plat-ls: remove OP-TEE support for LS1012A-FRWY platform
  .azure-pipelines.yml
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/crypto_conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

core: plat-ls: correct expression CFG_NUM_THREADS ?= CFG_TEE_CORE_NB_CORE
  core/arch/arm/plat-ls/conf.mk
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

core: plat-ls: correct expression CFG_NUM_THREADS ?= CFG_TEE_CORE_NB_CORE
  core/arch/arm/plat-ls/conf.mk
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

mk/gcc.mk: allow sysroot for libgcc lookup
  mk/gcc.mk
Owners: @OP-TEE/linaro

plat-k3: drivers: Disable SA2UL RNG driver on unsupported flavors
  core/arch/arm/plat-k3/conf.mk
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

core: Add hw_get_random_bytes()
  core/crypto/rng_hw.c
  core/include/rng_support.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: arm: kernel: fix rpc shm free when prealloc is disable
  core/arch/arm/kernel/thread_optee_smc.c
Owners: @OP-TEE/linaro

plat-rcar: Software PRNG should be disabled when using hardware generator
  core/arch/arm/plat-rcar/conf.mk
Owners: @OP-TEE/plat-rcar

drivers: atmel_trng: Switch to hw_get_random_bytes()
  core/drivers/atmel_trng.c
Owners: @OP-TEE/linaro

drivers: imx_rngb: Switch to hw_get_random_bytes()
  core/drivers/imx_rngb.c
Owners: @OP-TEE/linaro

drivers: smccc_trng: Switch to hw_get_random_bytes()
  core/drivers/smccc_trng.c
Owners: @OP-TEE/linaro

core: rng_hw: Add dummy hw_get_random_byte()
  core/crypto/rng_hw.c
Owners: @OP-TEE/linaro

drivers: se050: rng: Switch to hw_get_random_bytes()
  core/drivers/crypto/se050/core/rng.c
Owners: @OP-TEE/linaro

core: pta: Use common crypto_rng_read() over hw_get_random_byte()
  core/pta/hwrng.c
Owners: @OP-TEE/linaro

drivers: caam: rng: Switch to hw_get_random_bytes()
  core/drivers/crypto/caam/caam_rng.c
Owners: @OP-TEE/linaro

plar: rcar: Use common crypto_rng_read() over hw_get_random_byte()
  core/arch/arm/plat-rcar/main.c
Owners: @OP-TEE/plat-rcar

drivers: stm32_rng: Switch to hw_get_random_bytes()
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

drivers: dra7_rng: Factor out dra7_rng_read64()
  core/drivers/dra7_rng.c
Owners: @OP-TEE/linaro

drivers: dra7_rng: Switch to hw_get_random_bytes()
  core/drivers/dra7_rng.c
Owners: @OP-TEE/linaro

drivers: dra7_rng: Use cpu_spin_lock_xsave helper function
  core/drivers/dra7_rng.c
Owners: @OP-TEE/linaro

drivers: dra7_rng: Only fetch RNG base VA once
  core/drivers/dra7_rng.c
Owners: @OP-TEE/linaro

drivers: hi16xx_rng: Switch to hw_get_random_bytes()
  core/drivers/hi16xx_rng.c
Owners: @OP-TEE/linaro

drivers: xiphera_trng: Switch to hw_get_random_bytes()
  core/drivers/xiphera_trng.c
Owners: @OP-TEE/linaro

plat-k3: Factor out sa2ul_rng_read128()
  core/arch/arm/plat-k3/drivers/sa2ul_rng.c
Owners: @OP-TEE/linaro

plat-k3: Switch to hw_get_random_bytes()
  core/arch/arm/plat-k3/drivers/sa2ul_rng.c
Owners: @OP-TEE/linaro

plat-stm: Switch to hw_get_random_bytes()
  core/arch/arm/plat-stm/rng_support.c
Owners: @OP-TEE/plat-stm

plat-rcar: Switch to hw_get_random_bytes()
  core/arch/arm/plat-rcar/hw_rng.c
Owners: @OP-TEE/plat-rcar

core: rng_hw: Remove hw_get_random_byte()
  core/crypto/rng_hw.c
  core/include/rng_support.h
Owners: @OP-TEE/linaro

core: rng_hw: Remove __weak attribute from HW RNG functions
  core/crypto/rng_hw.c
Owners: @OP-TEE/linaro

core: arm: kernel: fix rpc shm free when prealloc is disable
  core/arch/arm/kernel/thread_optee_smc.c
Owners: @OP-TEE/linaro

dts: stm32: add STM32MP13 SoCs support
  core/arch/arm/dts/stm32mp131.dtsi
  core/arch/arm/dts/stm32mp133.dtsi
  core/arch/arm/dts/stm32mp135.dtsi
  core/arch/arm/dts/stm32mp13xc.dtsi
  core/arch/arm/dts/stm32mp13xf.dtsi
Owners: @OP-TEE/linaro

dts: stm32: add initial support of STM32MP135F-DK board
  core/arch/arm/dts/stm32mp13-pinctrl.dtsi
  core/arch/arm/dts/stm32mp135f-dk.dts
Owners: @OP-TEE/linaro

dt-bindings: add STM32MP13 regulator bindings
  core/include/dt-bindings/regulator/st,stm32mp13-regulator.h
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi_server update for STM32MP13
  core/arch/arm/plat-stm32mp1/scmi_server.c
  core/include/drivers/stm32mp_dt_bindings.h
Owners: @OP-TEE/linaro

plat-stm32mp1: support STM32MP13 gpio bank resources
  core/arch/arm/plat-stm32mp1/main.c
Owners: @OP-TEE/linaro
