Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

drivers: bcm_gpio: add bcm gpio controller driver
  core/drivers/bcm_gpio.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

Update CHANGELOG.md for 3.5.0
  CHANGELOG.md
Owners: @OP-TEE/linaro

[review] stm32mp1: seed PRNG with STM32 RNG
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_rcc.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_rcc.h
  core/arch/arm/plat-stm32mp1/main.c
Owners: @OP-TEE/linaro

[review] core: add a file abstraction
  core/mm/file.c
Owners: @OP-TEE/linaro

[review] core: pager: record fobj in pmem instead of area
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

core: tee_pager_set_uta_area_attr(): save flags
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

core: elf_flags_to_mattr(): add privileged bits
  core/arch/arm/kernel/user_ta.c
Owners: @OP-TEE/linaro

[review] core: share sections of loaded elf
  core/arch/arm/kernel/user_ta.c
Owners: @OP-TEE/linaro

MAINTAINERS: fix Igor Opaniuk's email, make him a Poplar reviewer
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: fix Igor Opaniuk's email, make him a Poplar reviewer
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: update Broadcom reviewer list
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: update Broadcom reviewer list
  MAINTAINERS
Owners: @OP-TEE/approvers

[review] core: pager: record fobj in pmem instead of area
  core/mm/fobj.c
Owners: @OP-TEE/linaro

stm32_i2c: handle pinctrl
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

stm32_gpio: fix inline comment on GPIO bank verification
  core/drivers/stm32_gpio.c
Owners: @OP-TEE/linaro

stm32_gpio: fix inline comment on GPIO bank verification
  core/drivers/stm32_gpio.c
Owners: @OP-TEE/linaro

stm32_i2c: handle pinctrl
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

stm32mp1: shres: registering shared resources
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/platform_config.h
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
  core/arch/arm/plat-stm32mp1/sub.mk
Owners: @OP-TEE/linaro

stm32mp1: shres: secure clock parents
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

stm32mp1: shres: check RCC secure hardening
  core/arch/arm/plat-stm32mp1/shared_resources.c
Owners: @OP-TEE/linaro

stm32mp1: shres: configure ETZPC protection
  core/arch/arm/plat-stm32mp1/shared_resources.c
Owners: @OP-TEE/linaro

stm32mp1: shres: set GPIO secure hardening
  core/arch/arm/plat-stm32mp1/shared_resources.c
Owners: @OP-TEE/linaro

Error out if CFG_ULIBS_GPROF and CFG_ULIBS_SHARED are both enabled
  mk/config.mk
Owners: @OP-TEE/linaro

stm32mp1: shres: set GPIO secure hardening
  core/arch/arm/plat-stm32mp1/shared_resources.c
Owners: @OP-TEE/linaro

stm32mp1: shres: configure ETZPC protection
  core/arch/arm/plat-stm32mp1/shared_resources.c
Owners: @OP-TEE/linaro

stm32mp1: shres: registering shared resources
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/platform_config.h
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
  core/arch/arm/plat-stm32mp1/sub.mk
Owners: @OP-TEE/linaro

stm32mp1: shres: check RCC secure hardening
  core/arch/arm/plat-stm32mp1/shared_resources.c
Owners: @OP-TEE/linaro

stm32mp1: shres: secure clock parents
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

plat-rpi3: Use generic memory layout
  core/arch/arm/plat-rpi3/conf.mk
  core/arch/arm/plat-rpi3/platform_config.h
Owners: @OP-TEE/plat-rpi3

core: storage: set data length after truncation
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

[review]drivers: gpio: add GPIO framework layer
  core/drivers/gpio.c
  core/include/gpio.h
Owners: @OP-TEE/linaro

[review]drivers: bcm_gpio: add IPROC GPIO driver
  core/drivers/bcm_gpio.c
Owners: @OP-TEE/linaro

drivers: bcm_hwrng: add HWRNG driver
  core/drivers/bcm_hwrng.c
  core/drivers/sub.mk
  core/include/drivers/bcm_hwrng.h
Owners: @OP-TEE/linaro

drivers: bcm_sotp: add SOTP driver
  core/drivers/bcm_sotp.c
  core/drivers/sub.mk
  core/include/drivers/bcm_sotp.h
Owners: @OP-TEE/linaro

drivers: bcm_hwrng: add HWRNG driver
  core/drivers/bcm_hwrng.c
  core/drivers/sub.mk
  core/include/drivers/bcm_hwrng.h
Owners: @OP-TEE/linaro

drivers: bcm_sotp: add SOTP driver
  core/drivers/bcm_sotp.c
  core/drivers/sub.mk
  core/include/drivers/bcm_sotp.h
Owners: @OP-TEE/linaro

core: invalidate entire icache
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/arm/mm/core_mmu_v7.c
  core/arch/arm/mm/tee_mmu.c
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

core: tee_ta_init_user_ta_session(): flush pgt on error
  core/arch/arm/kernel/user_ta.c
Owners: @OP-TEE/linaro

core: free_elf_states(): clear elf->elf_state
  core/arch/arm/kernel/user_ta.c
Owners: @OP-TEE/linaro

gprof: define original mcount APIs inserted by compiler
  lib/libutee/arch/arm/gprof/gprof_a32.S
  lib/libutee/arch/arm/gprof/gprof_a64.S
  lib/libutee/arch/arm/user_ta_entry.c
  ta/arch/arm/ta.ld.S
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
