Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

plat-corstone1000: add corstone1000 platform
  .azure-pipelines.yml
  MAINTAINERS
  core/arch/arm/plat-corstone1000/conf.mk
  core/arch/arm/plat-corstone1000/main.c
  core/arch/arm/plat-corstone1000/platform_config.h
  core/arch/arm/plat-corstone1000/sub.mk
Owners: @OP-TEE/linaro, @OP-TEE/approvers

core: decrease register size for gicv2
  core/include/drivers/gic.h
Owners: @OP-TEE/linaro

core: decrease register size for gicv2
  core/include/drivers/gic.h
Owners: @OP-TEE/linaro

build: introduce CFG_OPTEE_REVISION_EXTRA
  mk/config.mk
Owners: @OP-TEE/linaro

build: introduce CFG_OPTEE_REVISION_EXTRA
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: scmi-msg: rename secure buffer size macros
  core/drivers/scmi-msg/clock.c
  core/drivers/scmi-msg/common.h
  core/drivers/scmi-msg/smt.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: remove unused macro LEVELS_ARRAY_SIZE_MAX_2
  core/drivers/scmi-msg/voltage_domain.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: relax constraint on output buffer size
  core/drivers/scmi-msg/entry.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: voltage domain adapts to output buffer size
  core/drivers/scmi-msg/voltage_domain.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: clock adapts to output buffer size
  core/drivers/scmi-msg/clock.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: correct inline description
  core/include/drivers/scmi-msg.h
Owners: @OP-TEE/linaro

drivers: scmi-msg: handle invalid channels
  core/drivers/scmi-msg/smt.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: rename chan to channel
  core/drivers/scmi-msg/smt.c
Owners: @OP-TEE/linaro

mk: config.mk: describe and initialize CFG_SCMI_MSG_*_ENTRY switches
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: scmi-msg: move entry functions to generic entry
  core/drivers/scmi-msg/common.h
  core/drivers/scmi-msg/entry.c
  core/drivers/scmi-msg/smt.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: fix protocol list response size
  core/drivers/scmi-msg/base.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: fix protocol list querying
  core/drivers/scmi-msg/base.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: correct inline description
  core/include/drivers/scmi-msg.h
Owners: @OP-TEE/linaro

mk: config.mk: describe and initialize CFG_SCMI_MSG_*_ENTRY switches
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: scmi-msg: move entry functions to generic entry
  core/drivers/scmi-msg/common.h
  core/drivers/scmi-msg/entry.c
  core/drivers/scmi-msg/smt.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: voltage domain adapts to output buffer size
  core/drivers/scmi-msg/voltage_domain.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: rename chan to channel
  core/drivers/scmi-msg/smt.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: rename channel entry lock functions
  core/drivers/scmi-msg/common.h
  core/drivers/scmi-msg/entry.c
  core/drivers/scmi-msg/smt.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: relax constraint on output buffer size
  core/drivers/scmi-msg/entry.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: clock adapts to output buffer size
  core/drivers/scmi-msg/clock.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: handle invalid channels
  core/drivers/scmi-msg/smt.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: remove unused macro LEVELS_ARRAY_SIZE_MAX_2
  core/drivers/scmi-msg/voltage_domain.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: rename secure buffer size macros
  core/drivers/scmi-msg/clock.c
  core/drivers/scmi-msg/common.h
  core/drivers/scmi-msg/smt.c
Owners: @OP-TEE/linaro

core: arm.mk: set CFG_WITH_LPAE=y when CFG_ARCH64_core=y
  core/arch/arm/arm.mk
  core/arch/arm/plat-amlogic/conf.mk
  core/arch/arm/plat-hikey/conf.mk
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-k3/conf.mk
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-marvell/conf.mk
  core/arch/arm/plat-mediatek/conf.mk
  core/arch/arm/plat-poplar/conf.mk
  core/arch/arm/plat-rockchip/conf.mk
  core/arch/arm/plat-rpi3/conf.mk
  core/arch/arm/plat-rzg/conf.mk
  core/arch/arm/plat-sprd/conf.mk
  core/arch/arm/plat-sunxi/conf.mk
  core/arch/arm/plat-synquacer/conf.mk
  core/arch/arm/plat-totalcompute/conf.mk
  core/arch/arm/plat-uniphier/conf.mk
  core/arch/arm/plat-versal/conf.mk
  core/arch/arm/plat-vexpress/conf.mk
  core/arch/arm/plat-zynqmp/conf.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynqmp

core: arm.mk: set CFG_ARM32_core=y when CFG_ARM34_core != y
  core/arch/arm/arm.mk
  core/arch/arm/plat-d02/conf.mk
  core/arch/arm/plat-hikey/conf.mk
  core/arch/arm/plat-k3/conf.mk
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-marvell/conf.mk
  core/arch/arm/plat-mediatek/conf.mk
  core/arch/arm/plat-poplar/conf.mk
  core/arch/arm/plat-rpi3/conf.mk
  core/arch/arm/plat-rzg/conf.mk
  core/arch/arm/plat-sprd/conf.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rpi3, @OP-TEE/plat-sprd, @aijunsun

plat-k3: Disable SECURE_DATA_PATH until xtest is fixed
  core/arch/arm/plat-k3/conf.mk
Owners: @OP-TEE/linaro

plat-ti: Disable SECURE_DATA_PATH until xtest is fixed
  core/arch/arm/plat-ti/conf.mk
  core/arch/arm/plat-ti/platform_config.h
Owners: @OP-TEE/plat-ti, @glneo

drivers: scmi-msg: fix protocol list querying
  core/drivers/scmi-msg/base.c
Owners: @OP-TEE/linaro

drivers: scmi-msg: fix protocol list response size
  core/drivers/scmi-msg/base.c
Owners: @OP-TEE/linaro

plat-k3: Disable SECURE_DATA_PATH until xtest is fixed
  core/arch/arm/plat-k3/conf.mk
Owners: @OP-TEE/linaro

plat-ti: Disable SECURE_DATA_PATH until xtest is fixed
  core/arch/arm/plat-ti/conf.mk
  core/arch/arm/plat-ti/platform_config.h
Owners: @OP-TEE/plat-ti, @glneo

plat-stm32mp1: default disable SCMI SiP SMC entry
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: provision tee threads when using SCMI
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: SCMI reset domains require rstctrl exclusivity
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

mk: config.mk: fix dependency on CFG_SCMI_MSG_SHM_MSG
  mk/config.mk
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
