Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

ltc: asn1: der: add support of additional types
  core/lib/libtomcrypt/include/tomcrypt_pk.h
  core/lib/libtomcrypt/src/pk/asn1/der/exp_tag/der_encode_exp_tag.c
  core/lib/libtomcrypt/src/pk/asn1/der/exp_tag/der_length_exp_tag.c
  core/lib/libtomcrypt/src/pk/asn1/der/exp_tag/sub.mk
  core/lib/libtomcrypt/src/pk/asn1/der/generalizedtime/der_decode_generalizedtime.c
  core/lib/libtomcrypt/src/pk/asn1/der/generalizedtime/der_encode_generalizedtime.c
  core/lib/libtomcrypt/src/pk/asn1/der/generalizedtime/der_length_generalizedtime.c
  core/lib/libtomcrypt/src/pk/asn1/der/generalizedtime/sub.mk
  core/lib/libtomcrypt/src/pk/asn1/der/long_integer/der_decode_long_integer.c
  core/lib/libtomcrypt/src/pk/asn1/der/long_integer/der_encode_long_integer.c
  core/lib/libtomcrypt/src/pk/asn1/der/long_integer/der_length_long_integer.c
  core/lib/libtomcrypt/src/pk/asn1/der/long_integer/sub.mk
  core/lib/libtomcrypt/src/pk/asn1/der/sequence/der_encode_sequence_ex.c
  core/lib/libtomcrypt/src/pk/asn1/der/sequence/der_encode_sequence_multi.c
  core/lib/libtomcrypt/src/pk/asn1/der/sequence/der_length_sequence.c
  core/lib/libtomcrypt/src/pk/asn1/der/set/der_encode_set.c
  core/lib/libtomcrypt/src/pk/asn1/der/sub.mk
Owners: @OP-TEE/linaro

core: crypto: detect elliptic curve size
  core/include/tee/tee_cryp_utl.h
  core/tee/tee_cryp_utl.c
  lib/libutee/include/utee_defines.h
Owners: @OP-TEE/linaro

hikey: increase core heap size to 192 kB
  core/arch/arm/plat-hikey/conf.mk
Owners: @OP-TEE/plat-hikey

libutee: remove restrictions for TEE_ALG_RSA_NOPAD
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

core: crypto: change supported HMAC key size ranges
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: pta: introduce pTA to access LTC ASN.1 parser
  core/arch/arm/pta/asn1_parser.c
  core/arch/arm/pta/attestations.c
  core/arch/arm/pta/encoders.c
  core/arch/arm/pta/keymaster_defs.h
  core/arch/arm/pta/sub.mk
  core/arch/arm/pta/x509_attestation.h
  core/arch/arm/pta/x509_constants.h
  mk/config.mk
Owners: @OP-TEE/linaro

porting guide: misc documentation fix
  documentation/porting_guidelines.md
Owners: @OP-TEE/linaro

plat-ls: add grapeboard ls1012 platform flavor
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

hikey960: change DRAM1_SIZE_NSEC for 4GB board
  core/arch/arm/plat-hikey/platform_config.h
Owners: @OP-TEE/plat-hikey

core: modify tee_otp_get_hw_unique_key to return TEE_Result
  core/arch/arm/kernel/otp_stubs.c
  core/arch/arm/plat-ls/main.c
  core/arch/arm/plat-ti/main.c
  core/include/kernel/tee_common_otp.h
  core/tee/tee_rpmb_fs.c
  documentation/secure_storage.md
Owners: @OP-TEE/linaro, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-ti, @glneo

porting guide: misc documentation fix
  documentation/porting_guidelines.md
Owners: @OP-TEE/linaro

core: modify tee_otp_get_hw_unique_key to return TEE_Result
  core/arch/arm/kernel/otp_stubs.c
  core/arch/arm/plat-ls/main.c
  core/arch/arm/plat-ti/main.c
  core/include/kernel/tee_common_otp.h
  core/tee/tee_rpmb_fs.c
  documentation/secure_storage.md
Owners: @OP-TEE/linaro, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-ti, @glneo

hikey960: change DRAM1_SIZE_NSEC for 4GB board
  core/arch/arm/plat-hikey/platform_config.h
Owners: @OP-TEE/plat-hikey

plat-imx: Add i.MX6SoloX Udoo Neo Full platform flavor
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: thread: thread_rpc_{free,alloc}_arg() static
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/kernel/thread.c
Owners: @OP-TEE/linaro

core: simplify shm cookie handling
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/include/mm/mobj.h
  core/arch/arm/kernel/ree_fs_ta.c
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_private.h
  core/arch/arm/mm/mobj.c
  core/arch/arm/pta/benchmark.c
  core/arch/arm/pta/gprof.c
  core/arch/arm/tee/entry_std.c
  core/arch/arm/tee/pta_socket.c
  core/include/kernel/msg_param.h
  core/include/tee/tee_fs_rpc.h
  core/kernel/msg_param.c
  core/tee/tadb.c
  core/tee/tee_fs_rpc.c
  core/tee/tee_fs_rpc_cache.c
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

auto-locate checkpatch
  scripts/checkpatch.sh
Owners: @OP-TEE/linaro

core: thread: thread_rpc_{free,alloc}_arg() static
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/kernel/thread.c
Owners: @OP-TEE/linaro

core: simplify shm cookie handling
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/include/mm/mobj.h
  core/arch/arm/kernel/ree_fs_ta.c
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_private.h
  core/arch/arm/mm/mobj.c
  core/arch/arm/pta/benchmark.c
  core/arch/arm/pta/gprof.c
  core/arch/arm/tee/entry_std.c
  core/arch/arm/tee/pta_socket.c
  core/include/kernel/msg_param.h
  core/include/tee/tee_fs_rpc.h
  core/kernel/msg_param.c
  core/tee/tadb.c
  core/tee/tee_fs_rpc.c
  core/tee/tee_fs_rpc_cache.c
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

auto-locate checkpatch
  scripts/checkpatch.sh
Owners: @OP-TEE/linaro

qemu: increase CFG_DTB_MAX_SIZE to 1 MiB
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

qemu: increase CFG_DTB_MAX_SIZE to 1 MiB
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

plat-imx: fix compile error for mx6qhmbedge flavor
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

plat-imx: add mx7dclsom platform flavor
  core/arch/arm/plat-imx/conf.mk
  core/drivers/imx_wdog.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

drivers: imx_uart: avoid hang if UART is disabled
  core/drivers/imx_uart.c
Owners: @OP-TEE/linaro

drivers: imx_uart: ensure space in TX UART before writing
  core/drivers/imx_uart.c
Owners: @OP-TEE/linaro

plat-imx: fix compile error for mx6qhmbedge flavor
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

plat-imx: add mx7dclsom platform flavor
  core/arch/arm/plat-imx/conf.mk
  core/drivers/imx_wdog.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

plat-imx: Add i.MX6SoloX Udoo Neo Full platform flavor
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx_uart: avoid hang if UART is disabled
  core/drivers/imx_uart.c
Owners: @OP-TEE/linaro

drivers: imx_uart: ensure space in TX UART before writing
  core/drivers/imx_uart.c
Owners: @OP-TEE/linaro

core: mobj.c: sort #includes
  core/arch/arm/mm/mobj.c
Owners: @OP-TEE/linaro

core: mobj.c: sort #includes
  core/arch/arm/mm/mobj.c
Owners: @OP-TEE/linaro

arm: imx: Make sm_platform_handler selectable by any platform
  core/arch/arm/plat-imx/sub.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: Make fdt manipulation functions available external
  core/arch/arm/include/kernel/generic_boot.h
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

plat-imx: Implement MBED Linux DTB populate SMC
  core/arch/arm/include/sm/mbed_linux.h
  core/arch/arm/plat-imx/sm_platform_handler.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

plat-imx: warp7: Switch on SMC MBED_LINUX_POPULATE_DTB
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: pta: group self tests together
  core/arch/arm/pta/sub.mk
Owners: @OP-TEE/linaro

core: add unw_get_kernel_stack()
  core/arch/arm/include/kernel/unwind.h
  core/arch/arm/kernel/unwind_arm32.c
  core/arch/arm/kernel/unwind_arm64.c
  core/arch/arm/kernel/unwind_private.h
Owners: @OP-TEE/linaro

scripts/symbolize.py: be more specific when matching stack addresses
  scripts/symbolize.py
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
