Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

libutils: add array helpers
  lib/libutils/ext/array.c
  lib/libutils/ext/include/string_ext.h
  lib/libutils/ext/sub.mk
Owners: @OP-TEE/linaro

mmu: ignore VA spaces in core_mmu_get_type_by_pa
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: add_phys_mem(): fix mergeable physical memory
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: mm: introduce struct memory_map
  core/arch/arm/kernel/virtualization.c
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/arm/mm/core_mmu_v7.c
  core/arch/riscv/mm/core_mmu_arch.c
  core/include/kernel/virtualization.h
  core/include/mm/core_mmu.h
  core/include/mm/tee_mmu_types.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

mk/compile.mk: remove absolute build time paths
  mk/compile.mk
Owners: @OP-TEE/linaro

mk/compile.mk: remove absolute build time paths
  mk/compile.mk
Owners: @OP-TEE/linaro

ci: upgrade actions/cache@v3 to v4
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: crypto: hisilicon: add authenc algorithm
  core/drivers/crypto/hisilicon/crypto.mk
  core/drivers/crypto/hisilicon/sec_authenc.c
  core/drivers/crypto/hisilicon/sec_authenc.h
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

ci: upgrade actions/cache@v3 to v4
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: imx: add i.MX95 registers
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/registers/imx95.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add i.MX95 SoC ID
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add support for i.MX95 EVK
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

ci: add i.MX95 EVK build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

kernel: pm: add suspend type hint
  core/include/kernel/pm.h
Owners: @OP-TEE/linaro

drivers: pm: sam: specify suspend/resume hint based on suspend level
  core/drivers/pm/sam/at91_pm.c
Owners: @OP-TEE/linaro

core: imx: add i.MX95 registers
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/registers/imx95.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

ci: add i.MX95 EVK build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: imx: add i.MX95 SoC ID
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add support for i.MX95 EVK
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

plat: rpi5: add basic Raspberry Pi 5 support
  .github/workflows/ci.yml
  core/arch/arm/plat-rpi5/conf.mk
  core/arch/arm/plat-rpi5/main.c
  core/arch/arm/plat-rpi5/platform_config.h
  core/arch/arm/plat-rpi5/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

core: imx: use i.MX93 register file for i.MX91
  core/arch/arm/plat-imx/imx-regs.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add i.MX91 SoC ID
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add support for i.MX91 EVK
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx_mu: enable support for i.MX91
  core/arch/arm/plat-imx/conf.mk
  core/drivers/imx/mu/sub.mk
  core/include/drivers/imx_mu.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

drivers: ele: enable support for i.MX91
  core/arch/arm/plat-imx/conf.mk
  core/drivers/imx_ele.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

ci: add i.MX91 EVK build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

compile.mk: use CFLAGS from environment
  mk/compile.mk
Owners: @OP-TEE/linaro

link.mk: use CFLAGS with version.o
  core/arch/arm/kernel/link.mk
  core/arch/riscv/kernel/link.mk
Owners: @OP-TEE/linaro

link.mk: generate version.o in link-out-dir
  core/arch/arm/kernel/link.mk
  core/arch/riscv/kernel/link.mk
Owners: @OP-TEE/linaro

compile.mk: use CFLAGS from environment
  mk/compile.mk
Owners: @OP-TEE/linaro

link.mk: use CFLAGS with version.o
  core/arch/arm/kernel/link.mk
  core/arch/riscv/kernel/link.mk
Owners: @OP-TEE/linaro

link.mk: generate version.o in link-out-dir
  core/arch/arm/kernel/link.mk
  core/arch/riscv/kernel/link.mk
Owners: @OP-TEE/linaro

core: rstctrl: Fix function description
  core/include/drivers/rstctrl.h
Owners: @OP-TEE/linaro

core: imx: add i.MX91 SoC ID
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx_mu: enable support for i.MX91
  core/arch/arm/plat-imx/conf.mk
  core/drivers/imx/mu/sub.mk
  core/include/drivers/imx_mu.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

ci: add i.MX91 EVK build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: imx: use i.MX93 register file for i.MX91
  core/arch/arm/plat-imx/imx-regs.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: ele: enable support for i.MX91
  core/arch/arm/plat-imx/conf.mk
  core/drivers/imx_ele.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

core: imx: add support for i.MX91 EVK
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: riscv: core_mmu_arch: fix PPN field extraction from PTE
  core/arch/riscv/include/encoding.h
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro
