Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

ci: Rust updates
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

Update CHANGELOG for 4.1.0
  CHANGELOG.md
  mk/config.mk
Owners: @OP-TEE/linaro

Update CHANGELOG for 4.1.0
  CHANGELOG.md
  mk/config.mk
Owners: @OP-TEE/linaro

core: riscv: Add .sbss and .sdata sections to linker script
  core/arch/riscv/kernel/kern.ld.S
Owners: @OP-TEE/linaro

drivers: stm32_i2c: apply pinctrl config at init
  core/drivers/stm32_i2c.c
Owners: @OP-TEE/linaro

drivers: stm32_i2c: analog filter config cannot fail
  core/drivers/stm32_i2c.c
Owners: @OP-TEE/linaro

driver: i2c: stm32_i2c: fix call to stm32_i2c_init()
  core/drivers/stm32_i2c.c
Owners: @OP-TEE/linaro

core: arm: get DDR range from embedded DTB
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

drivers: stm32_i2c: fix header file inclusion order
  core/drivers/stm32_i2c.c
Owners: @OP-TEE/linaro

drivers: scmi_msg: fix size_t trace format
  core/drivers/scmi-msg/smt.c
Owners: @OP-TEE/linaro

drivers: i2c: add missing __unused in stubbed function
  core/include/drivers/i2c.h
Owners: @OP-TEE/linaro

pta: scmi: remove noisy info level message on message process
  core/pta/scmi.c
Owners: @OP-TEE/linaro

core: ffa: Read FF-A version from the SP manifest
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

core: riscv: Rename thread_return_to_ree() to thread_return_to_udomain()
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/kernel/entry.S
  core/arch/riscv/kernel/thread_optee_abi_rv.S
Owners: @OP-TEE/linaro

riscv: mm: Set A/D bits of PTE(page table entry) by default
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro

plat-vexpress: remove unnecessary includes
  core/arch/arm/plat-vexpress/main.c
Owners: @OP-TEE/plat-vexpress

ldelf: remove unnecessary includes
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

ta: remove unnecessary includes
  ta/avb/entry.c
  ta/pkcs11/src/attributes.c
  ta/pkcs11/src/handle.c
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/sanitize_object.c
Owners: @OP-TEE/linaro

core: remove unnecessary includes
  core/arch/arm/kernel/abort.c
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/link_dummies_paged.c
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/mm/mobj_dyn_shm.c
  core/arch/arm/tee/entry_fast.c
  core/crypto/aes-gcm-ghash-tbl.c
  core/crypto/crypto.c
  core/crypto/sm3-hmac.c
  core/drivers/clk/clk.c
  core/drivers/clk/clk_dt.c
  core/drivers/gpio/gpio.c
  core/kernel/console.c
  core/kernel/dt.c
  core/kernel/ree_fs_ta.c
  core/kernel/scall.c
  core/kernel/tee_misc.c
  core/kernel/tee_ta_manager.c
  core/kernel/tee_time.c
  core/kernel/user_ta.c
  core/kernel/wait_queue.c
  core/mm/mobj.c
  core/mm/vm.c
  core/pta/device.c
  core/pta/stats.c
  core/pta/system.c
  core/pta/tests/aes_perf.c
  core/pta/tests/dt_driver_test.c
  core/tee/tadb.c
  core/tee/tee_cryp_utl.c
  core/tee/tee_fs_key_manager.c
  core/tee/tee_fs_rpc.c
  core/tee/tee_obj.c
  core/tee/tee_pobj.c
  core/tee/tee_ree_fs.c
  core/tee/tee_svc_storage.c
  core/tee/tee_time_generic.c
Owners: @OP-TEE/linaro

core: tee: initialize dirfile|tadb_entry objects
  core/tee/fs_dirfile.c
  core/tee/tadb.c
Owners: @OP-TEE/linaro

core: check if binary to bignum conversion succeed
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

ldelf: check val for NULL dereference
  ldelf/ta_elf_rel.c
Owners: @OP-TEE/linaro

core: mmu: assert pointer to manifest device tree
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: kernel: dt: check return values from snprintf()
  core/kernel/dt.c
Owners: @OP-TEE/linaro

ta: pkcs11: check returned value of mbedtls_pk_rsa()
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

core: arm: fix dead code when ARM32 is not defined
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro

core: msg_param: remove recursion in included headers
  core/include/kernel/msg_param.h
Owners: @OP-TEE/linaro

core: kernel: check device tree property pointer
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

core: check if string to uuid conversion succeed
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

drivers: atmel_rstc: update to compatible with sama7g5
  core/drivers/atmel_rstc.c
Owners: @OP-TEE/linaro

drivers: atmel_piobu: update compatible with sama7g5
  core/drivers/atmel_piobu.c
Owners: @OP-TEE/linaro

drivers: atmel_trng: update to compatible with sama7g5
  core/drivers/atmel_trng.c
Owners: @OP-TEE/linaro

drivers: atmel_rtc: update to compatible with sama7g5
  core/drivers/atmel_rtc.c
Owners: @OP-TEE/linaro

drivers: sam: use header file "platform_config.h" instead of "sama5d2.h"
  core/arch/arm/plat-sam/sam_sfr.c
  core/drivers/atmel_rstc.c
  core/drivers/atmel_rtc.c
  core/drivers/atmel_shdwc.c
  core/drivers/atmel_tcb.c
  core/drivers/atmel_wdt.c
  core/drivers/nvmem/atmel_sfc.c
Owners: @OP-TEE/plat-sam, @nodeax, @OP-TEE/linaro

arm: plat: rcar: gen4: adjust memory map
  core/arch/arm/plat-rcar/conf.mk
Owners: @OP-TEE/plat-rcar

arm: virtualization: don't allow hypervisor to issue std calls
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/virtualization.c
Owners: @OP-TEE/linaro

arm: virtualization: don't allow hypervisor to issue std calls
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/virtualization.c
Owners: @OP-TEE/linaro

arm: plat: rcar: gen4: adjust memory map
  core/arch/arm/plat-rcar/conf.mk
Owners: @OP-TEE/plat-rcar

core: pta: drop benchmark
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/spmc_sp_handler.c
  core/include/bench.h
  core/pta/benchmark.c
  core/pta/sub.mk
  core/tee/entry_std.c
  lib/libutee/include/pta_benchmark.h
Owners: @OP-TEE/linaro

core: pta: drop benchmark
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/spmc_sp_handler.c
  core/include/bench.h
  core/pta/benchmark.c
  core/pta/sub.mk
  core/tee/entry_std.c
  lib/libutee/include/pta_benchmark.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
