Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

drivers: stm32_rng: remove registering to shared_resources driver
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

plat-stm32mp1: CFG_STM32_IWDG requires CFG_WDT_SM_HANDLER
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: remove PMIC registering to shared_resources driver
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
Owners: @OP-TEE/linaro

dt-bindings: stm32: fix CLKSRC for RTC in stm32mp13 clock bindings
  core/include/dt-bindings/clock/stm32mp13-clksrc.h
Owners: @OP-TEE/linaro

core: arch: arm: plat-rockchip: add rk3566 support
  core/arch/arm/plat-rockchip/conf.mk
  core/arch/arm/plat-rockchip/main.c
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rk3566.c
  core/arch/arm/plat-rockchip/sub.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

debug patch
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

tree-wide: use ROUNDUP_DIV() where applicable
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/mm/core_mmu_v7.c
  core/arch/arm/mm/mobj_ffa.c
  core/arch/arm/mm/sp_mem.c
  core/drivers/crypto/crypto_api/acipher/rsassa.c
  core/drivers/imx/dcp/dcp.c
  core/kernel/ldelf_loader.c
  core/lib/libtomcrypt/mpi_desc.c
  core/mm/fobj.c
  core/tee/tee_ree_fs.c
  core/tee/tee_rpmb_fs.c
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/processing_aes.c
  ta/pkcs11/src/processing_rsa.c
  ta/pkcs11/src/token_capabilities.c
Owners: @OP-TEE/linaro

drivers: firewall: stm32_etzpc: add check_access handler
  core/drivers/firewall/stm32_etzpc.c
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi_server: test reset/clock access against ETZPC config
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

plat-stm32mp1: remove unused stm32mp_nsec_can_access_clock()
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

plat-stm32mp1: remove unused stm32mp_nsec_can_access_reset()
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

drivers: firewall: stm32_etzpc: add check_access handler
  core/drivers/firewall/stm32_etzpc.c
Owners: @OP-TEE/linaro

plat-stm32mp1: remove unused stm32mp_nsec_can_access_reset()
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi_server: test reset/clock access against ETZPC config
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

plat-stm32mp1: remove unused stm32mp_nsec_can_access_clock()
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

core: arm: add guest id check at VM creation
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro

core: arm: pass guest ID to SMC_ENABLE_ASYNC_NOTIF
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro

core: remove guest_id assert in notif_send_async
  core/kernel/notif_default.c
Owners: @OP-TEE/linaro

core: arm: pass guest ID to SMC_ENABLE_ASYNC_NOTIF
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro

core: arm: add guest id check at VM creation
  core/arch/arm/kernel/virtualization.c
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro

core: arm: add guest id check at VM creation
  core/arch/arm/kernel/virtualization.c
Owners: @OP-TEE/linaro

core: arm: pass guest ID to SMC_ENABLE_ASYNC_NOTIF
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro

fixup! drivers: caam: Add AES GCM
  core/drivers/crypto/caam/ae/caam_ae.c
  core/drivers/crypto/caam/ae/caam_ae_gcm.c
  core/drivers/crypto/caam/ae/local.h
  core/drivers/crypto/caam/ae/sub.mk
Owners: @OP-TEE/linaro

fixup! drivers: caam: Add AES CCM
  core/drivers/crypto/caam/ae/caam_ae_ccm.c
Owners: @OP-TEE/linaro

driver: crypto: hisilicon: add RSA algorithm
  core/drivers/crypto/hisilicon/crypto.mk
  core/drivers/crypto/hisilicon/hpre_rsa.c
  core/drivers/crypto/hisilicon/hpre_rsa.h
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: remove deprecated shared_resource driver
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
  core/arch/arm/plat-stm32mp1/sub.mk
Owners: @OP-TEE/linaro

plat-stm32mp2: remove deprecated shared_resource stub functions
  core/arch/arm/plat-stm32mp2/stm32_util.h
Owners: @OP-TEE/linaro

drivers: regulator: fix missing header file in stm32mp13_regulator_iod
  core/drivers/regulator/stm32mp13_regulator_iod.c
Owners: @OP-TEE/linaro

plat-stm32mp1: stm32_util.h: remove unused include files
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

plat-stm32mp1: remove incr_refcnt()/decr_refcnt()
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

driver: crypto: hisilicon: add RSA algorithm
  core/drivers/crypto/hisilicon/crypto.mk
  core/drivers/crypto/hisilicon/hpre_rsa.c
  core/drivers/crypto/hisilicon/hpre_rsa.h
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

ci: QEMUv8: disable fTPM with pager
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: QEMUv8: disable fTPM with pager
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

clk: fix clk_get_rate() when parent clock rate was changed
  core/drivers/clk/clk.c
Owners: @OP-TEE/linaro

dt-bindings: stm32: fix CLKSRC for RTC in stm32mp13 clock bindings
  core/include/dt-bindings/clock/stm32mp13-clksrc.h
Owners: @OP-TEE/linaro

drivers: rtc: add time comparison in RTC API
  core/drivers/rtc/rtc.c
  core/include/drivers/rtc.h
Owners: @OP-TEE/linaro

plat-stm32mp2: remove deprecated shared_resource stub functions
  core/arch/arm/plat-stm32mp2/stm32_util.h
Owners: @OP-TEE/linaro

plat-stm32mp1: remove deprecated shared_resource driver
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
  core/arch/arm/plat-stm32mp1/sub.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: stm32_util.h: remove unused include files
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

drivers: regulator: fix missing header file in stm32mp13_regulator_iod
  core/drivers/regulator/stm32mp13_regulator_iod.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
