Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: caam: improve empty aad updates
  core/drivers/crypto/caam/ae/caam_ae.c
Owners: @OP-TEE/linaro

core: riscv: kernel: add hart index sanity check
  core/arch/riscv/kernel/thread_rv.S
Owners: @OP-TEE/linaro

core: riscv: kernel: simplify hartid query API
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/sbi_mpxy.c
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: kernel: simplify hartid query API
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/sbi_mpxy.c
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: kernel: add hart index sanity check
  core/arch/riscv/kernel/thread_rv.S
Owners: @OP-TEE/linaro

MAINTAINERS: update Jerome's e-mail address
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: update Joakim's details
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: remove Amit (AllWinner sun50i A64)
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: update Ahmed's e-mail address
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: update Etienne's e-mail address
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: update Ahmed's e-mail address
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: remove Amit (AllWinner sun50i A64)
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: update Etienne's e-mail address
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: update Joakim's details
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: update Jerome's e-mail address
  MAINTAINERS
Owners: @OP-TEE/approvers

core: only dump ftrace buffer with TA mapped
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

zynqmp: add flavors for kria starter kits
  core/arch/arm/plat-zynqmp/conf.mk
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

zynqmp: add platform_banner for ZynqMP
  core/arch/arm/plat-zynqmp/main.c
Owners: @OP-TEE/plat-zynqmp

core: user_ta: fix cleared userspace PAUTH keys
  core/kernel/user_ta.c
Owners: @OP-TEE/linaro

core: mm: add extra xlat table when core ASan is enabled
  core/arch/arm/mm/core_mmu_lpae.c
Owners: @OP-TEE/linaro

core: only dump ftrace buffer with TA mapped
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: fix clearing the error bit
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

core: plat-imx: i.MX6 CA9 has no generic timer
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/main.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx_ocotp: fix imx_ocotp_read g_base_addr and g_ocotp check
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: fix error/busy defines for i.MX8MP
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

zynqmp: add flavors for kria starter kits
  core/arch/arm/plat-zynqmp/conf.mk
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

zynqmp: add platform_banner for ZynqMP
  core/arch/arm/plat-zynqmp/main.c
Owners: @OP-TEE/plat-zynqmp

ta: pkcs11: close_persistent_db() should free memory
  ta/pkcs11/src/persistent_token.c
Owners: @OP-TEE/linaro

core: dt: fix add_res_mem_dt_node for _CFG_USE_DTB_OVERLAY use-cases
  core/kernel/dt.c
Owners: @OP-TEE/linaro

core: dt: add support to pass target-path to add_dt_overlay_fragment
  core/kernel/dt.c
Owners: @OP-TEE/linaro

core: dt: add add_dt_node_overlay_fragment helper
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro

core: dt: add overlay support to dt_enable_secure_status
  core/kernel/dt.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: make use of hw timers during ocotp_ctrl_wait_for
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

core: user_ta: fix cleared userspace PAUTH keys
  core/kernel/user_ta.c
Owners: @OP-TEE/linaro

plat-stm32mp1: default enable CFG_STM32_DEBUG_ACCESS_PTA
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

pta: stm32mp: add debug access PTA
  core/drivers/stm32_bsec.c
  core/include/drivers/stm32_bsec.h
  core/pta/stm32mp/debug_access_pta.c
  core/pta/stm32mp/sub.mk
  lib/libutee/include/pta_stm32mp_debug_access.h
Owners: @OP-TEE/linaro

plat-marvell: register DDR for dynamic shared memory
  core/arch/arm/plat-marvell/main.c
Owners: @OP-TEE/plat-marvell, @kevin-peng-hao

ta: pkcs11: add indestructible objects attribute.
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/attributes.h
  ta/pkcs11/src/object.c
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/pkcs11_attributes.h
  ta/pkcs11/src/pkcs11_helpers.c
  ta/pkcs11/src/pkcs11_token.c
  ta/pkcs11/sub.mk
Owners: @OP-TEE/linaro

core: atomic ftrace buffer map update
  core/arch/arm/kernel/thread.c
  core/kernel/tee_ta_manager.c
  core/kernel/ts_manager.c
Owners: @OP-TEE/linaro

core: atomic ftrace buffer map update
  core/arch/arm/kernel/thread.c
  core/kernel/tee_ta_manager.c
  core/kernel/ts_manager.c
Owners: @OP-TEE/linaro
