Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: clk: move clk_get_num_parents() implement in C source
  core/drivers/clk/clk.c
  core/include/drivers/clk.h
Owners: @OP-TEE/linaro

plat-sam: include sama5d2.h file necessary for some values
  core/arch/arm/plat-sam/platform_config.h
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: enable atmel trng driver
  core/arch/arm/dts/sama5d2.dtsi
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-sam, @nodeax

drivers: add atmel trng driver
  core/drivers/atmel_trng.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

drivers: crypto: rsa/ecc/dsa: input parameter validation
  core/drivers/crypto/crypto_api/acipher/dsa.c
  core/drivers/crypto/crypto_api/acipher/ecc.c
  core/drivers/crypto/crypto_api/acipher/rsa.c
Owners: @OP-TEE/linaro

drivers: imx: add MU driver
  core/drivers/imx_mu.c
  core/drivers/sub.mk
  core/include/drivers/imx_mu.h
Owners: @OP-TEE/linaro

plat-stm32mp1: clk: remove useless static array
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
Owners: @OP-TEE/linaro

plat-stm32mp1: clk: refine always on clocks
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
Owners: @OP-TEE/linaro

plat-stm32mp1: clk: fix const attribute in function arguments
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
Owners: @OP-TEE/linaro

plat-stm32mp1: clk: move functions in source file
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
Owners: @OP-TEE/linaro

plat-stm32mp1: clk: panic on driver init failure
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
Owners: @OP-TEE/linaro

drivers: crypto: rsa/ecc/dsa: input parameter validation
  core/drivers/crypto/crypto_api/acipher/dsa.c
  core/drivers/crypto/crypto_api/acipher/ecc.c
  core/drivers/crypto/crypto_api/acipher/rsa.c
Owners: @OP-TEE/linaro

plat: zynqmp: register ddr for dyn shm support
  core/arch/arm/plat-zynqmp/main.c
Owners: @OP-TEE/plat-zynqmp

core: fix ASLR problem with short-descriptor table mappings
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

plat: zynqmp: register ddr for dyn shm support
  core/arch/arm/plat-zynqmp/main.c
Owners: @OP-TEE/plat-zynqmp

core: fix ASLR problem with short-descriptor table mappings
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: pm: add a name to registered pm_callback_handle
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/drivers/crypto/caam/caam_pwr.c
  core/drivers/stm32_etzpc.c
  core/include/kernel/pm.h
  core/kernel/pm.c
Owners: @OP-TEE/linaro

core: kernel: pm: refine suspend/resume sequence order
  core/kernel/pm.c
Owners: @OP-TEE/linaro

core: kernel: pm: initialize local variables
  core/kernel/pm.c
Owners: @OP-TEE/linaro

core: pta: socket: enable TA to query recv out buffer
  core/tee/socket.c
Owners: @OP-TEE/linaro

core: Add FFA_PARTITION_INFO
  core/arch/arm/include/ffa.h
  core/arch/arm/include/kernel/secure_partition.h
  core/arch/arm/include/kernel/thread_spmc.h
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/spmc_sp_handler.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: pta: socket: enable TA to query recv out buffer
  core/tee/socket.c
Owners: @OP-TEE/linaro

ci: azure: add job to build and run the Rust tests
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

core: Add FFA_PARTITION_INFO
  core/arch/arm/include/ffa.h
  core/arch/arm/include/kernel/secure_partition.h
  core/arch/arm/include/kernel/thread_spmc.h
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/spmc_sp_handler.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

drivers: imx: add MU driver
  core/drivers/imx_mu.c
  core/drivers/sub.mk
  core/include/drivers/imx_mu.h
Owners: @OP-TEE/linaro

core: kernel: use size_t instead of ssize_t for _fdt_reg_size()
  core/arch/arm/plat-ls/main.c
  core/drivers/crypto/caam/hal/common/hal_cfg_dt.c
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/linaro

core: kernel: add reg_size in the dt_node_info structure
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro

drivers: stm32_i2c: use reg_size to map virtual addresses
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

drivers: stm32_uart: use reg_size to map virtual addresses
  core/drivers/stm32_uart.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: use reg_size to map virtual addresses
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

zynqmp: define the STACK_ALIGNMENT in terms of CACHELINE
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

zynqmp: add base address definitions
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

zynqmp: register the CSU memory with the platform
  core/arch/arm/plat-zynqmp/main.c
Owners: @OP-TEE/plat-zynqmp

zynqmp: drivers: CSU module base definitions
  core/include/drivers/zynqmp_csu.h
Owners: @OP-TEE/linaro

zynqmp: drivers: Physically Unclonable Function (PUF)
  core/arch/arm/plat-zynqmp/conf.mk
  core/drivers/sub.mk
  core/drivers/zynqmp_csu_puf.c
  core/include/drivers/zynqmp_csu_puf.h
Owners: @OP-TEE/plat-zynqmp, @OP-TEE/linaro

zynqmp: drivers: AES-GCM with PUF KEK
  core/arch/arm/plat-zynqmp/conf.mk
  core/drivers/sub.mk
  core/drivers/zynqmp_csu_aes.c
  core/include/drivers/zynqmp_csu_aes.h
Owners: @OP-TEE/plat-zynqmp, @OP-TEE/linaro

zynqmp: drivers: CSUDMA module
  core/arch/arm/plat-zynqmp/conf.mk
  core/drivers/sub.mk
  core/drivers/zynqmp_csudma.c
  core/include/drivers/zynqmp_csudma.h
Owners: @OP-TEE/plat-zynqmp, @OP-TEE/linaro

zynqmp: platform: use HUK derived from PUF KEK for RPMB
  core/arch/arm/plat-zynqmp/conf.mk
  core/arch/arm/plat-zynqmp/main.c
Owners: @OP-TEE/plat-zynqmp

zynqmp: drivers: PM firmware
  core/arch/arm/plat-zynqmp/conf.mk
  core/drivers/sub.mk
  core/drivers/zynqmp_pm.c
  core/include/drivers/zynqmp_efuse.h
  core/include/drivers/zynqmp_pm.h
Owners: @OP-TEE/plat-zynqmp, @OP-TEE/linaro

zynqmp: drivers: generate HUK from PUF KEK
  core/arch/arm/plat-zynqmp/conf.mk
  core/drivers/sub.mk
  core/drivers/zynqmp_csu_puf.c
  core/drivers/zynqmp_huk.c
  core/include/drivers/zynqmp_csu.h
Owners: @OP-TEE/plat-zynqmp, @OP-TEE/linaro
