Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

plat-qcom: bobcat: enable the TME-Lite stack
  core/arch/arm/plat-qcom/bobcat/arch_config.h
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target.mk
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target_config.h
  core/arch/arm/plat-qcom/bobcat/ipq96xx/target.mk
  core/arch/arm/plat-qcom/bobcat/ipq96xx/target_config.h
  core/arch/arm/plat-qcom/bobcat/qcom-arch.mk
Owners: @OP-TEE/linaro

[REVIEW] core: arm: simplify dtb_max_sz clamp using MIN()
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

crypto: asu: add SHAKE256 support
  core/drivers/crypto/asu_driver/asu_hash.c
Owners: @OP-TEE/linaro

ci: Add workflow to build container image for build and test jobs in-tree
  .github/workflows/ci-images.yml
  scripts/ci-images/Dockerfile.build
  scripts/ci-images/get_optee.sh
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: Drop unneeded git safe.directory statement
  .github/actions/qemu-checks/action.yml
Owners: @OP-TEE/approvers

ci: Make manifest owner configurable
  .github/workflows/qemu-checks-image.yml
  scripts/ci-images/get_optee.sh
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: Consolidate QEMU checks steps into a composite action
  .github/actions/qemu-checks/action.yml
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: Harden fetching of llvm
  scripts/ci-images/Dockerfile.build
Owners: @OP-TEE/linaro

ci: Switch to new ci-build-image
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: Drop exceptions from BTI+MTE+PAC check
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: Use repo tool from Debian
  scripts/ci-images/Dockerfile.build
Owners: @OP-TEE/linaro

ci: Consolidate QEMU image builds into a reusable workflow
  .github/workflows/ci.yml
  .github/workflows/qemu-checks-image.yml
Owners: @OP-TEE/approvers

ci: Modernize the ci-buidl-image with Debian 13
  .github/workflows/ci.yml
  scripts/ci-images/Dockerfile.build
Owners: @OP-TEE/approvers, @OP-TEE/linaro

plat-versal2: fallback to software PRNG when ASU TRNG is disabled
  core/arch/arm/plat-versal2/conf.mk
Owners: @OP-TEE/linaro

core: ltc: make mp_to_unsigned_bin2() bounds checked
  core/lib/libtomcrypt/acipher_helpers.h
  core/lib/libtomcrypt/mpi_desc.c
  core/lib/libtomcrypt/sm2-dsa.c
  core/lib/libtomcrypt/sm2-kep.c
  core/lib/libtomcrypt/sm2-pke.c
Owners: @OP-TEE/linaro

core: ltc: validate SM2 KEP public keys
  core/lib/libtomcrypt/sm2-kep.c
Owners: @OP-TEE/linaro

core: storage: preallocate object ID before rename
  core/include/tee/tee_pobj.h
  core/tee/tee_pobj.c
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

core: ltc: check public key before DH derivation
  core/lib/libtomcrypt/dh.c
  lib/libutee/include/tee_api_defines.h
Owners: @OP-TEE/linaro

core: riscv: read hart index from thread_core_local in cpu_is_ready
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: release secondary harts after boot_init_secondary()
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

plat-versal2: fallback to software PRNG when ASU TRNG is disabled
  core/arch/arm/plat-versal2/conf.mk
Owners: @OP-TEE/linaro

drivers: qcom: rpmh: fix AMC completion tracking
  core/drivers/qcom/qfprom/kodiak/qfprom_fuse_region.c
  core/drivers/qcom/rpmh/rpmh_client.c
  core/drivers/qcom/rpmh/rpmh_hal.c
  core/drivers/qcom/rpmh/rpmh_hal.h
  core/drivers/qcom/rpmh/rpmh_tcs.c
  core/include/drivers/qcom/rpmh/rpmh_client.h
Owners: @OP-TEE/linaro

drivers: qcom: rpmh: drop unused multi-DRV/TCS scaffolding
  core/drivers/qcom/rpmh/rpmh_client.c
  core/drivers/qcom/rpmh/rpmh_drv_config.c
  core/drivers/qcom/rpmh/rpmh_drv_config.h
  core/drivers/qcom/rpmh/rpmh_hal.c
  core/drivers/qcom/rpmh/rpmh_hal.h
  core/drivers/qcom/rpmh/rpmh_resource_commands.c
  core/drivers/qcom/rpmh/rpmh_resource_commands.h
  core/drivers/qcom/rpmh/rpmh_target_config.h
  core/drivers/qcom/rpmh/rpmh_tcs.c
  core/drivers/qcom/rpmh/rpmh_tcs.h
  core/drivers/qcom/rpmh/sub.mk
  core/include/drivers/qcom/rpmh/rpmh_client.h
Owners: @OP-TEE/linaro

drivers: qcom: cmd_db: simplify lookup, harden scan
  core/drivers/qcom/cmd_db/cmd_db.c
  core/include/drivers/qcom/cmd_db/cmd_db.h
Owners: @OP-TEE/linaro

drivers: qcom: rpmh: move register layout to a per-family header
  core/drivers/qcom/rpmh/hoya/rpmh_target.h
  core/drivers/qcom/rpmh/rpmh_client.c
  core/drivers/qcom/rpmh/rpmh_hal.c
  core/drivers/qcom/rpmh/rpmh_hal.h
  core/drivers/qcom/rpmh/sub.mk
Owners: @OP-TEE/linaro

MAINTAINERS: add Dinesh Choudhary as co-maintainer for QCOM RPMH & CMD_DB
  MAINTAINERS
Owners: @OP-TEE/approvers

core: storage: preallocate object ID before rename
  core/include/tee/tee_pobj.h
  core/tee/tee_pobj.c
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

drivers: asu: fix dangling asu pointer use-after-free
  core/drivers/amd/asu/asu_main.c
Owners: @OP-TEE/linaro

crypto: asu: fix RSASSA software fallback path
  core/drivers/crypto/asu_driver/asu_rsa.c
Owners: @OP-TEE/linaro

core: mbedtls: fix RSA context cleanup on failure
  lib/libmbedtls/core/rsa.c
Owners: @OP-TEE/linaro

MAINTAINERS: add Dinesh Choudhary as co-maintainer for QCOM RPMH & CMD_DB
  MAINTAINERS
Owners: @OP-TEE/approvers

drivers: qcom: rpmh: drop unused multi-DRV/TCS scaffolding
  core/drivers/qcom/rpmh/rpmh_client.c
  core/drivers/qcom/rpmh/rpmh_drv_config.c
  core/drivers/qcom/rpmh/rpmh_drv_config.h
  core/drivers/qcom/rpmh/rpmh_hal.c
  core/drivers/qcom/rpmh/rpmh_hal.h
  core/drivers/qcom/rpmh/rpmh_resource_commands.c
  core/drivers/qcom/rpmh/rpmh_resource_commands.h
  core/drivers/qcom/rpmh/rpmh_target_config.h
  core/drivers/qcom/rpmh/rpmh_tcs.c
  core/drivers/qcom/rpmh/rpmh_tcs.h
  core/drivers/qcom/rpmh/sub.mk
  core/include/drivers/qcom/rpmh/rpmh_client.h
Owners: @OP-TEE/linaro

drivers: qcom: rpmh: fix AMC completion tracking
  core/drivers/qcom/qfprom/kodiak/qfprom_fuse_region.c
  core/drivers/qcom/rpmh/rpmh_client.c
  core/drivers/qcom/rpmh/rpmh_hal.c
  core/drivers/qcom/rpmh/rpmh_hal.h
  core/drivers/qcom/rpmh/rpmh_tcs.c
  core/include/drivers/qcom/rpmh/rpmh_client.h
Owners: @OP-TEE/linaro

drivers: qcom: rpmh: move register layout to a per-family header
  core/drivers/qcom/rpmh/hoya/rpmh_target.h
  core/drivers/qcom/rpmh/rpmh_client.c
  core/drivers/qcom/rpmh/rpmh_hal.c
  core/drivers/qcom/rpmh/rpmh_hal.h
  core/drivers/qcom/rpmh/sub.mk
Owners: @OP-TEE/linaro

drivers: qcom: cmd_db: simplify lookup, harden scan
  core/drivers/qcom/cmd_db/cmd_db.c
  core/include/drivers/qcom/cmd_db/cmd_db.h
Owners: @OP-TEE/linaro

plat-qcom: ipq96xx: enable CDSP PAS support
  core/arch/arm/plat-qcom/bobcat/ipq96xx/target.mk
  core/arch/arm/plat-qcom/bobcat/ipq96xx/target_config.h
Owners: @OP-TEE/linaro

pta: qcom: pas: ipq96xx: add CDSP remoteproc bring-up
  core/drivers/clk/qcom/platform/ipq96xx/clock-qcom-pas.c
  core/drivers/clk/qcom/platform/ipq96xx/clock_group_qcom.h
  core/pta/qcom/pas/pas_core.c
  core/pta/qcom/pas/platform/ipq96xx/cdsp.c
  core/pta/qcom/pas/platform/ipq96xx/cdsp.h
  core/pta/qcom/pas/platform/ipq96xx/sub.mk
  core/pta/qcom/pas/platform/ipq96xx/subsys.c
  core/pta/qcom/pas/platform/pas_data.h
  lib/libutee/include/pta_qcom_pas.h
Owners: @OP-TEE/linaro

plat-qcom: wildcat: nord: Fix DRAM address mappings
  core/arch/arm/plat-qcom/main.c
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
Owners: @OP-TEE/linaro

drivers: crypto: ele: add plain-text ECDSA sign and verify
  core/drivers/crypto/ele/include/sign_verify.h
  core/drivers/crypto/ele/sign_verify.c
Owners: @OP-TEE/linaro

plat-imx: enable ELE ECC driver for i.MX91 and i.MX93
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue
