Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: qcom: qfprom: add Lemans secure-boot platform configuration
  core/drivers/qcom/qfprom/lemans/qfprom_target.h
Owners: @OP-TEE/linaro

drivers: qcom: qfprom: add secure-boot fuse accessors
  core/drivers/qcom/qfprom/qfprom_secboot.c
  core/drivers/qcom/qfprom/sub.mk
  core/include/drivers/qcom/qfprom/qfprom.h
Owners: @OP-TEE/linaro

pta: qcom: fuse: expose secure-boot fuses to user TAs
  core/pta/qcom/fuse/pta_qcom_fuse.c
  core/pta/qcom/fuse/sub.mk
  core/pta/qcom/sub.mk
  lib/libutee/include/pta_qcom_fuse.h
Owners: @OP-TEE/linaro

ta: qcom_pas: add MBN metadata decoder and retype the hash-segment parser
  ta/qcom_pas/include/auth/pas_mbn.h
  ta/qcom_pas/include/auth/pas_meta.h
  ta/qcom_pas/src/auth/pas_mbn.c
  ta/qcom_pas/src/auth/pas_meta.c
Owners: @OP-TEE/linaro

ta: qcom_pas: add fuse-PTA session helper
  ta/qcom_pas/include/auth/pas_fuse.h
  ta/qcom_pas/src/auth/pas_fuse.c
  ta/qcom_pas/src/auth/sub.mk
Owners: @OP-TEE/linaro

ta: qcom_pas: verify image signature and device bindings
  ta/qcom_pas/include/auth/pas_auth.h
  ta/qcom_pas/include/auth/pas_meta.h
  ta/qcom_pas/include/auth/pas_policy.h
  ta/qcom_pas/include/auth/pas_sig.h
  ta/qcom_pas/include/auth/pas_sig_auth.h
  ta/qcom_pas/src/auth/lemans/pas_policy_platform.h
  ta/qcom_pas/src/auth/pas_auth.c
  ta/qcom_pas/src/auth/pas_meta.c
  ta/qcom_pas/src/auth/pas_policy.c
  ta/qcom_pas/src/auth/pas_sig.c
  ta/qcom_pas/src/auth/pas_sig_auth.c
  ta/qcom_pas/src/auth/sub.mk
  ta/qcom_pas/src/qcom_pas.c
  ta/qcom_pas/src/user_ta_header_defines.h
  ta/qcom_pas/user_ta.mk
Owners: @OP-TEE/linaro

plat-qcom: hoya: lemans: wire up fuse PTA and QFPROM for PAS authentication
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
Owners: @OP-TEE/linaro

ta: avb: provide method for obtaining non-truncated value
  ta/avb/entry.c
  ta/avb/include/ta_avb.h
Owners: @OP-TEE/linaro

crypto: asu: add support for CMAC in ASU
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_authenc.c
  core/drivers/crypto/asu_driver/crypto.mk
Owners: @OP-TEE/linaro

crypto: asu: use plain comment style for function documentation
  core/drivers/crypto/asu_driver/asu_authenc.c
  core/drivers/crypto/asu_driver/asu_hash.c
Owners: @OP-TEE/linaro

crypto: asu: add SHAKE256 support
  core/drivers/crypto/asu_driver/asu_hash.c
Owners: @OP-TEE/linaro

[REVIEW] crypto: asu: address review comments for SHAKE256
  core/drivers/crypto/asu_driver/asu_hash.c
Owners: @OP-TEE/linaro

core: crypto: reject weak RSA subkeys in load_rsa_key()
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro

core: crypto: check subkey's own size in shdr_verify_signature2()
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro

ci: Do not cancel in-progress master branches
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: tee_ta_manager: take busy state before closing a session
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

ta: qcom_pas: add fuse-PTA session helper
  ta/qcom_pas/include/auth/pas_fuse.h
  ta/qcom_pas/src/auth/pas_fuse.c
  ta/qcom_pas/src/auth/sub.mk
Owners: @OP-TEE/linaro

pta: qcom: fuse: expose secure-boot fuses to user TAs
  core/pta/qcom/fuse/pta_qcom_fuse.c
  core/pta/qcom/fuse/sub.mk
  core/pta/qcom/sub.mk
  lib/libutee/include/pta_qcom_fuse.h
Owners: @OP-TEE/linaro

drivers: qcom: qfprom: add Lemans secure-boot platform configuration
  core/drivers/qcom/qfprom/lemans/qfprom_target.h
Owners: @OP-TEE/linaro

ta: qcom_pas: verify image signature and device bindings
  ta/qcom_pas/include/auth/pas_auth.h
  ta/qcom_pas/include/auth/pas_meta.h
  ta/qcom_pas/include/auth/pas_policy.h
  ta/qcom_pas/include/auth/pas_sig.h
  ta/qcom_pas/include/auth/pas_sig_auth.h
  ta/qcom_pas/src/auth/lemans/pas_policy_platform.h
  ta/qcom_pas/src/auth/pas_auth.c
  ta/qcom_pas/src/auth/pas_meta.c
  ta/qcom_pas/src/auth/pas_policy.c
  ta/qcom_pas/src/auth/pas_sig.c
  ta/qcom_pas/src/auth/pas_sig_auth.c
  ta/qcom_pas/src/auth/sub.mk
  ta/qcom_pas/src/qcom_pas.c
  ta/qcom_pas/src/user_ta_header_defines.h
  ta/qcom_pas/user_ta.mk
Owners: @OP-TEE/linaro

drivers: qcom: qfprom: add secure-boot fuse accessors
  core/drivers/qcom/qfprom/qfprom_secboot.c
  core/drivers/qcom/qfprom/sub.mk
  core/include/drivers/qcom/qfprom/qfprom.h
Owners: @OP-TEE/linaro

plat-qcom: hoya: lemans: wire up fuse PTA and QFPROM for PAS authentication
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
Owners: @OP-TEE/linaro

pta: qcom: pas: prepare for PAS signature authentication
  core/pta/qcom/pas/pas_auth.c
  core/pta/qcom/pas/platform/kodiak/dsp_fw.c
  core/pta/qcom/pas/platform/pas_data.h
  lib/libutee/include/pta_qcom_pas.h
Owners: @OP-TEE/linaro

ta: qcom_pas: add MBN metadata decoder and retype the hash-segment parser
  ta/qcom_pas/include/auth/pas_mbn.h
  ta/qcom_pas/include/auth/pas_meta.h
  ta/qcom_pas/src/auth/pas_mbn.c
  ta/qcom_pas/src/auth/pas_meta.c
Owners: @OP-TEE/linaro

libutee: support destData discard in TEE_AEEncryptFinal()
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

libutee: support destData discard in TEE_CipherDoFinal()
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

libutee: check destData against NULL in TEE_AEDecryptFinal()
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

libutee: support destData discard in TEE_AEDecryptFinal()
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

libutee: fix digest final short-buffer handling after extraction
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

plat-stm32mp2: add BSEC3 OTP driver and enable BSEC PTA
  core/arch/arm/plat-stm32mp2/conf.mk
  core/arch/arm/plat-stm32mp2/main.c
  core/arch/arm/plat-stm32mp2/platform_config.h
  core/arch/arm/plat-stm32mp2/stm32_util.h
  core/drivers/stm32_bsec3.c
  core/drivers/sub.mk
  core/pta/stm32mp/bsec_pta.c
Owners: @OP-TEE/linaro

core: Report optional vendor version via GET_OS_REVISION SMC
  core/arch/arm/tee/entry_fast.c
  core/arch/riscv/tee/entry_fast.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: crypto: check subkey's own size in shdr_verify_signature2()
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro

core: crypto: reject weak RSA subkeys in load_rsa_key()
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro

libutee: validate TEE_ReadObjectData output buffer
  lib/libutee/tee_api_objects.c
Owners: @OP-TEE/linaro

core: rcar-gen5: Add Renesas R-Car Gen5 support
  MAINTAINERS
  core/arch/arm/plat-rcar_gen5/conf.mk
  core/arch/arm/plat-rcar_gen5/link.mk
  core/arch/arm/plat-rcar_gen5/main.c
  core/arch/arm/plat-rcar_gen5/platform_config.h
  core/arch/arm/plat-rcar_gen5/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

core: stmm: separate FF-A handling from stmm_sp
  core/arch/arm/include/kernel/stmm_sp.h
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/stmm_sp_ffa.c
  core/arch/arm/kernel/stmm_sp_ffa.h
  core/arch/arm/kernel/sub.mk
Owners: @OP-TEE/linaro

core: stmm: make the FF-A ABI version selectable
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/stmm_sp_ffa.c
  core/arch/arm/kernel/stmm_sp_ffa.h
  core/arch/arm/kernel/stmm_sp_ffa_1_1.c
  core/arch/arm/kernel/stmm_sp_ffa_1_2.c
  core/arch/arm/kernel/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

ta: qcom_pas: enforce anti-rollback and multi-root certificate selection
  ta/qcom_pas/include/auth/pas_policy.h
  ta/qcom_pas/include/auth/pas_sig.h
  ta/qcom_pas/include/auth/pas_sig_auth.h
  ta/qcom_pas/src/auth/lemans/pas_policy_platform.h
  ta/qcom_pas/src/auth/pas_auth.c
  ta/qcom_pas/src/auth/pas_policy.c
  ta/qcom_pas/src/auth/pas_sig.c
  ta/qcom_pas/src/auth/pas_sig_auth.c
Owners: @OP-TEE/linaro

drivers: qcom: qfprom: add PIL anti-rollback fuse accessors
  core/drivers/qcom/qfprom/lemans/qfprom_target.h
  core/drivers/qcom/qfprom/qfprom_secboot.c
  core/include/drivers/qcom/qfprom/qfprom.h
Owners: @OP-TEE/linaro

drivers: qcom: qfprom: add multi-root-certificate fuse accessor
  core/drivers/qcom/qfprom/lemans/qfprom_target.h
  core/drivers/qcom/qfprom/qfprom_secboot.c
  core/include/drivers/qcom/qfprom/qfprom.h
Owners: @OP-TEE/linaro
