Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

core: copy ctx_finalize in syscall_cryp_state_copy()
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

libutee: TEE_CopyOperation() check operation mode
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

core: tzc380: restart search at full size
  core/drivers/tzc380.c
Owners: @OP-TEE/linaro

drivers: crypto: se050: die_id generation
  core/drivers/crypto/se050/core/huk.c
Owners: @OP-TEE/linaro

plat-rockchip: mark parameters as __maybe_unused in platform_secure_ddr_region
  core/arch/arm/plat-rockchip/platform.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

drivers: crypto: se050: die_id generation
  core/drivers/crypto/se050/core/huk.c
Owners: @OP-TEE/linaro

core: tzc380: restart search at full size
  core/drivers/tzc380.c
Owners: @OP-TEE/linaro

plat-rockchip: mark parameters as __maybe_unused in platform_secure_ddr_region
  core/arch/arm/plat-rockchip/platform.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

libutee: TEE_CopyOperation() copy info.digestLength
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

libutee: fix TEE_BigIntInit() memset()
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

core: copy ctx_finalize in syscall_cryp_state_copy()
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: copy mode in cts_copy_state()
  core/crypto/aes-cts.c
Owners: @OP-TEE/linaro

libutee: TEE_CopyOperation() check operation mode
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

libutee: TEE_CopyOperation() copy info.digestLength
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

core: add barrier_read_cntpct()
  core/arch/arm/include/arm.h
Owners: @OP-TEE/linaro

libutee: add isb() and barrier_read_cntpct()
  lib/libutee/include/arm_user_sysreg.h
Owners: @OP-TEE/linaro

Use barrier_read_cntpct() to read CNTPCT
  core/arch/arm/include/kernel/delay.h
  core/arch/arm/kernel/tee_time_arm_cntpct.c
  core/kernel/tee_ta_manager.c
  lib/libutils/ext/ftrace/ftrace.c
Owners: @OP-TEE/linaro

libutee: fix TEE_BigIntInit() memset()
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

Use barrier_read_cntpct() to read CNTPCT
  core/arch/arm/include/kernel/delay.h
  core/arch/arm/kernel/tee_time_arm_cntpct.c
  core/kernel/tee_ta_manager.c
  lib/libutils/ext/ftrace/ftrace.c
Owners: @OP-TEE/linaro

libutee: add isb() and barrier_read_cntpct()
  lib/libutee/include/arm_user_sysreg.h
Owners: @OP-TEE/linaro

core: add barrier_read_cntpct()
  core/arch/arm/include/arm.h
Owners: @OP-TEE/linaro

plat-ls: register dynamic shared memory for lx2160a
  core/arch/arm/plat-ls/main.c
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

core: rpmb fs uses mempool for temporary transfer buffers
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: change tee_pager_alloc() to support rw memory
  core/arch/arm/include/mm/tee_pager.h
  core/arch/arm/mm/pgt_cache.c
  core/arch/arm/mm/tee_pager.c
  core/lib/libtomcrypt/mpi_desc.c
Owners: @OP-TEE/linaro

core: relax default mempool to pageable memory
  core/arch/arm/mm/tee_pager.c
  core/lib/libtomcrypt/mpi_desc.c
Owners: @OP-TEE/linaro

core: reserve devices for exclusive OP-TEE usage
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

ta: pkcs11: Fix the error code returned
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: Temporary workaround in sanitize_indirect_attr()
  ta/pkcs11/src/sanitize_object.c
Owners: @OP-TEE/linaro

ta: pkcs11: Temporary workaround in sanitize_indirect_attr()
  ta/pkcs11/src/sanitize_object.c
Owners: @OP-TEE/linaro

ta: pkcs11: Fix the error code returned
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

drivers: crypto: se050: limitations to RSA crypto
  core/drivers/crypto/se050/core/rsa.c
Owners: @OP-TEE/linaro

shippable: imx8mm/imx6ull: add plug and trust support
  .shippable.yml
Owners: @OP-TEE/linaro

shippable: imx8mm/imx6ull: add plug and trust support
  .shippable.yml
Owners: @OP-TEE/linaro

Check prime number before using it to generate DH key.
  core/lib/libtomcrypt/dh.c
Owners: @OP-TEE/linaro

ta: pkcs11: Define command for Key Generation
  ta/pkcs11/include/pkcs11_ta.h
Owners: @OP-TEE/linaro

ta: pkcs11: Define TA mechanisms for Key Generation
  ta/pkcs11/include/pkcs11_ta.h
Owners: @OP-TEE/linaro

ta: pkcs11: Add support for Key Generation
  ta/pkcs11/src/attributes.c
  ta/pkcs11/src/attributes.h
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/pkcs11_helpers.c
  ta/pkcs11/src/processing.c
  ta/pkcs11/src/processing.h
  ta/pkcs11/src/token_capabilities.c
Owners: @OP-TEE/linaro

ta: pkcs11: Fix for CKA_LOCAL in create_attributes_from_template()
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: Fix for CKA_KEY_GEN_MECHANISM in create_attributes_from_template()
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: Add class and type hint in sanitize_client_object()
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/sanitize_object.c
  ta/pkcs11/src/sanitize_object.h
Owners: @OP-TEE/linaro
