Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

ta: mk: make sign tool configurable
  ta/arch/arm/link.mk
  ta/arch/arm/link_shlib.mk
Owners: @OP-TEE/linaro

trace: get thread_id right in print_thread_id()
  lib/libutils/ext/trace.c
Owners: @OP-TEE/linaro

trace: print core id if in atomic context
  lib/libutils/ext/trace.c
  mk/config.mk
Owners: @OP-TEE/linaro

trace: check for CFG_MSG_LONG_PREFIX_MASK only once per message
  lib/libutils/ext/trace.c
Owners: @OP-TEE/linaro

ci: travis: do not build with legacy compiler (GCC 4.9) anymore
  .travis.yml
Owners: @OP-TEE/linaro

ta: mk: make sign tool configurable
  ta/arch/arm/link.mk
  ta/arch/arm/link_shlib.mk
Owners: @OP-TEE/linaro

core_self_tests.c: fix p1=realloc(p1) issue
  core/arch/arm/pta/core_self_tests.c
Owners: @OP-TEE/linaro

core_self_tests.c: fix p1=realloc(p1) issue
  core/arch/arm/pta/core_self_tests.c
Owners: @OP-TEE/linaro

arm32: add assembly directive: .arch_extension sec
  core/arch/arm/kernel/generic_entry_a32.S
  core/arch/arm/kernel/thread_a32.S
  core/arch/arm/plat-ti/a9_plat_init.S
Owners: @OP-TEE/linaro, @OP-TEE/plat-ti, @glneo

arm32: add assembly directive: .arch_extension sec
  core/arch/arm/kernel/generic_entry_a32.S
  core/arch/arm/kernel/thread_a32.S
  core/arch/arm/plat-ti/a9_plat_init.S
Owners: @OP-TEE/linaro, @OP-TEE/plat-ti, @glneo

imx: cleanup configuraiton
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/config/config_imx7.h
  core/arch/arm/plat-imx/config/imx6sx.h
  core/arch/arm/plat-imx/platform_config.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

imx: update README.md/MAINTAINERS
  MAINTAINERS
  README.md
Owners: @OP-TEE/approvers, @OP-TEE/linaro

shippable: remove uneccessary macros for mx6ul/ullevk
  .shippable.yml
Owners: @OP-TEE/linaro

In-tree TAs: prevent double slash in object paths
  ta/mk/build-user-ta.mk
Owners: @OP-TEE/linaro

core: arm: ree_fs: fix free hash_ctx
  core/arch/arm/kernel/ree_fs_ta.c
Owners: @OP-TEE/linaro

imx: cleanup configuration
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/config/config_imx7.h
  core/arch/arm/plat-imx/config/imx6sx.h
  core/arch/arm/plat-imx/platform_config.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

imx: update README.md/MAINTAINERS
  MAINTAINERS
  README.md
Owners: @OP-TEE/approvers, @OP-TEE/linaro

shippable: remove uneccessary macros for mx6ul/ullevk
  .shippable.yml
Owners: @OP-TEE/linaro

Replace 'echo' commands with '$(cmd-echo-silent)'
  ta/arch/arm/link.mk
  ta/arch/arm/link_shlib.mk
Owners: @OP-TEE/linaro

In-tree TAs: prevent double slash in object paths
  ta/mk/build-user-ta.mk
Owners: @OP-TEE/linaro

Replace 'echo' commands with '$(cmd-echo-silent)'
  ta/arch/arm/link.mk
  ta/arch/arm/link_shlib.mk
Owners: @OP-TEE/linaro

abort.c: manipulate with VFP state only if thread is active
  core/arch/arm/kernel/abort.c
Owners: @OP-TEE/linaro

core: arm: ree_fs: fix free hash_ctx
  core/arch/arm/kernel/ree_fs_ta.c
Owners: @OP-TEE/linaro

abort.c: manipulate with VFP state only if thread is active
  core/arch/arm/kernel/abort.c
Owners: @OP-TEE/linaro

mk/aosp_optee.mk: move ta files to vendor partition
  mk/aosp_optee.mk
Owners: @OP-TEE/linaro

core:arch:arm:plat-ls: remove platform specific function get_core_pos_mpidr
  core/arch/arm/plat-ls/ls_core_pos_a32.S
  core/arch/arm/plat-ls/ls_core_pos_a64.S
  core/arch/arm/plat-ls/sub.mk
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

plat-sunxi: Add Allwinner A64 support
  .shippable.yml
  MAINTAINERS
  README.md
  core/arch/arm/plat-sunxi/conf.mk
  core/arch/arm/plat-sunxi/main.c
  core/arch/arm/plat-sunxi/platform_config.h
  core/arch/arm/plat-sunxi/sub.mk
Owners: @OP-TEE/linaro, @OP-TEE/approvers

core:arch:arm:plat-ls: make generic layout for all platforms
  .shippable.yml
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

Add dependency on ta-dev-kit when building in-tree TA
  mk/compile.mk
  ta/mk/build-user-ta.mk
Owners: @OP-TEE/linaro

core: tee: crypt_utl: remove one crypto_init
  core/tee/tee_cryp_utl.c
Owners: @OP-TEE/linaro

core: tee: crypt_utl: remove one crypto_init
  core/tee/tee_cryp_utl.c
Owners: @OP-TEE/linaro

Add dependency on ta-dev-kit when building in-tree TA
  mk/compile.mk
  ta/mk/build-user-ta.mk
Owners: @OP-TEE/linaro

sm: pm_a32: typo fix
  core/arch/arm/sm/pm_a32.S
Owners: @OP-TEE/linaro

sm: pm_a32: typo fix
  core/arch/arm/sm/pm_a32.S
Owners: @OP-TEE/linaro

Do not make in-tree TAs depend on a phony target
  ta/mk/build-user-ta.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

Do not make in-tree TAs depend on a phony target
  ta/mk/build-user-ta.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

plat-sunxi: Add Allwinner A64 support
  .shippable.yml
  MAINTAINERS
  README.md
  core/arch/arm/plat-sunxi/conf.mk
  core/arch/arm/plat-sunxi/main.c
  core/arch/arm/plat-sunxi/platform_config.h
  core/arch/arm/plat-sunxi/sub.mk
Owners: @OP-TEE/linaro, @OP-TEE/approvers

Updating MAINTAINERS for LS1046A-RDB, LS1043A-RDB, LS1021
  MAINTAINERS
Owners: @OP-TEE/approvers

plat-ls:add LS1012AFRWY platform flavors
  .shippable.yml
  MAINTAINERS
  README.md
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/linaro, @OP-TEE/approvers, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

plat-ls:add LS1088ARDB platform flavors
  .shippable.yml
  MAINTAINERS
  README.md
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/linaro, @OP-TEE/approvers, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com
