Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: Add new helper get_secure_dt()
  core/arch/arm/kernel/boot.c
  core/include/kernel/boot.h
Owners: @OP-TEE/linaro

core: dt_driver: Add driver probing to use secure device tree
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

sign_encrypt.py: add command func in argument parsing
  scripts/sign_encrypt.py
Owners: @OP-TEE/linaro

sign_encrypt.py: refactor with BinaryImage class
  scripts/sign_encrypt.py
Owners: @OP-TEE/linaro

sign_encrypt.py: make logger global
  scripts/sign_encrypt.py
Owners: @OP-TEE/linaro

sign_encrypt.py: rename to hash_size and sig_size
  scripts/sign_encrypt.py
Owners: @OP-TEE/linaro

core: support loading TAs signed with a subkey
  core/crypto/signed_hdr.c
  core/include/signed_hdr.h
  core/kernel/ree_fs_ta.c
  mk/config.mk
  ta/arch/arm/link.mk
  ta/arch/arm/link_shlib.mk
Owners: @OP-TEE/linaro

core: ree_fs: refactor check_update_version()
  core/kernel/ree_fs_ta.c
Owners: @OP-TEE/linaro

core: add offset argument to shdr_alloc_and_copy()
  core/crypto/signed_hdr.c
  core/include/signed_hdr.h
  core/kernel/ree_fs_ta.c
  core/pta/secstor_ta_mgmt.c
Owners: @OP-TEE/linaro

sign_encrypt.py: add subkey support
  scripts/sign_encrypt.py
Owners: @OP-TEE/linaro

sign_encrypt.py: refactor argument parsing
  scripts/sign_encrypt.py
Owners: @OP-TEE/linaro

sign_encrypt.py: add display command
  scripts/dump_ta_header.py
  scripts/sign_encrypt.py
Owners: @OP-TEE/linaro

core: dt: allow null value in reg property
  core/kernel/dt.c
Owners: @OP-TEE/linaro

MAINTAINERS: support HiSilicon D06
  MAINTAINERS
Owners: @OP-TEE/approvers

core: Add support for Hisilicon D06 (PLATFORM=d06)
  core/arch/arm/plat-d06/conf.mk
  core/arch/arm/plat-d06/core_pos_a64.S
  core/arch/arm/plat-d06/main.c
  core/arch/arm/plat-d06/platform_config.h
  core/arch/arm/plat-d06/sub.mk
Owners: @OP-TEE/linaro

core: dt: allow null value in reg property
  core/kernel/dt.c
Owners: @OP-TEE/linaro

crypto: se050: output the SCP03 security level to the console
  core/drivers/crypto/se050/adaptors/utils/scp_config.c
Owners: @OP-TEE/linaro

crypto: se050: provision SCP03 keys back factory keys
  core/drivers/crypto/se050/adaptors/apis/sss.c
  core/drivers/crypto/se050/crypto.mk
Owners: @OP-TEE/linaro

drivers: stm32mp15_huk: default to fuse key without derivation
  core/arch/arm/plat-stm32mp1/conf.mk
  core/drivers/stm32mp15_huk.c
Owners: @OP-TEE/linaro

plat-stm32mp1: helper config CFG_STM32MP15_HUK_OTP_BASE
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

MAINTAINERS: add stm32 drivers entries
  MAINTAINERS
Owners: @OP-TEE/approvers

crypto: se050: provision SCP03 keys back factory keys
  core/drivers/crypto/se050/adaptors/apis/sss.c
  core/drivers/crypto/se050/crypto.mk
Owners: @OP-TEE/linaro

crypto: se050: output the SCP03 security level to the console
  core/drivers/crypto/se050/adaptors/utils/scp_config.c
Owners: @OP-TEE/linaro

core: ffa: Add support for FFA_MEM_PERM_GET/SET
  core/arch/arm/include/ffa.h
  core/arch/arm/include/kernel/secure_partition.h
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/spmc_sp_handler.c
Owners: @OP-TEE/linaro

MAINTAINERS: add stm32 drivers entries
  MAINTAINERS
Owners: @OP-TEE/approvers

drivers: stm32mp15_huk: default to fuse key without derivation
  core/arch/arm/plat-stm32mp1/conf.mk
  core/drivers/stm32mp15_huk.c
Owners: @OP-TEE/linaro

plat-stm32mp1: helper config CFG_STM32MP15_HUK_OTP_BASE
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

core: change __utee_entry() handling on unknown entry function ids
  lib/libutee/arch/arm/user_ta_entry.c
Owners: @OP-TEE/linaro

core: fix potential integer overflow in syscall_log()
  core/tee/tee_svc.c
Owners: @OP-TEE/linaro

plat-zynqmp: add ZCU104 and ZCU106 flavour support
  core/arch/arm/plat-zynqmp/conf.mk
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

core: fix potential integer overflow in syscall_log()
  core/tee/tee_svc.c
Owners: @OP-TEE/linaro

core: ree_fs: check ta size before use
  core/kernel/ree_fs_ta.c
Owners: @OP-TEE/linaro

core: ree_fs: copy in encrypted TA header only once
  core/kernel/ree_fs_ta.c
Owners: @OP-TEE/linaro

crypto: se050: reword configuration options
  core/drivers/crypto/se050/crypto.mk
Owners: @OP-TEE/linaro

crypto: se050: provision SCP03 keys on SCP03 enablement.
  core/drivers/crypto/se050/adaptors/apis/sss.c
  core/drivers/crypto/se050/crypto.mk
Owners: @OP-TEE/linaro

plat-zynqmp: add ZCU104 and ZCU106 flavour support
  core/arch/arm/plat-zynqmp/conf.mk
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

crypto: se050: reword configuration options
  core/drivers/crypto/se050/crypto.mk
Owners: @OP-TEE/linaro

crypto: se050: provision SCP03 keys on SCP03 enablement.
  core/drivers/crypto/se050/adaptors/apis/sss.c
  core/drivers/crypto/se050/crypto.mk
Owners: @OP-TEE/linaro

core: ree_fs: check ta size before use
  core/kernel/ree_fs_ta.c
Owners: @OP-TEE/linaro

core: ree_fs: copy in encrypted TA header only once
  core/kernel/ree_fs_ta.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
