Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: fix possible overflow in shdr_alloc_and_copy()
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro

core: riscv: Fix store 32-bit thread_core_local flags
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

drivers: crypto: se05x: Add SCP03 keys for SE052F2
  core/drivers/crypto/se050/adaptors/include/se050.h
  core/drivers/crypto/se050/adaptors/utils/scp_config.c
Owners: @OP-TEE/linaro

core: mm: move mobj_dyn_shm.c to mm
  core/arch/arm/mm/sub.mk
  core/mm/mobj_dyn_shm.c
  core/mm/sub.mk
Owners: @OP-TEE/linaro

core: fix possible overflow in shdr_alloc_and_copy()
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro

core: rpmb: probe for kernel RPMB driver
  core/include/optee_rpc_cmd.h
  core/include/tee/tee_fs.h
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: add flag to indicate dependency on RPMB
  core/pta/device.c
  lib/libutee/include/pta_device.h
  lib/libutee/include/user_ta_header.h
Owners: @OP-TEE/linaro

ci: build with CFG_RPMB_WRITE_KEY=y
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

plat: rpi5: add basic Raspberry Pi 5 support
  core/arch/arm/plat-rpi5/conf.mk
  core/arch/arm/plat-rpi5/main.c
  core/arch/arm/plat-rpi5/platform_config.h
  core/arch/arm/plat-rpi5/sub.mk
Owners: @OP-TEE/linaro

core: kernel: factor out shared memory boot-time helpers
  core/arch/arm/kernel/boot.c
  core/include/kernel/boot.h
  core/kernel/boot.c
  core/kernel/sub.mk
Owners: @OP-TEE/linaro

core: riscv: Add a reserved-memory node for static shared memory
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

riscv: plat-virt: switch to dynamic shared memory
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/plat-virt/conf.mk
Owners: @OP-TEE/linaro

drivers: crypto: hisilicon:Add HASH and HMAC algorithm
  core/drivers/crypto/hisilicon/crypto.mk
  core/drivers/crypto/hisilicon/include/sec_hash.h
  core/drivers/crypto/hisilicon/include/sec_main.h
  core/drivers/crypto/hisilicon/sec_hash.c
  core/drivers/crypto/hisilicon/sec_hmac.c
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

core: pass TEE_ATTR_RSA_OAEP_MGF_HASH to RSA-OAEP implementations
  core/crypto/crypto.c
  core/drivers/crypto/caam/acipher/caam_rsa.c
  core/drivers/crypto/crypto_api/acipher/rsa.c
  core/drivers/crypto/crypto_api/include/drvcrypt_acipher.h
  core/drivers/crypto/se050/core/rsa.c
  core/drivers/crypto/versal/rsa.c
  core/include/crypto/crypto.h
  core/include/crypto/crypto_impl.h
  core/lib/libtomcrypt/rsa.c
  core/tee/tee_svc_cryp.c
  lib/libmbedtls/core/rsa.c
Owners: @OP-TEE/linaro

drivers:crypto:hisilicon:Update header files location
  core/drivers/crypto/hisilicon/hisi_qm.h
  core/drivers/crypto/hisilicon/hpre_dh.c
  core/drivers/crypto/hisilicon/hpre_dh.h
  core/drivers/crypto/hisilicon/hpre_main.c
  core/drivers/crypto/hisilicon/hpre_main.h
  core/drivers/crypto/hisilicon/sec_hash.c
  core/drivers/crypto/hisilicon/sec_hash.h
  core/drivers/crypto/hisilicon/sec_hmac.c
  core/drivers/crypto/hisilicon/sec_main.c
  core/drivers/crypto/hisilicon/sec_main.h
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

core: pager: fix arguments passed to calloc in alloc_merged_pgt_array()
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

core: pager: fix arguments passed to calloc in alloc_merged_pgt_array()
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

drivers: crypto: remove assertions on device handlers
  core/drivers/crypto/stm32/cipher.c
Owners: @OP-TEE/linaro

core: kernel: fix include order in spinlock.h
  core/include/kernel/spinlock.h
Owners: @OP-TEE/linaro

core: kernel: use explicit unsigned int type in condvar
  core/include/kernel/mutex.h
Owners: @OP-TEE/linaro

core: interrupts: fix inline comment typo on DT property name
  core/include/kernel/interrupt.h
Owners: @OP-TEE/linaro

drivers: crypto: hisilicon:Add HASH and HMAC algorithm
  core/drivers/crypto/hisilicon/crypto.mk
  core/drivers/crypto/hisilicon/include/sec_hash.h
  core/drivers/crypto/hisilicon/include/sec_main.h
  core/drivers/crypto/hisilicon/sec_hash.c
  core/drivers/crypto/hisilicon/sec_hmac.c
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

drivers: crypto: hisilicon: Update header files location
  core/drivers/crypto/hisilicon/hisi_qm.h
  core/drivers/crypto/hisilicon/hpre_dh.c
  core/drivers/crypto/hisilicon/hpre_dh.h
  core/drivers/crypto/hisilicon/hpre_main.c
  core/drivers/crypto/hisilicon/hpre_main.h
  core/drivers/crypto/hisilicon/sec_hash.c
  core/drivers/crypto/hisilicon/sec_hash.h
  core/drivers/crypto/hisilicon/sec_hmac.c
  core/drivers/crypto/hisilicon/sec_main.c
  core/drivers/crypto/hisilicon/sec_main.h
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

core: interrupts: fix inline comment typo on DT property name
  core/include/kernel/interrupt.h
Owners: @OP-TEE/linaro

core: kernel: use explicit unsigned int type in condvar
  core/include/kernel/mutex.h
Owners: @OP-TEE/linaro

core: kernel: fix include order in spinlock.h
  core/include/kernel/spinlock.h
Owners: @OP-TEE/linaro

core: plat-mediatek: fix enforcement of SWRNG configuration on MT7988
  core/arch/arm/plat-mediatek/conf.mk
Owners: @OP-TEE/plat-mediatek

core: plat-mediatek: fix enforcement of SWRNG configuration on MT7988
  core/arch/arm/plat-mediatek/conf.mk
Owners: @OP-TEE/plat-mediatek

drivers: pm: sam: enable running code for low-power out of SRAM
  core/drivers/pm/sam/at91_pm.c
Owners: @OP-TEE/linaro

drivers: pm: sam: change memory area type to coherent for mapping SRAM
  core/drivers/pm/sam/at91_pm.c
Owners: @OP-TEE/linaro

drivers: pm: sam: configure the wakeup sources for sama7g5
  core/drivers/pm/sam/at91_pm.c
Owners: @OP-TEE/linaro

drivers: pm: sam: update the count of PCK clock for sama7g5
  core/drivers/clk/sam/at91_pmc.h
  core/drivers/pm/sam/at91_pm.c
Owners: @OP-TEE/linaro

drivers: clk: sam: add definition for sama7g5 PMC_CPU_CKR register
  core/drivers/clk/sam/at91_pmc.h
Owners: @OP-TEE/linaro

core: firewall: add firewall framework
  core/drivers/firewall/firewall.c
  core/drivers/firewall/sub.mk
  core/drivers/sub.mk
  core/include/drivers/firewall.h
  core/include/drivers/firewall_device.h
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

drivers: pm: sam: change memory area type to coherent for mapping SRAM
  core/drivers/pm/sam/at91_pm.c
Owners: @OP-TEE/linaro

drivers: pm: sam: enable running code for low-power out of SRAM
  core/drivers/pm/sam/at91_pm.c
Owners: @OP-TEE/linaro

drivers: clk: sam: add definition for sama7g5 PMC_CPU_CKR register
  core/drivers/clk/sam/at91_pmc.h
Owners: @OP-TEE/linaro

drivers: pm: sam: update the count of PCK clock for sama7g5
  core/drivers/clk/sam/at91_pmc.h
  core/drivers/pm/sam/at91_pm.c
Owners: @OP-TEE/linaro

drivers: pm: sam: configure the wakeup sources for sama7g5
  core/drivers/pm/sam/at91_pm.c
Owners: @OP-TEE/linaro

core: firewall: add firewall framework
  core/drivers/firewall/firewall.c
  core/drivers/firewall/sub.mk
  core/drivers/sub.mk
  core/include/drivers/firewall.h
  core/include/drivers/firewall_device.h
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
