Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

drivers: qcom: rpmh: fix TCS stall during rpmh_send_command()
  core/drivers/qcom/rpmh/rpmh_hal.c
  core/drivers/qcom/rpmh/rpmh_hal.h
Owners: @OP-TEE/linaro

mk: cc-option: probe linker options via a real link attempt
  mk/cc-option.mk
Owners: @OP-TEE/linaro

core: tee: share the TA endorsement seed property
  core/arch/arm/plat-vexpress/conf.mk
  core/arch/arm/plat-vexpress/sub.mk
  core/tee/sub.mk
  core/tee/vendor_props.c
  mk/config.mk
Owners: @OP-TEE/plat-vexpress, @OP-TEE/linaro

plat-zynqmp: enable the TA endorsement seed property
  core/arch/arm/plat-zynqmp/conf.mk
Owners: @OP-TEE/plat-zynqmp

drivers: qcom: rpmh: move register layout to a per-platform header
  core/drivers/qcom/rpmh/kodiak/rpmh_target.h
  core/drivers/qcom/rpmh/lemans/rpmh_target.h
  core/drivers/qcom/rpmh/rpmh_client.c
  core/drivers/qcom/rpmh/rpmh_hal.c
  core/drivers/qcom/rpmh/rpmh_hal.h
  core/drivers/qcom/rpmh/sub.mk
Owners: @OP-TEE/linaro

drivers: qcom: rpmh: drop unused multi-DRV/TCS scaffolding
  core/drivers/qcom/rpmh/rpmh_client.c
  core/drivers/qcom/rpmh/rpmh_drv_config.c
  core/drivers/qcom/rpmh/rpmh_drv_config.h
  core/drivers/qcom/rpmh/rpmh_hal.c
  core/drivers/qcom/rpmh/rpmh_hal.h
  core/drivers/qcom/rpmh/rpmh_resource_commands.c
  core/drivers/qcom/rpmh/rpmh_resource_commands.h
  core/drivers/qcom/rpmh/rpmh_target_config.h
  core/drivers/qcom/rpmh/rpmh_tcs.c
  core/drivers/qcom/rpmh/rpmh_tcs.h
  core/drivers/qcom/rpmh/sub.mk
  core/include/drivers/qcom/rpmh/rpmh_client.h
Owners: @OP-TEE/linaro

drivers: qcom: cmd_db: simplify lookup, harden scan, fix init order
  core/drivers/qcom/cmd_db/cmd_db.c
  core/include/drivers/qcom/cmd_db/cmd_db.h
Owners: @OP-TEE/linaro

mk: cc-option: probe linker options via a real link attempt
  mk/cc-option.mk
Owners: @OP-TEE/linaro

ldelf: bounds-check DT_SONAME offset in save_soname_from_segment()
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

ldelf: fix off-by-one bounds check on symbol name offset
  ldelf/ta_elf_rel.c
Owners: @OP-TEE/linaro

ldelf: verify DT_STRTAB/PT_DYNAMIC ranges are covered by a PT_LOAD segment
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

core: rcar-gen5: Add Renesas R-Car Gen5 support
  MAINTAINERS
  core/arch/arm/plat-rcar_gen5/conf.mk
  core/arch/arm/plat-rcar_gen5/link.mk
  core/arch/arm/plat-rcar_gen5/main.c
  core/arch/arm/plat-rcar_gen5/platform_config.h
  core/arch/arm/plat-rcar_gen5/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

core: storage: propagate corrupt object removal errors
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

core: ltc: make mp_to_unsigned_bin2() bounds checked
  core/lib/libtomcrypt/acipher_helpers.h
  core/lib/libtomcrypt/sm2-dsa.c
  core/lib/libtomcrypt/sm2-kep.c
  core/lib/libtomcrypt/sm2-pke.c
Owners: @OP-TEE/linaro

ta: remoteproc: fix compiler error in ELF parser
  ta/remoteproc/src/elf_parser.c
Owners: @OP-TEE/linaro

ci: Enable serial log dumps on test failures inside qemu
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: Add workflow to build container image for existing jobs in-tree
  .github/workflows/ci-image.yml
  scripts/ci-image/Dockerfile
  scripts/ci-image/get_optee.sh
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: Harden fetching of llvm
  scripts/ci-image/Dockerfile
Owners: @OP-TEE/linaro

ci: Enable serial log dumps on test failures inside qemu
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: Use repo tool from Debian
  scripts/ci-image/Dockerfile
Owners: @OP-TEE/linaro

ci: Switch to new ci-image
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: Modernize the ci-image with Debian 13
  .github/workflows/ci.yml
  scripts/ci-image/Dockerfile
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: Consolidate QEMU image builds into a reusable workflow
  .github/workflows/ci.yml
  .github/workflows/qemu-checks-image.yml
Owners: @OP-TEE/approvers

ci: Make manifest owner configurable
  .github/workflows/qemu-checks-image.yml
  scripts/ci-image/get_optee.sh
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: Drop exceptions from BTI+MTE+PAC check
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ldelf: bounds-check DT_SONAME offset in save_soname_from_segment()
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

ldelf: verify DT_STRTAB/PT_DYNAMIC ranges are covered by a PT_LOAD segment
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

ldelf: fix off-by-one bounds check on symbol name offset
  ldelf/ta_elf_rel.c
Owners: @OP-TEE/linaro

core: rpmb: accept shared input buffers in file writes
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: rpmb: reselect the matched device before provisioning
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: storage: fix cleanup of mapped open corruption
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

core: reject an out of range nanosecond field from the REE
  core/kernel/tee_time.c
Owners: @OP-TEE/linaro

core: keep the milliseconds of the system time below 1000
  core/arch/arm/kernel/tee_time_arm_cntpct.c
  core/arch/riscv/kernel/tee_time_rdtime.c
  core/drivers/atmel_tcb.c
Owners: @OP-TEE/linaro

core: fix spurious overflow for a zero TA time offset
  core/tee/tee_time_generic.c
Owners: @OP-TEE/linaro

core: riscv: probe SBI extensions at boot
  core/arch/riscv/include/sbi.h
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
  core/arch/riscv/kernel/sbi.c
Owners: @OP-TEE/linaro

core: riscv: use the boot-time SBI probe results
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/sbi_console.c
Owners: @OP-TEE/linaro

core: storage: enforce TEE_DATA_MAX_POSITION on writes
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

core: riscv: add SBI RFENCE extension helpers
  core/arch/riscv/include/sbi.h
  core/arch/riscv/kernel/sbi.c
Owners: @OP-TEE/linaro

core: riscv: broadcast TLB invalidation to all harts
  core/arch/riscv/include/kernel/tlb_helpers.h
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/mm/core_mmu_arch.c
  core/arch/riscv/mm/tlb_helpers_rv.S
Owners: @OP-TEE/linaro

core: riscv: broadcast instruction cache invalidation to all harts
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
