Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

core: riscv: size the ASID pool by count, not by field width
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro

core: riscv: implement data cache range maintenance with Zicbom
  .github/workflows/ci.yml
  core/arch/riscv/kernel/cache_helpers_rv.S
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

core: pta: secstor_ta: check against REE FS TA downgrade
  core/include/kernel/ree_fs_ta.h
  core/kernel/ree_fs_ta.c
  core/pta/secstor_ta_mgmt.c
Owners: @OP-TEE/linaro

core: fs_htree: prevent possible hash-tree reset
  core/tee/fs_htree.c
Owners: @OP-TEE/linaro

core: stmm: separate FF-A handling from stmm_sp
  core/arch/arm/include/kernel/stmm_sp.h
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/stmm_sp_ffa.c
  core/arch/arm/kernel/stmm_sp_ffa.h
  core/arch/arm/kernel/sub.mk
Owners: @OP-TEE/linaro

core: stmm: make the FF-A ABI version selectable
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/stmm_sp_ffa.c
  core/arch/arm/kernel/stmm_sp_ffa.h
  core/arch/arm/kernel/stmm_sp_ffa_1_1.c
  core/arch/arm/kernel/stmm_sp_ffa_1_2.c
  core/arch/arm/kernel/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

plat-tegra: use FF-A v1.1 for StandaloneMM
  core/arch/arm/plat-tegra/conf.mk
Owners: @OP-TEE/linaro

core: storage: preallocate object ID before rename
  core/include/tee/tee_pobj.h
  core/tee/tee_pobj.c
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

core: mbedtls: fix RSA context cleanup on failure
  lib/libmbedtls/core/rsa.c
Owners: @OP-TEE/linaro

crypto: asu: add software fallback for zero-length AAD and payload
  core/drivers/crypto/asu_driver/asu_authenc.c
Owners: @OP-TEE/linaro

ta: remoteproc: fix compiler error in ELF parser
  ta/remoteproc/src/elf_parser.c
Owners: @OP-TEE/linaro

ci: Enable serial log dumps on test failures inside qemu
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: keep the milliseconds of the system time below 1000
  core/arch/arm/kernel/tee_time_arm_cntpct.c
  core/arch/riscv/kernel/tee_time_rdtime.c
  core/drivers/atmel_tcb.c
Owners: @OP-TEE/linaro

core: fix spurious overflow for a zero TA time offset
  core/tee/tee_time_generic.c
Owners: @OP-TEE/linaro

core: reject an out of range nanosecond field from the REE
  core/kernel/tee_time.c
Owners: @OP-TEE/linaro

core: storage: preserve truncate errors
  core/tee/tee_rpmb_fs.c
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

crypto: asu: add software fallback for zero-length AAD and payload
  core/drivers/crypto/asu_driver/asu_authenc.c
Owners: @OP-TEE/linaro

core: storage: enforce TEE_DATA_MAX_POSITION on writes
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

core: riscv: boot: initialize MPXY on all harts and probe RPMI channels
  core/arch/riscv/include/sbi_mpxy_rpmi.h
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: fix SET_SHMEM arguments and use queried size
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: add sbi_mpxy_init()
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: bounds-check lengths against shared memory
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: add sbi_mpxy_to_tee_result()
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: storage: preserve truncate errors
  core/tee/tee_rpmb_fs.c
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

plat-rockchip: rk3576: add RKRNG_S hardware TRNG driver
  core/arch/arm/plat-rockchip/conf.mk
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rk3576.c
  core/arch/arm/plat-rockchip/rockchip_rkrng.c
  core/arch/arm/plat-rockchip/rockchip_rkrng.h
  core/arch/arm/plat-rockchip/sub.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-rockchip: rk3576: add RKRNG_S hardware TRNG driver
  core/arch/arm/plat-rockchip/conf.mk
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rk3576.c
  core/arch/arm/plat-rockchip/rockchip_rkrng.c
  core/arch/arm/plat-rockchip/rockchip_rkrng.h
  core/arch/arm/plat-rockchip/sub.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

ta: pkcs11: separate data and key encryption keys
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: enforce separation of data and key encryption
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

drivers: qcom: rpmh: fix TCS stall during rpmh_send_command()
  core/drivers/qcom/rpmh/rpmh_hal.c
  core/drivers/qcom/rpmh/rpmh_hal.h
Owners: @OP-TEE/linaro

ta: avb: provide method for obtaining non-truncated value
  ta/avb/entry.c
  ta/avb/include/ta_avb.h
Owners: @OP-TEE/linaro

crypto: asu: add SHAKE256 support
  core/drivers/crypto/asu_driver/asu_hash.c
Owners: @OP-TEE/linaro

core: tl checksum calculation after entire TL is mapped
  core/kernel/transfer_list.c
Owners: @OP-TEE/linaro

core: mm: carveout transferlist region
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

[REVIEW] core: tl: simplify max_size check readability
  core/kernel/transfer_list.c
Owners: @OP-TEE/linaro

core: arm: update tl dtb size update based on MAX_DT_SIZE only
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

drivers: qcom: mbox: add IRQ-assisted wakeup for QMP-Lite
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target_config.h
  core/arch/arm/plat-qcom/bobcat/ipq96xx/target_config.h
  core/arch/arm/plat-qcom/bobcat/qcom_mbox_plat.c
  core/arch/arm/plat-qcom/bobcat/sub.mk
  core/drivers/qcom/mbox/qcom_mbox.c
  core/drivers/qcom/mbox/qcom_mbox_private.h
  core/drivers/qcom/mbox/qcom_mbox_qmp.c
  core/drivers/qcom/mbox/qcom_mbox_qmp_lite.c
  core/drivers/qcom/mbox/sub.mk
  core/drivers/qcom/sub.mk
  core/include/drivers/qcom/mbox/qcom_mbox.h
  core/include/drivers/qcom/mbox/qcom_mbox_plat.h
  core/include/drivers/qcom/mbox/qcom_mbox_qmp.h
  core/include/drivers/qcom/mbox/qcom_mbox_qmp_lite.h
  core/include/drivers/qcom/mbox/qcom_mbox_types.h
Owners: @OP-TEE/linaro

drivers: qcom: tmel_huk: add TME-Lite HUK provider
  core/arch/arm/plat-qcom/bobcat/arch_config.h
  core/drivers/qcom/sub.mk
  core/drivers/qcom/tmel_huk/sub.mk
  core/drivers/qcom/tmel_huk/tmel_huk.c
Owners: @OP-TEE/linaro

drivers: qcom: tmel_com: add TME-Lite communication client
  core/drivers/qcom/sub.mk
  core/drivers/qcom/tmel_com/sub.mk
  core/drivers/qcom/tmel_com/tmecom_client.c
  core/drivers/qcom/tmel_com/tmecom_client.h
  core/drivers/qcom/tmel_com/tmemessages_uids.h
Owners: @OP-TEE/linaro

drivers: qcom: tmel_km: add TME-Lite key management client
  core/drivers/qcom/tmel_com/tmel_km/sub.mk
  core/drivers/qcom/tmel_com/tmel_km/tmekm_client.c
  core/drivers/qcom/tmel_com/tmel_km/tmekm_client.h
Owners: @OP-TEE/linaro

drivers: qcom: tmel_rng: add TME-Lite RNG client
  core/drivers/qcom/tmel_com/tmel_rng/sub.mk
  core/drivers/qcom/tmel_com/tmel_rng/tmerng_client.c
  core/drivers/qcom/tmel_com/tmel_rng/tmerng_client.h
Owners: @OP-TEE/linaro
