Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

crypto: asu: add TRNG driver
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/amd/asu/asu_main.c
  core/drivers/crypto/asu_driver/asu_trng.c
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

drivers: crypto: asu: add HUK support
  core/arch/arm/plat-versal2/conf.mk
  core/arch/arm/plat-versal2/main.c
  core/arch/arm/plat-versal2/platform_config.h
  core/drivers/crypto/asu_driver/asu_huk.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
Owners: @OP-TEE/linaro

plat-rockchip: rk3588: register DRAM for dynamic shared memory
  core/arch/arm/plat-rockchip/conf.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

drivers: crypto: asu: add HUK support
  core/arch/arm/plat-versal2/conf.mk
  core/arch/arm/plat-versal2/main.c
  core/arch/arm/plat-versal2/platform_config.h
  core/drivers/crypto/asu_driver/asu_huk.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
Owners: @OP-TEE/linaro

core: arm: stmm_sp: make StMM heap size configurable via CFG_STMM_HEAP_PAGE_COUNT
  core/arch/arm/kernel/stmm_sp.c
  mk/config.mk
Owners: @OP-TEE/linaro

crypto: asu: ECC and ECDH crypto driver support
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_ecc.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

crypto: asu: align ECC ABI with ASUFW and fix P-521 DMA corruption
  core/drivers/crypto/asu_driver/asu_ecc.c
Owners: @OP-TEE/linaro

core: REE FS: fix closedir NULL dirh refcount
  core/tee/tee_ree_fs.c
Owners: @OP-TEE/linaro

core: REE FS: don't close dirh on readdir TEE_ERROR_ITEM_NOT_FOUND
  core/tee/tee_ree_fs.c
Owners: @OP-TEE/linaro

plat-qcom: make diagnostic logging optional
  core/arch/arm/plat-qcom/diag_log.c
  core/arch/arm/plat-qcom/diag_log.h
  core/arch/arm/plat-qcom/sub.mk
Owners: @OP-TEE/linaro

plat-qcom: Add support for GICv4
  core/arch/arm/plat-qcom/main.c
Owners: @OP-TEE/linaro

ci: qcom: add nord platform build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

plat-qcom: Add support for Nord based on Wildcat arch
  core/arch/arm/plat-qcom/bobcat/sub.mk
  core/arch/arm/plat-qcom/conf.mk
  core/arch/arm/plat-qcom/hoya/sub.mk
  core/arch/arm/plat-qcom/sub.mk
  core/arch/arm/plat-qcom/wildcat/arch_config.h
  core/arch/arm/plat-qcom/wildcat/core_pos_a64.S
  core/arch/arm/plat-qcom/wildcat/nord/target.mk
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
  core/arch/arm/plat-qcom/wildcat/qcom-arch.mk
  core/arch/arm/plat-qcom/wildcat/sub.mk
Owners: @OP-TEE/linaro

crypto: asu: ECC and ECDH crypto driver support
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_ecc.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

crypto: asu: align ECC ABI with ASUFW and fix P-521 DMA corruption
  core/drivers/crypto/asu_driver/asu_ecc.c
Owners: @OP-TEE/linaro

plat-rockchip: add support for RV1106
  .github/workflows/ci.yml
  MAINTAINERS
  core/arch/arm/plat-rockchip/conf.mk
  core/arch/arm/plat-rockchip/main.c
  core/arch/arm/plat-rockchip/plat_init.S
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rv1106.c
  core/arch/arm/plat-rockchip/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/plat-rockchip, op-tee@rock-chips.com

crypto: asu: add support for AES modes in ASU
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_cipher.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

core: REE FS: fix closedir NULL dirh refcount
  core/tee/tee_ree_fs.c
Owners: @OP-TEE/linaro

core: REE FS: don't close dirh on readdir TEE_ERROR_ITEM_NOT_FOUND
  core/tee/tee_ree_fs.c
Owners: @OP-TEE/linaro

plat-rockchip: add support for RV1106
  .github/workflows/ci.yml
  MAINTAINERS
  core/arch/arm/plat-rockchip/conf.mk
  core/arch/arm/plat-rockchip/main.c
  core/arch/arm/plat-rockchip/plat_init.S
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rv1106.c
  core/arch/arm/plat-rockchip/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/plat-rockchip, op-tee@rock-chips.com

crypto: asu: add support for AES modes in ASU
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_cipher.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

core: rpmb: use the CFG_ prefix for the multiple-write-fixed guard
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: rpmb: define RPMB CID size
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: rpmb: accept UFS devices on the probe interface
  core/include/optee_rpc_cmd.h
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

ta: pkcs11: bounds-check EC_POINT DER header before indexing
  ta/pkcs11/src/pkcs11_helpers.c
Owners: @OP-TEE/linaro

ta: pkcs11: bounds-check EC_POINT DER header before indexing
  ta/pkcs11/src/pkcs11_helpers.c
Owners: @OP-TEE/linaro

lib: libutee: add PBKDF2 derive type define
  lib/libutee/include/tee_api_defines_extensions.h
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

crypto: asu: add crypto RSA driver
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_rsa.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

crypto: asu: add crypto RSA driver
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_rsa.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

pta: qcom: pas: lemans: add LPASS (ADSP) bring-up
  core/arch/arm/plat-qcom/hoya/lemans/target_config.h
  core/drivers/clk/qcom/platform/lemans/clock-qcom-pas.c
  core/drivers/clk/qcom/platform/lemans/clock_group_qcom.h
  core/pta/qcom/pas/platform/lemans/lpass.c
  core/pta/qcom/pas/platform/lemans/lpass.h
  core/pta/qcom/pas/platform/lemans/sub.mk
  core/pta/qcom/pas/platform/lemans/subsys.c
Owners: @OP-TEE/linaro

qcom: pas: lemans: enable CDSP0/1 PAS support
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
  core/arch/arm/plat-qcom/hoya/lemans/target_config.h
  core/drivers/clk/qcom/clock-qcom.c
  core/drivers/clk/qcom/platform/kodiak/clock-qcom-pas.c
  core/drivers/clk/qcom/platform/lemans/clock-qcom-pas.c
  core/drivers/clk/qcom/platform/lemans/clock_group_qcom.h
  core/include/drivers/clk_qcom.h
  core/pta/qcom/pas/platform/lemans/cdsp0.c
  core/pta/qcom/pas/platform/lemans/cdsp0.h
  core/pta/qcom/pas/platform/lemans/cdsp1.c
  core/pta/qcom/pas/platform/lemans/cdsp1.h
  core/pta/qcom/pas/platform/lemans/sub.mk
  core/pta/qcom/pas/platform/lemans/subsys.c
Owners: @OP-TEE/linaro

plat-qcom: lemans: reserve VA space for PAS subsystem mappings
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
Owners: @OP-TEE/linaro

ta: qcom_pas: add Multiboot Binary (MBN) hash-segment parser
  ta/qcom_pas/include/pas_mbn_parser.h
  ta/qcom_pas/include/pas_mbn_parser_priv.h
  ta/qcom_pas/src/pas_mbn_parser.c
  ta/qcom_pas/src/sub.mk
  ta/qcom_pas/user_ta.mk
Owners: @OP-TEE/linaro

pta: qcom: pas: refactor into a descriptor/ops abstraction
  core/arch/arm/plat-qcom/hoya/kodiak/target_config.h
  core/pta/qcom/pas/compute.c
  core/pta/qcom/pas/lpass.c
  core/pta/qcom/pas/pas.c
  core/pta/qcom/pas/pas.h
  core/pta/qcom/pas/pas_core.c
  core/pta/qcom/pas/platform/kodiak/cdsp.c
  core/pta/qcom/pas/platform/kodiak/cdsp.h
  core/pta/qcom/pas/platform/kodiak/dsp_boot.h
  core/pta/qcom/pas/platform/kodiak/dsp_fw.c
  core/pta/qcom/pas/platform/kodiak/dsp_fw.h
  core/pta/qcom/pas/platform/kodiak/lpass.c
  core/pta/qcom/pas/platform/kodiak/lpass.h
  core/pta/qcom/pas/platform/kodiak/pas_resources.h
  core/pta/qcom/pas/platform/kodiak/sub.mk
  core/pta/qcom/pas/platform/kodiak/subsys.c
  core/pta/qcom/pas/platform/kodiak/venus.c
  core/pta/qcom/pas/platform/kodiak/venus.h
  core/pta/qcom/pas/platform/kodiak/wpss.c
  core/pta/qcom/pas/platform/kodiak/wpss.h
  core/pta/qcom/pas/platform/pas_data.h
  core/pta/qcom/pas/platform/pas_subsys.h
  core/pta/qcom/pas/platform/platform_pas.h
  core/pta/qcom/pas/platform/resource_table.h
  core/pta/qcom/pas/pta_qcom_pas.c
  core/pta/qcom/pas/q6dsp.c
  core/pta/qcom/pas/sub.mk
Owners: @OP-TEE/linaro

pta: qcom: pas: lemans: add IRIS video-codec bring-up
  core/arch/arm/plat-qcom/hoya/lemans/target_config.h
  core/pta/qcom/pas/platform/lemans/iris.c
  core/pta/qcom/pas/platform/lemans/iris.h
  core/pta/qcom/pas/platform/lemans/sub.mk
  core/pta/qcom/pas/platform/lemans/subsys.c
Owners: @OP-TEE/linaro

core: mm: grow memory map in core_mmu_add_mapping() when full
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

ta: qcom_pas: verify loaded firmware image integrity
  ta/qcom_pas/include/pas_auth.h
  ta/qcom_pas/include/qcom_pas_priv.h
  ta/qcom_pas/src/pas_auth.c
  ta/qcom_pas/src/qcom_pas.c
  ta/qcom_pas/src/sub.mk
Owners: @OP-TEE/linaro

plat-qcom: hoya: lemans: enable PAS firmware authentication
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
Owners: @OP-TEE/linaro

pta: qcom: pas: lemans: add GP-DSP0/1 bring-up
  core/arch/arm/plat-qcom/hoya/lemans/target_config.h
  core/drivers/clk/qcom/clock-qcom.c
  core/drivers/clk/qcom/platform/lemans/clock-qcom-pas.c
  core/drivers/clk/qcom/platform/lemans/clock_group_qcom.h
  core/include/drivers/clk_qcom.h
  core/pta/qcom/pas/platform/lemans/gpdsp0.c
  core/pta/qcom/pas/platform/lemans/gpdsp0.h
  core/pta/qcom/pas/platform/lemans/gpdsp1.c
  core/pta/qcom/pas/platform/lemans/gpdsp1.h
  core/pta/qcom/pas/platform/lemans/sub.mk
  core/pta/qcom/pas/platform/lemans/subsys.c
Owners: @OP-TEE/linaro

clk: qcom: add reusable Lucid-EVO PLL helper
  core/drivers/clk/qcom/clock-qcom.c
  core/include/drivers/clk_qcom.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
