Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

plat-stm32mp1: stm32mp1_pmic: remove unused stm32mp_dt_pmic_status()
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.h
Owners: @OP-TEE/linaro

drivers: stm32_i2c: register a DT_DRIVER_I2C driver
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

plat-stm32mp1: conf: default enable CFG_DRIVERS_I2C
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: shared_resources: simplify GPIOZ bank pin count
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
  core/drivers/stm32_gpio.c
Owners: @OP-TEE/linaro

plat-stm32mp1: stm32mp1_pmic: allocate I2C handle
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
Owners: @OP-TEE/linaro

ci: hafnium: fix "no space left on device" error
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: hafnium: fix "no space left on device" error
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: hfic: remove stubbed functions
  core/drivers/hfic.c
Owners: @OP-TEE/linaro

drivers: saic: remove stubbed functions
  core/drivers/atmel_saic.c
Owners: @OP-TEE/linaro

core: imx: allow CAAM driver compilation on mx8dxl
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: caam: add support for mx8dxl
  core/drivers/crypto/caam/crypto.mk
  core/drivers/crypto/caam/hal/sub.mk
Owners: @OP-TEE/linaro

drivers: imx: mu: add support for mx8dxl
  core/drivers/imx/mu/sub.mk
Owners: @OP-TEE/linaro

core: imx: fix the DDR configuration of the mx8dxl
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: ffa: fix race in mobj_put() and ffa_inactivate()
  core/arch/arm/mm/mobj_ffa.c
Owners: @OP-TEE/linaro

drivers: hfic: remove stubbed functions
  core/drivers/hfic.c
Owners: @OP-TEE/linaro

drivers: saic: remove stubbed functions
  core/drivers/atmel_saic.c
Owners: @OP-TEE/linaro

core: ffa: fix race in mobj_put() and ffa_inactivate()
  core/arch/arm/mm/mobj_ffa.c
Owners: @OP-TEE/linaro

core: ffa: return an error on unknown blocking calls
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: optee_ffa.h: fix a spell error in ABI description
  core/arch/arm/include/optee_ffa.h
Owners: @OP-TEE/linaro

core: ffa: return an error on unknown blocking calls
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: optee_ffa.h: fix a spell error in ABI description
  core/arch/arm/include/optee_ffa.h
Owners: @OP-TEE/linaro

core: sp: fix FFA_MEM_RECLAIM checks
  core/arch/arm/kernel/spmc_sp_handler.c
Owners: @OP-TEE/linaro

core: ffa: use FFA_NORMAL_WORLD_RESUME
  core/arch/arm/include/ffa.h
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

The Hisilicon QM is a Queue Management module.
  core/arch/arm/plat-d06/conf.mk
  core/drivers/crypto/hisilicon/hisi_qm.c
  core/drivers/crypto/hisilicon/include/hisi_qm.h
  core/drivers/crypto/hisilicon/sub.mk
  core/drivers/crypto/sub.mk
Owners: @OP-TEE/linaro

core: sp: fix FFA_MEM_RECLAIM checks
  core/arch/arm/kernel/spmc_sp_handler.c
Owners: @OP-TEE/linaro

core: ffa: use FFA_NORMAL_WORLD_RESUME
  core/arch/arm/include/ffa.h
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: riscv: Implement thread_vector_table for ABI and FIQ entries
  core/arch/riscv/kernel/asm-defines.c
  core/arch/riscv/kernel/thread_optee_abi_rv.S
Owners: @OP-TEE/linaro

core: riscv: Implement SBI based protocol
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/include/sbi.h
  core/arch/riscv/kernel/thread_optee_abi_rv.S
Owners: @OP-TEE/linaro

core: riscv: Register thread_vector_table in primary CPU initialization
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: Implement panic_at_abi_return as guard of ABI call
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: fix data abort during ftrace
  core/include/kernel/tee_ta_manager.h
  core/include/kernel/user_ta.h
  core/kernel/pseudo_ta.c
  core/kernel/tee_ta_manager.c
  core/kernel/user_ta.c
  lib/libutils/ext/ftrace/ftrace.c
Owners: @OP-TEE/linaro

core: riscv: Fix logic of thread_{get/set}_exceptions()
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: Fix logic of thread_{get/set}_exceptions()
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: fix data abort during ftrace
  core/include/kernel/tee_ta_manager.h
  core/include/kernel/user_ta.h
  core/kernel/pseudo_ta.c
  core/kernel/tee_ta_manager.c
  core/kernel/user_ta.c
  lib/libutils/ext/ftrace/ftrace.c
Owners: @OP-TEE/linaro

drivers: regulator: consider DT property regulator-boot-on
  core/drivers/regulator/regulator_dt.c
  core/include/drivers/regulator.h
Owners: @OP-TEE/linaro

drivers: crypto: stm32: lower verbosity on SAES use
  core/drivers/crypto/stm32/cipher.c
Owners: @OP-TEE/linaro

drivers: regulator: consider DT property regulator-boot-on
  core/drivers/regulator/regulator_dt.c
  core/include/drivers/regulator.h
Owners: @OP-TEE/linaro

drivers: crypto: stm32: lower verbosity on SAES use
  core/drivers/crypto/stm32/cipher.c
Owners: @OP-TEE/linaro

ta: relax location of ta_head
  ta/arch/arm/ta.ld.S
  ta/link.mk
Owners: @OP-TEE/linaro

Move mv-if-changed() into mk/macros.mk
  Makefile
  mk/checkconf.mk
  mk/macros.mk
  ta/mk/ta_dev_kit.mk
  ta/ta.mk
Owners: @OP-TEE/linaro
