Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

stm32mp1: power management for GPIOz
  core/arch/arm/plat-stm32mp1/shared_resources.c
Owners: @OP-TEE/linaro

stm32mp1: counting GPIOZ bank pins
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/drivers/stm32_gpio.c
  core/include/drivers/stm32_gpio.h
Owners: @OP-TEE/linaro

stm32mp1: fix stm32_get_gpio_bank_base()
  core/arch/arm/plat-stm32mp1/main.c
Owners: @OP-TEE/linaro

stm32mp1: fix stm32_get_gpio_bank_base()
  core/arch/arm/plat-stm32mp1/main.c
Owners: @OP-TEE/linaro

Remove redundant __noreturn from __utee_entry()
  lib/libutee/arch/arm/user_ta_entry.c
  lib/libutee/tee_api_private.h
  ta/arch/arm/user_ta_header.c
Owners: @OP-TEE/linaro

config.mk: fix CFG_OPTEE_REVISION_MINOR
  mk/config.mk
Owners: @OP-TEE/linaro

Remove redundant __noreturn from __utee_entry()
  lib/libutee/arch/arm/user_ta_entry.c
  lib/libutee/tee_api_private.h
  ta/arch/arm/user_ta_header.c
Owners: @OP-TEE/linaro

config.mk: fix CFG_OPTEE_REVISION_MINOR
  mk/config.mk
Owners: @OP-TEE/linaro

libmbedtls: mbedtls_mpi_exp_mod(): reduce stack usage
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libutee: increase MPI mempool size
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

libmbedtls: mbedtls_mpi_exp_mod(): reduce stack usage
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libutee: increase MPI mempool size
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

libutee: increase MPI mempool size
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

libmbedtls: mbedtls_mpi_exp_mod(): reduce stack usage
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmbedtls: mbedtls_mpi_exp_mod(): reduce stack usage
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libutee: increase MPI mempool size
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

stm32_i2c: optimized I2C 1 byte memory transfer
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

virt: kern.ld.S: remove PROVIDE() keyword
  core/arch/arm/kernel/kern.ld.S
Owners: @OP-TEE/linaro

plat-imx: conf: add ccimx6ulsbcpro
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

Add scripts/objcopy.py
  scripts/objcopy.py
Owners: @OP-TEE/linaro

virt: kern.ld.S: remove PROVIDE() keyword
  core/arch/arm/kernel/kern.ld.S
Owners: @OP-TEE/linaro

plat-imx: conf: add ccimx6ulsbcpro
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: arm32: add option for PIE core
  core/arch/arm/arm.mk
  core/arch/arm/kernel/generic_entry_a32.S
  core/arch/arm/kernel/kern.ld.S
  core/arch/arm/kernel/link.mk
  core/arch/arm/kernel/link_dummy.ld
  core/arch/arm/kernel/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

core: arm64: support PIE core
  core/arch/arm/arm.mk
  core/arch/arm/kernel/generic_entry_a64.S
  core/arch/arm/kernel/kern.ld.S
  core/arch/arm/kernel/link_dummy.ld
Owners: @OP-TEE/linaro

mk/cleandirs.mk: avoid print spurious empty lines
  mk/cleandirs.mk
Owners: @OP-TEE/linaro

Add in-tree python modules first in search path
  Makefile
  mk/python.mk
Owners: @OP-TEE/linaro

mk/cleandirs.mk: avoid print spurious empty lines
  mk/cleandirs.mk
Owners: @OP-TEE/linaro

mk/cleandirs.mk: avoid print spurious empty lines
  mk/cleandirs.mk
Owners: @OP-TEE/linaro

MAINTAINERS: Update list of maintainers
  MAINTAINERS
Owners: @OP-TEE/approvers

[Review] core: arm32: add option for PIE core
  core/arch/arm/kernel/generic_entry_a32.S
  core/arch/arm/kernel/sub.mk
Owners: @OP-TEE/linaro

[Review] Add scripts/objcopy.py
  scripts/tee_elf_to_bin.py
Owners: @OP-TEE/linaro

[Review] core: arm32: add option for PIE core
  core/arch/arm/kernel/link.mk
Owners: @OP-TEE/linaro

stm32_i2c: save DTB status
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

stm32_i2c: save DTB status
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

libmbedtls: mbedtls_mpi_exp_mod(): optimize mempool usage
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

pta: fix spelling error in comment
  core/arch/arm/kernel/pseudo_ta.c
Owners: @OP-TEE/linaro

github: update GitHub PR and issue templates
  .github/issue_template.md
  .github/pull_request_template.md
Owners: @OP-TEE/approvers

libmbedtls: mbedtls_mpi_exp_mod(): optimize mempool usage
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmbedtls: mbedtls_mpi_exp_mod(): optimize mempool usage
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

pta: fix spelling error in comment
  core/arch/arm/kernel/pseudo_ta.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
