Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

core: use user-access functions for crypto service
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: add bounce buffer to user mode context
  core/include/kernel/user_access.h
  core/include/kernel/user_mode_ctx_struct.h
  core/kernel/ldelf_loader.c
  core/kernel/scall.c
  core/kernel/user_access.c
Owners: @OP-TEE/linaro

core: add more user access functions
  core/include/kernel/user_access.h
  core/kernel/user_access.c
Owners: @OP-TEE/linaro

Add X448 algorithm framework code, and design montgomery keypair structure, merge x25519 and x448 algorithm keypair
  core/crypto/crypto.c
  core/drivers/crypto/crypto_api/include/drvcrypt.h
  core/drivers/crypto/crypto_api/include/drvcrypt_acipher.h
  core/include/crypto/crypto.h
  core/lib/libtomcrypt/x25519.c
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

Add X448 algorithm framework code, and design montgomery keypair structure, merge x25519 and x448 algorithm keypair
  core/crypto/crypto.c
  core/drivers/crypto/crypto_api/include/drvcrypt.h
  core/drivers/crypto/crypto_api/include/drvcrypt_acipher.h
  core/include/crypto/crypto.h
  core/lib/libtomcrypt/x25519.c
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: fix ldelf invalid access to user stack with CFG_PAN=y
  core/kernel/ldelf_loader.c
Owners: @OP-TEE/linaro

core: fix update from user parameters with CFG_PAN=y
  core/kernel/user_ta.c
Owners: @OP-TEE/linaro

libutils: add {high,low}32_from_64() helper
  lib/libutils/ext/include/util.h
Owners: @OP-TEE/linaro

core: spmc: simplify using {high,low}32_from_64()
  core/arch/arm/kernel/spmc_sp_handler.c
Owners: @OP-TEE/linaro

core: fix ldelf invalid access to user stack with CFG_PAN=y
  core/kernel/ldelf_loader.c
Owners: @OP-TEE/linaro

core: fix update from user parameters with CFG_PAN=y
  core/kernel/user_ta.c
Owners: @OP-TEE/linaro

mk/aosp_optee.mk: fix build dependency between a TA and its libraries
  mk/aosp_optee.mk
Owners: @OP-TEE/linaro

plat-hikey: make DRAM1_BASE configurable
  core/arch/arm/plat-hikey/conf.mk
  core/arch/arm/plat-hikey/platform_config.h
Owners: @OP-TEE/plat-hikey

core: kernel: Refine variable declarations and return values in dt.c
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro

core: riscv: Get external device tree provided by early boot stage
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: Add external DT initialization and updating
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

core: arm: Move some DT functions to common kernel
  core/arch/arm/kernel/boot.c
  core/arch/arm/plat-sam/freq.c
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/drivers/clk/clk_dt.c
  core/drivers/crypto/caam/hal/common/hal_cfg.c
  core/include/kernel/boot.h
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-sam, @nodeax

mk/aosp_optee.mk: allow building ta with specified target architecture
  mk/aosp_optee.mk
Owners: @OP-TEE/linaro

mk/aosp_optee.mk: fix build dependency between a TA and its libraries
  mk/aosp_optee.mk
Owners: @OP-TEE/linaro

drivers: stm32_bsec: add BSEC_DEN_ALL_MSK support
  core/drivers/stm32_bsec.c
Owners: @OP-TEE/linaro

drivers: stm32_bsec: keep stm32_bsec_permanent_lock_otp() under flag
  core/drivers/stm32_bsec.c
  core/include/drivers/stm32_bsec.h
Owners: @OP-TEE/linaro

drivers: stm32_bsec: fix stm32_bsec_find_otp_in_nvmem_layout()
  core/drivers/stm32_bsec.c
Owners: @OP-TEE/linaro

drivers: stm32_bsec: implement the get otp by phandle
  core/drivers/stm32_bsec.c
  core/include/drivers/stm32_bsec.h
Owners: @OP-TEE/linaro

drivers: stm32_bsec: add support for bits property in the DT
  core/arch/arm/plat-stm32mp1/main.c
  core/drivers/stm32_bsec.c
  core/drivers/stm32mp15_huk.c
  core/include/drivers/stm32_bsec.h
Owners: @OP-TEE/linaro

core: arm64: add dsb_osh()
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: arm64: add dsb_osh()
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

drivers: crypto: hisilicon: implement QM driver
  core/arch/arm/plat-d06/conf.mk
  core/drivers/crypto/hisilicon/hisi_qm.c
  core/drivers/crypto/hisilicon/include/hisi_qm.h
  core/drivers/crypto/hisilicon/sub.mk
  core/drivers/crypto/sub.mk
Owners: @OP-TEE/linaro

drivers: crypto: hisilicon: implement SEC driver
  core/arch/arm/plat-d06/main.c
  core/arch/arm/plat-d06/platform_config.h
  core/drivers/crypto/hisilicon/include/hisi_sec.h
  core/drivers/crypto/hisilicon/sec/hisi_sec.c
  core/drivers/crypto/hisilicon/sec/sub.mk
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

drivers: crypto: hisilicon: implement SEC ciphers
  core/drivers/crypto/hisilicon/crypto.mk
  core/drivers/crypto/hisilicon/include/hisi_cipher.h
  core/drivers/crypto/hisilicon/sec/sec_cipher.c
  core/drivers/crypto/hisilicon/sec/sub.mk
Owners: @OP-TEE/linaro

core: fix fragmented memory retrieve from FF-A SPMC
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

riscv: mm: core_mmu_arch.h: define translation levels parameters
  core/arch/riscv/include/mm/core_mmu_arch.h
Owners: @OP-TEE/linaro

riscv: kernel: asm-defines.c: add defines for struct core_mmu_config
  core/arch/riscv/kernel/asm-defines.c
Owners: @OP-TEE/linaro

riscv: mm: initial implementation of memory management routines
  core/arch/riscv/mm/core_mmu_arch.c
  core/arch/riscv/mm/sub.mk
Owners: @OP-TEE/linaro

core: rename interrupt controller functions
  core/arch/arm/kernel/boot.c
  core/arch/arm/plat-aspeed/platform_ast2600.c
  core/arch/arm/plat-aspeed/platform_ast2700.c
  core/arch/arm/plat-bcm/main.c
  core/arch/arm/plat-corstone1000/main.c
  core/arch/arm/plat-imx/main.c
  core/arch/arm/plat-imx/pm/cpuidle-imx7d.c
  core/arch/arm/plat-imx/pm/imx7_suspend.c
  core/arch/arm/plat-k3/main.c
  core/arch/arm/plat-ls/main.c
  core/arch/arm/plat-marvell/main.c
  core/arch/arm/plat-mediatek/main.c
  core/arch/arm/plat-nuvoton/main.c
  core/arch/arm/plat-rcar/main.c
  core/arch/arm/plat-rockchip/main.c
  core/arch/arm/plat-rzn1/main.c
  core/arch/arm/plat-sam/main.c
  core/arch/arm/plat-sprd/main.c
  core/arch/arm/plat-stm/main.c
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-sunxi/main.c
  core/arch/arm/plat-synquacer/main.c
  core/arch/arm/plat-ti/a9_plat_init.S
  core/arch/arm/plat-ti/main.c
  core/arch/arm/plat-totalcompute/main.c
  core/arch/arm/plat-uniphier/main.c
  core/arch/arm/plat-versal/main.c
  core/arch/arm/plat-vexpress/main.c
  core/arch/arm/plat-zynq7k/main.c
  core/arch/arm/plat-zynqmp/main.c
  core/include/kernel/boot.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp

riscv: driver: implement platform-level interrupt controller (PLIC) driver
  core/drivers/plic.c
  core/drivers/sub.mk
  core/include/drivers/plic.h
Owners: @OP-TEE/linaro

core: riscv: introduce primary_init_intc() and secondary_init_intc()
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

riscv: mm: core_mmu_arch.h: define translation levels parameters
  core/arch/riscv/include/mm/core_mmu_arch.h
Owners: @OP-TEE/linaro

riscv: kernel: asm-defines.c: add defines for struct core_mmu_config
  core/arch/riscv/kernel/asm-defines.c
Owners: @OP-TEE/linaro

riscv: mm: initial implementation of memory management routines
  core/arch/riscv/mm/core_mmu_arch.c
  core/arch/riscv/mm/sub.mk
Owners: @OP-TEE/linaro

riscv: driver: implement platform-level interrupt controller (PLIC) driver
  core/drivers/plic.c
  core/drivers/sub.mk
  core/include/drivers/plic.h
Owners: @OP-TEE/linaro
