Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: asu: increase ASU_RESP_TIMEOUT from 2s to 10s
  core/drivers/amd/asu/asu_main.c
Owners: @OP-TEE/linaro

drivers: serial8250: bound the TX-empty poll in flush()
  core/drivers/serial8250_uart.c
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: asu: increase ASU_RESP_TIMEOUT from 2s to 10s
  core/drivers/amd/asu/asu_main.c
Owners: @OP-TEE/linaro

core: copy subkey_version in shdr_load_pub_key()
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro

[REVIEW] address minor review comments
  core/drivers/crypto/asu_driver/asu_rsa.c
Owners: @OP-TEE/linaro

mk/aosp_optee.mk: skip AOSP ELF check for signed TA prebuilts
  mk/aosp_optee.mk
Owners: @OP-TEE/linaro

MAINTAINERS: add entry for Qualcomm HWKM driver
  MAINTAINERS
Owners: @OP-TEE/approvers

drivers: crypto: add Qualcomm Hardware Key Manager (HWKM) driver
  core/drivers/crypto/qcom/hwkm.c
  core/drivers/crypto/qcom/hwkm_huk.c
  core/drivers/crypto/qcom/hwkm_transaction.c
  core/drivers/crypto/qcom/include/hwkm.h
  core/drivers/crypto/qcom/include/hwkm_errno.h
  core/drivers/crypto/qcom/include/hwkm_regs.h
  core/drivers/crypto/qcom/sub.mk
  core/drivers/crypto/sub.mk
Owners: @OP-TEE/linaro

plat-qcom: lemans: enable HWKM driver
  core/arch/arm/plat-qcom/hoya/arch_config.h
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
Owners: @OP-TEE/linaro

crypto: asu: align ECC ABI with ASUFW and fix P-521 DMA corruption
  core/drivers/crypto/asu_driver/asu_ecc.c
Owners: @OP-TEE/linaro

crypto: asu: ECC and ECDH crypto driver support
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_ecc.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

[REVIEW] address review comments
  core/drivers/crypto/asu_driver/asu_ecc.c
Owners: @OP-TEE/linaro

core: Rename internal config switch _CFG_ARM_V3_OR_V4
  core/arch/arm/arm.mk
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/kernel/sub.mk
  core/arch/arm/plat-corstone1000/main.c
  core/arch/arm/plat-corstone1000/platform_config.h
  core/arch/arm/plat-rcar/main.c
  core/drivers/gic.c
  core/include/drivers/gic.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-rcar

plat-rockchip: rk3506 enable CFG_8250_UART_FLUSH_TIMEOUT
  core/arch/arm/plat-rockchip/conf.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

riscv: core: add macro-driven assembly FP state save and restore functions
  core/arch/riscv/include/riscv.h
  core/arch/riscv/include/riscv_fp.h
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/kernel/riscv_fp.S
  core/arch/riscv/kernel/sub.mk
  core/include/kernel/thread_private.h
Owners: @OP-TEE/linaro

riscv: core: implement vector context save and restore routines
  core/arch/riscv/include/riscv.h
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/include/riscv_vector.h
  core/arch/riscv/kernel/riscv_vector.S
  core/arch/riscv/kernel/sub.mk
  core/include/kernel/thread_private.h
Owners: @OP-TEE/linaro

core: riscv: add thread support for FP and vector context management
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/include/riscv.h
  core/kernel/thread.c
Owners: @OP-TEE/linaro

plat-qcom: Add support for GICv4
  core/arch/arm/plat-qcom/main.c
Owners: @OP-TEE/linaro

plat-qcom: make diagnostic logging optional
  core/arch/arm/plat-qcom/diag_log.c
  core/arch/arm/plat-qcom/diag_log.h
  core/arch/arm/plat-qcom/sub.mk
Owners: @OP-TEE/linaro

plat-rockchip: rk3588: fix firewall setup
  core/arch/arm/plat-rockchip/platform_rk3588.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-rockchip: rk3506 enable CFG_8250_UART_FLUSH_TIMEOUT
  core/arch/arm/plat-rockchip/conf.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-mediatek: add arm smccc_trng support for mt798x series
  core/arch/arm/plat-mediatek/conf.mk
Owners: @OP-TEE/plat-mediatek

riscv: core: implement vector context save and restore routines
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/include/riscv.h
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/include/riscv_vector.h
  core/arch/riscv/kernel/riscv_vector.S
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/riscv.mk
  core/include/kernel/thread_private.h
Owners: @OP-TEE/linaro

core: riscv: add thread support for vector context management
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/kernel/thread_arch.c
  core/include/kernel/thread_private.h
  core/kernel/thread.c
Owners: @OP-TEE/linaro

riscv: core: add macro-driven assembly FP state save and restore functions
  core/arch/riscv/include/riscv.h
  core/arch/riscv/include/riscv_fp.h
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/kernel/riscv_fp.S
  core/arch/riscv/kernel/sub.mk
  core/include/kernel/thread_private.h
  lib/libutils/ext/include/riscv.S
Owners: @OP-TEE/linaro

core: riscv: add thread support for FP and vector context management
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/include/riscv.h
  core/arch/riscv/kernel/abort.c
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/kernel/thread_arch.c
  core/arch/riscv/riscv.mk
  core/include/kernel/abort.h
  core/include/kernel/thread_private.h
  core/kernel/thread.c
  lib/libutils/ext/include/riscv.S
Owners: @OP-TEE/linaro

core: ffa: do not assume manifest precedes OP-TEE image
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

core: lpae: retry ASLR when no user mapping entry remains
  core/arch/arm/include/mm/core_mmu_arch.h
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/riscv/include/mm/core_mmu_arch.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: lpae: retry ASLR when no user mapping entry remains
  core/arch/arm/include/mm/core_mmu_arch.h
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/riscv/include/mm/core_mmu_arch.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: riscv: add initial support for CVA6 APU on Genesys2
  core/arch/riscv/plat-cva6/conf.mk
  core/arch/riscv/plat-cva6/main.c
  core/arch/riscv/plat-cva6/platform_config.h
  core/arch/riscv/plat-cva6/sub.mk
Owners: @OP-TEE/linaro

ci: ci.yml: add CVA6 platform to GitHub workflow
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: arm: stmm_sp: make StMM heap size configurable via CFG_STMM_HEAP_PAGE_COUNT
  core/arch/arm/kernel/stmm_sp.c
  mk/config.mk
Owners: @OP-TEE/linaro

plat-rockchip: rk3576: add OTP HUK derivation via Secure OTP
  core/arch/arm/plat-rockchip/conf.mk
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rk3576.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-qcom: Add support for Nord based on Wildcat arch
  core/arch/arm/plat-qcom/bobcat/sub.mk
  core/arch/arm/plat-qcom/conf.mk
  core/arch/arm/plat-qcom/hoya/sub.mk
  core/arch/arm/plat-qcom/sub.mk
  core/arch/arm/plat-qcom/wildcat/arch_config.h
  core/arch/arm/plat-qcom/wildcat/core_pos_a64.S
  core/arch/arm/plat-qcom/wildcat/nord/target.mk
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
  core/arch/arm/plat-qcom/wildcat/qcom-arch.mk
  core/arch/arm/plat-qcom/wildcat/sub.mk
Owners: @OP-TEE/linaro

ci: qcom: add nord platform build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: mm: lpae: account for UBSan in xlat tables
  core/arch/arm/mm/core_mmu_lpae.c
Owners: @OP-TEE/linaro

mk, ubsan: add CFG_SANITIZE_UNDEFINED_PANIC, default to no panic
  lib/libutils/ext/ubsan.c
  mk/config.mk
Owners: @OP-TEE/linaro

ci: ci.yml: add CVA6 platform to GitHub workflow
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: riscv: add initial support for CVA6 APU on Genesys2
  core/arch/riscv/plat-cva6/conf.mk
  core/arch/riscv/plat-cva6/main.c
  core/arch/riscv/plat-cva6/platform_config.h
  core/arch/riscv/plat-cva6/sub.mk
Owners: @OP-TEE/linaro

crypto: asu: add TRNG driver
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/amd/asu/asu_main.c
  core/drivers/crypto/asu_driver/asu_trng.c
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro
