Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

arm: boot: reserve devices for exclusive access
  core/arch/arm/kernel/boot.c
  core/include/kernel/boot.h
Owners: @OP-TEE/linaro

core: io: add {get/put}_unaligned_le{16/32/64}()
  core/include/io.h
Owners: @OP-TEE/linaro

plat-vexpress: Use the correct MACRO for TPM2
  core/arch/arm/plat-vexpress/main.c
Owners: @OP-TEE/plat-vexpress

MAINTAINERS: remove Sandeep (Broadcom ns3)
  MAINTAINERS
Owners: @OP-TEE/approvers

core: io: add {get/put}_unaligned_le{16/32/64}()
  core/include/io.h
Owners: @OP-TEE/linaro

plat-vexpress: Use the correct MACRO for TPM2
  core/arch/arm/plat-vexpress/main.c
Owners: @OP-TEE/plat-vexpress

mk/aosp_optee.mk: introduce OPTEE_EXTRA_TA_FLAGS variable
  mk/aosp_optee.mk
Owners: @OP-TEE/linaro

Introduce OPTEE_CLANG_COMPILER_PATH variable
  mk/clang.mk
Owners: @OP-TEE/linaro

mk/aosp_optee.mk: Provide the ability to set CROSS_COMPILE* variables
  mk/aosp_optee.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: fix apb3/4 iomem static mapping
  core/arch/arm/plat-stm32mp1/main.c
Owners: @OP-TEE/linaro

drivers: imx_i2c: add support for MX8MP
  core/arch/arm/plat-imx/registers/imx8m-crm.h
  core/arch/arm/plat-imx/registers/imx8m.h
  core/drivers/imx_i2c.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

plat-stm32mp1: fix apb3/4 iomem static mapping
  core/arch/arm/plat-stm32mp1/main.c
Owners: @OP-TEE/linaro

mk/aosp_optee.mk: Provide the ability to set CROSS_COMPILE* variables
  mk/aosp_optee.mk
Owners: @OP-TEE/linaro

mk/aosp_optee.mk: introduce OPTEE_EXTRA_TA_FLAGS variable
  mk/aosp_optee.mk
Owners: @OP-TEE/linaro

Introduce OPTEE_CLANG_COMPILER_PATH variable
  mk/clang.mk
Owners: @OP-TEE/linaro

drivers: imx_i2c: add support for MX8MP
  core/arch/arm/plat-imx/registers/imx8m-crm.h
  core/arch/arm/plat-imx/registers/imx8m.h
  core/drivers/imx_i2c.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

drivers: stpmic1: export regulators API in a specific header file
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
  core/arch/arm/plat-stm32mp1/scmi_server.c
  core/drivers/stpmic1.c
  core/include/drivers/stpmic1.h
  core/include/drivers/stpmic1_regulator.h
Owners: @OP-TEE/linaro

core: dt-bindings: stm32mp1: add IDs for STPMIC1 SCMI voltage regulators
  core/include/dt-bindings/regulator/st,stm32mp15-regulator.h
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi: export some STPMIC1 regulators as voltage domains
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

core: dt-bindings: stm32mp1: add IDs for STPMIC1 SCMI voltage regulators
  core/include/dt-bindings/regulator/st,stm32mp15-regulator.h
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi: export some STPMIC1 regulators as voltage domains
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

drivers: stpmic1: export regulators API in a specific header file
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
  core/arch/arm/plat-stm32mp1/scmi_server.c
  core/drivers/stpmic1.c
  core/include/drivers/stpmic1.h
  core/include/drivers/stpmic1_regulator.h
Owners: @OP-TEE/linaro

plat-versal: add support for Xilinx's Versal ACAP platform
  core/arch/arm/plat-versal/conf.mk
  core/arch/arm/plat-versal/main.c
  core/arch/arm/plat-versal/platform_config.h
  core/arch/arm/plat-versal/sub.mk
Owners: @OP-TEE/linaro

ci: azure: add Versal ACAP platform support
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

MAINTAINERS: maintain the Xilinx Versal ACAP platform
  MAINTAINERS
Owners: @OP-TEE/approvers

plat-versal: add support for Xilinx's Versal ACAP platform
  core/arch/arm/plat-versal/conf.mk
  core/arch/arm/plat-versal/main.c
  core/arch/arm/plat-versal/platform_config.h
  core/arch/arm/plat-versal/sub.mk
Owners: @OP-TEE/linaro

MAINTAINERS: maintain the Xilinx Versal ACAP platform
  MAINTAINERS
Owners: @OP-TEE/approvers

ci: azure: add Versal ACAP platform support
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

drivers: imx: tzc380: register TZC380 memory registers
  core/arch/arm/plat-imx/drivers/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add TZASC_SIZE for imx6, imx7 and imx8m
  core/arch/arm/plat-imx/registers/imx6.h
  core/arch/arm/plat-imx/registers/imx7.h
  core/arch/arm/plat-imx/registers/imx8m.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx: dump TZASC state after lockdown
  core/arch/arm/plat-imx/drivers/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: tzc380: fix the lockdown range register value
  core/drivers/tzc380.c
Owners: @OP-TEE/linaro

core: fix use after free in tee_ta_open_session()
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

core: fix use after free in tee_ta_open_session()
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

drivers: tzc380: fix the lockdown range register value
  core/drivers/tzc380.c
Owners: @OP-TEE/linaro

drivers: imx: dump TZASC state after lockdown
  core/arch/arm/plat-imx/drivers/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add TZASC_SIZE for imx6, imx7 and imx8m
  core/arch/arm/plat-imx/registers/imx6.h
  core/arch/arm/plat-imx/registers/imx7.h
  core/arch/arm/plat-imx/registers/imx8m.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx: tzc380: register TZC380 memory registers
  core/arch/arm/plat-imx/drivers/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: dt_driver: allow parsing of phandle == 0
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

drivers: clk: Fix check for assigned-clock-rates index
  core/drivers/clk/clk_dt.c
Owners: @OP-TEE/linaro
