Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: add RISC-V IMSIC interrupt driver
  core/arch/riscv/include/riscv.h
  core/drivers/imsic.c
  core/drivers/sub.mk
  core/include/drivers/imsic.h
Owners: @OP-TEE/linaro

drivers: ele: rng: get random number from ELE
  core/drivers/crypto/ele/crypto.mk
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

core: imx: enable ELE by default
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

ci: add build of remote proc driver on stm32mp15
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: imx: enable ELE by default
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: ele: getting common macros and functions in header file
  core/drivers/crypto/ele/ele.c
  core/drivers/crypto/ele/include/ele.h
  core/drivers/crypto/ele/sub.mk
Owners: @OP-TEE/linaro

drivers: ele: enable TRUST MU in OP-TEE for i.MX93-EVK/i.MX91-EVK
  core/arch/arm/plat-imx/registers/imx93.h
  core/drivers/imx/mu/imx_mu.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

drivers: ele: add SAB init command
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: ele: use the baseline API to retrieve the UID
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: ele: move ELE to a dedicated directory
  core/drivers/crypto/ele/ele.c
  core/drivers/crypto/ele/sub.mk
  core/drivers/crypto/sub.mk
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

drivers: ele: rng: get random number from ELE
  core/drivers/crypto/ele/crypto.mk
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: ele: add memory management functions
  core/drivers/crypto/ele/include/memutils.h
  core/drivers/crypto/ele/memutils.c
  core/drivers/crypto/ele/sub.mk
Owners: @OP-TEE/linaro

drivers: ele: disable ASLR for imx8ulp
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: ele: allocate data in heap for HUK derivation
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: ele: update session open command parameters
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

core: riscv: Preparation to support CFG_BOOT_MEM
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: Implicitly enable CFG_BOOT_MEM
  core/include/kernel/boot.h
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
  core/mm/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

core: riscv: Add boot mem paddings to the heap
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

core: riscv: mm: Minor refactoring and add missing code
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro

core: riscv: mm: Support dynamic allocation of translation tables
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro

drivers: amd: Add PS GPIO Support
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/amd/gpio_common.c
  core/drivers/amd/include/gpio_private.h
  core/drivers/amd/ps_gpio_driver.c
  core/drivers/amd/sub.mk
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

core: riscv: mm: Support dynamic allocation of translation tables
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro

core: riscv: Preparation to support CFG_BOOT_MEM
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: mm: Minor refactoring and add missing code
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro

core: Implicitly enable CFG_BOOT_MEM
  core/include/kernel/boot.h
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
  core/mm/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

core: riscv: Add boot mem paddings to the heap
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

mk/compile.mk: add -undef and -D__DTS__ in dtb-cppflags
  mk/compile.mk
Owners: @OP-TEE/linaro

sign_encrypt.py: Fix typo from 'Unkown' to 'Unknown'
  scripts/sign_encrypt.py
Owners: @OP-TEE/linaro

crypto: stm32: use HASH IP for HASH and HMAC algorithm
  core/drivers/crypto/stm32/common.h
  core/drivers/crypto/stm32/crypto.mk
  core/drivers/crypto/stm32/hash.c
  core/drivers/crypto/stm32/hmac.c
  core/drivers/crypto/stm32/stm32_hash.c
  core/drivers/crypto/stm32/stm32_hash.h
  core/drivers/crypto/stm32/sub.mk
Owners: @OP-TEE/linaro

dts: stm32: enable HASH on stm32mp135f-dk
  core/arch/arm/dts/stm32mp135f-dk.dts
Owners: @OP-TEE/linaro

plat-stm32mp1: conf: default enable HASH
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

mk/compile.mk: add -undef and -D__DTS__ in dtb-cppflags
  mk/compile.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: conf: default enable HASH
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

crypto: stm32: use HASH IP for HASH and HMAC algorithm
  core/drivers/crypto/stm32/common.h
  core/drivers/crypto/stm32/crypto.mk
  core/drivers/crypto/stm32/hash.c
  core/drivers/crypto/stm32/hmac.c
  core/drivers/crypto/stm32/stm32_hash.c
  core/drivers/crypto/stm32/stm32_hash.h
  core/drivers/crypto/stm32/sub.mk
Owners: @OP-TEE/linaro

dts: stm32: enable HASH on stm32mp135f-dk
  core/arch/arm/dts/stm32mp135f-dk.dts
Owners: @OP-TEE/linaro

sign_encrypt.py: Fix typo from 'Unkown' to 'Unknown'
  scripts/sign_encrypt.py
Owners: @OP-TEE/linaro

dts: stm32: disable unused i2c1 and i2c2
  core/arch/arm/dts/stm32mp15xx-dhcor-avenger96.dtsi
Owners: @OP-TEE/linaro

plat-rockchip: rk3588: Correct TZDRAM_START and SHMEM_START
  core/arch/arm/plat-rockchip/conf.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-rockchip: rk3588: Increase FDT Max Size to 384KiB
  core/arch/arm/plat-rockchip/conf.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

libmbedtls: use mempool_calloc() for temporary memory
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro
