Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: fix error in ubsan_builtin_unreachable naming
  core/kernel/ubsan.c
Owners: @OP-TEE/linaro

core: fix gcc warnings in ubsan
  core/kernel/ubsan.c
Owners: @OP-TEE/linaro

core: refactor ubsan panic code
  core/kernel/ubsan.c
Owners: @OP-TEE/linaro

core: fix undefined reference to ubsan function
  core/kernel/ubsan.c
Owners: @OP-TEE/linaro

core: arm: pass guest ID to SMC_ENABLE_ASYNC_NOTIF
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro

core: notif_default: support ns-virtualization
  core/kernel/notif_default.c
Owners: @OP-TEE/linaro

core: arm: guest ID test for notif and VM creation
  core/arch/arm/kernel/virtualization.c
Owners: @OP-TEE/linaro

core: notif_default: support ns-virtualization
  core/kernel/notif_default.c
Owners: @OP-TEE/linaro

core: arm: guest ID test for notif and VM creation
  core/arch/arm/kernel/virtualization.c
Owners: @OP-TEE/linaro

core: arm: pass guest ID to SMC_ENABLE_ASYNC_NOTIF
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro

clk: clk-stm32-core: fix use of ROUNDUP2_DIV() in stm32_div_get_rate()
  core/drivers/clk/clk-stm32-core.c
Owners: @OP-TEE/linaro

drivers: atmel_rstc: new data and functions to handle reset assert/deassert
  core/drivers/atmel_rstc.c
  core/include/drivers/atmel_rstc.h
Owners: @OP-TEE/linaro

drivers: atmel_rstc: probe RSTC with reset controller and reset lines
  core/drivers/atmel_rstc.c
Owners: @OP-TEE/linaro

drivers: microchip_pit: fix the path of "dt_driver.h" included
  core/drivers/microchip_pit.c
Owners: @OP-TEE/linaro

plat-sam: enable SCMI reset domain management protocol and rstctrl driver
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

drivers: atmel_rstc: add functions to allocate/get reset controller/lines
  core/drivers/atmel_rstc.c
  core/include/drivers/atmel_rstc.h
Owners: @OP-TEE/linaro

drivers: microchip_pit: fix the length used for comparing the clock names
  core/drivers/microchip_pit.c
Owners: @OP-TEE/linaro

plat-sam: scmi_server: use SCMI reset to manage USB reset for sama7g5
  core/arch/arm/plat-sam/scmi_server.c
Owners: @OP-TEE/plat-sam, @nodeax

clk: clk-stm32-core: fix use of ROUNDUP2_DIV() in stm32_div_get_rate()
  core/drivers/clk/clk-stm32-core.c
Owners: @OP-TEE/linaro

drivers: atmel_rstc: probe RSTC with reset controller and reset lines
  core/drivers/atmel_rstc.c
Owners: @OP-TEE/linaro

plat-sam: scmi_server: use SCMI reset to manage USB reset for sama7g5
  core/arch/arm/plat-sam/scmi_server.c
Owners: @OP-TEE/plat-sam, @nodeax

drivers: atmel_rstc: add functions to allocate/get reset controller/lines
  core/drivers/atmel_rstc.c
  core/include/drivers/atmel_rstc.h
Owners: @OP-TEE/linaro

drivers: clk: sam: rename the sama7g5 UTMI clocks for USB PHY
  core/drivers/clk/sam/sama7g5_clk.c
Owners: @OP-TEE/linaro

drivers: microchip_pit: fix the length used for comparing the clock names
  core/drivers/microchip_pit.c
Owners: @OP-TEE/linaro

drivers: atmel_rstc: new data and functions to handle reset assert/deassert
  core/drivers/atmel_rstc.c
  core/include/drivers/atmel_rstc.h
Owners: @OP-TEE/linaro

drivers: microchip_pit: fix the path of "dt_driver.h" included
  core/drivers/microchip_pit.c
Owners: @OP-TEE/linaro

plat-sam: enable SCMI reset domain management protocol and rstctrl driver
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

core: rpmb: handle not-implemented error code on device probing
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: rpmb: handle not-implemented error code on device probing
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

plat-rockchip: rk3588: add TRNG support
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rk3588.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

dt-bindings: stm32: fix CLKSRC for RTC in stm32mp13 clock bindings
  core/include/dt-bindings/clock/stm32mp13-clksrc.h
Owners: @OP-TEE/linaro

clk: fix clk_get_rate() when parent clock rate was changed
  core/drivers/clk/clk.c
Owners: @OP-TEE/linaro

core: allow partially unmapped MEM_AREA_TEE_RAM_RW
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: boot_mem: allow NULL pointers while relocating
  core/mm/boot_mem.c
Owners: @OP-TEE/linaro

core: boot_mem: keep track of padding
  core/include/kernel/boot.h
  core/mm/boot_mem.c
Owners: @OP-TEE/linaro

core: arm: add boot mem paddings to the heap
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

core: mm: extend temporary dummy memory map
  core/mm/core_mmu.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: arm: mm: refactor LPAE translation table handling
  core/arch/arm/include/mm/core_mmu_arch.h
  core/arch/arm/mm/core_mmu_lpae.c
Owners: @OP-TEE/linaro

core: arm: mm: dynamic allocation of v7 translation tables
  core/arch/arm/mm/core_mmu_v7.c
Owners: @OP-TEE/linaro

core: arm: mm: dynamic allocation of LPAE translation tables
  core/arch/arm/mm/core_mmu_lpae.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
