Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: caam: use dcache_get_line_size()
  core/drivers/crypto/caam/utils/utils_mem.c
Owners: @OP-TEE/linaro

drivers: caam: implement CAAM DMA Object
  core/arch/arm/plat-imx/crypto_conf.mk
  core/drivers/crypto/caam/include/caam_common.h
  core/drivers/crypto/caam/include/caam_jr_status.h
  core/drivers/crypto/caam/include/caam_status.h
  core/drivers/crypto/caam/include/caam_trace.h
  core/drivers/crypto/caam/include/caam_types.h
  core/drivers/crypto/caam/include/caam_utils_dmaobj.h
  core/drivers/crypto/caam/include/caam_utils_mem.h
  core/drivers/crypto/caam/include/caam_utils_sgt.h
  core/drivers/crypto/caam/include/caam_utils_status.h
  core/drivers/crypto/caam/utils/sub.mk
  core/drivers/crypto/caam/utils/utils_dmaobj.c
  core/drivers/crypto/caam/utils/utils_mem.c
  core/drivers/crypto/caam/utils/utils_sgt.c
  core/drivers/crypto/caam/utils/utils_status.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

drivers: caam: fix allocated buffer size
  core/drivers/crypto/caam/utils/utils_mem.c
Owners: @OP-TEE/linaro

drivers: caam: use CAAM DMA object in Hash
  core/drivers/crypto/caam/hash/caam_hash.c
  core/drivers/crypto/caam/hash/local.h
  core/drivers/crypto/caam/include/caam_trace.h
Owners: @OP-TEE/linaro

drivers: caam: use CAAM DMA object in HMAC
  core/drivers/crypto/caam/hash/caam_hash_mac.c
Owners: @OP-TEE/linaro

drivers: caam: use CAAM DMA object in Cipher
  core/drivers/crypto/caam/cipher/caam_cipher.c
  core/drivers/crypto/caam/cipher/caam_cipher_mac.c
  core/drivers/crypto/caam/cipher/caam_cipher_xts.c
  core/drivers/crypto/caam/cipher/local.h
Owners: @OP-TEE/linaro

drivers: caam: use CAAM DMA object in RSA
  core/drivers/crypto/caam/acipher/caam_rsa.c
Owners: @OP-TEE/linaro

drivers: caam: remove unused SGT functions
  core/drivers/crypto/caam/include/caam_utils_sgt.h
  core/drivers/crypto/caam/utils/utils_sgt.c
Owners: @OP-TEE/linaro

drivers: caam: use CAAM DMA object in math driver
  core/drivers/crypto/caam/acipher/caam_math.c
Owners: @OP-TEE/linaro

drivers: caam: increases RSA Prime retry
  core/drivers/crypto/caam/acipher/caam_prime.c
Owners: @OP-TEE/linaro

plat-ls: add i2c driver for NXP LS Platforms
  MAINTAINERS
  core/arch/arm/plat-ls/conf.mk
  core/drivers/ls_i2c.c
  core/drivers/sub.mk
  core/include/drivers/ls_i2c.h
Owners: @OP-TEE/approvers, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/linaro

ta: pkcs11: Close file handle after object has been created
  ta/pkcs11/src/object.c
Owners: @OP-TEE/linaro

ta: pkcs11: Fix interpretation of CKA_VALUE_LEN for Generic Secrets
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/pkcs11_token.c
  ta/pkcs11/src/processing.c
  ta/pkcs11/src/processing_symm.c
  ta/pkcs11/src/token_capabilities.c
  ta/pkcs11/src/token_capabilities.h
Owners: @OP-TEE/linaro

ta: pkcs11: Add key size check for AES type of key
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: Correct the return type of functions and typos
  ta/pkcs11/src/object.c
Owners: @OP-TEE/linaro

plat-ls: add i2c driver for NXP LS Platforms
  MAINTAINERS
  core/arch/arm/plat-ls/conf.mk
  core/drivers/ls_i2c.c
  core/drivers/sub.mk
  core/include/drivers/ls_i2c.h
Owners: @OP-TEE/approvers, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/linaro

drivers: caam: use dcache_get_line_size()
  core/drivers/crypto/caam/utils/utils_mem.c
Owners: @OP-TEE/linaro

drivers: caam: fix allocated buffer size
  core/drivers/crypto/caam/utils/utils_mem.c
Owners: @OP-TEE/linaro

drivers: caam: fix allocated buffer size
  core/drivers/crypto/caam/utils/utils_mem.c
Owners: @OP-TEE/linaro

drivers: caam: use dcache_get_line_size()
  core/drivers/crypto/caam/utils/utils_mem.c
Owners: @OP-TEE/linaro

core: mobj: fix memory leak
  core/arch/arm/mm/mobj_dyn_shm.c
Owners: @OP-TEE/linaro

ta: pkcs11: private key can also be public
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: private key can also be public
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

Fix value of TEE_ECC_CURVE_SM2
  lib/libutee/include/tee_api_defines.h
Owners: @OP-TEE/linaro

core: add pgt_clear_ctx_range()
  core/arch/arm/include/mm/pgt_cache.h
  core/arch/arm/mm/pgt_cache.c
Owners: @OP-TEE/linaro

core: clear user mappings from tables when removed
  core/mm/vm.c
Owners: @OP-TEE/linaro

core: add tlbi_mva_range_asid()
  core/arch/arm/include/kernel/tlb_helpers.h
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

libutee: add coverity note to TEE_Panic()
  lib/libutee/tee_api_panic.c
Owners: @OP-TEE/linaro

core: assert result in crypto_bignum_bn2bin()
  core/lib/libtomcrypt/mpi_desc.c
Owners: @OP-TEE/linaro

core: assert result in crypto_bignum_copy()
  core/lib/libtomcrypt/mpi_desc.c
Owners: @OP-TEE/linaro

libutee: remove redundant NULL check in TEE_BigIntComputeExtendedGcd()
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

core: assert result in file_num_to_str()
  core/tee/tadb.c
Owners: @OP-TEE/linaro

ldelf: assert result in print_seg()
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

core: add NULL check in system_dlsym()
  core/pta/system.c
Owners: @OP-TEE/linaro

libutee: check srcLen in TEE_CipherDoFinal()
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

core: check snprintf() return value in add_res_mem_dt_node()
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

core: mobj: fix memory leak
  core/arch/arm/mm/mobj_dyn_shm.c
Owners: @OP-TEE/linaro

core: add NULL check in system_dlsym()
  core/pta/system.c
Owners: @OP-TEE/linaro

core: assert result in file_num_to_str()
  core/tee/tadb.c
Owners: @OP-TEE/linaro

core: assert result in crypto_bignum_copy()
  core/lib/libtomcrypt/mpi_desc.c
Owners: @OP-TEE/linaro
