Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

dt-bindings: add STM32MP21 RIFSC bindings
  core/include/dt-bindings/firewall/stm32mp21-rifsc.h
Owners: @OP-TEE/linaro

dt-bindings: add STM32MP21x shared bindings
  core/include/drivers/stm32mp_dt_bindings.h
Owners: @OP-TEE/linaro

dts: st: introduce stm32mp21 SoCs family
  core/arch/arm/dts/stm32mp211.dtsi
  core/arch/arm/dts/stm32mp213.dtsi
  core/arch/arm/dts/stm32mp215.dtsi
  core/arch/arm/dts/stm32mp21xc.dtsi
  core/arch/arm/dts/stm32mp21xf.dtsi
Owners: @OP-TEE/linaro

dts: stm32: add stm32mp215f-dk board
  core/arch/arm/dts/stm32mp215f-dk-ca35tdcid-rif.dtsi
  core/arch/arm/dts/stm32mp215f-dk.dts
Owners: @OP-TEE/linaro

plat-stm32mp2: conf: support STM32MP21x SoC family
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

drivers: stm32_rifsc: add support of STM32MP21
  core/drivers/firewall/stm32_rifsc.c
Owners: @OP-TEE/linaro

ci: add STM32MP21 platforms build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

dt-bindings: align RIMU documentation with STM32MP21
  core/include/dt-bindings/firewall/stm32mp25-rifsc.h
Owners: @OP-TEE/linaro

core: mm: pgt_init(): use virt_page_alloc() if available
  core/mm/pgt_cache.c
Owners: @OP-TEE/linaro

core: mm: update is_nexus()
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: boot_mem: remove multiple of align restriction
  core/mm/boot_mem.c
Owners: @OP-TEE/linaro

core: arm: init_user_kcode(): use mobj_page_alloc() if available
  core/arch/arm/kernel/thread.c
Owners: @OP-TEE/linaro

core: mm: add mobj_page_alloc()
  core/include/mm/page_alloc.h
  core/mm/page_alloc.c
Owners: @OP-TEE/linaro

core: simplify core_init_mmu_map()
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: mm: add mobj_phys_alloc_flags()
  core/include/mm/mobj.h
  core/mm/mobj.c
Owners: @OP-TEE/linaro

core: fix boot_mem_release_tmp_alloc()
  core/mm/boot_mem.c
Owners: @OP-TEE/linaro

drivers: amd: Add PS GPIO Support
  MAINTAINERS
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/amd/gpio_common.c
  core/drivers/amd/gpio_private.h
  core/drivers/amd/ps_gpio_driver.c
  core/drivers/amd/sub.mk
  core/drivers/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: add AMD Versal Gen 2 platform
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: add AMD Versal Gen 2 platform
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: amd: Add PS GPIO Support
  MAINTAINERS
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/amd/gpio_common.c
  core/drivers/amd/gpio_private.h
  core/drivers/amd/ps_gpio_driver.c
  core/drivers/amd/sub.mk
  core/drivers/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

core: thread_init_threads(): replace dummy thread ctx
  core/kernel/thread.c
Owners: @OP-TEE/linaro

core: arm: allocate heap from physical memory pool
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/kern.ld.S
  core/arch/arm/kernel/virtualization.c
Owners: @OP-TEE/linaro

core: arm: support allocating xlat table from pager
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/arm/mm/core_mmu_v7.c
Owners: @OP-TEE/linaro

core: arm: enable dynamic config with pager
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/kern.ld.S
  mk/config.mk
Owners: @OP-TEE/linaro

core: arm: allocate kdata page from pager
  core/arch/arm/kernel/thread.c
Owners: @OP-TEE/linaro

core: mm: core_mmu.c: add core_mmu_linear_map_end
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: tee_pager_phys_to_virt(): support ASLR and sub-page lookups
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

core: add boot_mem section for pager
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/kern.ld.S
  core/include/kernel/linker.h
  core/mm/boot_mem.c
Owners: @OP-TEE/linaro

core: set uref_base for uref calculations
  core/include/kernel/user_access.h
  core/kernel/user_access.c
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

drivers: ffa_console: register a DT_DRIVER_UART driver
  core/drivers/ffa_console.c
Owners: @OP-TEE/linaro

dt-bindings: add STM32MP21 RIFSC bindings
  core/include/dt-bindings/firewall/stm32mp21-rifsc.h
Owners: @OP-TEE/linaro

plat-stm32mp2: conf: support STM32MP21x SoC family
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

dt-bindings: add STM32MP21x shared bindings
  core/include/drivers/stm32mp_dt_bindings.h
Owners: @OP-TEE/linaro

dt-bindings: align RIMU documentation with STM32MP21
  core/include/dt-bindings/firewall/stm32mp25-rifsc.h
Owners: @OP-TEE/linaro

drivers: stm32_rifsc: add support of STM32MP21
  core/drivers/firewall/stm32_rifsc.c
Owners: @OP-TEE/linaro

dts: stm32: add stm32mp215f-dk board
  core/arch/arm/dts/stm32mp215f-dk-ca35tdcid-rif.dtsi
  core/arch/arm/dts/stm32mp215f-dk.dts
Owners: @OP-TEE/linaro

ci: add STM32MP21 platforms build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

dts: st: introduce stm32mp21 SoCs family
  core/arch/arm/dts/stm32mp211.dtsi
  core/arch/arm/dts/stm32mp213.dtsi
  core/arch/arm/dts/stm32mp215.dtsi
  core/arch/arm/dts/stm32mp21xc.dtsi
  core/arch/arm/dts/stm32mp21xf.dtsi
Owners: @OP-TEE/linaro

core: kernel: dt_driver: fix copy/paste comment
  core/include/kernel/dt_driver.h
Owners: @OP-TEE/linaro

core: kernel: dt_driver: fix copy/paste comment
  core/include/kernel/dt_driver.h
Owners: @OP-TEE/linaro
