Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: regulator: simplify device tree parsing
  core/drivers/regulator/regulator_fixed.c
  core/drivers/regulator/regulator_gpio.c
Owners: @OP-TEE/linaro

ta: pkcs11: be flexible on RSA private key optional attributes
  ta/pkcs11/src/processing_rsa.c
Owners: @OP-TEE/linaro

core: ABI description for dynamic protected memory
  core/arch/arm/include/optee_ffa.h
  core/arch/arm/include/sm/optee_smc.h
  core/include/optee_msg.h
Owners: @OP-TEE/linaro

core: arm: refactor struct mobj_ffa
  core/arch/arm/mm/mobj_ffa.c
Owners: @OP-TEE/linaro

ci: add builds for dynamic protected memory
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: support dynamic protected memory lending
  core/arch/arm/include/ffa.h
  core/arch/arm/include/kernel/thread_spmc.h
  core/arch/arm/kernel/thread_spmc.c
  core/arch/arm/mm/mobj_ffa.c
  core/arch/arm/tee/entry_fast.c
  core/include/mm/mobj.h
  core/mm/core_mmu.c
  core/mm/mobj_dyn_shm.c
  core/tee/entry_std.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: kernel: use XOR for transfer list checksum
  core/kernel/transfer_list.c
Owners: @OP-TEE/linaro

drivers: stm32_rtc: only register interrupt if necessary
  core/drivers/stm32_rtc.c
Owners: @OP-TEE/linaro

ta: remoteproc: Fix case empty key info is last TLV cell
  ta/remoteproc/src/remoteproc_core.c
Owners: @OP-TEE/linaro

core: console: Allow setting logging verbosity during runtime
  core/arch/arm/plat-k3/conf.mk
  core/kernel/console.c
  mk/config.mk
Owners: @OP-TEE/linaro

fixup! drivers: stm32_rtc: only register interrupt if necessary
  core/drivers/stm32_rtc.c
Owners: @OP-TEE/linaro

drivers: gpio: add new ops configure to initialize gpio
  core/drivers/gpio/gpio.c
  core/include/drivers/gpio.h
Owners: @OP-TEE/linaro

drivers: gpio: add configure functions
  core/drivers/gpio/gpio.c
  core/drivers/regulator/regulator_fixed.c
  core/drivers/regulator/regulator_gpio.c
  core/drivers/stm32_tamp.c
  core/include/drivers/gpio.h
  core/pta/tests/dt_driver_test.c
Owners: @OP-TEE/linaro

drivers: stm32_gpio: move dt_flags support in the new ops configure
  core/drivers/stm32_gpio.c
Owners: @OP-TEE/linaro

core: console: Allow setting logging verbosity during runtime
  core/arch/arm/plat-k3/conf.mk
  core/kernel/console.c
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: gpio: add new ops configure to initialize gpio
  core/drivers/gpio/gpio.c
  core/include/drivers/gpio.h
Owners: @OP-TEE/linaro

drivers: gpio: add configure functions
  core/drivers/gpio/gpio.c
  core/drivers/regulator/regulator_fixed.c
  core/drivers/regulator/regulator_gpio.c
  core/drivers/stm32_tamp.c
  core/include/drivers/gpio.h
  core/pta/tests/dt_driver_test.c
Owners: @OP-TEE/linaro

drivers: stm32_gpio: move dt_flags support in the new ops configure
  core/drivers/stm32_gpio.c
Owners: @OP-TEE/linaro

drivers: gpio: support gpio suffix in device tree
  core/drivers/gpio/gpio.c
  core/include/drivers/gpio.h
Owners: @OP-TEE/linaro

drivers: regulator: simplify device tree parsing
  core/drivers/regulator/regulator_fixed.c
  core/drivers/regulator/regulator_gpio.c
Owners: @OP-TEE/linaro

fixup! drivers: stm32_rtc: only register interrupt if necessary
  core/drivers/stm32_rtc.c
Owners: @OP-TEE/linaro

core: ree_fs: initialize ta_ver.db when its size is zero
  core/kernel/ree_fs_ta.c
Owners: @OP-TEE/linaro

ci: remove build stm32mp2 without SCP firmware
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

plat-stm32mp2: conf: default enable CFG_SCMI_SCPFW
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

ci: add build stm32mp215f-dk with SCP firmware
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

plat-stm32mp2: conf: default enable CFG_SCMI_SCPFW
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

ci: add build stm32mp215f-dk with SCP firmware
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: remove build stm32mp2 without SCP firmware
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

dts: stm32: fix memory ranges on fmc node for stm32mp251
  core/arch/arm/dts/stm32mp251.dtsi
Owners: @OP-TEE/linaro

dts: stm32: introduce stm32mp23 SoCs family
  core/arch/arm/dts/stm32mp231.dtsi
  core/arch/arm/dts/stm32mp233.dtsi
  core/arch/arm/dts/stm32mp235.dtsi
  core/arch/arm/dts/stm32mp23xc.dtsi
  core/arch/arm/dts/stm32mp23xf.dtsi
Owners: @OP-TEE/linaro

dts: stm32: add stm32mp235f-dk board support
  core/arch/arm/dts/stm32mp23-st-scmi-cfg.dtsi
  core/arch/arm/dts/stm32mp235f-dk-ca35tdcid-rcc.dtsi
  core/arch/arm/dts/stm32mp235f-dk-ca35tdcid-resmem.dtsi
  core/arch/arm/dts/stm32mp235f-dk-ca35tdcid-rif.dtsi
  core/arch/arm/dts/stm32mp235f-dk.dts
Owners: @OP-TEE/linaro

plat-stm32mp2: conf: support STM32MP23x SoC family
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

dt-bindings: shared bindings between STM32MP25x and STM32MP23x boards
  core/include/drivers/stm32mp_dt_bindings.h
Owners: @OP-TEE/linaro

drivers: stm32_tamp: support STM32MP23x SoC family
  core/drivers/stm32_tamp.c
Owners: @OP-TEE/linaro

drivers: stm32_rifsc: add support of stm32mp23
  core/drivers/firewall/stm32_rifsc.c
Owners: @OP-TEE/linaro

dts: stm32: move compatible of agent1 as the first line of the node
  core/arch/arm/dts/stm32mp21-st-scmi-cfg.dtsi
  core/arch/arm/dts/stm32mp25-st-scmi-cfg.dtsi
Owners: @OP-TEE/linaro

ci: add STM32MP23 platforms build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: ree_fs: initialize ta_ver.db when its size is zero
  core/kernel/ree_fs_ta.c
Owners: @OP-TEE/linaro

core: imx: add MU_BASE and MU_SIZE for imx95
  core/arch/arm/plat-imx/registers/imx95.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: ele: update struct get_info_rsp{} fields
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro
