Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: eip76d_trng: early TRNG access
  core/drivers/eip76d_trng.c
  core/include/rng_support.h
Owners: @OP-TEE/linaro

plat-k3: sa2ul: seed ASLR using TRNG
  core/arch/arm/plat-k3/drivers/sa2ul.c
Owners: @OP-TEE/linaro

drivers: eip76d_trng: enable use before MMU init
  core/drivers/eip76d_trng.c
Owners: @OP-TEE/linaro

core: riscv: use lla for early entry symbol addresses
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: start secondary harts after updating stack guard
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
  core/include/kernel/boot.h
Owners: @OP-TEE/linaro

pta: qcom: pas: add firmware segment hash verification
  core/pta/qcom/pas/pas_auth_core.c
  core/pta/qcom/pas/pas_auth_core.h
  core/pta/qcom/pas/platform/platform_pas.h
  core/pta/qcom/pas/pta_qcom_pas.c
  core/pta/qcom/pas/sub.mk
  lib/libutee/include/pta_qcom_pas.h
Owners: @OP-TEE/linaro

ta: qcom_pas: add Multiboot Binary (MBN) hash-segment parser
  ta/qcom_pas/include/pas_mbn_parser.h
  ta/qcom_pas/include/pas_mbn_parser_priv.h
  ta/qcom_pas/src/pas_mbn_parser.c
  ta/qcom_pas/src/sub.mk
  ta/qcom_pas/user_ta.mk
Owners: @OP-TEE/linaro

plat-qcom: hoya: lemans: enable PAS firmware authentication
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
Owners: @OP-TEE/linaro

pta: qcom: pas: preparatory fixes and cleanup
  core/pta/qcom/pas/pas_core.c
  core/pta/qcom/pas/platform/pas_subsys.h
  core/pta/qcom/pas/pta_qcom_pas.c
Owners: @OP-TEE/linaro

ta: qcom_pas: verify loaded firmware image integrity
  core/pta/qcom/pas/sub.mk
  ta/qcom_pas/include/pas_auth.h
  ta/qcom_pas/include/pas_meta.h
  ta/qcom_pas/include/qcom_pas_priv.h
  ta/qcom_pas/src/pas_auth.c
  ta/qcom_pas/src/pas_meta.c
  ta/qcom_pas/src/qcom_pas.c
  ta/qcom_pas/src/sub.mk
Owners: @OP-TEE/linaro

drivers: amd: increase unique ids limit
  core/include/drivers/amd/asu_sharedmem.h
Owners: @OP-TEE/linaro

ta: pkcs11: bounds-check EC_POINT DER header before indexing
  ta/pkcs11/src/pkcs11_helpers.c
Owners: @OP-TEE/linaro

drivers: amd: increase unique ids limit
  core/include/drivers/amd/asu_sharedmem.h
Owners: @OP-TEE/linaro

drivers: crypto: ele: seed software PRNG from ELE TRNG
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: crypto: ele: align RNG_GET command with ELE FW layout
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

core: arm: allow physical relocation without S-EL2 SPMC
  core/arch/arm/arm.mk
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

drivers: add NVIDIA Tegra Combined UART support
  core/drivers/sub.mk
  core/drivers/tegra_combined_uart.c
  core/include/drivers/tegra_combined_uart.h
Owners: @OP-TEE/linaro

drivers: add NVIDIA Tegra UTC support
  core/drivers/sub.mk
  core/drivers/tegra_utc.c
  core/include/drivers/tegra_utc.h
Owners: @OP-TEE/linaro

plat-tegra: introduce NVIDIA Tegra platform support
  MAINTAINERS
  core/arch/arm/plat-tegra/conf.mk
  core/arch/arm/plat-tegra/main.c
  core/arch/arm/plat-tegra/platform_config.h
  core/arch/arm/plat-tegra/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: plat-tegra: add T234 and T264 build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: qcom: add XPU driver for OP-TEE-owned memory protection
  core/drivers/qcom/sub.mk
  core/drivers/qcom/xpu/sub.mk
  core/drivers/qcom/xpu/xpuv4.c
  core/include/drivers/qcom/xpu.h
  core/include/drivers/qcom/xpuv4.h
Owners: @OP-TEE/linaro

plat-qcom: add XPU protection policy and per-SoC target data
  core/arch/arm/plat-qcom/bobcat/ipq52xx/xpu_target.h
  core/arch/arm/plat-qcom/bobcat/ipq96xx/xpu_target.h
  core/arch/arm/plat-qcom/sub.mk
  core/arch/arm/plat-qcom/xpu_policy.c
Owners: @OP-TEE/linaro

plat-qcom: enable XPU protection for Bobcat platforms
  core/arch/arm/plat-qcom/bobcat/qcom-arch.mk
Owners: @OP-TEE/linaro

drivers: crypto: ele: seed software PRNG from ELE TRNG
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: crypto: ele: align RNG_GET command with ELE FW layout
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

plat-tegra: introduce NVIDIA Tegra platform support
  MAINTAINERS
  core/arch/arm/plat-tegra/conf.mk
  core/arch/arm/plat-tegra/main.c
  core/arch/arm/plat-tegra/platform_config.h
  core/arch/arm/plat-tegra/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

core: arm: allow physical relocation without S-EL2 SPMC
  core/arch/arm/arm.mk
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

ci: plat-tegra: add T234 and T264 build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: add NVIDIA Tegra Combined UART support
  core/drivers/sub.mk
  core/drivers/tegra_combined_uart.c
  core/include/drivers/tegra_combined_uart.h
Owners: @OP-TEE/linaro

drivers: add NVIDIA Tegra UTC support
  core/drivers/sub.mk
  core/drivers/tegra_utc.c
  core/include/drivers/tegra_utc.h
Owners: @OP-TEE/linaro

core: tee_ree_fs: avoid narrowing file positions
  core/tee/tee_ree_fs.c
Owners: @OP-TEE/linaro

core: tee_ree_fs: preserve physical offsets on 32-bit builds
  core/include/tee/tee_fs_rpc.h
  core/tee/tee_fs_rpc.c
  core/tee/tee_ree_fs.c
Owners: @OP-TEE/linaro

core: drivers: add Allwinner SID (efuse) driver
  core/arch/arm/plat-sunxi/conf.mk
  core/arch/arm/plat-sunxi/platform_config.h
  core/drivers/sub.mk
  core/drivers/sunxi_sid.c
  core/include/drivers/sunxi_sid.h
Owners: @OP-TEE/linaro

core: make CFG_REE_FS_ALLOW_RESET preserve rollback protection
  core/tee/tee_ree_fs.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: optionally keep the TA version DBs in RPMB
  core/kernel/ree_fs_ta.c
  mk/config.mk
Owners: @OP-TEE/linaro

crypto: asu: Add hardware HMAC driver
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_hash.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

crypto: asu: fix CTR tail buffer overflow for non-block-aligned length
  core/drivers/crypto/asu_driver/asu_cipher.c
Owners: @OP-TEE/linaro

drivers: qcom: add XPU driver for OP-TEE-owned memory protection
  core/drivers/qcom/sub.mk
  core/drivers/qcom/xpu/sub.mk
  core/drivers/qcom/xpu/xpuv4.c
  core/include/drivers/qcom/xpu.h
  core/include/drivers/qcom/xpuv4.h
Owners: @OP-TEE/linaro

plat-qcom: add XPU protection policy and per-SoC target data
  core/arch/arm/plat-qcom/bobcat/ipq52xx/xpu_target.h
  core/arch/arm/plat-qcom/bobcat/ipq96xx/xpu_target.h
  core/arch/arm/plat-qcom/sub.mk
  core/arch/arm/plat-qcom/xpu_policy.c
Owners: @OP-TEE/linaro

plat-qcom: enable XPU protection for Bobcat platforms
  core/arch/arm/plat-qcom/bobcat/qcom-arch.mk
Owners: @OP-TEE/linaro
