Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

ta: pkcs11: fix return code on invalid elliptic curve type
  ta/pkcs11/src/processing_ec.c
Owners: @OP-TEE/linaro

ta: pkcs11: fix return code on unsupported RSA key generation
  ta/pkcs11/src/processing_rsa.c
Owners: @OP-TEE/linaro

core: Rename internal config switch _CFG_ARM_V3_OR_V4
  core/arch/arm/arm.mk
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/kernel/sub.mk
  core/arch/arm/plat-corstone1000/main.c
  core/arch/arm/plat-corstone1000/platform_config.h
  core/arch/arm/plat-qcom/main.c
  core/arch/arm/plat-rcar/main.c
  core/drivers/gic.c
  core/include/drivers/gic.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-rcar

ta: pkcs11: ensure token is initialized when checking SO PIN
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

core: pta: widevine: reject a NULL calling session in open_session
  core/pta/widevine.c
Owners: @OP-TEE/linaro

pta: qcom: pas: lemans: add Camera ICP bring-up
  core/arch/arm/plat-qcom/hoya/lemans/target_config.h
  core/pta/qcom/pas/platform/lemans/camera.c
  core/pta/qcom/pas/platform/lemans/camera.h
  core/pta/qcom/pas/platform/lemans/sub.mk
  core/pta/qcom/pas/platform/lemans/subsys.c
  core/pta/qcom/pas/platform/pas_data.h
Owners: @OP-TEE/linaro

crypto: drivers: se050: check src_len <= modulus size
  core/drivers/crypto/se050/core/rsa.c
Owners: @OP-TEE/linaro

drivers: crypto: harden crypto_acipher_rsanopad_{de,en}crypt()
  core/drivers/crypto/crypto_api/acipher/rsa.c
Owners: @OP-TEE/linaro

crypto: drivers: se050: check src_len <= modulus size
  core/drivers/crypto/se050/core/rsa.c
Owners: @OP-TEE/linaro

drivers: crypto: harden crypto_acipher_rsanopad_{de,en}crypt()
  core/drivers/crypto/crypto_api/acipher/rsa.c
Owners: @OP-TEE/linaro

core: spmc: fix missing addr_dst increment in retrieve response
  core/arch/arm/kernel/spmc_sp_handler.c
Owners: @OP-TEE/linaro

pta: qcom: ice: add software-key ICE PTA
  core/pta/qcom/ice/config.h
  core/pta/qcom/ice/ice.c
  core/pta/qcom/ice/sub.mk
  core/pta/qcom/ice/sw_keys/ice_sw_keys.c
  core/pta/qcom/ice/sw_keys/ice_sw_keys.h
  core/pta/qcom/ice/sw_keys/sub.mk
  core/pta/qcom/sub.mk
  lib/libutee/include/pta_qcom_ice.h
Owners: @OP-TEE/linaro

plat-qcom: bobcat: enable ICE PTA for ipq52xx/ipq96xx
  core/arch/arm/plat-qcom/bobcat/arch_config.h
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target.mk
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target_config.h
  core/arch/arm/plat-qcom/bobcat/ipq96xx/target.mk
  core/arch/arm/plat-qcom/bobcat/ipq96xx/target_config.h
Owners: @OP-TEE/linaro

drivers: qcom: rng: Consolidate PRNG into CSRNG driver
  core/arch/arm/plat-qcom/hoya/arch_config.h
  core/arch/arm/plat-qcom/hoya/qcom-arch.mk
  core/drivers/qcom/rng/qcom-csrng.c
  core/drivers/qcom/sub.mk
Owners: @OP-TEE/linaro

plat-qcom: Enable RNG driver for Bobcat platforms
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target.mk
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target_config.h
Owners: @OP-TEE/linaro

ta: add a configuration only dev kit export target
  ta/ta.mk
Owners: @OP-TEE/linaro

mk/aosp_optee.mk: generate the dev kit configuration while parsing
  mk/aosp_optee.mk
Owners: @OP-TEE/linaro

crypto: asu: add support for GCM,CCM modes in ASU
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_authenc.c
  core/drivers/crypto/asu_driver/asu_cipher.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

drivers: qcom: add OP-TEE-owned XPU protection for TZDRAM and DIAG log
  core/drivers/qcom/sub.mk
  core/drivers/qcom/xpu/ipq52xx/xpu_target.h
  core/drivers/qcom/xpu/ipq96xx/xpu_target.h
  core/drivers/qcom/xpu/sub.mk
  core/drivers/qcom/xpu/xpuv4.c
  core/include/drivers/qcom/xpuv4.h
Owners: @OP-TEE/linaro

plat-qcom: Enable XPU protection for Bobcat platforms
  core/arch/arm/plat-qcom/bobcat/qcom-arch.mk
Owners: @OP-TEE/linaro

pta: qcom: pas: refactor into a descriptor/ops abstraction
  core/arch/arm/plat-qcom/hoya/kodiak/target_config.h
  core/drivers/clk/qcom/platform/kodiak/clock-qcom-pas.c
  core/include/drivers/clk_qcom.h
  core/pta/qcom/pas/compute.c
  core/pta/qcom/pas/lpass.c
  core/pta/qcom/pas/pas.c
  core/pta/qcom/pas/pas.h
  core/pta/qcom/pas/pas_core.c
  core/pta/qcom/pas/platform/kodiak/cdsp.c
  core/pta/qcom/pas/platform/kodiak/cdsp.h
  core/pta/qcom/pas/platform/kodiak/dsp_boot.h
  core/pta/qcom/pas/platform/kodiak/dsp_fw.c
  core/pta/qcom/pas/platform/kodiak/dsp_fw.h
  core/pta/qcom/pas/platform/kodiak/lpass.c
  core/pta/qcom/pas/platform/kodiak/lpass.h
  core/pta/qcom/pas/platform/kodiak/pas_resources.h
  core/pta/qcom/pas/platform/kodiak/sub.mk
  core/pta/qcom/pas/platform/kodiak/subsys.c
  core/pta/qcom/pas/platform/kodiak/venus.c
  core/pta/qcom/pas/platform/kodiak/venus.h
  core/pta/qcom/pas/platform/kodiak/wpss.c
  core/pta/qcom/pas/platform/kodiak/wpss.h
  core/pta/qcom/pas/platform/pas_data.h
  core/pta/qcom/pas/platform/pas_subsys.h
  core/pta/qcom/pas/platform/platform_pas.h
  core/pta/qcom/pas/platform/resource_table.h
  core/pta/qcom/pas/pta_qcom_pas.c
  core/pta/qcom/pas/q6dsp.c
  core/pta/qcom/pas/sub.mk
Owners: @OP-TEE/linaro

clk: qcom: add reusable Lucid-EVO PLL helper
  core/drivers/clk/qcom/clock-qcom.c
  core/include/drivers/clk_qcom.h
Owners: @OP-TEE/linaro

qcom: pas: lemans: enable CDSP0/1 PAS support
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
  core/arch/arm/plat-qcom/hoya/lemans/target_config.h
  core/drivers/clk/qcom/clock-qcom.c
  core/drivers/clk/qcom/platform/lemans/clock-qcom-pas.c
  core/drivers/clk/qcom/platform/lemans/clock_group_qcom.h
  core/include/drivers/clk_qcom.h
  core/pta/qcom/pas/platform/lemans/cdsp0.c
  core/pta/qcom/pas/platform/lemans/cdsp0.h
  core/pta/qcom/pas/platform/lemans/cdsp1.c
  core/pta/qcom/pas/platform/lemans/cdsp1.h
  core/pta/qcom/pas/platform/lemans/sub.mk
  core/pta/qcom/pas/platform/lemans/subsys.c
Owners: @OP-TEE/linaro

plat-qcom: lemans: reserve VA space for PAS subsystem mappings
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
Owners: @OP-TEE/linaro

pta: qcom: pas: lemans: add IRIS video-codec bring-up
  core/arch/arm/plat-qcom/hoya/lemans/target_config.h
  core/pta/qcom/pas/platform/lemans/iris.c
  core/pta/qcom/pas/platform/lemans/iris.h
  core/pta/qcom/pas/platform/lemans/sub.mk
  core/pta/qcom/pas/platform/lemans/subsys.c
Owners: @OP-TEE/linaro

pta: qcom: pas: lemans: add GP-DSP0/1 bring-up
  core/arch/arm/plat-qcom/hoya/lemans/target_config.h
  core/drivers/clk/qcom/clock-qcom.c
  core/drivers/clk/qcom/platform/lemans/clock-qcom-pas.c
  core/drivers/clk/qcom/platform/lemans/clock_group_qcom.h
  core/include/drivers/clk_qcom.h
  core/pta/qcom/pas/platform/lemans/gpdsp0.c
  core/pta/qcom/pas/platform/lemans/gpdsp0.h
  core/pta/qcom/pas/platform/lemans/gpdsp1.c
  core/pta/qcom/pas/platform/lemans/gpdsp1.h
  core/pta/qcom/pas/platform/lemans/sub.mk
  core/pta/qcom/pas/platform/lemans/subsys.c
Owners: @OP-TEE/linaro

pta: qcom: pas: lemans: add LPASS (ADSP) bring-up
  core/arch/arm/plat-qcom/hoya/lemans/target_config.h
  core/drivers/clk/qcom/platform/lemans/clock-qcom-pas.c
  core/drivers/clk/qcom/platform/lemans/clock_group_qcom.h
  core/pta/qcom/pas/platform/lemans/lpass.c
  core/pta/qcom/pas/platform/lemans/lpass.h
  core/pta/qcom/pas/platform/lemans/sub.mk
  core/pta/qcom/pas/platform/lemans/subsys.c
Owners: @OP-TEE/linaro

pta: qcom: pas: kodiak: rename venus to iris
  core/arch/arm/plat-qcom/hoya/kodiak/target_config.h
  core/pta/qcom/pas/platform/kodiak/iris.c
  core/pta/qcom/pas/platform/kodiak/iris.h
  core/pta/qcom/pas/platform/kodiak/sub.mk
  core/pta/qcom/pas/platform/kodiak/subsys.c
Owners: @OP-TEE/linaro

core: mm: grow memory map in core_mmu_add_mapping() when full
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

pta: qcom: pas: centralize PAS_ID definitions
  core/arch/arm/plat-qcom/hoya/kodiak/target_config.h
  core/arch/arm/plat-qcom/hoya/lemans/target_config.h
  core/pta/qcom/pas/platform/pas_data.h
Owners: @OP-TEE/linaro

core: Rename internal config switch _CFG_ARM_V3_OR_V4
  core/arch/arm/arm.mk
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/kernel/sub.mk
  core/arch/arm/plat-corstone1000/main.c
  core/arch/arm/plat-corstone1000/platform_config.h
  core/arch/arm/plat-qcom/main.c
  core/arch/arm/plat-rcar/main.c
  core/drivers/gic.c
  core/include/drivers/gic.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-rcar

core: ldelf: reject TA_FLAG_CONCURRENT for user TAs
  core/kernel/ldelf_loader.c
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

crypto: asu: add support for GCM,CCM modes in ASU
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_authenc.c
  core/drivers/crypto/asu_driver/asu_cipher.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

plat-vexpress: fix default offset for SHMEM
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

ldelf: fix weak symbol handling in 64-bit relocations
  ldelf/ta_elf_rel.c
Owners: @OP-TEE/linaro

ldelf: validate TA stack size before mapping
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

ldelf: reject ELF files without loadable segments
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

plat-qcom: Enable sec wdog config for Bobcat family
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target_config.h
  core/arch/arm/plat-qcom/bobcat/ipq96xx/target_config.h
  core/arch/arm/plat-qcom/bobcat/qcom-arch.mk
Owners: @OP-TEE/linaro

drivers: qcom: wdog: Add secure watchdog driver for Bobcat family
  core/drivers/qcom/sub.mk
  core/drivers/qcom/wdt/qcom-wdt.c
Owners: @OP-TEE/linaro

core: ldelf: reject TA_FLAG_CONCURRENT for user TAs
  core/kernel/ldelf_loader.c
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
