Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: sm: embed sm_platform_handler upon CFG_SM_PLATFORM_HANDLER
  core/arch/arm/include/sm/sm.h
  core/arch/arm/sm/sm.c
Owners: @OP-TEE/linaro

core: sm: explicit return value for sm_from_nsec()
  core/arch/arm/include/sm/sm.h
  core/arch/arm/sm/sm.c
  core/arch/arm/sm/sm_a32.S
  core/arch/arm/sm/sm_private.h
Owners: @OP-TEE/linaro

core: sm: explicit return value for sm_from_nsec()
  core/arch/arm/include/sm/sm.h
  core/arch/arm/sm/sm.c
  core/arch/arm/sm/sm_a32.S
  core/arch/arm/sm/sm_private.h
Owners: @OP-TEE/linaro

core: sm: embed sm_platform_handler upon CFG_SM_PLATFORM_HANDLER
  core/arch/arm/include/sm/sm.h
  core/arch/arm/sm/sm.c
Owners: @OP-TEE/linaro

core: explicit return value for sm_platform_handler()
  core/arch/arm/include/sm/sm.h
  core/arch/arm/plat-imx/sm_platform_handler.c
  core/arch/arm/plat-ti/sm_platform_handler_a15.c
  core/arch/arm/plat-ti/sm_platform_handler_a9.c
  core/arch/arm/sm/sm.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ti, @glneo

drivers: wdt: Add arm SP805 watchdog driver
  core/drivers/sp805_wdt.c
  core/include/drivers/sp805_wdt.h
  core/include/drivers/wdt.h
Owners: @OP-TEE/linaro

TA dev kit: always link shared libraries against OP-TEE libraries
  ta/arch/arm/link_shlib.mk
Owners: @OP-TEE/linaro

TA dev kit: always link shared libraries against OP-TEE libraries
  ta/arch/arm/link_shlib.mk
Owners: @OP-TEE/linaro

mk/config.mk: set CFG_RPMB_FS=y
  mk/config.mk
Owners: @OP-TEE/linaro

mk/config.mk: test with CFG_REE_FS=n and CFG_RPMB_WRITE_KEY=y
  mk/config.mk
Owners: @OP-TEE/linaro

mk/config.mk: force log level to 3
  mk/config.mk
Owners: @OP-TEE/linaro

mk/config.mk: set CFG_RPMB_FS_DEBUG_DATA=y
  mk/config.mk
Owners: @OP-TEE/linaro

mk/config.mk: set CFG_RPMB_FS_DEV_ID=1
  mk/config.mk
Owners: @OP-TEE/linaro

core: fix AArch64 user TA stack dump
  core/arch/arm/kernel/abort.c
Owners: @OP-TEE/linaro

Rename CFG_ULIBS_GPROF to CFG_ULIBS_MCOUNT
  .shippable.yml
  lib/libutee/arch/arm/gprof/sub.mk
  lib/libutee/arch/arm/sub.mk
  lib/libutee/arch/arm/utee_mcount_a32.S
  lib/libutee/arch/arm/utee_mcount_a64.S
  mk/config.mk
  mk/lib.mk
Owners: @OP-TEE/linaro

core: prepare support for TA function tracing
  core/arch/arm/include/kernel/ftrace.h
  core/arch/arm/kernel/ftrace.c
  core/arch/arm/kernel/sub.mk
  core/arch/arm/kernel/unwind_arm64.c
  core/arch/arm/kernel/user_ta.c
  core/include/kernel/tee_ta_manager.h
  core/include/optee_rpc_cmd.h
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

libutee: arm64: Add support for function tracing of user TAs
  lib/libutee/arch/arm/ftrace/ftrace.c
  lib/libutee/arch/arm/ftrace/ftrace.h
  lib/libutee/arch/arm/ftrace/sub.mk
  lib/libutee/arch/arm/sub.mk
  lib/libutee/arch/arm/utee_mcount_a32.S
  lib/libutee/arch/arm/utee_mcount_a64.S
  lib/libutee/include/user_ta_header.h
  mk/config.mk
  ta/arch/arm/link.mk
  ta/arch/arm/ta.ld.S
  ta/arch/arm/user_ta_header.c
  ta/mk/ta_dev_kit.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

core: enable ftrace for TAs built using shared libraries
  core/arch/arm/kernel/ftrace.c
  core/arch/arm/kernel/user_ta.c
  core/include/kernel/tee_ta_manager.h
Owners: @OP-TEE/linaro

symbolize.py: add support to symbolize TA ftrace addresses
  scripts/symbolize.py
Owners: @OP-TEE/linaro

ftrace: arm64: handle special setjmp()/longjmp() apis
  lib/libutee/arch/arm/ftrace/ftrace.c
  lib/libutils/isoc/arch/arm/setjmp_a64.S
  lib/libutils/isoc/include/setjmp.h
Owners: @OP-TEE/linaro

core: fix AArch64 user TA stack dump
  core/arch/arm/kernel/abort.c
Owners: @OP-TEE/linaro

Rename CFG_ULIBS_GPROF to CFG_ULIBS_MCOUNT
  .shippable.yml
  lib/libutee/arch/arm/gprof/sub.mk
  lib/libutee/arch/arm/sub.mk
  lib/libutee/arch/arm/utee_mcount_a32.S
  lib/libutee/arch/arm/utee_mcount_a64.S
  mk/config.mk
  mk/lib.mk
Owners: @OP-TEE/linaro

ftrace: arm64: handle special setjmp()/longjmp() apis
  lib/libutee/arch/arm/ftrace/ftrace.c
  lib/libutils/isoc/arch/arm/setjmp_a64.S
  lib/libutils/isoc/include/setjmp.h
Owners: @OP-TEE/linaro

libutee: arm64: Add support for function tracing of user TAs
  lib/libutee/arch/arm/ftrace/ftrace.c
  lib/libutee/arch/arm/ftrace/ftrace.h
  lib/libutee/arch/arm/ftrace/sub.mk
  lib/libutee/arch/arm/sub.mk
  lib/libutee/arch/arm/utee_mcount_a32.S
  lib/libutee/arch/arm/utee_mcount_a64.S
  lib/libutee/include/user_ta_header.h
  mk/config.mk
  ta/arch/arm/link.mk
  ta/arch/arm/ta.ld.S
  ta/arch/arm/user_ta_header.c
  ta/mk/ta_dev_kit.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

core: enable ftrace for TAs built using shared libraries
  core/arch/arm/kernel/ftrace.c
  core/arch/arm/kernel/user_ta.c
  core/include/kernel/tee_ta_manager.h
Owners: @OP-TEE/linaro

symbolize.py: add support to symbolize TA ftrace addresses
  scripts/symbolize.py
Owners: @OP-TEE/linaro

core: prepare support for TA function tracing
  core/arch/arm/include/kernel/ftrace.h
  core/arch/arm/kernel/ftrace.c
  core/arch/arm/kernel/sub.mk
  core/arch/arm/kernel/unwind_arm64.c
  core/arch/arm/kernel/user_ta.c
  core/include/kernel/tee_ta_manager.h
  core/include/optee_rpc_cmd.h
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

HUK: Add enum for TA unique key derivation
  core/include/kernel/huk_subkey.h
Owners: @OP-TEE/linaro

PTA: add support for deriving device and TA unique keys
  core/arch/arm/pta/system.c
  lib/libutee/include/pta_system.h
Owners: @OP-TEE/linaro

HUK: Add enum for TA unique key derivation
  core/include/kernel/huk_subkey.h
Owners: @OP-TEE/linaro

PTA: add support for deriving device and TA unique keys
  core/arch/arm/pta/system.c
  lib/libutee/include/pta_system.h
Owners: @OP-TEE/linaro

PTA: change method for checking memory in derive TA key
  core/arch/arm/pta/system.c
Owners: @OP-TEE/linaro

PTA: change method for checking memory in derive TA key
  core/arch/arm/pta/system.c
Owners: @OP-TEE/linaro

MAINTAINERS: Update list of maintainers
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: Update list of maintainers
  MAINTAINERS
Owners: @OP-TEE/approvers

pta: add pseudo TA to seal and unseal Linux trusted keys
  core/arch/arm/pta/sub.mk
  core/arch/arm/pta/trusted_key.c
  core/arch/arm/tee/entry_std.c
  core/tee/tee_fs_key_manager.c
  lib/libutee/include/pta_trusted_key.h
  lib/libutee/include/tee_api_defines.h
  mk/config.mk
Owners: @OP-TEE/linaro

rpmb: change test key
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

rpmb: print generated key
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

mk/config.mk: set CFG_RPMG_TESTKEY
  mk/config.mk
Owners: @OP-TEE/linaro

hikey960: fix memory mapping for 4G boards (CFG_DRAM_SIZE_GB=4)
  core/arch/arm/plat-hikey/main.c
  core/arch/arm/plat-hikey/platform_config.h
Owners: @OP-TEE/plat-hikey

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
