Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

lib: libutils: compiler.h: set trailing comment according to target
  lib/libutils/ext/include/compiler.h
Owners: @OP-TEE/linaro

core: kernel: tee_ta_manager.c: remove arm.h from includes
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

core: mm: move tee_mm.c to core/mm
  core/arch/arm/mm/sub.mk
  core/mm/sub.mk
  core/mm/tee_mm.c
Owners: @OP-TEE/linaro

Code cleanup
  core/arch/arm/mm/core_mmu.c
  core/tee/entry_std.c
Owners: @OP-TEE/linaro

core: imx: add missing imx6 SoC IDs to soc_is_imx6()
  core/arch/arm/plat-imx/imx-common.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: crypto: fix the RSA public key size for TA signature verification
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro

[Hikey] Define SDP in embedded dtb
  core/arch/arm/dts/hikey_sdp.dts
  core/arch/arm/plat-hikey/conf.mk
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-hikey

core: crypto: fix the RSA public key size for TA signature verification
  core/crypto/signed_hdr.c
Owners: @OP-TEE/linaro

assert.h: add static_assert
  lib/libutils/ext/include/compiler.h
  lib/libutils/isoc/include/assert.h
  mk/compile.mk
Owners: @OP-TEE/linaro

core: vm.c: don't include sm/optee_smc.h
  core/mm/vm.c
Owners: @OP-TEE/linaro

core: move NOTIF_VALUE_DO_BOTTOM_HALF assert to thread_optee_smc.c
  core/arch/arm/kernel/thread_optee_smc.c
  core/kernel/notif.c
Owners: @OP-TEE/linaro

core: change return type for tee_entry_std() TEE_Result
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_spmc.c
  core/arch/arm/plat-stm/main.c
  core/include/tee/entry_std.h
  core/tee/entry_std.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-stm

core: remove references to OPTEE_SMC_SHM_CACHED
  core/mm/mobj.c
  core/tee/entry_std.c
Owners: @OP-TEE/linaro

Basic fault mitigation routines
  lib/libutils/ext/arch/arm/fault_mitigation_a32.S
  lib/libutils/ext/arch/arm/fault_mitigation_a64.S
  lib/libutils/ext/arch/arm/sub.mk
  lib/libutils/ext/fault_mitigation.c
  lib/libutils/ext/include/fault_mitigation.h
  lib/libutils/ext/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

core: add fault mitigations for shdr_verify_signature() calls
  core/crypto/signed_hdr.c
  core/include/signed_hdr.h
  core/kernel/ree_fs_ta.c
  core/pta/secstor_ta_mgmt.c
Owners: @OP-TEE/linaro

boot.c testing
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

assert.h: add static_assert
  lib/libutils/ext/include/compiler.h
  lib/libutils/isoc/include/assert.h
  mk/compile.mk
Owners: @OP-TEE/linaro

core: change return type for tee_entry_std() TEE_Result
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_spmc.c
  core/arch/arm/plat-stm/main.c
  core/include/tee/entry_std.h
  core/tee/entry_std.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-stm

core: move NOTIF_VALUE_DO_BOTTOM_HALF assert to thread_optee_smc.c
  core/arch/arm/kernel/thread_optee_smc.c
  core/kernel/notif.c
Owners: @OP-TEE/linaro

core: remove references to OPTEE_SMC_SHM_CACHED
  core/mm/mobj.c
  core/tee/entry_std.c
Owners: @OP-TEE/linaro

core: vm.c: don't include sm/optee_smc.h
  core/mm/vm.c
Owners: @OP-TEE/linaro

core: riscv: plat-spike: default configuration for Spike platform
  core/arch/riscv/plat-spike/conf.mk
Owners: @OP-TEE/linaro

core: include: io.h: define io_read64() and io_write64() helpers
  core/include/io.h
Owners: @OP-TEE/linaro

riscv: create makefiles and directories tree for riscv
  core/arch/riscv/kernel/link.mk
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/plat-spike/conf.mk
  core/arch/riscv/plat-spike/sub.mk
  core/arch/riscv/riscv.mk
  lib/libutils/ext/arch/riscv/sub.mk
  lib/libutils/isoc/arch/riscv/sub.mk
Owners: @OP-TEE/linaro

core: riscv: riscv.mk: setup compiler for the RISC-V core module
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: riscv: add stmm and sp prototypes
  core/arch/riscv/include/kernel/secure_partition.h
  core/arch/riscv/include/kernel/stmm_sp.h
Owners: @OP-TEE/linaro

core: riscv: include: introduce riscv.h header
  core/arch/riscv/include/riscv.h
Owners: @OP-TEE/linaro

core: riscv: plat-spike: add platform configuration header file
  core/arch/riscv/plat-spike/platform_config.h
  core/arch/riscv/plat-spike/sub.mk
Owners: @OP-TEE/linaro

core: riscv: kernel: setup linker for the risc-v core module
  core/arch/riscv/kernel/kern.ld.S
  core/arch/riscv/kernel/link.mk
  core/arch/riscv/kernel/link_dummy.ld
Owners: @OP-TEE/linaro

core: riscv: generic_ram_layout.h: ram layout configuration directives
  core/arch/riscv/include/mm/generic_ram_layout.h
  core/arch/riscv/plat-spike/platform_config.h
Owners: @OP-TEE/linaro

core: riscv: add tlb_helpers.h
  core/arch/riscv/include/kernel/tlb_helpers.h
Owners: @OP-TEE/linaro

core: riscv: define risc-v instruction set architecture in encoding.h
  core/arch/riscv/include/encoding.h
  core/arch/riscv/include/sub.mk
Owners: @OP-TEE/linaro

core: riscv: spinlock.c: implement spin-locking primitives
  core/arch/riscv/kernel/spinlock.S
  core/arch/riscv/kernel/sub.mk
Owners: @OP-TEE/linaro

core: riscv: implement thread management routines for RISC-V
  core/arch/riscv/include/kernel/misc.h
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/kernel/abort.c
  core/arch/riscv/kernel/asm-defines.c
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
  core/arch/riscv/kernel/link_dummies.c
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/kernel/tee_time.c
  core/arch/riscv/kernel/thread.c
  core/arch/riscv/kernel/thread_rv.S
  core/arch/riscv/kernel/trace_ext.c
  core/arch/riscv/plat-spike/conf.mk
  core/arch/riscv/plat-spike/platform_config.h
Owners: @OP-TEE/linaro

core: riscv: introduce tee_l2cc_mutex.h header file
  core/arch/riscv/include/kernel/tee_l2cc_mutex.h
Owners: @OP-TEE/linaro

core: riscv: implement memory management routines for RISC-V
  core/arch/riscv/include/mm/core_mmu_arch.h
  core/arch/riscv/kernel/entry.S
  core/arch/riscv/kernel/link_dummies.c
  core/arch/riscv/mm/core_mmu_arch.c
  core/arch/riscv/mm/pgt_cache.c
  core/arch/riscv/mm/sub.mk
  core/arch/riscv/mm/tlb_helpers_rv.S
  core/arch/riscv/plat-spike/conf.mk
  core/arch/riscv/plat-spike/platform_config.h
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: riscv: plat-spike: console driver based on host-target interface
  core/arch/riscv/plat-spike/drivers/htif.c
  core/arch/riscv/plat-spike/drivers/htif.h
  core/arch/riscv/plat-spike/drivers/sub.mk
  core/arch/riscv/plat-spike/kern.ld.S
  core/arch/riscv/plat-spike/main.c
  core/arch/riscv/plat-spike/sub.mk
Owners: @OP-TEE/linaro

core: riscv: implement cpu_idle() function
  core/arch/riscv/kernel/idle.c
  core/arch/riscv/kernel/sub.mk
Owners: @OP-TEE/linaro

ldelf: add support for RISC-V
  ldelf/ldelf.ld.S
  ldelf/ldelf.mk
  ldelf/start_rv.S
  ldelf/sub.mk
  ldelf/syscalls_rv.S
  ldelf/ta_elf.c
  ldelf/ta_elf.h
  ldelf/ta_elf_rel.c
  lib/libutee/include/elf.h
  lib/libutee/include/elf_common.h
Owners: @OP-TEE/linaro

core: riscv: add support building user TAs for RISC-V
  core/arch/riscv/include/tee/arch_svc.h
  core/arch/riscv/kernel/ldelf_loader.c
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/plat-spike/conf.mk
  lib/libutee/arch/riscv/gprof/gmon.h
  lib/libutee/arch/riscv/gprof/gmon_out.h
  lib/libutee/arch/riscv/gprof/gprof.c
  lib/libutee/arch/riscv/gprof/gprof_pta.c
  lib/libutee/arch/riscv/gprof/gprof_pta.h
  lib/libutee/arch/riscv/gprof/sub.mk
  lib/libutee/arch/riscv/sub.mk
  lib/libutee/arch/riscv/tcb.c
  lib/libutee/arch/riscv/user_ta_entry.c
  lib/libutee/arch/riscv/utee_syscalls_asm.S
  lib/libutee/arch/riscv/utee_syscalls_rv.S
  lib/libutils/ext/include/confine_array_index.h
  ta/arch/riscv/link.mk
  ta/arch/riscv/link_shlib.mk
  ta/arch/riscv/ta.ld.S
  ta/arch/riscv/user_ta_header.c
Owners: @OP-TEE/linaro
