Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

core: pta: attestation: check return value of crypto_bignum_bin2bn()
  core/pta/attestation.c
Owners: @OP-TEE/linaro

lib: libutee: initialize TA property type
  lib/libutee/include/user_ta_header.h
  lib/libutee/tee_api_property.c
Owners: @OP-TEE/linaro

core: tee: initialize dirfile_entry objects
  core/tee/fs_dirfile.c
  core/tee/tadb.c
Owners: @OP-TEE/linaro

core: tee: initialize variables in entry_open_session()
  core/tee/entry_std.c
Owners: @OP-TEE/linaro

crypto: rsamgf: initialize allocated buffer
  core/drivers/crypto/crypto_api/acipher/rsamgf.c
Owners: @OP-TEE/linaro

drivers: caam: mp: fix memory on CAAM descriptor allocation failure
  core/drivers/crypto/caam/mp/caam_mp.c
Owners: @OP-TEE/linaro

drivers: caam: remove dead code
  core/drivers/crypto/caam/utils/utils_dmaobj.c
Owners: @OP-TEE/linaro

ci: qemuv8: add check Hafnium
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: qemuv8: add check Hafnium
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: imx: add secure memory registers for imx8m platforms
  core/arch/arm/plat-imx/registers/imx8m.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: caam: add HAL for secure memory driver
  core/drivers/crypto/caam/hal/common/hal_ctrl.c
  core/drivers/crypto/caam/hal/common/hal_sm.c
  core/drivers/crypto/caam/hal/common/registers/sm_regs.h
  core/drivers/crypto/caam/hal/common/sub.mk
  core/drivers/crypto/caam/hal/imx_8m/registers/ctrl_regs.h
  core/drivers/crypto/caam/include/caam_desc_defines.h
  core/drivers/crypto/caam/include/caam_desc_helper.h
  core/drivers/crypto/caam/include/caam_hal_ctrl.h
  core/drivers/crypto/caam/include/caam_hal_sm.h
Owners: @OP-TEE/linaro

drivers: caam: add CAAM secure memory driver
  core/drivers/crypto/caam/caam_ctrl.c
  core/drivers/crypto/caam/caam_sm.c
  core/drivers/crypto/caam/include/caam_sm.h
  core/drivers/crypto/caam/include/caam_trace.h
  core/drivers/crypto/caam/sub.mk
Owners: @OP-TEE/linaro

drivers: caam: add DEK blob support
  core/drivers/crypto/caam/blob/caam_dek.c
  core/drivers/crypto/caam/blob/sub.mk
  core/drivers/crypto/caam/crypto.mk
  core/drivers/crypto/caam/sub.mk
  core/include/drivers/caam_extension.h
Owners: @OP-TEE/linaro

core: pta: imx: add DEK blob
  core/pta/imx/dek_blob.c
  core/pta/imx/sub.mk
  lib/libutee/include/pta_imx_dek_blob.h
Owners: @OP-TEE/linaro

core: riscv: Fix width of status CSR
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: Fix thread_rpc() wrong stack usage and CSR value
  core/arch/riscv/kernel/thread_rv.S
Owners: @OP-TEE/linaro

qemu_armv8a: define CFG_ASAN_SHADOW_OFFSET
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

core: asan: initialize __exidx and __extab only for __arm__
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

libutils: asan: raw_realloc(): use unchecked memset() and memcpy()
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

compiler.h: add __inhibit_loop_to_libcall
  lib/libutils/ext/include/compiler.h
Owners: @OP-TEE/linaro

core: asan: prevent nefarious optimization in unchecked memcpy() and memset()
  core/kernel/asan.c
Owners: @OP-TEE/linaro

core: asan: arm64: increase stack sizes for ASAN
  core/arch/arm/include/kernel/thread_private_arch.h
Owners: @OP-TEE/linaro

core: linker.h: replace __arm__ with ARM32
  core/include/kernel/linker.h
Owners: @OP-TEE/linaro

core: asan: KASAN and ASLR are incompatible
  .github/workflows/ci.yml
  mk/config.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

drivers: clk: avoid the assert failure when there's "assigned-clocks"
  core/drivers/clk/clk_dt.c
Owners: @OP-TEE/linaro

core: linker.h: replace __arm__ with ARM32
  core/include/kernel/linker.h
Owners: @OP-TEE/linaro

core: asan: initialize __exidx and __extab only for __arm__
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

compiler.h: add __inhibit_loop_to_libcall
  lib/libutils/ext/include/compiler.h
Owners: @OP-TEE/linaro

core: asan: prevent nefarious optimization in unchecked memcpy() and memset()
  core/kernel/asan.c
Owners: @OP-TEE/linaro

libutils: asan: raw_realloc(): use unchecked memset() and memcpy()
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

core: asan: KASAN and ASLR are incompatible
  .github/workflows/ci.yml
  mk/config.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

core: asan: arm64: increase stack sizes for ASAN
  core/arch/arm/include/kernel/thread_private_arch.h
Owners: @OP-TEE/linaro

qemu_armv8a: define CFG_ASAN_SHADOW_OFFSET
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

core: assign memory tags to bounce buffers
  core/kernel/user_access.c
Owners: @OP-TEE/linaro

crypto: change THE_MAIN_ALGO_X448 value to 0x49
  lib/libutee/include/utee_defines.h
Owners: @OP-TEE/linaro

core: riscv: riscv.mk: define CFG_WITH_LPAE
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: mm: move pgt_cache.c to core/mm
  core/arch/arm/mm/sub.mk
  core/mm/pgt_cache.c
  core/mm/sub.mk
Owners: @OP-TEE/linaro

core: mm: move pgt_cache.c to core/mm
  core/arch/arm/mm/sub.mk
  core/mm/pgt_cache.c
  core/mm/sub.mk
Owners: @OP-TEE/linaro

core: riscv: riscv.mk: define CFG_WITH_LPAE
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: assign memory tags to bounce buffers
  core/kernel/user_access.c
Owners: @OP-TEE/linaro
