Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: mm: move pgt_cache.h to core/include/mm
  core/include/mm/pgt_cache.h
Owners: @OP-TEE/linaro

core: kernel: move abort.h to core/include/kernel
  core/include/kernel/abort.h
Owners: @OP-TEE/linaro

Makefile: allow building for a new target architecture
  Makefile
Owners: @OP-TEE/linaro

core: mm: vm.c: remove arm.h and include config.h
  core/mm/vm.c
Owners: @OP-TEE/linaro

core: kernel: move spinlock.h to core/include/kernel
  core/include/kernel/spinlock.h
Owners: @OP-TEE/linaro

core: kernel: move spin_lock_debug.c to core/kernel
  core/arch/arm/kernel/sub.mk
  core/kernel/spin_lock_debug.c
  core/kernel/sub.mk
Owners: @OP-TEE/linaro

lib: libutils: isoc: remove unused thread.h from bget_malloc.c
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

ci: azure: plug-and-trust: disable build warnings
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

Comply with reserved memory bindings
  core/arch/arm/dts/hikey_sdp.dts
  core/arch/arm/mm/core_mmu.c
  core/tee/entry_std.c
Owners: @OP-TEE/linaro

drivers: caam: instantiate RNG state handle with prediction resistance
  core/drivers/crypto/caam/include/caam_desc_defines.h
  core/drivers/crypto/caam/include/caam_desc_helper.h
Owners: @OP-TEE/linaro

ci: azure: plug-and-trust: disable build warnings
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

plat-vexpress: enable uart IT with TF-A and GICv3
  core/arch/arm/plat-vexpress/main.c
Owners: @OP-TEE/plat-vexpress

core: ffa: fix spmc_rxtx_map()
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: ffa: correct response to FFA_INTERRUPT
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: ffa: stop using FFA_MEMORY_REGION_FLAG_TIME_SLICE
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: add support for SPMC at EL3
  core/arch/arm/arm.mk
  core/arch/arm/include/kernel/thread_spmc.h
  core/arch/arm/kernel/thread_spmc.c
  core/arch/arm/mm/mobj_ffa.c
  core/include/mm/mobj.h
Owners: @OP-TEE/linaro

drivers: caam: instantiate RNG state handle with prediction resistance
  core/drivers/crypto/caam/include/caam_desc_defines.h
  core/drivers/crypto/caam/include/caam_desc_helper.h
Owners: @OP-TEE/linaro

plat-sam: add sm_platform_handler() stub
  core/arch/arm/plat-sam/conf.mk
  core/arch/arm/plat-sam/nsec-service/sm_platform_handler.c
  core/arch/arm/plat-sam/nsec-service/sub.mk
  core/arch/arm/plat-sam/sub.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: pm: add support for setting suspend mode
  core/arch/arm/plat-sam/nsec-service/sm_platform_handler.c
  core/arch/arm/plat-sam/nsec-service/smc_ids.h
  core/drivers/pm/sam/at91_pm.c
  core/include/drivers/pm/sam/atmel_pm.h
Owners: @OP-TEE/plat-sam, @nodeax, @OP-TEE/linaro

core/include/kernel/asan.h: include <compiler.h>
  core/include/kernel/asan.h
Owners: @OP-TEE/linaro

core: move thread_private.h to an include directory
  core/arch/arm/include/kernel/thread_private.h
  core/arch/arm/kernel/abort.c
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/link_dummies_paged.c
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/spmc_sp_handler.c
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_a32.S
  core/arch/arm/kernel/thread_a64.S
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: split core/arch/arm/include/kernel/thread.h
  core/arch/arm/include/kernel/thread_arch.h
  core/include/kernel/thread.h
Owners: @OP-TEE/linaro

core: split core/arch/arm/kernel/thread.c
  core/arch/arm/include/kernel/thread_private.h
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/thread.c
  core/include/kernel/thread.h
  core/kernel/sub.mk
  core/kernel/thread.c
Owners: @OP-TEE/linaro

core: move thread_defs.h into thread.h
  core/arch/arm/include/kernel/thread_defs.h
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_a32.S
  core/arch/arm/kernel/thread_a64.S
  core/arch/arm/kernel/thread_optee_smc_a32.S
  core/arch/arm/kernel/thread_optee_smc_a64.S
  core/arch/arm/kernel/thread_spmc_a32.S
  core/arch/arm/kernel/thread_spmc_a64.S
  core/include/kernel/thread.h
  core/kernel/thread.c
Owners: @OP-TEE/linaro

core: split core/include/kernel/thread_private.h
  core/arch/arm/include/kernel/thread_private_arch.h
  core/include/kernel/thread_private.h
Owners: @OP-TEE/linaro

core/include/kernel/asan.h: include <compiler.h>
  core/include/kernel/asan.h
Owners: @OP-TEE/linaro

core: split core/arch/arm/include/kernel/thread.h
  core/arch/arm/include/kernel/thread_arch.h
  core/include/kernel/thread.h
Owners: @OP-TEE/linaro

core: move thread_private.h to an include directory
  core/arch/arm/include/kernel/thread_private.h
  core/arch/arm/kernel/abort.c
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/link_dummies_paged.c
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/spmc_sp_handler.c
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_a32.S
  core/arch/arm/kernel/thread_a64.S
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: move thread_defs.h into thread.h
  core/arch/arm/include/kernel/thread_defs.h
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_a32.S
  core/arch/arm/kernel/thread_a64.S
  core/arch/arm/kernel/thread_optee_smc_a32.S
  core/arch/arm/kernel/thread_optee_smc_a64.S
  core/arch/arm/kernel/thread_spmc_a32.S
  core/arch/arm/kernel/thread_spmc_a64.S
  core/include/kernel/thread.h
  core/kernel/thread.c
Owners: @OP-TEE/linaro

core: split core/include/kernel/thread_private.h
  core/arch/arm/include/kernel/thread_private_arch.h
  core/include/kernel/thread_private.h
Owners: @OP-TEE/linaro

core: split core/arch/arm/kernel/thread.c
  core/arch/arm/include/kernel/thread_private.h
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/thread.c
  core/include/kernel/thread.h
  core/kernel/sub.mk
  core/kernel/thread.c
Owners: @OP-TEE/linaro

dts: sama5d2: set the watchdog as secure
  core/arch/arm/dts/at91-sama5d27_som1_ek.dts
  core/arch/arm/dts/at91-sama5d2_xplained.dts
  core/arch/arm/dts/sama5d2.dtsi
Owners: @OP-TEE/linaro

plat-sam: disable CFG_CORE_HAS_GENERIC_TIMER
  core/arch/arm/plat-sam/conf.mk
  core/arch/arm/plat-sam/freq.c
  core/arch/arm/plat-sam/sub.mk
Owners: @OP-TEE/plat-sam, @nodeax

drivers: atmel_wdt: add atmel watchdog timer driver
  core/drivers/atmel_wdt.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

drivers: wdt: add SMC handler for arm-smc-wdt Linux driver
  core/drivers/wdt/sub.mk
  core/drivers/wdt/watchdog_sm.c
  core/include/drivers/wdt.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: sm: call wdt_sm_handler()
  core/arch/arm/sm/sm.c
Owners: @OP-TEE/linaro

plat-sam: enable watchdog support in configuration
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

dts: sama5d2: add clocks for cpu
  core/arch/arm/dts/sama5d2.dtsi
Owners: @OP-TEE/linaro

delay: allow udelay() function to work without generic timers
  core/arch/arm/include/kernel/boot.h
  core/arch/arm/include/kernel/misc.h
  core/arch/arm/kernel/delay.c
  core/arch/arm/kernel/misc_a32.S
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: wdt: add watchdog interface
  core/drivers/sub.mk
  core/drivers/wdt/sub.mk
  core/drivers/wdt/watchdog.c
  core/include/drivers/wdt.h
  mk/config.mk
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
