Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

core: core.mk: Fix compiler error due to TEE_IMPL_GIT_SHA1 type
  core/core.mk
Owners: @OP-TEE/linaro

drivers: scmi-msg: add BASE_DISCOVER_AGENT
  core/drivers/scmi-msg/base.c
  core/drivers/scmi-msg/base.h
  core/include/drivers/scmi-msg.h
Owners: @OP-TEE/linaro

core: stmm: separate FF-A handling from stmm_sp
  core/arch/arm/include/kernel/stmm_sp.h
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/stmm_sp_ffa.c
  core/arch/arm/kernel/stmm_sp_ffa.h
  core/arch/arm/kernel/sub.mk
Owners: @OP-TEE/linaro

core: stmm: make the FF-A ABI version selectable
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/stmm_sp_ffa.c
  core/arch/arm/kernel/stmm_sp_ffa.h
  mk/config.mk
Owners: @OP-TEE/linaro

plat-tegra: use FF-A v1.1 for StandaloneMM
  core/arch/arm/plat-tegra/conf.mk
Owners: @OP-TEE/linaro

plat-qcom: wildcat: nord: Fix DRAM address mappings
  core/arch/arm/plat-qcom/main.c
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
Owners: @OP-TEE/linaro

core: drivers: add mailbox framework
  core/drivers/mailbox/mailbox.c
  core/drivers/mailbox/sub.mk
  core/drivers/sub.mk
  core/include/drivers/mailbox.h
  core/include/drivers/mailbox_device.h
Owners: @OP-TEE/linaro

core: pta: add optee mailbox framework test
  core/pta/tests/invoke.c
  core/pta/tests/mbox.c
  core/pta/tests/mbox_test.h
  core/pta/tests/sub.mk
  lib/libutee/include/pta_invoke_tests.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: pta: tests: add mailbox device tree tests
  core/arch/arm/dts/dt_driver_test.dtsi
  core/pta/tests/dt_driver_test.c
  mk/config.mk
Owners: @OP-TEE/linaro

plat-vexpress: add the mailbox framework support on qemu
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

ci: Use repo tool from Debian
  scripts/ci-images/Dockerfile.build
Owners: @OP-TEE/linaro

ci: Make manifest owner configurable
  .github/workflows/qemu-checks-image.yml
  scripts/ci-images/get_optee.sh
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: Modernize the ci-buidl-image with Debian 13
  .github/workflows/ci.yml
  scripts/ci-images/Dockerfile.build
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: Add workflow to build container image for build and test jobs in-tree
  .github/workflows/ci-images.yml
  scripts/ci-images/Dockerfile.build
  scripts/ci-images/get_optee.sh
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: Consolidate QEMU image builds into a reusable workflow
  .github/workflows/ci.yml
  .github/workflows/qemu-checks-image.yml
Owners: @OP-TEE/approvers

ci: Switch to new ci-build-image
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: Consolidate QEMU checks steps into a composite action
  .github/actions/qemu-checks/action.yml
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: Harden fetching of llvm
  scripts/ci-images/Dockerfile.build
Owners: @OP-TEE/linaro

ci: Drop exceptions from BTI+MTE+PAC check
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: Drop unneeded git safe.directory statement
  .github/actions/qemu-checks/action.yml
Owners: @OP-TEE/approvers

core: riscv: rework _do_regs to take the register file as a parameter
  core/arch/riscv/include/riscv_macros.S
Owners: @OP-TEE/linaro

core: stmm: make the FF-A ABI version selectable
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/stmm_sp_ffa.c
  core/arch/arm/kernel/stmm_sp_ffa.h
  mk/config.mk
Owners: @OP-TEE/linaro

plat-tegra: use FF-A v1.1 for StandaloneMM
  core/arch/arm/plat-tegra/conf.mk
Owners: @OP-TEE/linaro

core: stmm: separate FF-A handling from stmm_sp
  core/arch/arm/include/kernel/stmm_sp.h
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/stmm_sp_ffa.c
  core/arch/arm/kernel/stmm_sp_ffa.h
  core/arch/arm/kernel/sub.mk
Owners: @OP-TEE/linaro

core: storage: propagate corrupt object removal errors
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

drivers: qcom: spi: add lemans SPI config
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
  core/drivers/spi/qcom/platform/lemans/qcom_geni_spi_config.c
  core/drivers/spi/qcom/platform/lemans/sub.mk
  core/drivers/spi/qcom/platform/sub.mk
  core/drivers/spi/qcom/sub.mk
Owners: @OP-TEE/linaro

drivers: qcom: add GENI SPI driver
  core/drivers/spi/qcom/qcom_geni_spi.c
  core/drivers/spi/qcom/sub.mk
  core/drivers/spi/sub.mk
  core/drivers/sub.mk
  core/include/drivers/qcom_geni_spi.h
Owners: @OP-TEE/linaro

drivers: qcom: spi: add loopback SPI test
  core/drivers/spi/qcom/qcom_geni_spi_test.c
  core/drivers/spi/qcom/sub.mk
Owners: @OP-TEE/linaro

core: ltc: validate SM2 KEP public keys
  core/lib/libtomcrypt/sm2-kep.c
Owners: @OP-TEE/linaro

tee: rpmb_fs: use temporary files for all overwrites
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: spmc: reject memory operations from non-receivers
  core/arch/arm/kernel/spmc_sp_handler.c
Owners: @OP-TEE/linaro

plat-rockchip: rk3506: implement PSCI SYSTEM_RESET and SYSTEM_OFF
  core/arch/arm/plat-rockchip/cru.h
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/psci_rk3506.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

core: riscv: add cache_operation()
  core/arch/riscv/tee/cache.c
  core/arch/riscv/tee/sub.mk
Owners: @OP-TEE/linaro

libutils: add test hook to __stack_chk_fail()
  core/include/kernel/stack_check.h
  lib/libutils/isoc/stack_check.c
Owners: @OP-TEE/linaro

core: riscv: plat-virt: enable embedded tests by default
  core/arch/riscv/plat-virt/conf.mk
Owners: @OP-TEE/linaro

ta: export CFG_TA_ASLR to the TA dev kit
  ta/ta.mk
Owners: @OP-TEE/linaro

core: riscv: recognise the vector disabled trap from user mode
  core/arch/riscv/kernel/abort.c
Owners: @OP-TEE/linaro

core: riscv: switch the REE vector context lazily and give a TA the unit
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: vector: own xstatus.VS from vfp_enable() and vfp_disable()
  core/arch/riscv/kernel/thread_optee_abi_rv.S
  core/arch/riscv/kernel/thread_rv.S
  core/arch/riscv/kernel/vfp.c
Owners: @OP-TEE/linaro

core: riscv: vector: low-level save and restore of the v registers
  core/arch/riscv/include/kernel/vfp.h
  core/arch/riscv/include/riscv.h
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/kernel/vfp_private.h
  core/arch/riscv/kernel/vfp_rv.S
Owners: @OP-TEE/linaro
