Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

scripts/symbolize.py: remove spurious output '(out/arm/core/tee.elf)'
  scripts/symbolize.py
Owners: @OP-TEE/linaro

scripts/symbolize.py: remove spurious output '(out/arm/core/tee.elf)'
  scripts/symbolize.py
Owners: @OP-TEE/linaro

libutils: introduce MAX_UNSAFE() and MIN_UNSAFE()
  lib/libutils/ext/include/util.h
Owners: @OP-TEE/linaro

plat-stm: fix MIN/MAX macro issue in platform_config.h
  core/arch/arm/plat-stm/platform_config.h
Owners: @OP-TEE/plat-stm

plat-stm: fix MIN/MAX macro issue in platform_config.h
  core/arch/arm/plat-stm/platform_config.h
Owners: @OP-TEE/plat-stm

libutils: introduce MAX_UNSAFE() and MIN_UNSAFE()
  lib/libutils/ext/include/util.h
Owners: @OP-TEE/linaro

core: arm64.h: add TCR_EL1_IPS_MASK
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: arm64: update max pa after discovered nsec ddr
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/arm/mm/core_mmu_private.h
Owners: @OP-TEE/linaro

core: arm64.h: add TCR_EL1_IPS_MASK
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: arm64: update max pa after discovered nsec ddr
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/arm/mm/core_mmu_private.h
Owners: @OP-TEE/linaro

core: fix offset in assign_mobj_to_param_mem()
  core/arch/arm/tee/entry_std.c
Owners: @OP-TEE/linaro

core: fix offset in assign_mobj_to_param_mem()
  core/arch/arm/tee/entry_std.c
Owners: @OP-TEE/linaro

core: make stack trace robust
  core/arch/arm/include/kernel/unwind.h
  core/arch/arm/kernel/abort.c
  core/arch/arm/kernel/unwind_arm32.c
  core/arch/arm/kernel/unwind_arm64.c
  core/include/tee/tee_svc.h
Owners: @OP-TEE/linaro

core: make stack trace robust
  core/arch/arm/include/kernel/unwind.h
  core/arch/arm/kernel/abort.c
  core/arch/arm/kernel/unwind_arm32.c
  core/arch/arm/kernel/unwind_arm64.c
  core/include/tee/tee_svc.h
Owners: @OP-TEE/linaro

plat-imx: add 'generic' platform flavor to scale to more boards
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/platform_config.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

libmbedtls: configure mbedTLS for different modes
  lib/libmbedtls/sub.mk
Owners: @OP-TEE/linaro

libmbedtls: support mbedTLS in kernel mode
  lib/libmbedtls/core/sub.mk
  lib/libmbedtls/core/tee_lmd_provider.c
  lib/libmbedtls/include/mbedtls_config_kernel.h
  lib/libmbedtls/sub.mk
Owners: @OP-TEE/linaro

generic_ram_layout: align TA_RAM to SMALL_PAGE_SIZE
  core/arch/arm/include/mm/generic_ram_layout.h
Owners: @OP-TEE/linaro

mmu: align va of memory regions to pa modulo PGDIR_SIZE
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

bget: remove unused parameter for bufdump()
  lib/libutils/isoc/bget.h
Owners: @OP-TEE/linaro

asid: move asid allocator from tee_mmu.c to core_mmu.c
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/mm/tee_mmu.c
Owners: @OP-TEE/linaro

linker.h: declare __data_start as non-const
  core/arch/arm/include/kernel/linker.h
Owners: @OP-TEE/linaro

link_dummy.ld: provide __data_start symbol
  core/arch/arm/kernel/link_dummy.ld
Owners: @OP-TEE/linaro

thread: move stacks to separate sections
  core/arch/arm/kernel/thread.c
Owners: @OP-TEE/linaro

drivers: hi16xx_rng: replace mutex with spinlock
  core/drivers/hi16xx_rng.c
Owners: @OP-TEE/linaro

trace: print core id if in atomic context
  lib/libutils/ext/trace.c
  mk/config.mk
Owners: @OP-TEE/linaro

trace: check for CFG_MSG_LONG_PREFIX_MASK only once per message
  lib/libutils/ext/trace.c
Owners: @OP-TEE/linaro

trace: get thread_id right in print_thread_id()
  lib/libutils/ext/trace.c
Owners: @OP-TEE/linaro

Update CHANGELOG.md for 3.2.0
  CHANGELOG.md
Owners: @OP-TEE/linaro

Update CHANGELOG.md for 3.2.0
  CHANGELOG.md
Owners: @OP-TEE/linaro

drivers: imx_wdog driver cleanup
  core/drivers/imx_wdog.c
Owners: @OP-TEE/linaro

core: arm: sm: rename struct sm_mode_regs to sm_unbanked_regs
  core/arch/arm/include/sm/sm.h
  core/arch/arm/plat-imx/pm/cpuidle-imx7d.c
  core/arch/arm/plat-imx/pm/imx7_suspend.c
  core/arch/arm/plat-ti/main.c
  core/arch/arm/sm/sm.c
  core/arch/arm/sm/sm_a32.S
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ti, @glneo

core: arm: sm: initialize PMCR.DP to 1 and save/restore PMCR
  core/arch/arm/arm.mk
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/include/sm/sm.h
  core/arch/arm/sm/sm_a32.S
Owners: @OP-TEE/linaro

bget: remove unused parameter for bufdump()
  lib/libutils/isoc/bget.h
Owners: @OP-TEE/linaro

linker.h: declare __data_start as non-const
  core/arch/arm/include/kernel/linker.h
Owners: @OP-TEE/linaro

asid: move asid allocator from tee_mmu.c to core_mmu.c
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/mm/tee_mmu.c
Owners: @OP-TEE/linaro

link_dummy.ld: provide __data_start symbol
  core/arch/arm/kernel/link_dummy.ld
Owners: @OP-TEE/linaro

mmu: align va of memory regions to pa modulo PGDIR_SIZE
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

generic_ram_layout: align TA_RAM to SMALL_PAGE_SIZE
  core/arch/arm/include/mm/generic_ram_layout.h
Owners: @OP-TEE/linaro

thread: move stacks to separate sections
  core/arch/arm/kernel/thread.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
