Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

clk: qcom: add RPMh CX/MX rail voting
  core/drivers/clk/qcom/rail_rpmh.c
  core/drivers/clk/qcom/rail_vote.h
  core/drivers/clk/qcom/sub.mk
Owners: @OP-TEE/linaro

plat-rockchip: rk3506: implement PSCI SYSTEM_RESET and SYSTEM_OFF
  core/arch/arm/plat-rockchip/cru.h
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/psci_rk3506.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

core: spmc: route direct request errors to caller
  core/arch/arm/kernel/spmc_sp_handler.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: fix SET_SHMEM arguments and use queried size
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: bounds-check lengths against shared memory
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: add sbi_mpxy_init()
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: boot: initialize MPXY on all harts and probe RPMI channels
  core/arch/riscv/include/sbi_mpxy_rpmi.h
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: add sbi_mpxy_to_tee_result()
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: spmc: route direct request errors to caller
  core/arch/arm/kernel/spmc_sp_handler.c
Owners: @OP-TEE/linaro

pta: qcom: pas: monaco: add iris bring-up
  core/arch/arm/plat-qcom/hoya/monaco/target_config.h
  core/pta/qcom/pas/platform/monaco/iris.c
  core/pta/qcom/pas/platform/monaco/iris.h
  core/pta/qcom/pas/platform/monaco/sub.mk
  core/pta/qcom/pas/platform/monaco/subsys.c
Owners: @OP-TEE/linaro

plat-qcom: hoya: monaco: enable the PAS pseudo-TA
  core/arch/arm/plat-qcom/hoya/monaco/target.mk
Owners: @OP-TEE/linaro

pta: qcom: pas: monaco: add ADSP, CDSP and GP-DSP0 bring-up
  core/arch/arm/plat-qcom/hoya/monaco/target_config.h
  core/pta/qcom/pas/platform/monaco/cdsp0.c
  core/pta/qcom/pas/platform/monaco/cdsp0.h
  core/pta/qcom/pas/platform/monaco/gpdsp0.c
  core/pta/qcom/pas/platform/monaco/gpdsp0.h
  core/pta/qcom/pas/platform/monaco/lpass.c
  core/pta/qcom/pas/platform/monaco/lpass.h
  core/pta/qcom/pas/platform/monaco/sub.mk
  core/pta/qcom/pas/platform/monaco/subsys.c
Owners: @OP-TEE/linaro

clk: qcom: monaco: add PAS clock support
  core/arch/arm/plat-qcom/hoya/monaco/target_config.h
  core/drivers/clk/qcom/platform/monaco/clock-pas.c
  core/drivers/clk/qcom/platform/monaco/clock_group.h
Owners: @OP-TEE/linaro

core: riscv: disarm the timer where the timer interrupt is native
  core/arch/riscv/include/sbi.h
  core/arch/riscv/kernel/sbi.c
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: carry the full PTE attribute field in the page table helpers
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro

core: riscv: map device memory with Svpbmt page-based memory types
  core/arch/riscv/include/encoding.h
  core/arch/riscv/mm/core_mmu_arch.c
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: riscv: invalidate address ranges with Svinval
  .github/workflows/ci.yml
  core/arch/riscv/include/kernel/tlb_helpers.h
  core/arch/riscv/mm/core_mmu_arch.c
  core/arch/riscv/mm/tlb_helpers_rv.S
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

core: riscv: sbi_mpxy: add sbi_mpxy_init()
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: fix SET_SHMEM arguments and use queried size
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: add sbi_mpxy_to_tee_result()
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: bounds-check lengths against shared memory
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: boot: initialize MPXY on all harts and probe RPMI channels
  core/arch/riscv/include/sbi_mpxy_rpmi.h
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

core: spmc: validate and serialize SP thread resume
  core/arch/arm/include/kernel/thread_private_arch.h
  core/arch/arm/kernel/spmc_sp_handler.c
  core/arch/arm/kernel/thread.c
Owners: @OP-TEE/linaro

plat-qcom: bruin: move GICR_BASE to the per-target configs
  core/arch/arm/plat-qcom/bruin/arch_config.h
  core/arch/arm/plat-qcom/bruin/shikra/target_config.h
Owners: @OP-TEE/linaro

plat-qcom: bruin: add QCM2290 Agatti platform support
  .github/workflows/ci.yml
  core/arch/arm/plat-qcom/bruin/agatti/target.mk
  core/arch/arm/plat-qcom/bruin/agatti/target_config.h
  core/arch/arm/plat-qcom/conf.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

crypto: asu: finish active hash and HMAC operations on free
  core/drivers/crypto/asu_driver/asu_hash.c
Owners: @OP-TEE/linaro

crypto: asu: fix HMAC final() buffer length handling
  core/drivers/crypto/asu_driver/asu_hash.c
Owners: @OP-TEE/linaro

crypto: asu: serialize SHA2/SHA3 across hash, HMAC, and RSA OAEP/PSS
  core/drivers/crypto/asu_driver/asu_crypto_common.c
  core/drivers/crypto/asu_driver/asu_hash.c
  core/drivers/crypto/asu_driver/asu_rsa.c
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_crypto_common.h
Owners: @OP-TEE/linaro

crypto: asu: fall back RSA when KeyManager is unavailable
  core/drivers/crypto/asu_driver/asu_rsa.c
  core/drivers/crypto/asu_driver/crypto.mk
Owners: @OP-TEE/linaro

core: mobj_ffa: don't insert NULL into the active list
  core/arch/arm/mm/mobj_ffa.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: index mpxy_core_local_array by core position
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

drivers: imx_gpio: add i.MX GPIO controller driver
  core/arch/arm/plat-imx/conf.mk
  core/drivers/imx_gpio.c
  core/drivers/sub.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

drivers: imx_i2c: register as a DT I2C controller
  core/drivers/imx_i2c.c
Owners: @OP-TEE/linaro

drivers: imx_i2c: enable the bus clock before each transfer
  core/drivers/imx_i2c.c
Owners: @OP-TEE/linaro

drivers: imx_i2c: add support for MX7
  core/arch/arm/plat-imx/registers/imx7-crm.h
  core/arch/arm/plat-imx/registers/imx7.h
  core/drivers/imx_i2c.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

drivers: pinctrl: imx_pinctrl: add i.MX IOMUXC pin controller
  core/arch/arm/plat-imx/conf.mk
  core/drivers/pinctrl/imx_pinctrl.c
  core/drivers/pinctrl/sub.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

plat-qcom: hoya: raise the core heap to 128 KiB
  core/arch/arm/plat-qcom/hoya/qcom-arch.mk
Owners: @OP-TEE/linaro

core: riscv: add cache_operation()
  core/arch/riscv/tee/cache.c
  core/arch/riscv/tee/sub.mk
Owners: @OP-TEE/linaro

ta: export CFG_TA_ASLR to the TA dev kit
  ta/ta.mk
Owners: @OP-TEE/linaro

core: riscv: plat-virt: enable embedded tests by default
  core/arch/riscv/plat-virt/conf.mk
Owners: @OP-TEE/linaro
