Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

github: update GitHub PR and issue templates
  .github/issue_template.md
  .github/pull_request_template.md
Owners: @OP-TEE/approvers

libmbedtls: mbedtls_mpi_exp_mod(): optimize mempool usage
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

core: imx: Add simple CAAM permissions set routine
  core/arch/arm/plat-imx/imx_caam.c
  core/arch/arm/plat-imx/imx_caam.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: Add in calls to set CAAM job-ring permissions
  core/arch/arm/plat-imx/imx6.c
  core/arch/arm/plat-imx/imx6ul.c
  core/arch/arm/plat-imx/imx7.c
  core/arch/arm/plat-imx/sub.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: fix missing unpaged constraint on mobj_with_fobj_get_pa()
  core/arch/arm/mm/mobj.c
Owners: @OP-TEE/linaro

core: imx: Add simple CAAM permissions set routine
  core/arch/arm/plat-imx/imx_caam.c
  core/arch/arm/plat-imx/imx_caam.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: Add in calls to set CAAM job-ring permissions
  core/arch/arm/plat-imx/imx6.c
  core/arch/arm/plat-imx/imx6ul.c
  core/arch/arm/plat-imx/imx7.c
  core/arch/arm/plat-imx/sub.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: vm_set_prot(): skip prot bits already set
  core/arch/arm/mm/tee_mmu.c
Owners: @OP-TEE/linaro

Link user libraries with 4K page size
  mk/lib.mk
  ta/arch/arm/link_shlib.mk
Owners: @OP-TEE/linaro

core: handle_db: add ptr_destructor argument
  core/include/kernel/handle.h
  core/kernel/handle.c
Owners: @OP-TEE/linaro

core: pager: check utc->areas before assigning tables
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

Move reg_pair_*() to util.h
  core/arch/arm/include/kernel/misc.h
  lib/libutils/ext/include/util.h
Owners: @OP-TEE/linaro

core: provide struct user_ta_store_ops in public .h file
  core/arch/arm/kernel/early_ta.c
  core/arch/arm/kernel/elf_load.h
  core/arch/arm/kernel/ree_fs_ta.c
  core/arch/arm/kernel/secstor_ta.c
  core/include/kernel/user_ta_store.h
Owners: @OP-TEE/linaro

core: handle_db: add ptr_destructor argument
  core/include/kernel/handle.h
  core/kernel/handle.c
Owners: @OP-TEE/linaro

Move reg_pair_*() to util.h
  core/arch/arm/include/kernel/misc.h
  lib/libutils/ext/include/util.h
Owners: @OP-TEE/linaro

core: pager: check utc->areas before assigning tables
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

Link user libraries with 4K page size
  mk/lib.mk
  ta/arch/arm/link_shlib.mk
Owners: @OP-TEE/linaro

core: vm_set_prot(): skip prot bits already set
  core/arch/arm/mm/tee_mmu.c
Owners: @OP-TEE/linaro

core: provide struct user_ta_store_ops in public .h file
  core/arch/arm/kernel/early_ta.c
  core/arch/arm/kernel/elf_load.h
  core/arch/arm/kernel/ree_fs_ta.c
  core/arch/arm/kernel/secstor_ta.c
  core/include/kernel/user_ta_store.h
Owners: @OP-TEE/linaro

stm32mp1: update DTS files to Linux kernel 5.2-rc1
  core/arch/arm/dts/stm32mp157-pinctrl.dtsi
  core/arch/arm/dts/stm32mp157a-dk1.dts
  core/arch/arm/dts/stm32mp157c-dk2.dts
  core/arch/arm/dts/stm32mp157c-ev1.dts
  core/arch/arm/dts/stm32mp157c.dtsi
  core/include/dt-bindings/mfd/st,stpmic1.h
Owners: @OP-TEE/linaro

core: introduce STPMIC1 driver
  core/drivers/stpmic1.c
  core/drivers/sub.mk
  core/include/drivers/stpmic1.h
Owners: @OP-TEE/linaro

drivers/stpmic1: unpaged low power sequence
  core/drivers/stpmic1.c
  core/include/drivers/stpmic1.h
Owners: @OP-TEE/linaro

stm32mp1: update DTS files to Linux kernel 5.2-rc1
  core/arch/arm/dts/stm32mp157-pinctrl.dtsi
  core/arch/arm/dts/stm32mp157a-dk1.dts
  core/arch/arm/dts/stm32mp157c-dk2.dts
  core/arch/arm/dts/stm32mp157c-ev1.dts
  core/arch/arm/dts/stm32mp157c.dtsi
  core/include/dt-bindings/mfd/st,stpmic1.h
Owners: @OP-TEE/linaro

core: introduce STPMIC1 driver
  core/drivers/stpmic1.c
  core/drivers/sub.mk
  core/include/drivers/stpmic1.h
Owners: @OP-TEE/linaro

drivers/stpmic1: unpaged low power sequence
  core/drivers/stpmic1.c
  core/include/drivers/stpmic1.h
Owners: @OP-TEE/linaro

stmp32mp1: support STPMIC1 device
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.h
  core/arch/arm/plat-stm32mp1/drivers/sub.mk
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

core: correct _fdt_get_status() description
  core/include/kernel/dt.h
Owners: @OP-TEE/linaro

core: move embedded DTB out of init sections
  core/arch/arm/kernel/generic_boot.c
  core/arch/arm/plat-stm32mp1/main.c
  core/include/console.h
  core/kernel/console.c
Owners: @OP-TEE/linaro

core: ensure embedded DTB found trace is output once
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

core: fix core panic when CFG_UNWIND=n
  core/arch/arm/tee/arch_svc.c
Owners: @OP-TEE/linaro

core: move embedded DTB out of init sections
  core/arch/arm/kernel/generic_boot.c
  core/arch/arm/plat-stm32mp1/main.c
  core/include/console.h
  core/kernel/console.c
Owners: @OP-TEE/linaro

core: fix core panic when CFG_UNWIND=n
  core/arch/arm/tee/arch_svc.c
Owners: @OP-TEE/linaro

ref_count : panicked occurs in tee_ta_open_session
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

core: ensure embedded DTB found trace is output once
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

[review] stmp32mp1: support STPMIC1 device
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.h
Owners: @OP-TEE/linaro

drivers: wdt: Add arm SP805 watchdog driver
  core/arch/arm/plat-bcm/conf.mk
  core/drivers/sp805_wdt.c
  core/drivers/sub.mk
  core/include/drivers/sp805_wdt.h
  core/include/drivers/wdt.h
Owners: @OP-TEE/linaro

ref_count : panicked occurs in tee_ta_open_session
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

core: fix missing unpaged constraint on mobj_with_fobj_get_pa()
  core/arch/arm/mm/mobj.c
Owners: @OP-TEE/linaro

core: correct _fdt_get_status() description
  core/include/kernel/dt.h
Owners: @OP-TEE/linaro

core: explicit return value for sm_platform_handler()
  core/arch/arm/include/sm/sm.h
  core/arch/arm/plat-imx/sm_platform_handler.c
  core/arch/arm/plat-ti/sm_platform_handler_a15.c
  core/arch/arm/plat-ti/sm_platform_handler_a9.c
  core/arch/arm/sm/sm.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ti, @glneo
