Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: kernel: Fix typo in __do_panic()
  core/kernel/panic.c
Owners: @OP-TEE/linaro

ci: update QEMUv8 jobs to use newer Docker image
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: remame WD to OPTEE_OS_TO_TEST
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: update QEMUv8 jobs to use newer Docker image
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: remame WD to OPTEE_OS_TO_TEST
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core/scmi: fix c files list
  core/lib/scmi-server/sub.mk
Owners: @OP-TEE/linaro

core/scmi: sync with SCP-firmware code reorg
  core/lib/scmi-server/sub-optee-fvp.mk
  core/lib/scmi-server/sub-optee-stm32mp1.mk
  core/lib/scmi-server/sub.mk
Owners: @OP-TEE/linaro

core/scmi: export sub.mk files in SCP-firmware
  core/lib/scmi-server/sub-optee-fvp.mk
  core/lib/scmi-server/sub-optee-stm32mp1.mk
  core/lib/scmi-server/sub.mk
Owners: @OP-TEE/linaro

drivers: crypto: hisilicon: init HPRE hardware block
  core/drivers/crypto/hisilicon/hpre_main.c
  core/drivers/crypto/hisilicon/include/hpre_main.h
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

ci.yml: add a make command to build HPRE code
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

Update CHANGELOG for 4.2.0 and collect Tested-by tags.
  CHANGELOG.md
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: crypto: stm32_cryp: remove reset binding requirements
  core/drivers/crypto/stm32/stm32_cryp.c
Owners: @OP-TEE/linaro

drivers: crypto: stm32_cryp: add delay when resetting CRYP peripheral.
  core/drivers/crypto/stm32/stm32_cryp.c
Owners: @OP-TEE/linaro

drivers: crypto: stm32_cryp: add pm to CRYP driver
  core/drivers/crypto/stm32/stm32_cryp.c
Owners: @OP-TEE/linaro

drivers: crypto: hisilicon: init HPRE hardware block
  core/drivers/crypto/hisilicon/hpre_main.c
  core/drivers/crypto/hisilicon/include/hpre_main.h
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

ci.yml: add a make command to build HPRE code
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: crypto: stm32_cryp: add delay when resetting CRYP peripheral.
  core/drivers/crypto/stm32/stm32_cryp.c
Owners: @OP-TEE/linaro

drivers: crypto: stm32_cryp: remove reset binding requirements
  core/drivers/crypto/stm32/stm32_cryp.c
Owners: @OP-TEE/linaro

drivers: crypto: stm32_cryp: add pm to CRYP driver
  core/drivers/crypto/stm32/stm32_cryp.c
Owners: @OP-TEE/linaro

core: notif: add support timeout notify
  core/include/kernel/notif.h
  core/include/kernel/wait_queue.h
  core/kernel/notif.c
  core/kernel/wait_queue.c
Owners: @OP-TEE/linaro

core: mutex: add support timeout condvar
  core/include/kernel/mutex.h
  core/kernel/mutex.c
Owners: @OP-TEE/linaro

drivers: stm32_i2c: protect bus access with a mutex
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

vexpress-qemu_armv8a: increase CFG_CORE_HEAP_SIZE to 131072
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

drivers: firewall: stm32_rifsc: remove use of CFG_PM
  core/drivers/firewall/stm32_rifsc.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: remove use of CFG_PM
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

ci: add QEMUv7 job
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: stm32_i2c: protect bus access with a mutex
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

vexpress-qemu_armv8a: increase CFG_CORE_HEAP_SIZE to 131072
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

drivers: firewall: fix stm32_rif_semaphore_enabled_and_ok() prototype
  core/include/drivers/stm32_rif.h
Owners: @OP-TEE/linaro

dt-bindings: firewall: move RIFPROT binding
  core/include/dt-bindings/firewall/stm32mp25-rif.h
  core/include/dt-bindings/firewall/stm32mp25-rifsc.h
Owners: @OP-TEE/linaro

[Review] dt-bindings: firewall: move RIFPROT binding
  core/drivers/firewall/stm32_rifsc.c
  core/include/dt-bindings/firewall/stm32mp25-rifsc.h
Owners: @OP-TEE/linaro

ci: add QEMUv7 job
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

dts: stm32: add HPDMA1/2/3 nodes in stm32mp251.dtsi
  core/arch/arm/dts/stm32mp251.dtsi
Owners: @OP-TEE/linaro

plat-stm32mp2: conf: support HSEM driver
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

dts: stm32: add HSEM node in stm32mp251.dtsi
  core/arch/arm/dts/stm32mp251.dtsi
Owners: @OP-TEE/linaro

dts: stm32: add FMC node in stm32mp251.dtsi
  core/arch/arm/dts/stm32mp251.dtsi
Owners: @OP-TEE/linaro

plat-stm32mp2: conf: support IPCC driver
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

drivers: add IPCC driver and its RIF support
  core/drivers/stm32_ipcc.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

dts: stm32: add IPCC1/2 nodes in stm32mp251.dtsi
  core/arch/arm/dts/stm32mp251.dtsi
Owners: @OP-TEE/linaro

drivers: add RIF support driver for HSEM
  core/drivers/stm32_hsem.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
