Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

core: ffa: Allow multiple SPs with same UUID
  core/arch/arm/include/kernel/secure_partition.h
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: ffa: Allow multiple SPs with same UUID
  core/arch/arm/include/kernel/secure_partition.h
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

pta: attestation: fix compilation incompatible pointer warning
  core/pta/attestation.c
Owners: @OP-TEE/linaro

pta: attestation: fix compilation incompatible pointer warning
  core/pta/attestation.c
Owners: @OP-TEE/linaro

ci: compile-test as many PTAs as possible on QEMU/QEMUv8
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: compile-test as many PTAs as possible on QEMU/QEMUv8
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: imx: remove duplicate driver_init() call
  core/arch/arm/plat-imx/drivers/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

se050: ecc: SE050-F shared secret
  core/drivers/crypto/se050/core/ecc.c
Owners: @OP-TEE/linaro

drivers: crypto: add support for SM2_DSA_SM3
  core/drivers/crypto/crypto_api/acipher/ecc.c
Owners: @OP-TEE/linaro

dts: stm32: add OTP index for HUK on stm32mp15 platform
  core/arch/arm/dts/stm32mp157a-dk1.dts
  core/arch/arm/dts/stm32mp157c-dk2.dts
  core/arch/arm/dts/stm32mp157c-ed1.dts
Owners: @OP-TEE/linaro

drivers: stm32mp15_huk: use DT HUK NVMEM layout API
  core/arch/arm/plat-stm32mp1/conf.mk
  core/drivers/stm32mp15_huk.c
Owners: @OP-TEE/linaro

drivers: se050: allow configuring the Secure Element applet
  core/drivers/crypto/se050/crypto.mk
Owners: @OP-TEE/linaro

ci: se05x crypto driver: update plug-and-trust
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: dump_ta_memstats(): check TA initialization completion before accessing it
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

ci: se05x crypto driver: update plug-and-trust
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: se050: allow configuring the Secure Element applet
  core/drivers/crypto/se050/crypto.mk
Owners: @OP-TEE/linaro

core: dump_ta_memstats(): check TA initialization completion before accessing it
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

build: ta: add RISC-V linker script
  lib/libutee/arch/arm/sub.mk
  lib/libutee/sub.mk
  lib/libutee/tcb.c
  lib/libutee/user_ta_entry.c
  lib/libutee/user_ta_entry_compat.c
  ta/arch/riscv/ta.ld.S
  ta/link.mk
  ta/link_shlib.mk
  ta/mk/build-user-ta.mk
  ta/ta.mk
  ta/user_ta_header.c
Owners: @OP-TEE/linaro

crypto: ecc: remove the SM2 encrypt/decrypt formatting from the crypto driver
  core/drivers/crypto/crypto_api/acipher/ecc.c
Owners: @OP-TEE/linaro

drivers: caam: ecc: add software fallback for ECC SM2 enc/dec
  core/drivers/crypto/caam/acipher/caam_ecc.c
Owners: @OP-TEE/linaro

core: fix loading of encrypted TA
  core/kernel/ree_fs_ta.c
Owners: @OP-TEE/linaro

core: fix loading of encrypted TA
  core/kernel/ree_fs_ta.c
Owners: @OP-TEE/linaro

core: mm: Fix idx truncation bug
  core/arch/arm/mm/core_mmu_lpae.c
Owners: @OP-TEE/linaro

core: mm: Fix idx truncation bug
  core/arch/arm/mm/core_mmu_lpae.c
Owners: @OP-TEE/linaro

build: ta: add RISC-V linker script
  lib/libutee/arch/arm/sub.mk
  lib/libutee/sub.mk
  lib/libutee/tcb.c
  lib/libutee/user_ta_entry.c
  lib/libutee/user_ta_entry_compat.c
  ta/arch/riscv/ta.ld.S
  ta/link.mk
  ta/link_shlib.mk
  ta/mk/build-user-ta.mk
  ta/ta.mk
  ta/user_ta_header.c
Owners: @OP-TEE/linaro

core: imx: remove duplicate driver_init() call
  core/arch/arm/plat-imx/drivers/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: crypto: add support for SM2_DSA_SM3
  core/drivers/crypto/crypto_api/acipher/ecc.c
Owners: @OP-TEE/linaro

libtomcrypt: fix pkcs_1_v1_5_decode() when empty message
  core/lib/libtomcrypt/src/pk/pkcs1/pkcs_1_v1_5_decode.c
Owners: @OP-TEE/linaro

libtomcrypt: fix pkcs_1_v1_5_decode() when empty message
  core/lib/libtomcrypt/src/pk/pkcs1/pkcs_1_v1_5_decode.c
Owners: @OP-TEE/linaro

drivers: caam: math: add CFG_NXP_CAAM_MATH_DRV compilation flag
  core/drivers/crypto/caam/acipher/sub.mk
  core/drivers/crypto/caam/include/caam_acipher.h
Owners: @OP-TEE/linaro

drivers: caam: fix MP abstraction layer functions
  core/drivers/crypto/caam/hal/common/hal_ctrl.c
  core/drivers/crypto/caam/include/caam_hal_ctrl.h
Owners: @OP-TEE/linaro

drivers: caam: fix MP abstraction layer functions
  core/drivers/crypto/caam/hal/common/hal_ctrl.c
  core/drivers/crypto/caam/include/caam_hal_ctrl.h
Owners: @OP-TEE/linaro

drivers: caam: math: add CFG_NXP_CAAM_MATH_DRV compilation flag
  core/drivers/crypto/caam/acipher/sub.mk
  core/drivers/crypto/caam/include/caam_acipher.h
Owners: @OP-TEE/linaro

core: define a OP-TEE SMC ID for watchdog fast call
  core/arch/arm/include/sm/optee_smc.h
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro

core: mm: add booting PIC feature
  core/arch/arm/arm.mk
  core/arch/arm/include/arm64.h
  core/arch/arm/include/mm/core_mmu_arch.h
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/kern.ld.S
  core/arch/arm/kernel/link.mk
  core/arch/arm/kernel/link_dummy.ld
  core/arch/arm/kernel/thread_optee_smc_a64.S
  core/include/kernel/linker.h
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
  lib/libutils/ext/include/compiler.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: crypto: give the platform configuration a higher priority
  core/crypto.mk
Owners: @OP-TEE/linaro

drivers: caam: disable CFG_CRYPTO_SM2_* when ECC CAAM driver is enabled
  core/drivers/crypto/caam/crypto.mk
Owners: @OP-TEE/linaro

core: tee_ta_instance_stats(): correct the allocation size of dump_ctx
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

core: tee_ta_instance_stats(): correct the allocation size of dump_ctx
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

core: dt_driver: add phandle node and fdt to dt_driver_phandle_args
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro
