Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

plat-stm32mp1: check TZC400 configuration
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-stm32mp1/plat_tzc400.c
  core/arch/arm/plat-stm32mp1/platform_config.h
  core/arch/arm/plat-stm32mp1/sub.mk
Owners: @OP-TEE/linaro

tzc400: remove useless traces from tzc_dump_state()
  core/drivers/tzc400.c
Owners: @OP-TEE/linaro

tzc400: add API functions to get firewall configuration
  core/drivers/tzc400.c
  core/include/drivers/tzc400.h
Owners: @OP-TEE/linaro

tzc400: new api functions to print violation on device interrupt
  core/drivers/tzc400.c
  core/include/drivers/tzc400.h
Owners: @OP-TEE/linaro

core: console: console initialization from embedded DTB
  core/kernel/console.c
Owners: @OP-TEE/linaro

core: boot: relax init sections from DT related resources
  core/arch/arm/include/kernel/generic_boot.h
  core/arch/arm/kernel/generic_boot.c
  core/arch/arm/kernel/link_dummies_paged.c
Owners: @OP-TEE/linaro

shippable: build stm32mp1-157C_DK2
  .shippable.yml
Owners: @OP-TEE/linaro

drivers: caam: Add register map changes for Era 10
  core/drivers/crypto/caam/hal/common/hal_ctrl.c
  core/drivers/crypto/caam/hal/common/hal_rng.c
  core/drivers/crypto/caam/hal/common/registers/version_regs.h
Owners: @OP-TEE/linaro

drivers: caam: Fix alignment fault caused by caam_desc_pop()
  core/drivers/crypto/caam/caam_desc.c
Owners: @OP-TEE/linaro

core: plat-ls: Enable CAAM driver for PLATFORM lx2160ardb
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/crypto_conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

core: generic_boot: use "%#lx" to print unsigned long, not "0x%"PRIxPA
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

drivers: caam: Fix alignment fault caused by caam_desc_pop()
  core/drivers/crypto/caam/caam_desc.c
Owners: @OP-TEE/linaro

drivers: caam: Add register map changes for Era 10
  core/drivers/crypto/caam/hal/common/hal_ctrl.c
  core/drivers/crypto/caam/hal/common/hal_rng.c
  core/drivers/crypto/caam/hal/common/registers/version_regs.h
Owners: @OP-TEE/linaro

core: plat-ls: Enable CAAM driver for PLATFORM lx2160ardb
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/crypto_conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

core: generic_boot: use "%#lx" to print unsigned long, not "0x%"PRIxPA
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

scripts: add GDB script for OP-TEE and QEMU
  scripts/gdb-optee.py
Owners: @OP-TEE/linaro

plat-stm32mp1: psci: support Arm SMCCC_VERSION function ID
  core/arch/arm/plat-stm32mp1/pm/psci.c
Owners: @OP-TEE/linaro

stm32_bsec: grant BSEC words non-secure access from embedded DTB
  core/drivers/stm32_bsec.c
Owners: @OP-TEE/linaro

dts: stm32mp1: non-secure can access MAC address and board ID OTPs
  core/arch/arm/dts/stm32mp151.dtsi
  core/arch/arm/dts/stm32mp157a-dk1.dts
  core/arch/arm/dts/stm32mp157c-dk2.dts
  core/arch/arm/dts/stm32mp157c-ed1.dts
Owners: @OP-TEE/linaro

plat-stm32mp1: SiP SMC service for BSEC access
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/nsec-service/bsec_svc.c
  core/arch/arm/plat-stm32mp1/nsec-service/bsec_svc.h
  core/arch/arm/plat-stm32mp1/nsec-service/stm32mp1_smc.h
  core/arch/arm/plat-stm32mp1/nsec-service/stm32mp1_svc_setup.c
  core/arch/arm/plat-stm32mp1/nsec-service/sub.mk
Owners: @OP-TEE/linaro

plat-rockchip: psci: support Arm SMCCC_VERSION function ID
  core/arch/arm/plat-rockchip/psci_rk322x.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-sunxi: psci: support Arm SMCCC_VERSION function ID
  core/arch/arm/plat-sunxi/psci.c
Owners: @OP-TEE/linaro

rpmb: fix building when TRACE_LEVEL >= TRACE_FLOW
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

ta: add early TA to seal and unseal Linux trusted keys
  ta/trusted_keys/entry.c
  ta/trusted_keys/include/trusted_keys.h
  ta/trusted_keys/sub.mk
  ta/trusted_keys/user_ta.mk
  ta/trusted_keys/user_ta_header_defines.h
Owners: @OP-TEE/linaro

plat-stm32mp1: psci: support Arm SMCCC_VERSION function ID
  core/arch/arm/plat-stm32mp1/pm/psci.c
Owners: @OP-TEE/linaro

plat-stm32mp1: SiP SMC service for BSEC access
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/nsec-service/bsec_svc.c
  core/arch/arm/plat-stm32mp1/nsec-service/bsec_svc.h
  core/arch/arm/plat-stm32mp1/nsec-service/stm32mp1_smc.h
  core/arch/arm/plat-stm32mp1/nsec-service/stm32mp1_svc_setup.c
  core/arch/arm/plat-stm32mp1/nsec-service/sub.mk
Owners: @OP-TEE/linaro

dts: stm32mp1: non-secure can access MAC address and board ID OTPs
  core/arch/arm/dts/stm32mp151.dtsi
  core/arch/arm/dts/stm32mp157a-dk1.dts
  core/arch/arm/dts/stm32mp157c-dk2.dts
  core/arch/arm/dts/stm32mp157c-ed1.dts
Owners: @OP-TEE/linaro

stm32_bsec: grant BSEC words non-secure access from embedded DTB
  core/drivers/stm32_bsec.c
Owners: @OP-TEE/linaro

plat-hisilicon: psci: support Arm SMCCC_VERSION function ID
  core/arch/arm/plat-hisilicon/psci.c
Owners: @OP-TEE/linaro

core: always build libfdt
  core/arch/arm/kernel/generic_boot.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/core.mk
  core/drivers/imx_wdog.c
  core/drivers/stm32_bsec.c
  core/drivers/stm32_etzpc.c
  core/drivers/stm32_gpio.c
  core/drivers/stm32_rng.c
  core/kernel/console.c
  core/kernel/tpm.c
Owners: @OP-TEE/linaro

ta: add early TA to seal and unseal Linux trusted keys
  ta/trusted_keys/entry.c
  ta/trusted_keys/include/trusted_keys.h
  ta/trusted_keys/sub.mk
  ta/trusted_keys/user_ta.mk
  ta/trusted_keys/user_ta_header_defines.h
Owners: @OP-TEE/linaro

plat-hisilicon: psci: support Arm SMCCC_VERSION function ID
  core/arch/arm/plat-hisilicon/psci.c
Owners: @OP-TEE/linaro

rpmb: fix building when TRACE_LEVEL >= TRACE_FLOW
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: always build libfdt
  core/arch/arm/kernel/generic_boot.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/core.mk
  core/drivers/imx_wdog.c
  core/drivers/stm32_bsec.c
  core/drivers/stm32_etzpc.c
  core/drivers/stm32_gpio.c
  core/drivers/stm32_rng.c
  core/kernel/console.c
  core/kernel/tpm.c
Owners: @OP-TEE/linaro

plat-stm32mp1: enable IO compensation at boot time
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_rcc.h
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_syscfg.c
  core/arch/arm/plat-stm32mp1/drivers/sub.mk
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-stm32mp1/platform_config.h
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

mk/subdir.mk: avoid trailing slash in $(sub-dir-out)
  mk/subdir.mk
Owners: @OP-TEE/linaro

mk/subdir.mk: avoid trailing slash in $(sub-dir-out)
  mk/subdir.mk
Owners: @OP-TEE/linaro

core: move static IRQC data to nexus memory
  core/kernel/interrupt.c
Owners: @OP-TEE/linaro

plat-imx: move platform-specific data to nexus memory
  core/arch/arm/plat-imx/main.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

plat-imx: describe non-secure DDR memory
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/main.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue
