Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

libmbedtls: sync with DTLS connect ID build fix
  lib/libmbedtls/mbedtls/include/mbedtls/ssl.h
Owners: @OP-TEE/linaro

libmbedtls: make mbedtls_mpi_mont*() available
  lib/libmbedtls/mbedtls/include/mbedtls/bignum.h
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmbedtls: add fault mitigation in mbedtls_rsa_rsassa_pss_verify_ext()
  lib/libmbedtls/mbedtls/library/rsa.c
Owners: @OP-TEE/linaro

libmbedtls: fix compilation warning with GCC14
  lib/libmbedtls/mbedtls/library/common.h
Owners: @OP-TEE/linaro

mbedtls: configure mbedtls to reach for config
  lib/libmbedtls/mbedtls/include/mbedtls/mbedtls_config.h
Owners: @OP-TEE/linaro

mbedtls: remove default include/mbedtls/config.h
  lib/libmbedtls/mbedtls/include/mbedtls/mbedtls_config.h
Owners: @OP-TEE/linaro

libmbedtls: fix cipher_wrap.c for NIST AES Key Wrap mode
  lib/libmbedtls/mbedtls/library/cipher_wrap.c
Owners: @OP-TEE/linaro

libmbedtls: add fault mitigation in mbedtls_rsa_rsassa_pkcs1_v15_verify()
  lib/libmbedtls/mbedtls/library/rsa.c
Owners: @OP-TEE/linaro

libmedtls: mpi_miller_rabin: increase count limit
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmbedtls: fix build warning related to deprecated DTLS connect ID
  lib/libmbedtls/mbedtls/include/mbedtls/ssl.h
Owners: @OP-TEE/linaro

libmbedtls: use mempool_calloc() for temporary memory
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmbedtls: add SM2 curve
  lib/libmbedtls/mbedtls/include/mbedtls/ecp.h
  lib/libmbedtls/mbedtls/library/ecp.c
  lib/libmbedtls/mbedtls/library/ecp_curves.c
Owners: @OP-TEE/linaro

libmbedtls: add interfaces in mbedtls for context memory operation
  lib/libmbedtls/mbedtls/include/mbedtls/cipher.h
  lib/libmbedtls/mbedtls/include/mbedtls/cmac.h
  lib/libmbedtls/mbedtls/library/cipher.c
  lib/libmbedtls/mbedtls/library/cipher_wrap.c
  lib/libmbedtls/mbedtls/library/cipher_wrap.h
  lib/libmbedtls/mbedtls/library/cmac.c
  lib/libmbedtls/mbedtls/library/md.c
Owners: @OP-TEE/linaro

core: drivers: introduce Qualcomm GENI UART driver
  core/drivers/qcom_geni_uart.c
  core/drivers/sub.mk
  core/include/drivers/qcom_geni_uart.h
Owners: @OP-TEE/linaro

plat: Add support for Qualcomm Kodiak platform
  .github/workflows/ci.yml
  core/arch/arm/plat-qcom/conf.mk
  core/arch/arm/plat-qcom/main.c
  core/arch/arm/plat-qcom/platform_config.h
  core/arch/arm/plat-qcom/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

MAINTAINERS: add entry for Qualcomm platforms
  MAINTAINERS
Owners: @OP-TEE/approvers

drivers: stm32_rtc: prevent registering of RTC interrupt when it's not used by OP-TEE
  core/drivers/stm32_rtc.c
Owners: @OP-TEE/linaro

core: mm: fix zero-length access check inconsistency
  core/mm/vm.c
Owners: @OP-TEE/linaro

plat-stm32mp1: syscfg: add dsb in syscfg driver
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_syscfg.c
Owners: @OP-TEE/linaro

plat-stm32mp1: add new API to erase SRAM3
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_syscfg.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

core: hwrng: add a dummy hwrng for test purposes on qemu.
  core/crypto.mk
  core/pta/hwrng.c
Owners: @OP-TEE/linaro

core: crypto: fix AES-GCM in-place decryption order
  core/arch/arm/crypto/aes-gcm-ce.c
  core/crypto/aes-gcm.c
Owners: @OP-TEE/linaro

core: mm: fix zero-length access check inconsistency
  core/mm/vm.c
Owners: @OP-TEE/linaro

plat-stm32mp1: syscfg: set SYSCFG_CMPCR_READY_TIMEOUT_US to 10ms
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_syscfg.c
Owners: @OP-TEE/linaro

plat-stm32mp1: add new API to erase SRAM3
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_syscfg.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

plat-stm32mp1: syscfg: add dsb in syscfg driver
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_syscfg.c
Owners: @OP-TEE/linaro

drivers: rockchip: extract OTP driver from rk3588 platform
  core/arch/arm/plat-rockchip/conf.mk
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rk3588.c
  core/drivers/rockchip_otp.c
  core/drivers/sub.mk
  core/include/drivers/rockchip_otp.h
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/linaro

drivers: rockchip: extract OTP driver from rk3588 platform
  core/arch/arm/plat-rockchip/conf.mk
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rk3588.c
  core/drivers/rockchip_otp.c
  core/drivers/sub.mk
  core/include/drivers/rockchip_otp.h
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/linaro

plat-rockchip: rk3588: refactor reading of HUK
  core/arch/arm/plat-rockchip/platform_rk3588.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-rockchip: rk3588: cache HUK in memory
  core/arch/arm/plat-rockchip/platform_rk3588.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-rockchip: rk3588: reject all zero HUK
  core/arch/arm/plat-rockchip/platform_rk3588.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-rockchip: rk3588: define more OTP indexes
  core/arch/arm/plat-rockchip/platform_config.h
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

core: pta: add Rockchip secure boot PTA
  core/pta/rockchip/rk_secure_boot.c
  core/pta/rockchip/sub.mk
  core/pta/sub.mk
  lib/libutee/include/pta_rk_secure_boot.h
Owners: @OP-TEE/linaro

plat-rockchip: rk3588: refactor reading of HUK
  core/arch/arm/plat-rockchip/platform_rk3588.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-rockchip: rk3588: cache HUK in memory
  core/arch/arm/plat-rockchip/platform_rk3588.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-rockchip: rk3588: reject all zero HUK
  core/arch/arm/plat-rockchip/platform_rk3588.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

[REVIEW] crypto: asu: Fix review comments
  core/drivers/crypto/asu_driver/asu_hash.c
Owners: @OP-TEE/linaro

core: fs_htree: re-init hash tree when both tag and counter are zero
  core/tee/fs_htree.c
Owners: @OP-TEE/linaro

drivers: regulator: DT properties over-current-protection
  core/drivers/regulator/regulator_dt.c
  core/include/drivers/regulator.h
Owners: @OP-TEE/linaro

drivers: regulator: DT property regulator-ramp-delay
  core/drivers/regulator/regulator.c
  core/drivers/regulator/regulator_dt.c
  core/include/drivers/regulator.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
