Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

stm32mp1: platform enables STM32 ETZPC driver
  core/arch/arm/dts/stm32mp157c.dtsi
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_etzpc.h
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-stm32mp1/platform_config.h
Owners: @OP-TEE/linaro

stm32_etzpc: STM32 Extended TrustZone Protection Controller
  core/drivers/stm32_etzpc.c
  core/drivers/sub.mk
  core/include/drivers/stm32_etzpc.h
Owners: @OP-TEE/linaro

ta: link.mk: set linker max-page-size to 4K
  ta/arch/arm/link.mk
Owners: @OP-TEE/linaro

ta: link.mk: set linker max-page-size to 4K
  ta/arch/arm/link.mk
Owners: @OP-TEE/linaro

LICENSE: all files are licensed under BSD 2-Clause by default
  LICENSE
Owners: @OP-TEE/linaro

documentation: apply dual license to the OP-TEE header definitions
  documentation/optee_design.md
Owners: @OP-TEE/linaro

LICENSE: all files are licensed under BSD 2-Clause by default
  LICENSE
Owners: @OP-TEE/linaro

documentation: apply dual license to the OP-TEE header definitions
  documentation/optee_design.md
Owners: @OP-TEE/linaro

stm32_gpio: driver for GPIO and pin control
  core/drivers/stm32_gpio.c
  core/drivers/sub.mk
  core/include/drivers/stm32_gpio.h
Owners: @OP-TEE/linaro

stm32mp1: embed GPIO/pin control driver
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-stm32mp1/platform_config.h
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

stm32_gpio: driver for GPIO and pin control
  core/drivers/stm32_gpio.c
  core/drivers/sub.mk
  core/include/drivers/stm32_gpio.h
Owners: @OP-TEE/linaro

stm32mp1: embed GPIO/pin control driver
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-stm32mp1/platform_config.h
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

der_decode_utf8_string: Fix output buffer overflow
  core/lib/libtomcrypt/src/pk/asn1/der/utf8/der_decode_utf8_string.c
Owners: @OP-TEE/linaro

core: change io_{clr|set|clrset}bits32() address argument type
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_rcc.h
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
  core/drivers/stm32_etzpc.c
  core/drivers/stm32_gpio.c
  core/include/io.h
Owners: @OP-TEE/linaro

core: change io_{clr|set|clrset}bits32() address argument type
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_rcc.h
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
  core/drivers/stm32_etzpc.c
  core/drivers/stm32_gpio.c
  core/include/io.h
Owners: @OP-TEE/linaro

core_mmu: do not restrict device memory mapping to PGDIR_SIZE granularity
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/plat-bcm/main.c
  core/arch/arm/plat-bcm/platform_config.h
  core/arch/arm/plat-d02/main.c
  core/arch/arm/plat-hikey/main.c
  core/arch/arm/plat-imx/imx6.c
  core/arch/arm/plat-imx/imx_pl310.c
  core/arch/arm/plat-imx/main.c
  core/arch/arm/plat-imx/pm/pm-imx7.c
  core/arch/arm/plat-k3/main.c
  core/arch/arm/plat-ls/main.c
  core/arch/arm/plat-marvell/armada3700/hal_sec_perf.c
  core/arch/arm/plat-marvell/armada7k8k/hal_sec_perf.c
  core/arch/arm/plat-marvell/main.c
  core/arch/arm/plat-mediatek/main.c
  core/arch/arm/plat-poplar/main.c
  core/arch/arm/plat-poplar/platform_config.h
  core/arch/arm/plat-rcar/main.c
  core/arch/arm/plat-rockchip/main.c
  core/arch/arm/plat-rpi3/main.c
  core/arch/arm/plat-rpi3/platform_config.h
  core/arch/arm/plat-sam/main.c
  core/arch/arm/plat-sam/platform_config.h
  core/arch/arm/plat-sprd/main.c
  core/arch/arm/plat-sprd/platform_config.h
  core/arch/arm/plat-stm/main.c
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-sunxi/main.c
  core/arch/arm/plat-synquacer/main.c
  core/arch/arm/plat-ti/main.c
  core/arch/arm/plat-ti/platform_config.h
  core/arch/arm/plat-ti/ti_pl310.c
  core/arch/arm/plat-vexpress/main.c
  core/arch/arm/plat-zynq7k/main.c
  core/arch/arm/plat-zynqmp/main.c
  core/arch/arm/plat-zynqmp/platform_config.h
  core/drivers/dra7_rng.c
  core/drivers/hi16xx_rng.c
  core/drivers/imx_wdog.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp

core_mmu: phys_to_virt_io(): warn if PA has both S and NS mappings
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

core_mmu: phys_to_virt_io(): warn if PA has both S and NS mappings
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

core_mmu: do not restrict device memory mapping to PGDIR_SIZE granularity
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/plat-bcm/main.c
  core/arch/arm/plat-bcm/platform_config.h
  core/arch/arm/plat-d02/main.c
  core/arch/arm/plat-hikey/main.c
  core/arch/arm/plat-imx/imx6.c
  core/arch/arm/plat-imx/imx_pl310.c
  core/arch/arm/plat-imx/main.c
  core/arch/arm/plat-imx/pm/pm-imx7.c
  core/arch/arm/plat-k3/main.c
  core/arch/arm/plat-ls/main.c
  core/arch/arm/plat-marvell/armada3700/hal_sec_perf.c
  core/arch/arm/plat-marvell/armada7k8k/hal_sec_perf.c
  core/arch/arm/plat-marvell/main.c
  core/arch/arm/plat-mediatek/main.c
  core/arch/arm/plat-poplar/main.c
  core/arch/arm/plat-poplar/platform_config.h
  core/arch/arm/plat-rcar/main.c
  core/arch/arm/plat-rockchip/main.c
  core/arch/arm/plat-rpi3/main.c
  core/arch/arm/plat-rpi3/platform_config.h
  core/arch/arm/plat-sam/main.c
  core/arch/arm/plat-sam/platform_config.h
  core/arch/arm/plat-sprd/main.c
  core/arch/arm/plat-sprd/platform_config.h
  core/arch/arm/plat-stm/main.c
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-sunxi/main.c
  core/arch/arm/plat-synquacer/main.c
  core/arch/arm/plat-ti/main.c
  core/arch/arm/plat-ti/platform_config.h
  core/arch/arm/plat-ti/ti_pl310.c
  core/arch/arm/plat-vexpress/main.c
  core/arch/arm/plat-zynq7k/main.c
  core/arch/arm/plat-zynqmp/main.c
  core/arch/arm/plat-zynqmp/platform_config.h
  core/drivers/dra7_rng.c
  core/drivers/hi16xx_rng.c
  core/drivers/imx_wdog.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp

stm32mp1: reset driver for platform peripheral interfaces
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_rcc.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_rcc.h
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

stm32mp1: reset driver for platform peripheral interfaces
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_rcc.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_rcc.h
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

libutil: replace write*() util functions with io_write*()
  core/include/io.h
Owners: @OP-TEE/linaro

rockchip: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-rockchip/platform.c
  core/arch/arm/plat-rockchip/psci_rk322x.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

core: upgrade from write32() to io_write32() and friends
  core/arch/arm/mm/tee_pager.c
  core/drivers/atmel_uart.c
  core/drivers/cdns_uart.c
  core/drivers/dra7_rng.c
  core/drivers/gic.c
  core/drivers/hi16xx_rng.c
  core/drivers/hi16xx_uart.c
  core/drivers/imx_snvs.c
  core/drivers/imx_uart.c
  core/drivers/imx_wdog.c
  core/drivers/mvebu_uart.c
  core/drivers/ns16550.c
  core/drivers/pl011.c
  core/drivers/pl022_spi.c
  core/drivers/pl061_gpio.c
  core/drivers/scif.c
  core/drivers/serial8250_uart.c
  core/drivers/sprd_uart.c
  core/drivers/stih_asc.c
  core/drivers/stm32_etzpc.c
  core/drivers/stm32_gpio.c
  core/drivers/stm32_uart.c
  core/drivers/tzc380.c
  core/drivers/tzc400.c
Owners: @OP-TEE/linaro

libutil: io_clrsetbitsX() firends for 8bit and 16bit accesses
  core/include/io.h
Owners: @OP-TEE/linaro

marvell: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-marvell/armada3700/hal_sec_perf.c
  core/arch/arm/plat-marvell/armada7k8k/hal_sec_perf.c
Owners: @OP-TEE/plat-marvell, @kevin-peng-hao

ls: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-ls/main.c
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

imx: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx6.c
  core/arch/arm/plat-imx/imx6ul.c
  core/arch/arm/plat-imx/imx7.c
  core/arch/arm/plat-imx/imx_pl310.c
  core/arch/arm/plat-imx/mmdc.c
  core/arch/arm/plat-imx/pm/cpuidle-imx7d.c
  core/arch/arm/plat-imx/pm/gpcv2.c
  core/arch/arm/plat-imx/pm/pm-imx7.c
  core/arch/arm/plat-imx/pm/psci.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

hikey: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-hikey/main.c
  core/arch/arm/plat-hikey/spi_test.c
Owners: @OP-TEE/plat-hikey

stm: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-stm/main.c
  core/arch/arm/plat-stm/rng_support.c
Owners: @OP-TEE/plat-stm

sam: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-sam/main.c
  core/arch/arm/plat-sam/matrix.c
Owners: @OP-TEE/plat-sam, @nodeax

stm32mp1: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_rcc.c
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_rcc.h
  core/arch/arm/plat-stm32mp1/pm/psci.c
Owners: @OP-TEE/linaro

sunxi: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-sunxi/main.c
  core/arch/arm/plat-sunxi/psci.c
Owners: @OP-TEE/linaro

synquancer: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-synquacer/rng_pta.c
Owners: @OP-TEE/linaro

ti: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-ti/sm_platform_handler_a9.c
Owners: @OP-TEE/plat-ti, @glneo

zynq7k: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-zynq7k/main.c
Owners: @OP-TEE/plat-zynq7k, yan.yan@windriver.com, Yu.Feng@windriver.com

core: deprecate read32(), write32() and friends
  core/include/io.h
Owners: @OP-TEE/linaro

hikey: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-hikey/main.c
  core/arch/arm/plat-hikey/spi_test.c
Owners: @OP-TEE/plat-hikey

rockchip: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-rockchip/platform.c
  core/arch/arm/plat-rockchip/psci_rk322x.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

ls: upgrade from write32() to io_write32() and friends
  core/arch/arm/plat-ls/main.c
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com
