Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

plat-stm32mp1: don't register SYSRAM twice when scmi-msg are enabled
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

plat-stm32mp1: fix SYSRAM size on stm32mp13 variants
  core/arch/arm/plat-stm32mp1/platform_config.h
Owners: @OP-TEE/linaro

plat-stm32mp1: don't register SYSRAM twice when scmi-msg are enabled
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

plat-mediatek: add support for MT8195 SoC
  core/arch/arm/plat-mediatek/conf.mk
  core/arch/arm/plat-mediatek/platform_config.h
Owners: @OP-TEE/plat-mediatek

libutils: riscv: provide atomic_rv.S
  lib/libutils/ext/arch/riscv/atomic_rv.S
  lib/libutils/ext/arch/riscv/sub.mk
Owners: @OP-TEE/linaro

riscv: kernel: implement boot flow in boot.c
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/sub.mk
Owners: @OP-TEE/linaro

core: sp: Allow v2 FIP package format
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

riscv: kernel: entry.S: provide entry script
  core/arch/riscv/kernel/entry.S
  core/arch/riscv/kernel/sub.mk
Owners: @OP-TEE/linaro

plat-mediatek: add support for MT8195 SoC
  core/arch/arm/plat-mediatek/conf.mk
  core/arch/arm/plat-mediatek/platform_config.h
Owners: @OP-TEE/plat-mediatek

core: sp: Allow v2 FIP package format
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

drivers: versal: hardware unique key
  core/arch/arm/plat-versal/conf.mk
  core/drivers/sub.mk
  core/drivers/versal_huk.c
Owners: @OP-TEE/linaro

MAINTAINERS: Versal ACAP: Hardware Unique Key
  MAINTAINERS
Owners: @OP-TEE/approvers

plat-versal: print platform information
  core/arch/arm/plat-versal/main.c
  core/arch/arm/plat-versal/platform_config.h
Owners: @OP-TEE/linaro

plat-versal: allow RPMB init only on secured boards
  core/arch/arm/plat-versal/main.c
Owners: @OP-TEE/linaro

plat-versal: program the FPGA during OP-TEE initialization
  core/arch/arm/plat-versal/main.c
Owners: @OP-TEE/linaro

ci: versal: program FPGA
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: notif: allow GIC_PPI usage for async notif
  core/kernel/notif.c
Owners: @OP-TEE/linaro

core: notif: allow GIC_PPI usage for async notif
  core/kernel/notif.c
Owners: @OP-TEE/linaro

core: notif: helper function notif_async_value_is_pending()
  core/include/kernel/notif.h
  core/kernel/notif.c
Owners: @OP-TEE/linaro

core: notif: fix input comment typo
  core/arch/arm/include/sm/optee_smc.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: notify: interrupt notification
  core/include/kernel/notif.h
  core/kernel/notif.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: arm: smc: entry service for interrupt notification
  core/arch/arm/include/sm/optee_smc.h
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro

plat-stm32mp1: enable async notif and interrupt notif on stm32mp13
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

[review] core: notify: interrupt notification
  core/kernel/notif.c
Owners: @OP-TEE/linaro

core: dt_driver: fix inline comment regarding clock references
  core/include/kernel/dt_driver.h
Owners: @OP-TEE/linaro

core: clk: fix dt helper function description when clock is optional
  core/include/drivers/clk_dt.h
Owners: @OP-TEE/linaro

pta: stm32mp: mention access denied error code in BSEC PTA API
  lib/libutee/include/pta_stm32mp_bsec.h
Owners: @OP-TEE/linaro

crypto: se050: update policies
  core/drivers/crypto/se050/adaptors/apis/sss.c
Owners: @OP-TEE/linaro

crypto: se050: update policies
  core/drivers/crypto/se050/adaptors/apis/sss.c
Owners: @OP-TEE/linaro

core: clk: fix dt helper function description when clock is optional
  core/include/drivers/clk_dt.h
Owners: @OP-TEE/linaro

core: dt_driver: fix inline comment regarding clock references
  core/include/kernel/dt_driver.h
Owners: @OP-TEE/linaro

pta: stm32mp: mention access denied error code in BSEC PTA API
  lib/libutee/include/pta_stm32mp_bsec.h
Owners: @OP-TEE/linaro

scripts: checkpatch: rework and add examples to help message
  scripts/checkpatch.sh
Owners: @OP-TEE/linaro

plat-versal: print platform information
  core/arch/arm/plat-versal/main.c
  core/arch/arm/plat-versal/platform_config.h
Owners: @OP-TEE/linaro

plat-versal: program the FPGA during OP-TEE initialization
  core/arch/arm/plat-versal/main.c
Owners: @OP-TEE/linaro

MAINTAINERS: Versal ACAP: Hardware Unique Key
  MAINTAINERS
Owners: @OP-TEE/approvers

plat-versal: allow RPMB init only on secured boards
  core/arch/arm/plat-versal/main.c
Owners: @OP-TEE/linaro

drivers: versal: hardware unique key
  core/arch/arm/plat-versal/conf.mk
  core/drivers/sub.mk
  core/drivers/versal_huk.c
Owners: @OP-TEE/linaro

ci: versal: program FPGA
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

plat-k3: Increase size of high DDR memory region
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
