Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: compiler friendly 32-bit FTMN_FUNC_HASH() version
  lib/libutils/ext/include/fault_mitigation.h
Owners: @OP-TEE/linaro

core: compiler friendly 32-bit FTMN_FUNC_HASH() version
  lib/libutils/ext/include/fault_mitigation.h
Owners: @OP-TEE/linaro

ftrace: ftrace_format.py: display seconds
  scripts/ftrace_format.py
Owners: @OP-TEE/linaro

core: ltc: Fix building with mbedtls
  core/lib/libtomcrypt/aes_accel.c
Owners: @OP-TEE/linaro

core: ltc: Fix building with mbedtls
  core/lib/libtomcrypt/aes_accel.c
Owners: @OP-TEE/linaro

ftrace: ftrace_format.py: display seconds
  scripts/ftrace_format.py
Owners: @OP-TEE/linaro

core: kernel: Remove unused ta_time_offs in user_ta_ctx
  core/include/kernel/user_ta.h
Owners: @OP-TEE/linaro

drivers: pm: sam: add code for save/restore sama7g5 MCK1..4 settings
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

drivers: pm: sam: update PLLA enable/disable macros for sama7g5
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

drivers: pm: sam: add code for sama7g5 LPM (Low-power Mode) pad
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

drivers: pm: sam: add support for checking sama7g5 MCK1..4 ready
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

plat-hikey: make DRAM0_SIZE and DRAM0_SIZE_NSEC configurable
  core/arch/arm/plat-hikey/platform_config.h
Owners: @OP-TEE/plat-hikey

drivers: pm: sam: update PLLA enable/disable macros for sama7g5
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

drivers: pm: sam: add code for sama7g5 LPM (Low-power Mode) pad
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

drivers: pm: sam: add code for save/restore sama7g5 MCK1..4 settings
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

drivers: pm: sam: add support for checking sama7g5 MCK1..4 ready
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

drivers: crypto: se05x: Add SCP03 keys for SE052F2
  core/drivers/crypto/se050/adaptors/include/se050.h
  core/drivers/crypto/se050/adaptors/utils/scp_config.c
Owners: @OP-TEE/linaro

core: lib: fix undefined behavior `shift_out_of_bounds` in libtomcrypt
  core/lib/libtomcrypt/src/pk/ec25519/tweetnacl.c
Owners: @OP-TEE/linaro

core: fix undefined behavior `nonnull_args` in user_access.c
  core/kernel/user_access.c
Owners: @OP-TEE/linaro

ci: xen: test FF-A mediator with SPMC_AT_EL=1
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: xen: test FF-A mediator with SPMC_AT_EL=1
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

libmbedtls: bignum: restore mbedtls_mpi_exp_mod() from v3.5.2
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

checkconf.mk: do not use full path to generate guard symbol in conf.h
  mk/checkconf.mk
Owners: @OP-TEE/linaro

drivers: pm: sam: improve the access of variables in "at91_pm_data"
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

drivers: pm: sam: add code for the phy of sama7g5 dram controller
  core/drivers/pm/sam/at91_pm.c
  core/drivers/pm/sam/at91_pm.h
  core/drivers/pm/sam/pm-defines.c
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

drivers: pm: sam: add code for enable/disable sama7g5 DRAM self-refresh mode
  core/drivers/pm/sam/pm_suspend.S
  core/include/drivers/sam/sama7-ddr.h
Owners: @OP-TEE/linaro

core: kernel: Remove unused ta_time_offs in user_ta_ctx
  core/include/kernel/user_ta.h
Owners: @OP-TEE/linaro

drivers: pm: sam: add code for the phy of sama7g5 dram controller
  core/drivers/pm/sam/at91_pm.c
  core/drivers/pm/sam/at91_pm.h
  core/drivers/pm/sam/pm-defines.c
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

drivers: pm: sam: add code for enable/disable sama7g5 DRAM self-refresh mode
  core/drivers/pm/sam/pm_suspend.S
  core/include/drivers/sam/sama7-ddr.h
Owners: @OP-TEE/linaro

drivers: pm: sam: improve the access of variables in "at91_pm_data"
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

riscv: plat-virt: switch to dynamic shared memory
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/plat-virt/conf.mk
Owners: @OP-TEE/linaro

core: riscv: Add a reserved-memory node for static shared memory
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

core: kernel: factor out shared memory boot-time helpers
  core/arch/arm/kernel/boot.c
  core/include/kernel/boot.h
  core/kernel/boot.c
  core/kernel/sub.mk
Owners: @OP-TEE/linaro

core: mm: move mobj_dyn_shm.c to mm
  core/arch/arm/mm/sub.mk
  core/mm/mobj_dyn_shm.c
  core/mm/sub.mk
Owners: @OP-TEE/linaro

core: lib: scmi-server: drop CFG_CROSS_COMPILE when compiling SCP firmware
  core/lib/scmi-server/sub.mk
Owners: @OP-TEE/linaro

core: kernel: move manifest DT functions to dt.c
  core/arch/arm/kernel/boot.c
  core/include/kernel/boot.h
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro

core: kernel: change DT getters to use manifest DT
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro

checkconf.mk: do not use full path to generate guard symbol in conf.h
  mk/checkconf.mk
Owners: @OP-TEE/linaro

core: lib: scmi-server: drop CFG_CROSS_COMPILE when compiling SCP firmware
  core/lib/scmi-server/sub.mk
Owners: @OP-TEE/linaro

core: kernel: move manifest DT functions to dt.c
  core/arch/arm/kernel/boot.c
  core/include/kernel/boot.h
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
