Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: imx_ocotp: make use of hw timers during ocotp_ctrl_wait_for
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: add support to burn fuses
  core/drivers/imx_ocotp.c
  core/include/drivers/imx_ocotp.h
Owners: @OP-TEE/linaro

drivers: imx_ocotp: write support i.MX6Q/D/S/DL/UL
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: tzc380: add tzc_verify_region0_secure helper
  core/drivers/tzc380.c
  core/include/drivers/tzc380.h
Owners: @OP-TEE/linaro

drivers: imx: tzc380: add support to verify region0
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

clk: stm32mp25: force ARM_DIVSEL for flexgen63 config at 400MHz
  core/arch/arm/plat-stm32mp2/stm32_sysconf.h
  core/drivers/clk/clk-stm32mp25.c
Owners: @OP-TEE/linaro

core: riscv: allow enabling CFG_CORE_ASLR
  core/arch/riscv/plat-sifive/conf.mk
  core/arch/riscv/plat-virt/conf.mk
Owners: @OP-TEE/linaro

core: riscv: enable MMU earlier for secondary cores
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: preserve hartid in s0 register at entry point
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: kern.ld.S: add relocation sections for ASLR
  core/arch/riscv/kernel/kern.ld.S
Owners: @OP-TEE/linaro

core: riscv: refactor MMU enablement code
  core/arch/riscv/kernel/asm-defines.c
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: add RISC-V relocation handling
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: implement get_aslr_seed() function
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

core: riscv: make boot_mmu_config global and add it into identity_map
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: implement ASLR base address calculation
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro

riscv: add ELF header definitions
  core/arch/riscv/include/kernel/riscv_elf.h
Owners: @OP-TEE/linaro

Revert "ci: disable QEMUv8 Xen FF-A job"
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

Revert "ci: disable QEMUv8 Xen FF-A job"
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: imx: tzc380: add support to check TZASC enable state
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/registers/imx8m.h
  core/arch/arm/plat-imx/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

clk: stm32mp25: force ARM_DIVSEL for flexgen63 config at 400MHz
  core/arch/arm/plat-stm32mp2/stm32_sysconf.h
  core/drivers/clk/clk-stm32mp25.c
Owners: @OP-TEE/linaro

plat-stm32mp1: stm32mp1_pwr: fix compatible
  core/arch/arm/dts/stm32mp131.dtsi
  core/arch/arm/dts/stm32mp151.dtsi
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pwr.c
Owners: @OP-TEE/linaro

treewide: dts: stm32: remove deprecated pins-are-numbered in device tree
  core/arch/arm/dts/stm32mp131.dtsi
  core/arch/arm/dts/stm32mp151.dtsi
  core/arch/arm/dts/stm32mp251.dtsi
Owners: @OP-TEE/linaro

dts: stm32: add missing i2c1 and i2c2 instances in stm32mp131.dtsi
  core/arch/arm/dts/stm32mp131.dtsi
Owners: @OP-TEE/linaro

dts: stm32: align DMA channel for QSPI in stm32mp151.dtsi
  core/arch/arm/dts/stm32mp151.dtsi
Owners: @OP-TEE/linaro

Update CHANGELOG for 4.7.0
  CHANGELOG.md
Owners: @OP-TEE/linaro

core: riscv: fix hartid at secondary hart entry point
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

[RFC] ta: pkcs11: Panic on init failure
  ta/pkcs11/src/entry.c
Owners: @OP-TEE/linaro

core: panic: allow core halting on SGI in other cases than panic()
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp2/conf.mk
  core/arch/arm/plat-vexpress/conf.mk
  core/kernel/panic.c
  mk/config.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-vexpress

plat-stm32mp2: implement do_reset() API to force a system reset
  core/arch/arm/plat-stm32mp2/main.c
  core/arch/arm/plat-stm32mp2/stm32_util.h
Owners: @OP-TEE/linaro

plat-stm32mp1: implement do_reset() API to force a system reset
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

drivers: stm32_tamp: implement reset on tamper event
  core/drivers/stm32_tamp.c
Owners: @OP-TEE/linaro

core: riscv: fix hartid at secondary hart entry point
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: fix hartid for primary hart when CFG_DYN_CONFIG=y
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: boot_mem: remove multiple of align restriction
  core/mm/boot_mem.c
Owners: @OP-TEE/linaro

core: fix boot_mem_release_tmp_alloc()
  core/mm/boot_mem.c
Owners: @OP-TEE/linaro

core: mm: update is_nexus()
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: mm: add mobj_page_alloc()
  core/include/mm/page_alloc.h
  core/mm/page_alloc.c
Owners: @OP-TEE/linaro

core: mm: add mobj_phys_alloc_flags()
  core/include/mm/mobj.h
  core/mm/mobj.c
Owners: @OP-TEE/linaro

core: mm: pgt_init(): use virt_page_alloc() if available
  core/mm/pgt_cache.c
Owners: @OP-TEE/linaro

core: simplify core_init_mmu_map()
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro
