Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

MAINTAINERS: maintain zynqmp drivers
  MAINTAINERS
Owners: @OP-TEE/approvers

ci: azure: fix build error in Buildroot's OpenSSL
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

zynqmp: drivers: generate HUK from PUF KEK
  core/arch/arm/plat-zynqmp/conf.mk
  core/drivers/sub.mk
  core/drivers/zynqmp_csu_puf.c
  core/drivers/zynqmp_huk.c
  core/include/drivers/zynqmp_csu.h
Owners: @OP-TEE/plat-zynqmp, @OP-TEE/linaro

zynqmp: register the CSU memory with the platform
  core/arch/arm/plat-zynqmp/main.c
Owners: @OP-TEE/plat-zynqmp

zynqmp: define the STACK_ALIGNMENT in terms of CACHELINE
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

zynqmp: add base address definitions
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

zynqmp: drivers: CSUDMA module
  core/arch/arm/plat-zynqmp/conf.mk
  core/drivers/sub.mk
  core/drivers/zynqmp_csudma.c
  core/include/drivers/zynqmp_csudma.h
Owners: @OP-TEE/plat-zynqmp, @OP-TEE/linaro

zynqmp: drivers: CSU module base definitions
  core/include/drivers/zynqmp_csu.h
Owners: @OP-TEE/linaro

zynqmp: drivers: PM firmware
  core/arch/arm/plat-zynqmp/conf.mk
  core/drivers/sub.mk
  core/drivers/zynqmp_pm.c
  core/include/drivers/zynqmp_efuse.h
  core/include/drivers/zynqmp_pm.h
Owners: @OP-TEE/plat-zynqmp, @OP-TEE/linaro

MAINTAINERS: maintain zynqmp drivers
  MAINTAINERS
Owners: @OP-TEE/approvers

zynqmp: drivers: Physically Unclonable Function (PUF)
  core/arch/arm/plat-zynqmp/conf.mk
  core/drivers/sub.mk
  core/drivers/zynqmp_csu_puf.c
  core/include/drivers/zynqmp_csu_puf.h
Owners: @OP-TEE/plat-zynqmp, @OP-TEE/linaro

zynqmp: drivers: AES-GCM with PUF KEK
  core/arch/arm/plat-zynqmp/conf.mk
  core/drivers/sub.mk
  core/drivers/zynqmp_csu_aes.c
  core/include/drivers/zynqmp_csu_aes.h
Owners: @OP-TEE/plat-zynqmp, @OP-TEE/linaro

zynqmp: platform: use HUK derived from PUF KEK for RPMB
  core/arch/arm/plat-zynqmp/conf.mk
  core/arch/arm/plat-zynqmp/main.c
Owners: @OP-TEE/plat-zynqmp

ci: azure: fix build error in Buildroot's OpenSSL
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

ci: azure: add job to build and run the Rust tests
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

core: kernel: add reg_size in the dt_node_info structure
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro

drivers: stm32_uart: use reg_size to map virtual addresses
  core/drivers/stm32_uart.c
Owners: @OP-TEE/linaro

drivers: stm32_i2c: use reg_size to map virtual addresses
  core/drivers/stm32_i2c.c
  core/include/drivers/stm32_i2c.h
Owners: @OP-TEE/linaro

drivers: stm32_rng: use reg_size to map virtual addresses
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

core: kernel: use size_t instead of ssize_t for _fdt_reg_size()
  core/arch/arm/plat-ls/main.c
  core/drivers/crypto/caam/hal/common/hal_cfg_dt.c
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/linaro

[RFC] core: pta: add remote attestation PTA
  core/include/mm/file.h
  core/include/mm/mobj.h
  core/mm/file.c
  core/mm/mobj.c
  core/pta/attestation.c
  core/pta/sub.mk
  lib/libutee/include/pta_attestation.h
  ta/ta.mk
Owners: @OP-TEE/linaro

ci: azure: fix build error in Buildroot's OpenSSL (Rust)
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

ci: azure: fix build error in Buildroot's OpenSSL (Rust)
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

drivers: clk: skip clock with no matching compatible
  core/drivers/clk/clk_dt.c
Owners: @OP-TEE/linaro

[RFC 2] core: pta: add remote attestation PTA
  core/include/mm/file.h
  core/include/mm/mobj.h
  core/mm/file.c
  core/mm/mobj.c
  core/pta/attestation.c
  core/pta/sub.mk
  lib/libutee/include/pta_attestation.h
  mk/config.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: enable CRYPTO HW if available
  core/arch/arm/dts/stm32mp157c-dk2.dts
  core/arch/arm/dts/stm32mp157c-ed1.dts
  core/arch/arm/dts/stm32mp157c-ev1.dts
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

crypto: stm32: use CRYP IP for authenc algorithm
  core/drivers/crypto/stm32/authenc.c
  core/drivers/crypto/stm32/common.h
  core/drivers/crypto/stm32/crypto.mk
  core/drivers/crypto/stm32/stm32_cryp.c
  core/drivers/crypto/stm32/sub.mk
Owners: @OP-TEE/linaro

drivers: crypto: implement crypto driver - AUTHENC
  core/crypto/crypto.c
  core/drivers/crypto/crypto_api/authenc/authenc.c
  core/drivers/crypto/crypto_api/authenc/sub.mk
  core/drivers/crypto/crypto_api/include/drvcrypt.h
  core/drivers/crypto/crypto_api/include/drvcrypt_authenc.h
  core/drivers/crypto/crypto_api/sub.mk
  core/include/crypto/crypto_impl.h
Owners: @OP-TEE/linaro

crypto: stm32: use CRYP IP for CIPHER algorithms
  core/drivers/crypto/stm32/cipher.c
  core/drivers/crypto/stm32/common.h
  core/drivers/crypto/stm32/crypto.mk
  core/drivers/crypto/stm32/stm32_cryp.c
  core/drivers/crypto/stm32/stm32_cryp.h
  core/drivers/crypto/stm32/sub.mk
  core/drivers/crypto/sub.mk
Owners: @OP-TEE/linaro

drivers: clk: add support for clk_get_rates_array
  core/drivers/clk/clk.c
  core/include/drivers/clk.h
Owners: @OP-TEE/linaro

drivers: scmi-msg: add support for clock using generic clock framework
  core/drivers/scmi-msg/clock_generic.c
  core/drivers/scmi-msg/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

lib: mbebtls: correct return value in RSA-SSA signature verification
  lib/libmbedtls/core/rsa.c
Owners: @OP-TEE/linaro

lib: mbebtls: correct return value in RSA-SSA signature verification
  lib/libmbedtls/core/rsa.c
Owners: @OP-TEE/linaro

lib: mbebtls: correct return value in RSA-SSA signature verification
  lib/libmbedtls/core/rsa.c
Owners: @OP-TEE/linaro

core: dt_driver: factorize DT phandle util resources
  core/drivers/clk/clk_dt.c
  core/include/drivers/clk_dt.h
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
  core/kernel/sub.mk
Owners: @OP-TEE/linaro

core: dt_driver: factorize DT cells helper functions
  core/drivers/clk/clk_dt.c
  core/include/drivers/clk_dt.h
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

core: dt_driver: factorize clk_get_provider_by_*()
  core/drivers/clk/clk_dt.c
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

core: dt_driver: factorize clk_dt_get_from_provider()
  core/drivers/clk/clk_dt.c
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

core: dt_driver: move probe callback to dt_driver
  core/drivers/clk/clk_dt.c
  core/include/drivers/clk_dt.h
  core/include/kernel/dt.h
Owners: @OP-TEE/linaro

core: dt_driver: factorize clk_dt_node_clock_probe_driver()
  core/drivers/clk/clk_dt.c
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro
