Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

ci: zynqmp: Add compilation for optional drivers
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

libutils: brel: bugfix memset scope larger than expected
  lib/libutils/isoc/bget.c
Owners: @OP-TEE/linaro

ci: zynqmp: Add compilation for optional drivers
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: ts_manager: remove unneeded check
  core/kernel/ts_manager.c
Owners: @OP-TEE/linaro

plat-k3: am62x: add SA2UL and TRNG support
  core/arch/arm/plat-k3/conf.mk
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

plat-k3: am62x: add SA2UL and TRNG support
  core/arch/arm/plat-k3/conf.mk
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

core: ffa: Process manifest endpoint_id
  core/arch/arm/include/kernel/secure_partition.h
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

core: avoid TA panic when secure storage is corrupt
  core/tee/fs_htree.c
Owners: @OP-TEE/linaro

libutils: compiler.h: introduce __alias(x)
  lib/libutils/ext/include/compiler.h
Owners: @OP-TEE/linaro

core: rsa: support the crypto driver
  core/include/crypto/crypto_impl.h
Owners: @OP-TEE/linaro

core: ltc: rsa: support the crypto driver
  core/lib/libtomcrypt/rsa.c
Owners: @OP-TEE/linaro

lib: mbedtls: rsa: support the crypto driver
  lib/libmbedtls/core/rsa.c
Owners: @OP-TEE/linaro

ci: code_style: run pycodestyle even if checkpatch has failed
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: ts_manager: remove unneeded check
  core/kernel/ts_manager.c
Owners: @OP-TEE/linaro

core: avoid TA panic when secure storage is corrupt
  core/tee/fs_htree.c
Owners: @OP-TEE/linaro

ci: code_style: run pycodestyle even if checkpatch has failed
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

libmbedtls: fix cipher_wrap.c for chacha20 and chachapoly
  lib/libmbedtls/mbedtls/library/cipher_wrap.c
Owners: @OP-TEE/linaro

libmbedtls: mbedtls_config_uta.h: enable chacha20 and chachapoly support
  lib/libmbedtls/include/mbedtls_config_uta.h
Owners: @OP-TEE/linaro

core: crypto-api: rsa: pass algorithm to implementation
  core/drivers/crypto/crypto_api/acipher/rsa.c
  core/drivers/crypto/crypto_api/acipher/rsassa.c
  core/drivers/crypto/crypto_api/include/drvcrypt_acipher.h
Owners: @OP-TEE/linaro

Add STAILQ_HEAD() and STAILQ_ENTRY() to typedefs.checkpatch
  typedefs.checkpatch
Owners: @OP-TEE/linaro

plat-k3: am62x: add SA2UL and TRNG support
  core/arch/arm/plat-k3/conf.mk
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

libutils: compiler.h: introduce __alias(x)
  lib/libutils/ext/include/compiler.h
Owners: @OP-TEE/linaro

core: ltc: rsa: support the crypto driver
  core/lib/libtomcrypt/rsa.c
Owners: @OP-TEE/linaro

lib: mbedtls: rsa: support the crypto driver
  lib/libmbedtls/core/rsa.c
Owners: @OP-TEE/linaro

core: rsa: support the crypto driver
  core/include/crypto/crypto_impl.h
Owners: @OP-TEE/linaro

core: crypto-api: rsa: pass algorithm to implementation
  core/drivers/crypto/crypto_api/acipher/rsa.c
  core/drivers/crypto/crypto_api/acipher/rsassa.c
  core/drivers/crypto/crypto_api/include/drvcrypt_acipher.h
Owners: @OP-TEE/linaro

libmbedtls: mbedtls_config_uta.h: enable chacha20 and chachapoly support
  lib/libmbedtls/include/mbedtls_config_uta.h
Owners: @OP-TEE/linaro

libmbedtls: fix cipher_wrap.c for chacha20 and chachapoly
  lib/libmbedtls/mbedtls/library/cipher_wrap.c
Owners: @OP-TEE/linaro

libmbedtls: fix cipher_wrap.c for chacha20 and chachapoly
  lib/libmbedtls/mbedtls/library/cipher_wrap.c
Owners: @OP-TEE/linaro

core: mm: fix error flushing unused pgt's
  core/arch/arm/mm/pgt_cache.c
  core/mm/vm.c
Owners: @OP-TEE/linaro

crypto: se050: fix SE050F2 identifier
  core/drivers/crypto/se050/adaptors/utils/scp_config.c
Owners: @OP-TEE/linaro

crypto: se050: add support for the SE050F
  core/drivers/crypto/se050/adaptors/utils/scp_config.c
Owners: @OP-TEE/linaro

crypto: se050: SCP03 enabled only session.
  core/drivers/crypto/se050/adaptors/apis/sss.c
  core/drivers/crypto/se050/adaptors/utils/scp_config.c
  core/drivers/crypto/se050/crypto.mk
  core/drivers/crypto/se050/session.c
Owners: @OP-TEE/linaro

arm32: correct bit define for SCTLR.NMFI setting
  core/arch/arm/include/arm32.h
Owners: @OP-TEE/linaro

arm.mk: Add CFG_CORE_WORKAROUND_ARM_NMFI for NMFI problem
  core/arch/arm/arm.mk
Owners: @OP-TEE/linaro

arm32: kernel: Add common itr_core_handler() for NMFI workaround
  core/arch/arm/kernel/thread.c
Owners: @OP-TEE/linaro

arm32: kernel: Add check whether core needs NMFI workaround
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

plat-zynq7k: Configure platform needing NMFI workaround
  core/arch/arm/plat-zynq7k/conf.mk
Owners: @OP-TEE/plat-zynq7k, yan.yan@windriver.com, Yu.Feng@windriver.com

arm32: sm: Apply FIQ workaround if configured
  core/arch/arm/sm/sm.c
Owners: @OP-TEE/linaro

crypto: se050: SCP03 enabled only session.
  core/drivers/crypto/se050/adaptors/apis/sss.c
  core/drivers/crypto/se050/adaptors/utils/scp_config.c
  core/drivers/crypto/se050/crypto.mk
  core/drivers/crypto/se050/session.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
