Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: clk: move stm32mp1 clock driver to clock drivers directory
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/drivers/sub.mk
  core/drivers/clk/clk-stm32mp15.c
  core/drivers/clk/sub.mk
  core/include/drivers/stm32mp1_rcc.h
Owners: @OP-TEE/linaro

core: imx: enable the CAAM on imx8q platforms
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: set CAAM configuration for imx8q platforms
  core/arch/arm/plat-imx/crypto_conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: caam: fix aligned buffer allocation for DMA
  core/arch/arm/plat-imx/crypto_conf.mk
  core/arch/arm/plat-ls/crypto_conf.mk
  core/drivers/crypto/caam/utils/utils_mem.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/linaro

core: imx: enable the CAAM on imx8q platforms
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: caam: fix aligned buffer allocation for DMA
  core/arch/arm/plat-imx/crypto_conf.mk
  core/arch/arm/plat-ls/crypto_conf.mk
  core/drivers/crypto/caam/utils/utils_mem.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/linaro

core: imx: set CAAM configuration for imx8q platforms
  core/arch/arm/plat-imx/crypto_conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: crypto_conf: change CAAM default job ring for mscale platforms
  core/arch/arm/plat-imx/crypto_conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx_wdog: fix compilation warning on watchdog driver
  core/arch/arm/plat-imx/conf.mk
  core/drivers/imx_wdog.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

drivers: imx_wdog: fix compilation watchdog driver on mx7ulp
  core/arch/arm/plat-imx/registers/imx7ulp.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: crypto_conf: change CAAM default job ring for mscale platforms
  core/arch/arm/plat-imx/crypto_conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add support for i.MX8DXL
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/imx.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

ci: azure: build imx-mx8dxlevk platform
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

core: imx: add support for i.MX8DXL
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/imx.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

ci: azure: build imx-mx8dxlevk platform
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

plat-stm32mp1: allow non-secure to read DDR registers
  core/arch/arm/plat-stm32mp1/shared_resources.c
Owners: @OP-TEE/linaro

plat-stm32mp1: allow non-secure to read DDR registers
  core/arch/arm/plat-stm32mp1/shared_resources.c
Owners: @OP-TEE/linaro

core: spmc: Fix flags and tag in retrieve request
  core/arch/arm/kernel/spmc_sp_handler.c
Owners: @OP-TEE/linaro

core: spmc: Fix flags and tag in retrieve request
  core/arch/arm/kernel/spmc_sp_handler.c
Owners: @OP-TEE/linaro

scripts/sign_encrypt.py: Support signing TAs using AWS KMS
  scripts/sign_encrypt.py
  scripts/sign_helper_kms.py
Owners: @OP-TEE/linaro

mk/subdir.mk: handle repositories outside the OP-TEE tree
  mk/subdir.mk
Owners: @OP-TEE/linaro

drivers: crypto: se050: build Plug-and-Trust using the TEE makefiles
  .azure-pipelines.yml
  core/drivers/crypto/se050/adaptors/sub.mk
  core/drivers/crypto/se050/cflags.mk
  core/drivers/crypto/se050/core/sub.mk
  core/drivers/crypto/se050/crypto.mk
  core/drivers/crypto/se050/sub.mk
Owners: @OP-TEE/linaro

scripts/sign_encrypt.py: Support signing TAs using AWS KMS
  scripts/sign_encrypt.py
  scripts/sign_helper_kms.py
Owners: @OP-TEE/linaro

drivers: crypto: se050: build Plug-and-Trust using the TEE makefiles
  .azure-pipelines.yml
  core/drivers/crypto/se050/adaptors/sub.mk
  core/drivers/crypto/se050/cflags.mk
  core/drivers/crypto/se050/core/sub.mk
  core/drivers/crypto/se050/crypto.mk
  core/drivers/crypto/se050/sub.mk
Owners: @OP-TEE/linaro

mk/subdir.mk: handle repositories outside the OP-TEE tree
  mk/subdir.mk
Owners: @OP-TEE/linaro

core: plat-ls: ls1028a: fix uart address
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

crypto: drivers: se050: ecc sign/verify padding
  core/drivers/crypto/se050/core/ecc.c
Owners: @OP-TEE/linaro

core: plat-ls: ls1028a: fix uart address
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

crypto: drivers: se050: ecc sign/verify padding
  core/drivers/crypto/se050/core/ecc.c
Owners: @OP-TEE/linaro

crypto: drivers: se050: rsa: add RSA_NOPAD enc/dec support
  core/drivers/crypto/se050/core/rsa.c
Owners: @OP-TEE/linaro

crypto: drivers: se050: rsa: fix OAEP and revert regression
  core/drivers/crypto/se050/core/rsa.c
Owners: @OP-TEE/linaro

crypto: drivers: se050: rsa: decrypt_es, validate the output buffer
  core/drivers/crypto/se050/core/rsa.c
Owners: @OP-TEE/linaro

core: use a paged scattered array for DT drivers list
  core/include/kernel/dt.h
Owners: @OP-TEE/linaro

drivers: caam: disable the use of interrupts for some platforms
  core/drivers/crypto/caam/hal/common/hal_jr.c
Owners: @OP-TEE/linaro

core: imx: add support for i.MX8ULP
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/crypto_conf.mk
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/imx.h
  core/arch/arm/plat-imx/registers/imx8ulp-crm.h
  core/arch/arm/plat-imx/registers/imx8ulp.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: caam: add imx8ulp CAAM HAL
  core/arch/arm/plat-imx/crypto_conf.mk
  core/drivers/crypto/caam/hal/imx_8ulp/hal_clk.c
  core/drivers/crypto/caam/hal/imx_8ulp/hal_ctrl.c
  core/drivers/crypto/caam/hal/imx_8ulp/hal_jr.c
  core/drivers/crypto/caam/hal/imx_8ulp/registers/ctrl_regs.h
  core/drivers/crypto/caam/hal/imx_8ulp/sub.mk
  core/drivers/crypto/caam/hal/sub.mk
  core/drivers/crypto/caam/include/caam_common.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

ci: azure: build imx-mx8ulpevk platform
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

core: use a paged scattered array for DT drivers list
  core/include/kernel/dt.h
Owners: @OP-TEE/linaro

ci: azure: build imx-mx8ulpevk platform
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

drivers: caam: disable the use of interrupts for some platforms
  core/drivers/crypto/caam/hal/common/hal_jr.c
Owners: @OP-TEE/linaro
