Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

plat-ti: Enable hardware RNG PTA
  core/arch/arm/plat-ti/conf.mk
Owners: @OP-TEE/plat-ti, @glneo

plat-sam: enable CFG_ATMEL_PIOBU by default
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

drivers: atmel_rtc: add atmel_rtc_get_tamper_timestamp()
  core/drivers/atmel_rtc.c
  core/include/drivers/atmel_rtc.h
Owners: @OP-TEE/linaro

drivers: atmel_piobu: add driver
  core/drivers/atmel_piobu.c
  core/drivers/sub.mk
  core/include/dt-bindings/gpio/atmel,piobu.h
Owners: @OP-TEE/linaro

libutee: add X25519 support
  lib/libutee/include/tee_api_defines.h
  lib/libutee/include/utee_defines.h
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

core: crypto: add X25519 support
  core/crypto.mk
  core/crypto/crypto.c
  core/include/crypto/crypto.h
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: libtomcrypt: Add X25519 support
  core/lib/libtomcrypt/src/pk/ec25519/sub.mk
  core/lib/libtomcrypt/src/pk/sub.mk
  core/lib/libtomcrypt/src/pk/x25519/sub.mk
  core/lib/libtomcrypt/src/sub.mk
  core/lib/libtomcrypt/sub.mk
  core/lib/libtomcrypt/tomcrypt.c
  core/lib/libtomcrypt/x25519.c
Owners: @OP-TEE/linaro

core: libtomcrypt: Remove prng_state* NULL pointer check from x25519_make_key()
  core/lib/libtomcrypt/src/pk/x25519/x25519_make_key.c
Owners: @OP-TEE/linaro

drivers: atmel_piobu: add driver
  core/drivers/atmel_piobu.c
  core/drivers/sub.mk
  core/include/dt-bindings/gpio/atmel,piobu.h
Owners: @OP-TEE/linaro

plat-sam: enable CFG_ATMEL_PIOBU by default
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

drivers: atmel_rtc: add atmel_rtc_get_tamper_timestamp()
  core/drivers/atmel_rtc.c
  core/include/drivers/atmel_rtc.h
Owners: @OP-TEE/linaro

plat-ti: Remove extra license text as we have SPDX
  core/arch/arm/plat-ti/a9_plat_init.S
  core/arch/arm/plat-ti/api_monitor_index_a15.h
  core/arch/arm/plat-ti/api_monitor_index_a9.h
  core/arch/arm/plat-ti/sm_platform_handler_a15.c
  core/arch/arm/plat-ti/sm_platform_handler_a9.c
  core/arch/arm/plat-ti/ti_pl310.c
Owners: @OP-TEE/plat-ti, @glneo

plat-sam: add timer clock driver
  core/drivers/atmel_tcb.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

plat-sam: enable CFG_ATMEL_TCB
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

libutee: add X25519 support
  lib/libutee/include/tee_api_defines.h
  lib/libutee/include/utee_defines.h
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

core: libtomcrypt: Add X25519 support
  core/lib/libtomcrypt/src/pk/ec25519/sub.mk
  core/lib/libtomcrypt/src/pk/sub.mk
  core/lib/libtomcrypt/src/pk/x25519/sub.mk
  core/lib/libtomcrypt/src/sub.mk
  core/lib/libtomcrypt/sub.mk
  core/lib/libtomcrypt/tomcrypt.c
  core/lib/libtomcrypt/x25519.c
Owners: @OP-TEE/linaro

core: libtomcrypt: Remove prng_state* NULL pointer check from x25519_make_key()
  core/lib/libtomcrypt/src/pk/x25519/x25519_make_key.c
Owners: @OP-TEE/linaro

core: crypto: add X25519 support
  core/crypto.mk
  core/crypto/crypto.c
  core/include/crypto/crypto.h
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: arm: declare struct mobj in thread_arch.h
  core/arch/arm/include/kernel/thread_arch.h
Owners: @OP-TEE/linaro

drivers: smccc_trng: get entropy from secure monitor
  core/drivers/smccc_trng.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

plat-vexpress: juno: default enable hwrng from smccc trng interface
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

plat-sam: enable CFG_ATMEL_TCB
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: add timer clock driver
  core/drivers/atmel_tcb.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

drivers: smccc_trng: get entropy from secure monitor
  core/drivers/smccc_trng.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

plat-vexpress: juno: default enable hwrng from smccc trng interface
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

core: arm: declare struct mobj in thread_arch.h
  core/arch/arm/include/kernel/thread_arch.h
Owners: @OP-TEE/linaro

zynqmp: platform: provide uart configuration during compilation
  core/arch/arm/plat-zynqmp/conf.mk
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

drivers: pm: sam: clarify that the pm_suspend.S file was relicensed
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

plat-rockchip: rk3399: set CFG_CRYPTO_WITH_CE ?= y
  core/arch/arm/plat-rockchip/conf.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

drivers: pm: sam: clarify that the pm_suspend.S file was relicensed
  core/drivers/pm/sam/pm_suspend.S
Owners: @OP-TEE/linaro

drivers: se050: scp: add support for more boards
  core/drivers/crypto/se050/adaptors/utils/scp_config.c
Owners: @OP-TEE/linaro

core: sp: reorganize init functions
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

core: sp: refactor manifest attribute checks
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

core: sp: map memory regions from SP manifest
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

core: sp: handle memory regions w/o base address
  core/arch/arm/kernel/secure_partition.c
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: se050: scp: add support for more boards
  core/drivers/crypto/se050/adaptors/utils/scp_config.c
Owners: @OP-TEE/linaro

core: sp: refactor manifest attribute checks
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

core: sp: map memory regions from SP manifest
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

core: sp: reorganize init functions
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

core: sp: handle memory regions w/o base address
  core/arch/arm/kernel/secure_partition.c
  mk/config.mk
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
