Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

crypto: asu: Add hardware HMAC driver
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_hash.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

crypto: asu: fix CTR tail buffer overflow for non-block-aligned length
  core/drivers/crypto/asu_driver/asu_cipher.c
Owners: @OP-TEE/linaro

plat-qcom: wildcat/nord: add IRIS video codec PAS support
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
  core/pta/qcom/pas/platform/nord/iris.c
  core/pta/qcom/pas/platform/nord/iris.h
  core/pta/qcom/pas/platform/nord/sub.mk
  core/pta/qcom/pas/platform/nord/subsys.c
Owners: @OP-TEE/linaro

drivers: cbmem_console: fix incorrect size of console buffer mapping
  core/drivers/cbmem_console.c
Owners: @OP-TEE/linaro

drivers: cbmem_console: fix incorrect size of console buffer mapping
  core/drivers/cbmem_console.c
Owners: @OP-TEE/linaro

lib: libutee: add PBKDF2 derive type define
  lib/libutee/include/tee_api_defines_extensions.h
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

plat/qcom: wildcat: move Nord-specific addresses to its target files
  core/arch/arm/plat-qcom/wildcat/arch_config.h
  core/arch/arm/plat-qcom/wildcat/nord/target.mk
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
  core/arch/arm/plat-qcom/wildcat/qcom-arch.mk
Owners: @OP-TEE/linaro

plat/qcom: add Qualcomm Cacao (Wildcat) platform support
  core/arch/arm/plat-qcom/conf.mk
  core/arch/arm/plat-qcom/wildcat/cacao/target.mk
  core/arch/arm/plat-qcom/wildcat/cacao/target_config.h
Owners: @OP-TEE/linaro

ta: pkcs11: release private resources on logout
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

plat-rockchip: rk3576: add OTP HUK derivation via Secure OTP
  core/arch/arm/plat-rockchip/conf.mk
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rk3576.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

ci: add QEMU RISC-V64 xtest workflow
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

lib: libutee: add PBKDF2 derive type define
  lib/libutee/include/tee_api_defines_extensions.h
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

core: make CFG_REE_FS_ALLOW_RESET preserve rollback protection
  core/tee/tee_ree_fs.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: optionally keep the TA version DBs in RPMB
  core/kernel/ree_fs_ta.c
  mk/config.mk
Owners: @OP-TEE/linaro

plat/qcom: add Qualcomm Shikra (Bruin) platform support
  core/arch/arm/plat-qcom/bruin/arch_config.h
  core/arch/arm/plat-qcom/bruin/qcom-arch.mk
  core/arch/arm/plat-qcom/bruin/shikra/target.mk
  core/arch/arm/plat-qcom/bruin/shikra/target_config.h
  core/arch/arm/plat-qcom/bruin/sub.mk
  core/arch/arm/plat-qcom/conf.mk
Owners: @OP-TEE/linaro

drivers: crypto: qcom: add CRYPTO0 AES-GCM AEAD provider
  core/drivers/crypto/qcom/authenc/algorithms.h
  core/drivers/crypto/qcom/authenc/authenc.c
  core/drivers/crypto/qcom/authenc/gcm.c
  core/drivers/crypto/qcom/authenc/sub.mk
  core/drivers/crypto/qcom/ce/ce.c
  core/drivers/crypto/qcom/ce/include/ce.h
  core/drivers/crypto/qcom/ce/include/ce_regs.h
  core/drivers/crypto/qcom/crypto.mk
  core/drivers/crypto/qcom/sub.mk
Owners: @OP-TEE/linaro

drivers: crypto: qcom: refactor register map for multi instance support
  core/drivers/crypto/qcom/hwkm.c
  core/drivers/crypto/qcom/hwkm_transaction.c
  core/drivers/crypto/qcom/include/hwkm_regs.h
Owners: @OP-TEE/linaro

plat-qcom: lemans: enable AES-GCM AEAD provider
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
Owners: @OP-TEE/linaro

drivers: crypto: qcom: add CRYPTO0 AES-ECB and AES-CBC cipher providers
  core/drivers/crypto/qcom/ce/ce.c
  core/drivers/crypto/qcom/ce/include/ce.h
  core/drivers/crypto/qcom/ce/include/ce_regs.h
  core/drivers/crypto/qcom/ce/sub.mk
  core/drivers/crypto/qcom/cipher/algorithms.h
  core/drivers/crypto/qcom/cipher/cbc.c
  core/drivers/crypto/qcom/cipher/cipher.c
  core/drivers/crypto/qcom/cipher/ecb.c
  core/drivers/crypto/qcom/cipher/sub.mk
  core/drivers/crypto/qcom/crypto.mk
  core/drivers/crypto/qcom/sub.mk
Owners: @OP-TEE/linaro

plat-qcom: lemans: enable CE AES-ECB and AES-CBC cipher providers
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
Owners: @OP-TEE/linaro

drivers: crypto: qcom: hwkm: add CRYPTO0 key manager slave support
  core/arch/arm/plat-qcom/hoya/arch_config.h
  core/drivers/crypto/qcom/hwkm.c
  core/drivers/crypto/qcom/hwkm_transaction.c
  core/drivers/crypto/qcom/include/hwkm.h
Owners: @OP-TEE/linaro

Allow in-tree TA to be skipped
  ta/mk/build-user-ta.mk
Owners: @OP-TEE/linaro

ta: qcom_pas: restrict to Qualcomm platforms
  ta/qcom_pas/user_ta.mk
Owners: @OP-TEE/linaro

plat-qcom: nord: port IRIS/PAS-PTA base from optee_os#43
  core/arch/arm/plat-qcom/wildcat/nord/target.mk
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
  core/pta/qcom/pas/platform/nord/iris.c
  core/pta/qcom/pas/platform/nord/iris.h
  core/pta/qcom/pas/platform/nord/sub.mk
  core/pta/qcom/pas/platform/nord/subsys.c
  core/pta/qcom/pas/platform/pas_data.h
Owners: @OP-TEE/linaro

pta: qcom: pas: nord: add dual-ICP Camera bring-up
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
  core/pta/qcom/pas/platform/nord/camera.c
  core/pta/qcom/pas/platform/nord/camera.h
  core/pta/qcom/pas/platform/nord/sub.mk
  core/pta/qcom/pas/platform/nord/subsys.c
  core/pta/qcom/pas/platform/pas_data.h
Owners: @OP-TEE/linaro

plat-qcom: wildcat: nord: move Nord-specific addresses to its target files
  core/arch/arm/plat-qcom/wildcat/arch_config.h
  core/arch/arm/plat-qcom/wildcat/nord/target.mk
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
  core/arch/arm/plat-qcom/wildcat/qcom-arch.mk
Owners: @OP-TEE/linaro

ci: qcom: add cacao platform build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

plat-qcom: wildcat: cacao: add platform support
  core/arch/arm/plat-qcom/conf.mk
  core/arch/arm/plat-qcom/wildcat/cacao/target.mk
  core/arch/arm/plat-qcom/wildcat/cacao/target_config.h
Owners: @OP-TEE/linaro

ci: qcom: add shikra platform build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

plat-qcom: bruin: shikra: add platform support
  core/arch/arm/plat-qcom/bruin/arch_config.h
  core/arch/arm/plat-qcom/bruin/qcom-arch.mk
  core/arch/arm/plat-qcom/bruin/shikra/target.mk
  core/arch/arm/plat-qcom/bruin/shikra/target_config.h
  core/arch/arm/plat-qcom/bruin/sub.mk
  core/arch/arm/plat-qcom/conf.mk
Owners: @OP-TEE/linaro

core: spmc: allow S-EL0 access to physical counter
  core/arch/arm/kernel/secure_partition.c
Owners: @OP-TEE/linaro

plat-qcom: wildcat: nord: move Nord-specific addresses to its target files
  core/arch/arm/plat-qcom/wildcat/arch_config.h
  core/arch/arm/plat-qcom/wildcat/nord/target.mk
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
  core/arch/arm/plat-qcom/wildcat/qcom-arch.mk
Owners: @OP-TEE/linaro

plat-qcom: wildcat: cacao: add platform support
  core/arch/arm/plat-qcom/conf.mk
  core/arch/arm/plat-qcom/wildcat/cacao/target.mk
  core/arch/arm/plat-qcom/wildcat/cacao/target_config.h
Owners: @OP-TEE/linaro

ci: qcom: add cacao platform build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

plat: rpi4: add basic Raspberry Pi 4 support
  .github/workflows/ci.yml
  core/arch/arm/plat-rpi4/conf.mk
  core/arch/arm/plat-rpi4/main.c
  core/arch/arm/plat-rpi4/platform_config.h
  core/arch/arm/plat-rpi4/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

MAINTAINERS: qualcomm trusted and pseudo-trusted applications
  MAINTAINERS
Owners: @OP-TEE/approvers

ta: qcom_pas: restrict to Qualcomm platforms
  ta/qcom_pas/user_ta.mk
Owners: @OP-TEE/linaro

Allow in-tree TA to be skipped
  ta/mk/build-user-ta.mk
Owners: @OP-TEE/linaro

ldelf: validate TA stack size before mapping
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

ldelf: reject ELF files without loadable segments
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
