Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

libtomcrypt: se050: pick and chose operations
  core/lib/libtomcrypt/cbc.c
  core/lib/libtomcrypt/ecb.c
  core/lib/libtomcrypt/ecc.c
  core/lib/libtomcrypt/rsa.c
  core/lib/libtomcrypt/sub.mk
Owners: @OP-TEE/linaro

drivers: create SCP03 pseudo TA
  core/drivers/scp03_pta.c
  core/drivers/sub.mk
  core/include/drivers/scp03_pta_client.h
Owners: @OP-TEE/linaro

core: arm/kernel: se050: __weak override
  core/arch/arm/kernel/otp_stubs.c
Owners: @OP-TEE/linaro

libnxpse050: plug and trust: host integration
  lib/libnxpse050/se050/plug-and-trust/sss/inc/fsl_sss_user_types.h
Owners: @OP-TEE/linaro

core: build: add support for libnxpse050
  core/core.mk
  mk/config.mk
Owners: @OP-TEE/linaro

[RFC] core: svc store: delete keys from secure elements
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

core: arm/kernel: stack sizes: CFG_ EXTRA
  core/arch/arm/kernel/thread.c
Owners: @OP-TEE/linaro

drivers: imx_i2c: early_init
  core/drivers/imx_i2c.c
Owners: @OP-TEE/linaro

plat-imx: build: CAAM RNG/RSA selectable at build time
  core/arch/arm/plat-imx/crypto_conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: caam: fix build warning
  core/drivers/crypto/caam/acipher/caam_prime.c
Owners: @OP-TEE/linaro

scripts/sign_encrypt.py: add flags for the signing algorithm
  scripts/sign_encrypt.py
Owners: @OP-TEE/linaro

scripts/sign_encrypt.py: add flags for the signing algorithm
  scripts/sign_encrypt.py
Owners: @OP-TEE/linaro

drivers: caam: fix build warning
  core/drivers/crypto/caam/acipher/caam_prime.c
Owners: @OP-TEE/linaro

core: separate copy_from_user() and friends
  core/arch/arm/kernel/user_ta.c
  core/arch/arm/plat-vexpress/vendor_props.c
  core/arch/arm/tee/arch_svc_a32.S
  core/arch/arm/tee/arch_svc_a64.S
  core/include/kernel/user_access.h
  core/include/tee/tee_svc.h
  core/kernel/sub.mk
  core/kernel/user_access.c
  core/tee/tee_svc.c
  core/tee/tee_svc_cryp.c
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-vexpress

core: remove VM_FLAG_LDELF from VM_FLAGS_NONPRIV
  core/include/mm/tee_mmu_types.h
Owners: @OP-TEE/linaro

core: strict buffer check in syscalls following GP 1.1
  core/tee/tee_svc.c
  core/tee/tee_svc_cryp.c
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

core: add copy_{to,from}_private()
  core/include/kernel/user_access.h
  core/kernel/user_access.c
Owners: @OP-TEE/linaro

GP 1.1: Check parameters annotated in the specification
  lib/libutee/tee_api.c
  lib/libutee/tee_api_objects.c
  lib/libutee/tee_api_operations.c
  lib/libutee/tee_api_panic.c
  lib/libutee/tee_api_private.h
  lib/libutee/tee_api_property.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: remove VM_FLAG_LDELF from VM_FLAGS_NONPRIV
  core/include/mm/tee_mmu_types.h
Owners: @OP-TEE/linaro

GP 1.1: Check parameters annotated in the specification
  lib/libutee/tee_api.c
  lib/libutee/tee_api_objects.c
  lib/libutee/tee_api_operations.c
  lib/libutee/tee_api_panic.c
  lib/libutee/tee_api_private.h
  lib/libutee/tee_api_property.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: add copy_{to,from}_private()
  core/include/kernel/user_access.h
  core/kernel/user_access.c
Owners: @OP-TEE/linaro

core: separate copy_from_user() and friends
  core/arch/arm/kernel/user_ta.c
  core/arch/arm/plat-vexpress/vendor_props.c
  core/arch/arm/tee/arch_svc_a32.S
  core/arch/arm/tee/arch_svc_a64.S
  core/include/kernel/user_access.h
  core/include/tee/tee_svc.h
  core/kernel/sub.mk
  core/kernel/user_access.c
  core/tee/tee_svc.c
  core/tee/tee_svc_cryp.c
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-vexpress

core: strict buffer check in syscalls following GP 1.1
  core/tee/tee_svc.c
  core/tee/tee_svc_cryp.c
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

core: add dcache_get_line_size() function
  core/arch/arm/include/kernel/cache_helpers.h
Owners: @OP-TEE/linaro

drivers: csu: enabled DCP protection
  core/arch/arm/plat-imx/drivers/imx_csu.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: dcp: add DCP support
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/registers/imx6-dcp.h
  core/arch/arm/plat-imx/registers/imx6.h
  core/drivers/imx/dcp/dcp.c
  core/drivers/imx/dcp/dcp_huk.c
  core/drivers/imx/dcp/dcp_utils.c
  core/drivers/imx/dcp/include/dcp_utils.h
  core/drivers/imx/dcp/include/local.h
  core/drivers/imx/dcp/sub.mk
  core/drivers/imx/sub.mk
  core/drivers/sub.mk
  core/include/drivers/imx/dcp.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

plat: rcar: Enable parsing DT from TFA
  core/arch/arm/plat-rcar/conf.mk
Owners: @OP-TEE/plat-rcar

core: dt: Repair type in _fdt_reg_size()
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro

core: Parse all memory DT nodes
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

core: dt: discover_nsec_memory(): consider only non-secure memory
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

core: dt: discover_nsec_memory(): consider only non-secure memory
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

libutee: fix TEE_CloseAndDeletePersistentObject1() with TEE_HANDLE_NULL
  lib/libutee/tee_api_objects.c
Owners: @OP-TEE/linaro

libutee: TEE_AllocateOperation(): digest operations must have 0 max key size
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

core: syscall_cryp_obj_alloc(): allow TEE_TYPE_DATA for transient objects
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: syscall_obj_generate_key() check public rsa exponent
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: tee_obj_get() return TEE_ERROR_BAD_STATE
  core/tee/tee_obj.c
Owners: @OP-TEE/linaro

core: fix calculation of DES key size
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: check max key size when populating object
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: check that object attributes for current usage are relevant
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: check that certain object attributes are consistent with max key size
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro
