Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

MAINTAINERS: extend the Qualcomm entry
  MAINTAINERS
Owners: @OP-TEE/approvers

drivers: qcom: ramblur: configure pIMEM access
  core/arch/arm/plat-qcom/conf.mk
  core/arch/arm/plat-qcom/platform_config.h
  core/drivers/qcom/ramblur/ramblur_pimem_v3.c
  core/drivers/qcom/sub.mk
  core/drivers/sub.mk
  core/include/drivers/qcom/ramblur/v3/ramblur_pimem_hwio.h
Owners: @OP-TEE/linaro

drivers: qcom: prng: add PRNG driver
  core/arch/arm/plat-qcom/conf.mk
  core/arch/arm/plat-qcom/platform_config.h
  core/drivers/qcom/prng/prng.c
  core/drivers/qcom/sub.mk
Owners: @OP-TEE/linaro

fixup! core: dt: fix add_res_mem_dt_node for _CFG_USE_DTB_OVERLAY use-cases
  core/kernel/dt.c
Owners: @OP-TEE/linaro

fixup! core: dt: add add_dt_node_overlay_fragmet helper
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro

fixup! core: dt: add overlay support to dt_enable_secure_status
  core/kernel/dt.c
Owners: @OP-TEE/linaro

drivers: tzc380: add support to dump region0
  core/drivers/tzc380.c
Owners: @OP-TEE/linaro

drivers: imx: tzc380: add CFG_MX6QP TZASC2 configuration
  core/arch/arm/plat-imx/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: tzc380: add tzc_verify_region0_secure helper
  core/drivers/tzc380.c
  core/include/drivers/tzc380.h
Owners: @OP-TEE/linaro

plat-k3: drivers: Refactor SA2UL RNG firewall setup
  core/arch/arm/plat-k3/drivers/sa2ul.c
  core/arch/arm/plat-k3/drivers/sub.mk
  core/arch/arm/plat-k3/drivers/ti_crypto.c
  core/arch/arm/plat-k3/drivers/ti_crypto.h
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

plat-k3: drivers: Set firewall for DTHEv2 RNG
  core/arch/arm/plat-k3/drivers/dthev2.c
  core/arch/arm/plat-k3/drivers/ti_crypto.c
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

plat-k3: drivers: Remove code to get firewall configs
  core/arch/arm/plat-k3/drivers/ti_crypto.c
Owners: @OP-TEE/linaro

ftrace: dump ftrace after every ta_entry
  core/arch/arm/kernel/abort.c
  core/arch/riscv/kernel/abort.c
  core/kernel/ldelf_loader.c
  core/kernel/tee_ta_manager.c
  core/kernel/user_ta.c
  ldelf/ftrace.c
  ldelf/ftrace.h
  ldelf/main.c
  lib/libutee/include/user_ta_header.h
  mk/config.mk
Owners: @OP-TEE/linaro

fixup! core: pta: add Rockchip secure boot PTA
  core/pta/rockchip/rk_secure_boot.c
Owners: @OP-TEE/linaro

fixup! core: pta: add Rockchip secure boot PTA
  core/arch/arm/plat-rockchip/conf.mk
  core/pta/rockchip/rk_secure_boot.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/linaro

fixup! core: pta: add Rockchip secure boot PTA
  core/pta/rockchip/rk_secure_boot.c
Owners: @OP-TEE/linaro

fixup! core: pta: add Rockchip secure boot PTA
  core/pta/rockchip/rk_secure_boot.c
Owners: @OP-TEE/linaro

fixup! core: pta: add Rockchip secure boot PTA
  core/pta/rockchip/rk_secure_boot.c
Owners: @OP-TEE/linaro

fixup! core: pta: add Rockchip secure boot PTA
  core/pta/rockchip/rk_secure_boot.c
Owners: @OP-TEE/linaro

fixup! core: pta: add Rockchip secure boot PTA
  core/pta/rockchip/rk_secure_boot.c
Owners: @OP-TEE/linaro

fixup! core: pta: add Rockchip secure boot PTA
  core/pta/rockchip/rk_secure_boot.c
Owners: @OP-TEE/linaro

fixup! core: pta: add Rockchip secure boot PTA
  core/pta/rockchip/rk_secure_boot.c
Owners: @OP-TEE/linaro

[REVIEW] address further review comments
  core/drivers/amd/asu/asu_doorbell.h
  core/drivers/amd/asu/asu_main.c
  core/drivers/amd/asu/sub.mk
  core/drivers/crypto/asu_driver/asu_hash.c
  core/include/drivers/amd/asu_client.h
  core/include/drivers/amd/asu_sharedmem.h
Owners: @OP-TEE/linaro

Update CHANGELOG for 4.9.0
  CHANGELOG.md
  mk/config.mk
Owners: @OP-TEE/linaro

ftrace: dump ftrace after every ta_entry
  core/arch/arm/kernel/abort.c
  core/arch/riscv/kernel/abort.c
  core/kernel/ldelf_loader.c
  core/kernel/tee_ta_manager.c
  core/kernel/user_ta.c
  ldelf/ftrace.c
  ldelf/ftrace.h
  ldelf/main.c
  lib/libutee/include/user_ta_header.h
  mk/config.mk
Owners: @OP-TEE/linaro

MAINTAINERS: update Jerome's e-mail address
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: update Joakim's details
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: update Ahmed's e-mail address
  MAINTAINERS
Owners: @OP-TEE/approvers

MAINTAINERS: remove Amit (AllWinner sun50i A64)
  MAINTAINERS
Owners: @OP-TEE/approvers

[REVIEW] remove unused function from header
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

[REVIEW] update as per review comments
  core/drivers/amd/asu/asu_doorbell.h
  core/drivers/amd/asu/asu_main.c
  core/drivers/crypto/asu_driver/asu_hash.c
Owners: @OP-TEE/linaro

plat-k3: drivers: Refactor SA2UL RNG firewall setup
  core/arch/arm/plat-k3/drivers/sa2ul.c
  core/arch/arm/plat-k3/drivers/sub.mk
  core/arch/arm/plat-k3/drivers/ti_crypto.c
  core/arch/arm/plat-k3/drivers/ti_crypto.h
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

plat-k3: drivers: Remove code to get firewall configs
  core/arch/arm/plat-k3/drivers/ti_crypto.c
Owners: @OP-TEE/linaro

plat-k3: drivers: Set firewall for DTHEv2 RNG
  core/arch/arm/plat-k3/drivers/dthev2.c
  core/arch/arm/plat-k3/drivers/ti_crypto.c
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

core: mm: add extra xlat table when core ASan is enabled
  core/arch/arm/mm/core_mmu_lpae.c
Owners: @OP-TEE/linaro

plat-rockchip: rk3588: define more OTP indexes
  core/arch/arm/plat-rockchip/platform_config.h
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

core: pta: add Rockchip secure boot PTA
  core/arch/arm/plat-rockchip/conf.mk
  core/pta/rockchip/rk_secure_boot.c
  core/pta/rockchip/sub.mk
  core/pta/sub.mk
  lib/libutee/include/pta_rk_secure_boot.h
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/linaro

core: pta: add Rockchip secure boot PTA
  core/arch/arm/plat-rockchip/conf.mk
  core/pta/rockchip/rk_secure_boot.c
  core/pta/rockchip/sub.mk
  core/pta/sub.mk
  lib/libutee/include/pta_rk_secure_boot.h
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/linaro

plat-rockchip: rk3588: define more OTP indexes
  core/arch/arm/plat-rockchip/platform_config.h
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

drivers: caam: improve empty aad updates
  core/drivers/crypto/caam/ae/caam_ae.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
