Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: imx_ocotp: add support to burn fuses
  core/drivers/imx_ocotp.c
  core/include/drivers/imx_ocotp.h
Owners: @OP-TEE/linaro

drivers: imx_ocotp: fix error/busy defines for i.MX8MP
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: make use of hw timers during ocotp_ctrl_wait_for
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: fix imx_ocotp_read g_base_addr and g_ocotp check
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: fix ocotp_ctrl_wait_for for i.MX6
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

core: plat-imx: i.MX6 CA9 has no generic timer
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/main.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx_ocotp: fix clearing the error bit
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

[REVIEW] address latest review comments
  core/drivers/amd/asu/asu_main.c
  core/drivers/crypto/asu_driver/asu_hash.c
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

libutee: add tee_map_zi_va()
  lib/libutee/include/tee_internal_api_extensions.h
  lib/libutee/tee_system_pta.c
Owners: @OP-TEE/linaro

ldelf: move ldelf function prototype to header
  ldelf/include/ldelf.h
  ldelf/main.c
Owners: @OP-TEE/linaro

compiler.h: define __no_asan
  lib/libutils/ext/include/compiler.h
Owners: @OP-TEE/linaro

libutils: move ASan runtime and tests from core to libutils
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/thread.c
  core/arch/arm/mm/tee_pager.c
  core/arch/arm/sm/pm_a32.S
  core/arch/riscv/kernel/thread_arch.c
  core/kernel/sub.mk
  core/kernel/thread.c
  core/mm/boot_mem.c
  core/pta/tests/misc.c
  lib/libutils/ext/asan.c
  lib/libutils/ext/asan_test.c
  lib/libutils/ext/include/asan.h
  lib/libutils/ext/include/asan_test.h
  lib/libutils/ext/sub.mk
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

core: kernel: allow not masking interrupts on output traces
  core/kernel/trace_ext.c
  mk/config.mk
Owners: @OP-TEE/linaro

ta: pkcs11: fix eddsa key reusage
  ta/pkcs11/src/processing_asymm.c
Owners: @OP-TEE/linaro

libutils: asan: support multiple shadow regions
  lib/libutils/ext/asan.c
  lib/libutils/ext/include/asan.h
Owners: @OP-TEE/linaro

asan: support trusted applications
  core/arch/arm/arm.mk
  core/arch/riscv/plat-spike/conf.mk
  ldelf/main.c
  ldelf/ta_elf.c
  lib/libutee/user_ta_entry.c
  lib/libutils/ext/asan.c
  lib/libutils/ext/include/asan.h
  lib/libutils/ext/include/compiler.h
  lib/libutils/ext/sub.mk
  mk/config.mk
  ta/arch/arm/ta.ld.S
  ta/mk/ta_dev_kit.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

asan: improve report output
  lib/libutils/ext/asan.c
Owners: @OP-TEE/linaro

ldelf: asan: add support and user shadow mapping infrastructure
  core/arch/arm/arm.mk
  core/core.mk
  ldelf/asan.c
  ldelf/asan.h
  ldelf/include/ldelf.h
  ldelf/ldelf.ld.S
  ldelf/ldelf.mk
  ldelf/main.c
  ldelf/sub.mk
  lib/libutils/ext/asan.c
  lib/libutils/ext/include/asan.h
  lib/libutils/ext/sub.mk
  lib/libutils/isoc/arch/arm/setjmp_a32.S
  lib/libutils/isoc/arch/arm/setjmp_a64.S
  lib/libutils/isoc/bget_malloc.c
  lib/libutils/isoc/sub.mk
Owners: @OP-TEE/linaro

libutils: asan: skip global unpoison for bget-backed globals
  core/arch/arm/kernel/boot.c
  ldelf/asan.c
  ldelf/main.c
  ldelf/ta_elf.c
  lib/libutils/ext/asan.c
  lib/libutils/ext/include/asan.h
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

core: riscv: add initial support for CVA6 APU on Genesys2
  core/arch/riscv/plat-cva6/conf.mk
  core/arch/riscv/plat-cva6/main.c
  core/arch/riscv/plat-cva6/platform_config.h
  core/arch/riscv/plat-cva6/sub.mk
Owners: @OP-TEE/linaro

ci: ci.yml: add CVA6 platform to GitHub workflow
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

plat-qcom: Add support for lemans SoC
  core/arch/arm/plat-qcom/conf.mk
  core/arch/arm/plat-qcom/platform_config.h
Owners: @OP-TEE/linaro

core: kernel: allow not masking interrupts on output traces
  core/kernel/trace_ext.c
  mk/config.mk
Owners: @OP-TEE/linaro

ta: pkcs11: fix memory leak in close_persistent_db()
  ta/pkcs11/src/persistent_token.c
Owners: @OP-TEE/linaro

ci: qcom: add lemans platform build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ta: pkcs11: fix eddsa key reusage
  ta/pkcs11/src/processing_asymm.c
Owners: @OP-TEE/linaro

core: ffa: harden memory transaction checks
  core/arch/arm/include/kernel/thread_spmc.h
  core/arch/arm/kernel/spmc_sp_handler.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: ffa: support fragmented memory transaction via S-EL2 SPMC
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

plat-k3: drivers: ti-sci: add support for retrieving SOC UID
  core/arch/arm/plat-k3/drivers/ti_sci.c
  core/arch/arm/plat-k3/drivers/ti_sci.h
  core/arch/arm/plat-k3/drivers/ti_sci_protocol.h
Owners: @OP-TEE/linaro

plat-stm32mp2: conf: fix default config
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

plat-vexpress: conf: fix HALT_CORES_ON_PANIC config
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

tests: add config-header-test
  tests/config-header-test/check-ref-diff
  tests/config-header-test/gen-config-header
  tests/config-header-test/gen-references
  tests/config-header-test/platform-list.arm
  tests/config-header-test/platform-list.riscv
Owners: @OP-TEE/linaro

treewide: use remove_quotes for CFG_CC_OPT_LEVEL
  core/arch/arm/arm.mk
  core/arch/riscv/riscv.mk
  lib/libutils/isoc/newlib/sub.mk
Owners: @OP-TEE/linaro

checkconf.mk: add cfg-remove-quotes support
  mk/checkconf.mk
Owners: @OP-TEE/linaro

plat-stm32mp2: conf: fix CFG_STM32_PANIC_ON_SERC_EVENT default
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

plat-marvell: fix CFG_NUM_THREADS settings
  core/arch/arm/plat-marvell/conf.mk
Owners: @OP-TEE/plat-marvell, @kevin-peng-hao

ci: add kconfig_verify job
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

checkconf.mk: add cfg-opt-dis macro
  mk/checkconf.mk
Owners: @OP-TEE/linaro

tests: config-artifacts-ref: update after platform conf.mk fixes
  tests/config-header-test/config-artifacts-ref/marvell-cn10ka.conf.h
  tests/config-header-test/config-artifacts-ref/marvell-cn10ka.conf.mk
  tests/config-header-test/config-artifacts-ref/marvell-cn10kb.conf.h
  tests/config-header-test/config-artifacts-ref/marvell-cn10kb.conf.mk
  tests/config-header-test/config-artifacts-ref/marvell-cn20ka.conf.h
  tests/config-header-test/config-artifacts-ref/marvell-cn20ka.conf.mk
  tests/config-header-test/config-artifacts-ref/marvell-cnf10ka.conf.h
  tests/config-header-test/config-artifacts-ref/marvell-cnf10ka.conf.mk
  tests/config-header-test/config-artifacts-ref/marvell-cnf10kb.conf.h
  tests/config-header-test/config-artifacts-ref/marvell-cnf10kb.conf.mk
  tests/config-header-test/config-artifacts-ref/marvell-cnf20ka.conf.h
  tests/config-header-test/config-artifacts-ref/marvell-cnf20ka.conf.mk
  tests/config-header-test/config-artifacts-ref/marvell-otx2f95.conf.h
  tests/config-header-test/config-artifacts-ref/marvell-otx2f95.conf.mk
  tests/config-header-test/config-artifacts-ref/marvell-otx2t96.conf.h
  tests/config-header-test/config-artifacts-ref/marvell-otx2t96.conf.mk
  tests/config-header-test/config-artifacts-ref/marvell-otx2t98.conf.h
  tests/config-header-test/config-artifacts-ref/marvell-otx2t98.conf.mk
Owners: @OP-TEE/linaro

scripts: add merge_config.sh from the Linux Kconfig tools
  scripts/merge_config.sh
Owners: @OP-TEE/linaro
