Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: core_mmu.c: replace register_phys_mem{_ul,}() usage
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: arm: core_mmu_arch.h: remove redundant defines
  core/arch/arm/include/mm/core_mmu_arch.h
Owners: @OP-TEE/linaro

core: rename load_offset in struct core_mmu_config
  core/arch/arm/include/mm/core_mmu_arch.h
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/thread_optee_smc_a64.S
  core/arch/arm/plat-rcar/romapi_call.S
  core/arch/riscv/include/mm/core_mmu_arch.h
  core/mm/core_mmu.c
  core/mm/fobj.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-rcar

core: remove TEE_RAM_VA_START and TEE_TEXT_VA_START
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/kern.ld.S
  core/arch/arm/mm/tee_pager.c
  core/arch/arm/plat-hisilicon/psci.c
  core/arch/arm/plat-imx/pm/psci.c
  core/arch/arm/plat-sunxi/psci.c
  core/arch/riscv/kernel/kern.ld.S
  core/include/mm/core_mmu.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: linker.h: remove *_SZ_UNSAFE defines
  core/include/kernel/linker.h
Owners: @OP-TEE/linaro

core: arm: boot: use correct base address for relocation
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
Owners: @OP-TEE/linaro

core: pass secure memory parameter to virt_init_memory()
  core/arch/arm/kernel/virtualization.c
  core/include/kernel/virtualization.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: add core_mmu_get_secure_memory()
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: arm: boot_init_memtag(): use core_mmu_get_secure_memory()
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

core: arm: kern.ld.S: assert load address page aligned
  core/arch/arm/kernel/kern.ld.S
Owners: @OP-TEE/linaro

core: linker.h: fix VCORE_NEX_RW_SZ
  core/include/kernel/linker.h
Owners: @OP-TEE/linaro

core: core_mmu.c: replace register_phys_mem{_ul,}() usage
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: pass secure memory parameter to virt_init_memory()
  core/arch/arm/kernel/virtualization.c
  core/include/kernel/virtualization.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: arm: boot: use correct base address for relocation
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
Owners: @OP-TEE/linaro

core: add core_mmu_get_secure_memory()
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: arm: core_mmu_arch.h: remove redundant defines
  core/arch/arm/include/mm/core_mmu_arch.h
Owners: @OP-TEE/linaro

core: improve register_phys_mem_pgdir() debug print
  core/include/mm/core_mmu.h
Owners: @OP-TEE/linaro

core: core_mmu.c: use boot_mmu_config.map_offset
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: arm: boot_init_memtag(): use core_mmu_get_secure_memory()
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

core: linker.h: remove *_SZ_UNSAFE defines
  core/include/kernel/linker.h
Owners: @OP-TEE/linaro

core: rename load_offset in struct core_mmu_config
  core/arch/arm/include/mm/core_mmu_arch.h
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/thread_optee_smc_a64.S
  core/arch/arm/plat-rcar/romapi_call.S
  core/arch/riscv/include/mm/core_mmu_arch.h
  core/mm/core_mmu.c
  core/mm/fobj.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-rcar

core: arm: kern.ld.S: assert load address page aligned
  core/arch/arm/kernel/kern.ld.S
Owners: @OP-TEE/linaro

core: remove TEE_RAM_VA_START and TEE_TEXT_VA_START
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/kern.ld.S
  core/arch/arm/mm/tee_pager.c
  core/arch/arm/plat-hisilicon/psci.c
  core/arch/arm/plat-imx/pm/psci.c
  core/arch/arm/plat-sunxi/psci.c
  core/arch/riscv/kernel/kern.ld.S
  core/include/mm/core_mmu.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: linker.h: fix ASAN_MAP_PA and ASAN_SHADOW_PA
  core/include/kernel/linker.h
Owners: @OP-TEE/linaro

ta: pkcs11: Fix token initialization's authentication
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

core: crypto: change TEE_AEDecryptFinal() tag param's attribute
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

drivers: add cbmem console driver
  core/drivers/cbmem_console.c
  core/drivers/sub.mk
  core/include/drivers/cbmem_console.h
  core/kernel/console.c
Owners: @OP-TEE/linaro

core: console: allow use of multiple consoles
  core/include/drivers/serial.h
  core/kernel/console.c
Owners: @OP-TEE/linaro

fixup: fix compilation errors
  core/drivers/cbmem_console.c
Owners: @OP-TEE/linaro

fixup: retain checking for flush ops existence
  core/kernel/console.c
Owners: @OP-TEE/linaro

ta: pkcs11: Allow authentication mode switch with PIN change
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

ta: pkcs11: Allow authentication mode switch with PIN change
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

ta: pkcs11: Fix token initialization's authentication
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

crypto_api: acipher: ecc key allocation API, pass the key type
  core/drivers/crypto/caam/acipher/caam_ecc.c
  core/drivers/crypto/crypto_api/acipher/ecc.c
  core/drivers/crypto/crypto_api/include/drvcrypt_acipher.h
  core/drivers/crypto/se050/core/ecc.c
  core/drivers/crypto/versal/ecc.c
Owners: @OP-TEE/linaro

crypto: se050: ecc: allow software fallback on key allocation requests
  core/drivers/crypto/se050/core/ecc.c
Owners: @OP-TEE/linaro

crypto: versal: ecc: allow software fallback on key allocation
  core/drivers/crypto/versal/ecc.c
Owners: @OP-TEE/linaro

crypto: se050: compare symmetric keys in constant time
  core/drivers/crypto/se050/adaptors/apis/sss.c
Owners: @OP-TEE/linaro

drivers: i2c: fix fdt_xxx() function label
  core/drivers/i2c/atmel_i2c.c
  core/drivers/i2c/i2c.c
Owners: @OP-TEE/linaro

ci: build sam-sama5d27_wlsom1_ek
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: i2c: fix fdt_xxx() function label
  core/drivers/i2c/atmel_i2c.c
  core/drivers/i2c/i2c.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
