Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

riscv: sbi_console: remove unneeded #ifdef CFG_RISCV_SBI_CONSOLE
  core/arch/riscv/kernel/sbi_console.c
Owners: @OP-TEE/linaro

riscv: sbi_console: remove unused sbi_console_flush()
  core/arch/riscv/kernel/sbi_console.c
Owners: @OP-TEE/linaro

riscv: sbi_console: prefer SBI v2.0 DBCN ecall over legacy sbi_console_putchar()
  core/arch/riscv/include/sbi.h
  core/arch/riscv/kernel/sbi.c
  core/arch/riscv/kernel/sbi_console.c
Owners: @OP-TEE/linaro

riscv: sbi_console: remove global spinlock
  core/arch/riscv/kernel/sbi_console.c
Owners: @OP-TEE/linaro

core: imx: enable TZC380 driver for all i.mx8m socs
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: versal: rework mbox driver
  core/drivers/crypto/versal/authenc.c
  core/drivers/crypto/versal/ipi.c
  core/drivers/crypto/versal/rsa.c
  core/drivers/versal_huk.c
  core/drivers/versal_mbox.c
  core/drivers/versal_nvm.c
  core/drivers/versal_pm.c
  core/drivers/versal_puf.c
  core/drivers/versal_sha3_384.c
  core/include/drivers/versal_mbox.h
Owners: @OP-TEE/linaro

drivers: versal: NVM driver for Versal Net
  core/arch/arm/plat-versal/conf.mk
  core/drivers/versal_huk.c
  core/drivers/versal_nvm.c
  core/include/drivers/versal_nvm.h
Owners: @OP-TEE/linaro

drivers: versal: use HKDF to derive the HUK
  core/drivers/versal_huk.c
Owners: @OP-TEE/linaro

drivers: versal: PKI engine driver for Versal Net
  core/arch/arm/plat-versal/conf.mk
  core/drivers/crypto/versal/ecc.c
  core/drivers/crypto/versal/ecc_mbox.c
  core/drivers/crypto/versal/include/ecc.h
  core/drivers/crypto/versal/pki/ecc_pki_engine.c
  core/drivers/crypto/versal/pki/ecc_pki_kat.c
  core/drivers/crypto/versal/pki/sub.mk
  core/drivers/crypto/versal/sub.mk
  core/drivers/versal_trng.c
  core/include/drivers/versal_trng.h
Owners: @OP-TEE/linaro

drivers: versal: update to support more recent versions of the PLM
  core/drivers/crypto/versal/include/ipi.h
  core/drivers/crypto/versal/rsa.c
  core/drivers/versal_huk.c
  core/drivers/versal_mbox.c
  core/drivers/versal_pm.c
  core/drivers/versal_sha3_384.c
Owners: @OP-TEE/linaro

plat-versal: add support for Versal Net variant
  core/arch/arm/plat-versal/conf.mk
  core/arch/arm/plat-versal/main.c
  core/arch/arm/plat-versal/platform_config.h
  core/drivers/versal_gpio.c
  core/drivers/versal_mbox.c
Owners: @OP-TEE/linaro

drivers: versal: fix RSA driver
  core/drivers/crypto/versal/rsa.c
Owners: @OP-TEE/linaro

core: pta: add Versal FPGA PTA
  core/arch/arm/plat-versal/conf.mk
  core/pta/sub.mk
  core/pta/versal/fpga_pta.c
  core/pta/versal/sub.mk
  lib/libutee/include/pta_versal_fpga.h
Owners: @OP-TEE/linaro

drivers: versal: use PLM for generic RNG operations
  core/arch/arm/plat-versal/conf.mk
  core/drivers/versal_trng.c
Owners: @OP-TEE/linaro

core: kernel: describe udelay()/mdelay()
  core/include/kernel/delay.h
Owners: @OP-TEE/linaro

core: riscv: force enable of CFG_CORE_HAS_GENERIC_TIMER
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: kernel: factorize delay and timeout implementation
  core/arch/arm/include/kernel/delay_arch.h
  core/arch/riscv/include/kernel/delay_arch.h
  core/include/kernel/delay.h
Owners: @OP-TEE/linaro

core: kernel: add timeout_elapsed_us()
  core/include/kernel/delay.h
  core/kernel/delay.c
Owners: @OP-TEE/linaro

core: arm64: implement __do_semihosting() for Aarch64
  core/arch/arm/kernel/semihosting_a64.S
  core/arch/arm/kernel/sub.mk
Owners: @OP-TEE/linaro

plat-vexpress: disable PL011-specific code when CFG_SEMIHOSTING_CONSOLE=y
  core/arch/arm/plat-vexpress/main.c
Owners: @OP-TEE/plat-vexpress

core: add __must_check attribute to cpu_spin_lock_xsave()
  core/include/kernel/spinlock.h
Owners: @OP-TEE/linaro

core: riscv: force enable of CFG_CORE_HAS_GENERIC_TIMER
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: kernel: describe udelay()/mdelay()
  core/include/kernel/delay.h
Owners: @OP-TEE/linaro

core: kernel: add timeout_elapsed_us()
  core/include/kernel/delay.h
  core/kernel/delay.c
Owners: @OP-TEE/linaro

core: kernel: factorize delay and timeout implementation
  core/arch/arm/include/kernel/delay_arch.h
  core/arch/riscv/include/kernel/delay_arch.h
  core/include/kernel/delay.h
Owners: @OP-TEE/linaro

core: add __must_check attribute to cpu_spin_lock_xsave()
  core/include/kernel/spinlock.h
Owners: @OP-TEE/linaro

ta: remoteproc: allow remoteproc_load_fw re-entrance
  ta/remoteproc/src/remoteproc_core.c
Owners: @OP-TEE/linaro

core: arm64: add {read,write}_cntps_cval()
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: add callout service
  core/include/kernel/callout.h
  core/kernel/callout.c
  core/kernel/sub.mk
Owners: @OP-TEE/linaro

core: define generic callout service initializer
  core/include/kernel/timer.h
Owners: @OP-TEE/linaro

core: arm64: implement timer_init_callout_service()
  core/arch/arm/kernel/generic_timer.c
  core/arch/arm/kernel/sub.mk
Owners: @OP-TEE/linaro

plat-vexpress: initialize callout service
  core/arch/arm/plat-vexpress/main.c
Owners: @OP-TEE/plat-vexpress

plat-vexpress: qemu_armv8: define IT_SEC_PHY_TIMER
  core/arch/arm/plat-vexpress/platform_config.h
Owners: @OP-TEE/plat-vexpress

core: tests: add a notification test watchdog
  core/tests/notif_test_wd.c
  core/tests/sub.mk
Owners: @OP-TEE/linaro

core: notif_send_async(): remove debug print
  core/kernel/notif_default.c
Owners: @OP-TEE/linaro

plat-synquacer: add initialization value to local variables
  core/arch/arm/plat-synquacer/rng_pta.c
Owners: @OP-TEE/linaro

drivers: clk: clk-stm32mp13: fix memory corruption on oscillator parent
  core/drivers/clk/clk-stm32mp13.c
Owners: @OP-TEE/linaro

drivers: regulator: do not cache voltage level value
  core/drivers/regulator/regulator.c
  core/include/drivers/regulator.h
Owners: @OP-TEE/linaro

plat-synquacer: add initialization value to local variables
  core/arch/arm/plat-synquacer/rng_pta.c
Owners: @OP-TEE/linaro

drivers: clk: clk-stm32mp13: fix memory corruption on oscillator parent
  core/drivers/clk/clk-stm32mp13.c
Owners: @OP-TEE/linaro
