Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

drivers: stm32_rng: check clock enable call
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

drivers: caam: add msg_type argument in DSA_SIGN/VERIFY macro
  core/drivers/crypto/caam/acipher/caam_dsa.c
  core/drivers/crypto/caam/acipher/caam_ecc.c
  core/drivers/crypto/caam/include/caam_desc_defines.h
  core/drivers/crypto/caam/include/caam_desc_helper.h
Owners: @OP-TEE/linaro

drivers: caam: Fix for TLS1.3 handshake failure
  core/drivers/crypto/caam/acipher/caam_ecc.c
  core/drivers/crypto/caam/crypto.mk
Owners: @OP-TEE/linaro

drivers: caam: add msg_type argument in DSA_SIGN/VERIFY macro
  core/drivers/crypto/caam/acipher/caam_dsa.c
  core/drivers/crypto/caam/acipher/caam_ecc.c
  core/drivers/crypto/caam/include/caam_desc_defines.h
  core/drivers/crypto/caam/include/caam_desc_helper.h
Owners: @OP-TEE/linaro

drivers: caam: Fix for TLS1.3 handshake failure
  core/drivers/crypto/caam/acipher/caam_ecc.c
  core/drivers/crypto/caam/crypto.mk
Owners: @OP-TEE/linaro

core: ffa: Clear FFA_MEM_RETRIEVE_RESP memory descriptor fields
  core/arch/arm/kernel/spmc_sp_handler.c
Owners: @OP-TEE/linaro

driver: crypto: hisilicon: Fix temporary memory risk
  core/drivers/crypto/hisilicon/hisi_qm.c
  core/drivers/crypto/hisilicon/include/hisi_qm.h
Owners: @OP-TEE/linaro

driver: crypto: hisilicon: Fix temporary memory risk
  core/drivers/crypto/hisilicon/hisi_qm.c
  core/drivers/crypto/hisilicon/include/hisi_qm.h
Owners: @OP-TEE/linaro

core: pta: check return value of tee_time_get_(sys|ree)_time()
  core/pta/stats.c
Owners: @OP-TEE/linaro

core: drivers: gpio: check return values from snprintf()
  core/drivers/gpio/gpio.c
Owners: @OP-TEE/linaro

core: crypto: sm3: fix undefined behavior on right shifting operation
  core/crypto/sm3.c
Owners: @OP-TEE/linaro

core: fix unintended sign extension
  core/kernel/user_access.c
Owners: @OP-TEE/linaro

core: initialize buffer with calloc()
  core/crypto/cbc-mac.c
Owners: @OP-TEE/linaro

core: initialize buffer with calloc()
  core/crypto/cbc-mac.c
Owners: @OP-TEE/linaro

core: drivers: gpio: check return values from snprintf()
  core/drivers/gpio/gpio.c
Owners: @OP-TEE/linaro

core: pta: check return value of tee_time_get_(sys|ree)_time()
  core/pta/stats.c
Owners: @OP-TEE/linaro

core: fix unintended sign extension
  core/kernel/user_access.c
Owners: @OP-TEE/linaro

core: crypto: sm3: fix undefined behavior on right shifting operation
  core/crypto/sm3.c
Owners: @OP-TEE/linaro

ta: pkcs11: treat bad KCV size as a bad value case
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: preserve object when set attribute fails
  ta/pkcs11/src/object.c
Owners: @OP-TEE/linaro

ta: pkcs11: treat bad KCV size as a bad value case
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: preserve object when set attribute fails
  ta/pkcs11/src/object.c
Owners: @OP-TEE/linaro

plat-vexpress: remove unnecessary includes
  core/arch/arm/plat-vexpress/main.c
Owners: @OP-TEE/plat-vexpress

core: remove unnecessary includes
  core/arch/arm/kernel/abort.c
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/link_dummies_paged.c
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/mm/mobj_dyn_shm.c
  core/arch/arm/tee/entry_fast.c
  core/crypto/aes-gcm-ghash-tbl.c
  core/crypto/crypto.c
  core/crypto/sm3-hmac.c
  core/drivers/clk/clk.c
  core/drivers/clk/clk_dt.c
  core/drivers/gpio/gpio.c
  core/kernel/console.c
  core/kernel/dt.c
  core/kernel/ree_fs_ta.c
  core/kernel/scall.c
  core/kernel/tee_misc.c
  core/kernel/tee_ta_manager.c
  core/kernel/tee_time.c
  core/kernel/user_ta.c
  core/kernel/wait_queue.c
  core/mm/mobj.c
  core/mm/vm.c
  core/pta/device.c
  core/pta/stats.c
  core/pta/system.c
  core/pta/tests/aes_perf.c
  core/pta/tests/dt_driver_test.c
  core/tee/tadb.c
  core/tee/tee_cryp_utl.c
  core/tee/tee_fs_key_manager.c
  core/tee/tee_fs_rpc.c
  core/tee/tee_obj.c
  core/tee/tee_pobj.c
  core/tee/tee_ree_fs.c
  core/tee/tee_svc_storage.c
  core/tee/tee_time_generic.c
Owners: @OP-TEE/linaro

ta: remove unnecessary includes
  ta/avb/entry.c
  ta/pkcs11/src/attributes.c
  ta/pkcs11/src/handle.c
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/sanitize_object.c
Owners: @OP-TEE/linaro

ldelf: remove unnecessary includes
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

riscv: mm: Set A/D bits of PTE(page table entry) by default
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro

core: arm: ffa: optionally use CFG_CORE_ASYNC_NOTIF_GIC_INTID
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

drivers: stm32_uart: fix incorrect USART_ISR_TXFE value
  core/drivers/stm32_uart.c
Owners: @OP-TEE/linaro

plat-vexpress: fvp: configure GIC redistributor base address
  core/arch/arm/plat-vexpress/platform_config.h
Owners: @OP-TEE/plat-vexpress

plat-vexpress: configure CFG_CORE_ASYNC_NOTIF_GIC_INTID
  core/arch/arm/plat-vexpress/conf.mk
  core/arch/arm/plat-vexpress/main.c
Owners: @OP-TEE/plat-vexpress

drivers: stm32_uart: fix incorrect USART_ISR_TXFE value
  core/drivers/stm32_uart.c
Owners: @OP-TEE/linaro

dts: sama5d2: add sfc node for the secure fuse controller
  core/arch/arm/dts/sama5d2.dtsi
Owners: @OP-TEE/linaro

plat-sam: enable nvmem support
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

core: dt_driver: add DT_DRIVER_NVMEM support
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

drivers: nvmem: add API for nvmem controllers
  core/drivers/nvmem/nvmem.c
  core/drivers/nvmem/sub.mk
  core/drivers/sub.mk
  core/include/drivers/nvmem.h
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: nvmem: add atmel_sfc driver
  core/drivers/nvmem/atmel_sfc.c
  core/drivers/nvmem/sub.mk
Owners: @OP-TEE/linaro

plat-vexpress: fvp: configure GIC redistributor base address
  core/arch/arm/plat-vexpress/platform_config.h
Owners: @OP-TEE/plat-vexpress

plat-vexpress: configure CFG_CORE_ASYNC_NOTIF_GIC_INTID
  core/arch/arm/plat-vexpress/conf.mk
  core/arch/arm/plat-vexpress/main.c
Owners: @OP-TEE/plat-vexpress

core: arm: ffa: optionally use CFG_CORE_ASYNC_NOTIF_GIC_INTID
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
