Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

libmbedtls: add interfaces in mbedtls for context memory operation
  lib/libmbedtls/mbedtls/include/mbedtls/cipher.h
  lib/libmbedtls/mbedtls/include/mbedtls/cipher_internal.h
  lib/libmbedtls/mbedtls/include/mbedtls/cmac.h
  lib/libmbedtls/mbedtls/library/cipher.c
  lib/libmbedtls/mbedtls/library/cipher_wrap.c
  lib/libmbedtls/mbedtls/library/cmac.c
  lib/libmbedtls/mbedtls/library/md.c
Owners: @OP-TEE/linaro

libmbedtls: fix no CRT issue
  lib/libmbedtls/mbedtls/library/rsa.c
Owners: @OP-TEE/linaro

libmbedtls: mbedtls_mpi_exp_mod() initialize W
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

mbedtls: remove default include/mbedtls/config.h
  lib/libmbedtls/mbedtls/include/mbedtls/config.h
Owners: @OP-TEE/linaro

libmbedtls: compile new files added with 2.28.1
  lib/libmbedtls/sub.mk
Owners: @OP-TEE/linaro

libmbedtls: add SM2 curve
  lib/libmbedtls/mbedtls/include/mbedtls/ecp.h
  lib/libmbedtls/mbedtls/library/ecp.c
  lib/libmbedtls/mbedtls/library/ecp_curves.c
Owners: @OP-TEE/linaro

mbedtls: remove default include/mbedtls/config.h
  lib/libmbedtls/mbedtls/include/mbedtls/config.h
Owners: @OP-TEE/linaro

mbedtls: configure mbedtls to reach for config
  lib/libmbedtls/mbedtls/include/mbedtls/config.h
Owners: @OP-TEE/linaro

libmbedtls: fix no CRT issue
  lib/libmbedtls/mbedtls/library/rsa.c
Owners: @OP-TEE/linaro

libmbedtls: add mbedtls_mpi_init_mempool()
  lib/libmbedtls/mbedtls/include/mbedtls/bignum.h
  lib/libmbedtls/mbedtls/library/bignum.c
  lib/libmbedtls/mbedtls/library/ecp.c
Owners: @OP-TEE/linaro

libmbedtls: add interfaces in mbedtls for context memory operation
  lib/libmbedtls/mbedtls/include/mbedtls/cipher.h
  lib/libmbedtls/mbedtls/include/mbedtls/cipher_internal.h
  lib/libmbedtls/mbedtls/include/mbedtls/cmac.h
  lib/libmbedtls/mbedtls/library/cipher.c
  lib/libmbedtls/mbedtls/library/cipher_wrap.c
  lib/libmbedtls/mbedtls/library/cmac.c
  lib/libmbedtls/mbedtls/library/md.c
Owners: @OP-TEE/linaro

libmbedtls: make mbedtls_mpi_mont*() available
  lib/libmbedtls/mbedtls/include/mbedtls/bignum.h
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmedtls: mpi_miller_rabin: increase count limit
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmbedtls: compile new files added with 2.28.1
  lib/libmbedtls/sub.mk
Owners: @OP-TEE/linaro

libmbedtls: mbedtls_mpi_exp_mod(): reduce stack usage
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmbedtls: mbedtls_mpi_exp_mod(): optimize mempool usage
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmbedtls: mbedtls_mpi_exp_mod() initialize W
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

core: link: add --no-warn-rwx-segments
  core/arch/arm/kernel/link.mk
Owners: @OP-TEE/linaro

libutils: util.h: add get_field_u{32,64}() and set_field_u{32,64}()
  lib/libutils/ext/include/util.h
Owners: @OP-TEE/linaro

plat-corstone1000: add corstone1000 platform
  .github/workflows/ci.yml
  MAINTAINERS
  core/arch/arm/plat-corstone1000/conf.mk
  core/arch/arm/plat-corstone1000/main.c
  core/arch/arm/plat-corstone1000/platform_config.h
  core/arch/arm/plat-corstone1000/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

drivers: imx_i2c: update the daisy chain setting for I2C1
  core/drivers/imx_i2c.c
Owners: @OP-TEE/linaro

core: link: add --no-warn-rwx-segments
  core/arch/arm/kernel/link.mk
Owners: @OP-TEE/linaro

plat-corstone1000: add corstone1000 platform
  .github/workflows/ci.yml
  MAINTAINERS
  core/arch/arm/plat-corstone1000/conf.mk
  core/arch/arm/plat-corstone1000/main.c
  core/arch/arm/plat-corstone1000/platform_config.h
  core/arch/arm/plat-corstone1000/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

core: mbedtls: Use a DRBG to speed up RSA key generation
  lib/libmbedtls/core/rsa.c
Owners: @OP-TEE/linaro

core: mbedtls: Use a DRBG to speed up RSA key generation
  lib/libmbedtls/core/rsa.c
Owners: @OP-TEE/linaro

core: mbedtls: Use a DRBG to speed up RSA key generation
  lib/libmbedtls/core/rsa.c
Owners: @OP-TEE/linaro

core: mbedtls: Add ECC signature size check
  lib/libmbedtls/core/ecc.c
Owners: @OP-TEE/linaro

drivers: se050: optional I2C access via trampoline
  core/drivers/crypto/se050/crypto.mk
  core/drivers/crypto/se050/glue/i2c.c
Owners: @OP-TEE/linaro

core: mbedtls: Add ECC signature size check
  lib/libmbedtls/core/ecc.c
Owners: @OP-TEE/linaro

drivers: se050: optional I2C access via trampoline
  core/drivers/crypto/se050/crypto.mk
  core/drivers/crypto/se050/glue/i2c.c
Owners: @OP-TEE/linaro

core: imx: simplify the error macro message
  core/arch/arm/plat-imx/imx-regs.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add imx93 registers
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/registers/imx93.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add imx93 SoC ID
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add support imx93evk platform
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

ci: add imx93evk build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: imx: simplify the error macro message
  core/arch/arm/plat-imx/imx-regs.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add support imx93evk platform
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

ci: add imx93evk build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: imx: add imx93 SoC ID
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add imx93 registers
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/registers/imx93.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue
