Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

drivers: crypto: ele: add plain-text asymmetric key generation
  core/drivers/crypto/ele/include/key_mgmt.h
  core/drivers/crypto/ele/key_mgmt.c
Owners: @OP-TEE/linaro

drivers: crypto: ele: add ECC drvcrypt driver for i.MX91/i.MX93
  core/drivers/crypto/ele/acipher/ecc.c
  core/drivers/crypto/ele/acipher/sub.mk
  core/drivers/crypto/ele/crypto.mk
  core/drivers/crypto/ele/ele.c
  core/drivers/crypto/ele/include/ecc.h
  core/drivers/crypto/ele/sub.mk
Owners: @OP-TEE/linaro

drivers: qcom: add OP-TEE-owned EL3 interrupt delegation for GICv2 platforms
  core/arch/arm/plat-qcom/bobcat/el3_intr_delegation.c
  core/arch/arm/plat-qcom/bobcat/el3_intr_delegation.h
  core/arch/arm/plat-qcom/bobcat/sub.mk
  core/arch/arm/plat-qcom/main.c
Owners: @OP-TEE/linaro

plat-qcom: ipq52xx: delegate GICv2-only secure interrupts to TF-A
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target.mk
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target_config.h
Owners: @OP-TEE/linaro

drivers: qcom: tlmm: add GPIO and pinctrl driver
  core/drivers/qcom/sub.mk
  core/drivers/qcom/tlmm/gpio.c
  core/drivers/qcom/tlmm/pinctrl.c
  core/drivers/qcom/tlmm/sub.mk
  core/drivers/qcom/tlmm/tlmm_priv.h
  core/include/drivers/qcom/tlmm/tlmm.h
Owners: @OP-TEE/linaro

drivers: qcom: tlmm: enable driver for Lemans
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
  core/arch/arm/plat-qcom/hoya/lemans/target_config.h
  core/drivers/qcom/tlmm/lemans/tlmm_soc_data.c
  core/drivers/qcom/tlmm/sub.mk
Owners: @OP-TEE/linaro

crypto: asu: fix RSASSA software fallback path
  core/drivers/crypto/asu_driver/asu_rsa.c
Owners: @OP-TEE/linaro

drivers: asu: fix dangling asu pointer use-after-free
  core/drivers/amd/asu/asu_main.c
Owners: @OP-TEE/linaro

core: riscv: rework _do_regs to take the register file as a parameter
  core/arch/riscv/include/riscv_macros.S
Owners: @OP-TEE/linaro

core: stmm: make the FF-A ABI version selectable
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/stmm_sp_ffa.c
  core/arch/arm/kernel/stmm_sp_ffa.h
  mk/config.mk
Owners: @OP-TEE/linaro

plat-tegra: use FF-A v1.1 for StandaloneMM
  core/arch/arm/plat-tegra/conf.mk
Owners: @OP-TEE/linaro

core: core.mk: Fix compiler error due to TEE_IMPL_GIT_SHA1 type
  core/core.mk
Owners: @OP-TEE/linaro

core: riscv: vfp: low-level save, restore and clear of the f registers
  core/arch/riscv/include/kernel/vfp.h
  core/arch/riscv/include/riscv.h
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/kernel/vfp_private.h
  core/arch/riscv/kernel/vfp_rv.S
  lib/libutils/ext/include/riscv.S
Owners: @OP-TEE/linaro

core: riscv: switch the REE FP context lazily at the domain boundary
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: vfp: own xstatus.FS from vfp_enable() and vfp_disable()
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/kernel/thread_rv.S
  core/arch/riscv/kernel/vfp.c
Owners: @OP-TEE/linaro

core: riscv: recognise the FP disabled trap from user mode
  core/arch/riscv/kernel/abort.c
Owners: @OP-TEE/linaro

core: riscv: enable FP context switching with CFG_WITH_VFP
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: riscv: give a TA the FP unit on first use
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: switch the REE vector context lazily at the domain boundary
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: enable vector context switching with CFG_RISCV_VEC
  core/arch/riscv/plat-virt/conf.mk
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: riscv: recognise the vector disabled trap from user mode
  core/arch/riscv/kernel/abort.c
Owners: @OP-TEE/linaro

core: riscv: vector: low-level save, restore and clear of the v registers
  core/arch/riscv/include/kernel/vector.h
  core/arch/riscv/include/riscv.h
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/kernel/asm-defines.c
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/kernel/vector_private.h
  core/arch/riscv/kernel/vector_rv.S
Owners: @OP-TEE/linaro

core: riscv: give a TA the vector unit on first use
  core/arch/arm/include/kernel/thread_arch.h
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/kernel/abort.c
  core/arch/riscv/kernel/thread_arch.c
  core/include/kernel/thread_private.h
  core/include/kernel/user_mode_ctx_struct.h
  core/kernel/ldelf_loader.c
  core/kernel/user_ta.c
Owners: @OP-TEE/linaro

core: riscv: vector: own VS from vector_enable() and vector_disable()
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/kernel/thread_rv.S
  core/arch/riscv/kernel/vector.c
Owners: @OP-TEE/linaro

core: ltc: fix DSA key generation error handling
  core/lib/libtomcrypt/dsa.c
Owners: @OP-TEE/linaro

drivers: add a RAM ring-buffer console (CFG_RAMCON)
  core/arch/arm/plat-rockchip/main.c
  core/drivers/ramcon.c
  core/drivers/sub.mk
  core/include/drivers/ramcon.h
  mk/config.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/linaro

drivers: rockchip_otp: ungate the OTP clocks before each access
  core/arch/arm/plat-rockchip/platform_config.h
  core/drivers/rockchip_otp.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/linaro

core: riscv: read hart index from thread_core_local in cpu_is_ready
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: release secondary harts after boot_init_secondary()
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: core.mk: Fix compiler error due to TEE_IMPL_GIT_SHA1 type
  core/core.mk
Owners: @OP-TEE/linaro

core: storage: propagate corrupt object removal errors
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

drivers: crypto: ele: add plain-text asymmetric key generation
  core/drivers/crypto/ele/include/key_mgmt.h
  core/drivers/crypto/ele/key_mgmt.c
Owners: @OP-TEE/linaro

plat-imx: enable ELE ECC driver for i.MX91 and i.MX93
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: crypto: ele: add plain-text ECDSA sign and verify
  core/drivers/crypto/ele/include/sign_verify.h
  core/drivers/crypto/ele/sign_verify.c
Owners: @OP-TEE/linaro

drivers: crypto: ele: add ECC drvcrypt driver for i.MX91/i.MX93
  core/drivers/crypto/ele/acipher/ecc.c
  core/drivers/crypto/ele/acipher/sub.mk
  core/drivers/crypto/ele/crypto.mk
  core/drivers/crypto/ele/ele.c
  core/drivers/crypto/ele/include/ecc.h
  core/drivers/crypto/ele/sub.mk
Owners: @OP-TEE/linaro

core: ltc: fix DSA key generation error handling
  core/lib/libtomcrypt/dsa.c
Owners: @OP-TEE/linaro

core: riscv: read hart index from thread_core_local in cpu_is_ready
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: release secondary harts after boot_init_secondary()
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: kernel: dt_driver: add mailbox device support
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

core: riscv: rework _do_regs to take the register file as a parameter
  core/arch/riscv/include/riscv_macros.S
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
