Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: microchip_pit: add driver for sama7g54's pit64b
  core/arch/arm/plat-sam/conf.mk
  core/drivers/microchip_pit.c
  core/drivers/sub.mk
Owners: @OP-TEE/plat-sam, @nodeax, @OP-TEE/linaro

drivers: clk: sam: extend the time for waiting PLL ready
  core/drivers/clk/sam/clk-sam9x60-pll.c
Owners: @OP-TEE/linaro

plat-telechips: Add initial support for Telechips platform (TCC805x)
  MAINTAINERS
  core/arch/arm/plat-telechips/conf.mk
  core/arch/arm/plat-telechips/drivers/include/drivers/tcc_omc.h
  core/arch/arm/plat-telechips/drivers/include/drivers/tcc_otp.h
  core/arch/arm/plat-telechips/drivers/sub.mk
  core/arch/arm/plat-telechips/drivers/tcc_omc.c
  core/arch/arm/plat-telechips/drivers/tcc_otp.c
  core/arch/arm/plat-telechips/link.mk
  core/arch/arm/plat-telechips/main.c
  core/arch/arm/plat-telechips/plat_tzc.c
  core/arch/arm/plat-telechips/scripts/tcmktool.py
  core/arch/arm/plat-telechips/sub.mk
  core/arch/arm/plat-telechips/tcc805x/otprom.h
  core/arch/arm/plat-telechips/tcc805x/platform_config.h
Owners: @OP-TEE/approvers, @OP-TEE/linaro

core: applies FF-A v1.2 features on StandaloneMm
  core/arch/arm/include/ffa.h
  core/arch/arm/kernel/stmm_sp.c
  mk/config.mk
Owners: @OP-TEE/linaro

[Review] core: fix checkpatch warnings
  core/kernel/ubsan.c
Owners: @OP-TEE/linaro

plat-rockchip: rk3588: add TRNG support
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rk3588.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

drivers: caam: Add SEQ FIFO Load
  core/drivers/crypto/caam/caam_desc.c
  core/drivers/crypto/caam/include/caam_desc_defines.h
  core/drivers/crypto/caam/include/caam_desc_helper.h
Owners: @OP-TEE/linaro

drivers: caam: Update CCB Clear Written Register
  core/drivers/crypto/caam/include/caam_desc_ccb_defines.h
Owners: @OP-TEE/linaro

drivers: caam: Add caam_cpy_buf_src()
  core/drivers/crypto/caam/cipher/caam_cipher.c
  core/drivers/crypto/caam/include/caam_utils_mem.h
  core/drivers/crypto/caam/utils/utils_mem.c
Owners: @OP-TEE/linaro

drivers: caam: Add AES GCM
  core/drivers/crypto/caam/ae/caam_ae.c
  core/drivers/crypto/caam/ae/caam_ae_gcm.c
  core/drivers/crypto/caam/ae/local.h
  core/drivers/crypto/caam/ae/sub.mk
  core/drivers/crypto/caam/caam_ctrl.c
  core/drivers/crypto/caam/crypto.mk
  core/drivers/crypto/caam/include/caam_ae.h
  core/drivers/crypto/caam/include/caam_trace.h
  core/drivers/crypto/caam/sub.mk
Owners: @OP-TEE/linaro

drivers: caam: Add AES CCM
  core/drivers/crypto/caam/ae/caam_ae.c
  core/drivers/crypto/caam/ae/caam_ae_ccm.c
  core/drivers/crypto/caam/ae/local.h
  core/drivers/crypto/caam/ae/sub.mk
Owners: @OP-TEE/linaro

drivers: caam: introduce AE_CCM and AE_GCM compilation flags
  core/drivers/crypto/caam/ae/caam_ae.c
  core/drivers/crypto/caam/ae/sub.mk
  core/drivers/crypto/caam/crypto.mk
  core/drivers/crypto/caam/sub.mk
Owners: @OP-TEE/linaro

ci: update imx-mx8mmevk compilation command in case of se050 enabled
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: update imx-mx8mmevk compilation command in case of se050 enabled
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: caam: Update CCB Clear Written Register
  core/drivers/crypto/caam/include/caam_desc_ccb_defines.h
Owners: @OP-TEE/linaro

drivers: caam: introduce AE_CCM and AE_GCM compilation flags
  core/drivers/crypto/caam/ae/caam_ae.c
  core/drivers/crypto/caam/ae/sub.mk
  core/drivers/crypto/caam/crypto.mk
  core/drivers/crypto/caam/sub.mk
Owners: @OP-TEE/linaro

drivers: caam: Add caam_cpy_buf_src()
  core/drivers/crypto/caam/cipher/caam_cipher.c
  core/drivers/crypto/caam/include/caam_utils_mem.h
  core/drivers/crypto/caam/utils/utils_mem.c
Owners: @OP-TEE/linaro

drivers: caam: Add AES CCM
  core/drivers/crypto/caam/ae/caam_ae.c
  core/drivers/crypto/caam/ae/caam_ae_ccm.c
  core/drivers/crypto/caam/ae/local.h
  core/drivers/crypto/caam/ae/sub.mk
Owners: @OP-TEE/linaro

drivers: caam: Add SEQ FIFO Load
  core/drivers/crypto/caam/caam_desc.c
  core/drivers/crypto/caam/include/caam_desc_defines.h
  core/drivers/crypto/caam/include/caam_desc_helper.h
Owners: @OP-TEE/linaro

drivers: caam: Add AES GCM
  core/drivers/crypto/caam/ae/caam_ae.c
  core/drivers/crypto/caam/ae/caam_ae_gcm.c
  core/drivers/crypto/caam/ae/local.h
  core/drivers/crypto/caam/ae/sub.mk
  core/drivers/crypto/caam/caam_ctrl.c
  core/drivers/crypto/caam/crypto.mk
  core/drivers/crypto/caam/include/caam_ae.h
  core/drivers/crypto/caam/include/caam_trace.h
  core/drivers/crypto/caam/sub.mk
Owners: @OP-TEE/linaro

ci: add Rockchip RK3588 build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ta: pkcs11: set TA version ID to 1.0.0
  ta/pkcs11/include/pkcs11_ta.h
Owners: @OP-TEE/linaro

core: mm: add memory area type of transfer list
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

ta: pkcs11: set TA version ID to 1.0.0
  ta/pkcs11/include/pkcs11_ta.h
Owners: @OP-TEE/linaro

ta: avb: Add TA version and description property values
  ta/avb/user_ta_header_defines.h
Owners: @OP-TEE/linaro

ta: trusted_keys: Add TA version and description property values
  ta/trusted_keys/user_ta_header_defines.h
Owners: @OP-TEE/linaro

plat-telechips: Add initial support for Telechips platform (TCC805x)
  .github/workflows/ci.yml
  MAINTAINERS
  core/arch/arm/plat-telechips/conf.mk
  core/arch/arm/plat-telechips/drivers/include/drivers/tcc_otp.h
  core/arch/arm/plat-telechips/drivers/sub.mk
  core/arch/arm/plat-telechips/drivers/tcc_otp.c
  core/arch/arm/plat-telechips/link.mk
  core/arch/arm/plat-telechips/main.c
  core/arch/arm/plat-telechips/plat_tzc.c
  core/arch/arm/plat-telechips/scripts/tcmktool.py
  core/arch/arm/plat-telechips/sub.mk
  core/arch/arm/plat-telechips/tcc805x/otprom.h
  core/arch/arm/plat-telechips/tcc805x/platform_config.h
  core/drivers/openedges_omc.c
  core/drivers/sub.mk
  core/include/drivers/openedges_omc.h
Owners: @OP-TEE/approvers, @OP-TEE/linaro

drivers: crypto: hisilicon: add pbkdf2 algorithm
  core/arch/arm/plat-d06/conf.mk
  core/drivers/crypto/hisilicon/crypto.mk
  core/drivers/crypto/hisilicon/sec_pbkdf2.c
  core/drivers/crypto/hisilicon/sec_pbkdf2.h
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

ta: pkcs11: fix CKM_RSA_X_509 signature size verification
  ta/pkcs11/src/processing_asymm.c
Owners: @OP-TEE/linaro

drivers: crypto: hisilicon: add pbkdf2 algorithm
  core/arch/arm/plat-d06/conf.mk
  core/drivers/crypto/hisilicon/crypto.mk
  core/drivers/crypto/hisilicon/sec_pbkdf2.c
  core/drivers/crypto/hisilicon/sec_pbkdf2.h
  core/drivers/crypto/hisilicon/sub.mk
Owners: @OP-TEE/linaro

plat-telechips: Add initial support for Telechips platform (TCC805x)
  .github/workflows/ci.yml
  MAINTAINERS
  core/arch/arm/plat-telechips/conf.mk
  core/arch/arm/plat-telechips/drivers/include/drivers/tcc_otp.h
  core/arch/arm/plat-telechips/drivers/sub.mk
  core/arch/arm/plat-telechips/drivers/tcc_otp.c
  core/arch/arm/plat-telechips/link.mk
  core/arch/arm/plat-telechips/main.c
  core/arch/arm/plat-telechips/plat_tzc.c
  core/arch/arm/plat-telechips/scripts/tcmktool.py
  core/arch/arm/plat-telechips/sub.mk
  core/arch/arm/plat-telechips/tcc805x/otprom.h
  core/arch/arm/plat-telechips/tcc805x/platform_config.h
  core/drivers/openedges_omc.c
  core/drivers/sub.mk
  core/include/drivers/openedges_omc.h
Owners: @OP-TEE/approvers, @OP-TEE/linaro

tree-wide: use ROUNDUP_DIV() where applicable
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/mm/core_mmu_v7.c
  core/arch/arm/mm/mobj_ffa.c
  core/arch/arm/mm/sp_mem.c
  core/drivers/crypto/crypto_api/acipher/rsassa.c
  core/drivers/imx/dcp/dcp.c
  core/kernel/ldelf_loader.c
  core/lib/libtomcrypt/mpi_desc.c
  core/mm/fobj.c
  core/tee/tee_ree_fs.c
  core/tee/tee_rpmb_fs.c
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/processing_aes.c
  ta/pkcs11/src/processing_rsa.c
  ta/pkcs11/src/token_capabilities.c
Owners: @OP-TEE/linaro

ta: avb: Add TA version and description property values
  ta/avb/user_ta_header_defines.h
Owners: @OP-TEE/linaro

ta: trusted_keys: Add TA version and description property values
  ta/trusted_keys/user_ta_header_defines.h
Owners: @OP-TEE/linaro

core: fix undefined reference to ubsan function
  core/kernel/ubsan.c
Owners: @OP-TEE/linaro

core: fix gcc warnings in ubsan
  core/kernel/ubsan.c
Owners: @OP-TEE/linaro

core: fix error in ubsan_builtin_unreachable naming
  core/kernel/ubsan.c
Owners: @OP-TEE/linaro

core: refactor ubsan panic code
  core/kernel/ubsan.c
Owners: @OP-TEE/linaro

libutils: util.h: add usage description to {get,set}_field_u{32,64}()
  lib/libutils/ext/include/util.h
Owners: @OP-TEE/linaro

drivers: clk: sam: rename the sama7g5 UTMI clocks for USB PHY
  core/drivers/clk/sam/sama7g5_clk.c
Owners: @OP-TEE/linaro
