Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

drivers: imx: dcp: clear OTP_KEY bit for unique key selection
  core/drivers/imx/dcp/dcp.c
Owners: @OP-TEE/linaro

ta: pkcs11: fix use-after-free in close_ck_session() when CFG_TEE_TA_LOG_LEVEL >= 3
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

build: use CFLAGS_ta_armXX etc. when building in-tree TAs
  ta/mk/build-user-ta.mk
Owners: @OP-TEE/linaro

core: crypto: mte: strip tag before calling vm_check_access_rights()
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: ffa: Enable handling 64-bit direct messages
  core/arch/arm/kernel/spmc_sp_handler.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

plat-synquacer: rename rng_pta.h to synquacer_rng_pta.h
  core/arch/arm/plat-synquacer/main.c
  core/arch/arm/plat-synquacer/rng_pta.c
  core/arch/arm/plat-synquacer/rng_pta.h
  core/arch/arm/plat-synquacer/synquacer_rng_pta.h
Owners: @OP-TEE/linaro

pta: rng: rename rng_pta_client.h to pta_rng.h
  core/arch/arm/plat-synquacer/rng_pta.c
  core/pta/hwrng.c
  lib/libutee/include/pta_rng.h
  lib/libutee/include/rng_pta_client.h
Owners: @OP-TEE/linaro

core: ffa: Enable handling 64-bit direct messages
  core/arch/arm/kernel/spmc_sp_handler.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

plat-zynqmp: Added __nex_bss symbol for virtualization support
  core/arch/arm/plat-zynqmp/main.c
Owners: @OP-TEE/plat-zynqmp

core: crypto: mte: strip tag before calling vm_check_access_rights()
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: remove thread exceptions masking under spinlock
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: init rng before service initcall level
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

plat-stm32mp1: seed PRNG with initialized rng device
  core/arch/arm/plat-stm32mp1/rng_seed.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: don't export stm32_rng_read_raw()
  core/drivers/stm32_rng.c
  core/include/drivers/stm32_rng.h
Owners: @OP-TEE/linaro

drivers: stm32_rng: remove millisecond timeout with interrupts masked
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: helper trace in rng path
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: register as hwrng source
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: implement plat_rng_init()
  core/arch/arm/plat-stm32mp1/rng_seed.c
  core/arch/arm/plat-stm32mp1/sub.mk
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

plat-stm32mp1: support rng pta with secure RNG source
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

plat-zynqmp: Added __nex_bss symbol for virtualization support
  core/arch/arm/plat-zynqmp/main.c
Owners: @OP-TEE/plat-zynqmp

imx_ocotp: correct ocotp fuse address computation
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

imx_ocotp: correct ocotp fuse address computation
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: register as hwrng source
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: helper trace in rng path
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: don't export stm32_rng_read_raw()
  core/drivers/stm32_rng.c
  core/include/drivers/stm32_rng.h
Owners: @OP-TEE/linaro

plat-stm32mp1: support rng pta with secure RNG source
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

drivers: stm32_rng: remove thread exceptions masking under spinlock
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: remove millisecond timeout with interrupts masked
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: implement plat_rng_init()
  core/arch/arm/plat-stm32mp1/rng_seed.c
  core/arch/arm/plat-stm32mp1/sub.mk
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

drivers: stm32_rng: init rng before service initcall level
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

plat-stm32mp1: seed PRNG with initialized rng device
  core/arch/arm/plat-stm32mp1/rng_seed.c
Owners: @OP-TEE/linaro

plat-sam: split SFR code out of main.c file
  core/arch/arm/plat-sam/main.c
  core/arch/arm/plat-sam/sam_sfr.c
  core/arch/arm/plat-sam/sub.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: sfr: simplify code for sam_sfr_base()
  core/arch/arm/plat-sam/sam_sfr.c
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: sfr: set as secure if specified by the device-tree
  core/arch/arm/plat-sam/sam_sfr.c
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: sfr: add function to set usb suspend
  core/arch/arm/plat-sam/sam_sfr.c
  core/arch/arm/plat-sam/sam_sfr.h
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: nsec-service: handle SMC to set USB suspend
  core/arch/arm/plat-sam/nsec-service/sm_platform_handler.c
  core/arch/arm/plat-sam/nsec-service/smc_ids.h
Owners: @OP-TEE/plat-sam, @nodeax

core: pager: fix tzsram_end in init_runtime()
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

core: pager: fix get_linear_map_end()
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: pager: fix tzsram_end in init_runtime()
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

core: pager: fix get_linear_map_end()
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
