Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: hi16xx_rng: replace mutex with spinlock
  core/drivers/hi16xx_rng.c
Owners: @OP-TEE/linaro

Use inttypes.h over stdint.h on some .h files
  lib/libutee/include/tee_api_types.h
  lib/libutils/ext/include/util.h
Owners: @OP-TEE/linaro

Use inttypes.h over stdint.h on some .h files
  lib/libutee/include/tee_api_types.h
  lib/libutils/ext/include/util.h
Owners: @OP-TEE/linaro

core: define syscall_t as void (*)(void)
  core/arch/arm/tee/arch_svc.c
  core/arch/arm/tee/arch_svc_private.h
Owners: @OP-TEE/linaro

core: define syscall_t as void (*)(void)
  core/arch/arm/tee/arch_svc.c
  core/arch/arm/tee/arch_svc_private.h
Owners: @OP-TEE/linaro

mk/config.mk: remove obsolete comment
  mk/config.mk
Owners: @OP-TEE/linaro

mk/config.mk: remove obsolete comment
  mk/config.mk
Owners: @OP-TEE/linaro

ci: shippable: build with CFG_TEE_CORE_LOG_LEVEL=0
  .shippable.yml
Owners: @OP-TEE/linaro

core: unwind: correct function args for print_stack_arm32/64
  core/arch/arm/include/kernel/unwind.h
Owners: @OP-TEE/linaro

core: unwind: correct function args for print_stack_arm32/64
  core/arch/arm/include/kernel/unwind.h
Owners: @OP-TEE/linaro

ci: shippable: build with CFG_TEE_CORE_LOG_LEVEL=0
  .shippable.yml
Owners: @OP-TEE/linaro

user_ta: should go for other TA stores on any load error
  core/arch/arm/kernel/user_ta.c
Owners: @OP-TEE/linaro

plat-imx: make platform flavor list diff friendly
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

plat-imx: add i.MX6 Hummingboard Edge platform flavors
  README.md
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/platform_config.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

MAINTAINERS: Change maintainer for Marvell Armada
  MAINTAINERS
Owners: @OP-TEE/approvers

ta: link.mk: discard library ordering
  ta/arch/arm/link.mk
Owners: @OP-TEE/linaro

Use per $(sm) unique FORCE-GENSRC
  mk/compile.mk
  mk/subdir.mk
Owners: @OP-TEE/linaro

ta: link.mk: drop support for variable LDFLAGS
  ta/arch/arm/link.mk
Owners: @OP-TEE/linaro

ta: prepare for in-tree ta building
  ta/arch/arm/link.mk
  ta/mk/ta_dev_kit.mk
Owners: @OP-TEE/linaro

ta: support variables user-ta-{uuid,ldadd}
  ta/arch/arm/link.mk
  ta/mk/ta_dev_kit.mk
Owners: @OP-TEE/linaro

Add CFG_IN_TREE_EARLY_TAS
  core/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

Add support for compiling in-tree TAs
  Makefile
  mk/compile.mk
  ta/arch/arm/link.mk
  ta/mk/build-user-ta.mk
Owners: @OP-TEE/linaro

ta: add AVB TA
  ta/avb/Makefile
  ta/avb/entry.c
  ta/avb/include/ta_avb.h
  ta/avb/sub.mk
  ta/avb/user_ta.mk
  ta/avb/user_ta_header_defines.h
Owners: @OP-TEE/linaro

plat-hikey: embed ta/avb as early TA
  core/arch/arm/plat-hikey/conf.mk
Owners: @OP-TEE/plat-hikey

MAINTAINERS: Change maintainer for Marvell Armada
  MAINTAINERS
Owners: @OP-TEE/approvers

ta: link.mk: discard library ordering
  ta/arch/arm/link.mk
Owners: @OP-TEE/linaro

ta: prepare for in-tree ta building
  ta/arch/arm/link.mk
  ta/mk/ta_dev_kit.mk
Owners: @OP-TEE/linaro

Add CFG_IN_TREE_EARLY_TAS
  core/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

Use per $(sm) unique FORCE-GENSRC
  mk/compile.mk
  mk/subdir.mk
Owners: @OP-TEE/linaro

ta: add AVB TA
  ta/avb/Makefile
  ta/avb/entry.c
  ta/avb/include/ta_avb.h
  ta/avb/sub.mk
  ta/avb/user_ta.mk
  ta/avb/user_ta_header_defines.h
Owners: @OP-TEE/linaro

ta: link.mk: drop support for variable LDFLAGS
  ta/arch/arm/link.mk
Owners: @OP-TEE/linaro

plat-hikey: embed ta/avb as early TA
  core/arch/arm/plat-hikey/conf.mk
Owners: @OP-TEE/plat-hikey

Add support for compiling in-tree TAs
  Makefile
  mk/compile.mk
  ta/arch/arm/link.mk
  ta/mk/build-user-ta.mk
Owners: @OP-TEE/linaro

ta: support variables user-ta-{uuid,ldadd}
  ta/arch/arm/link.mk
  ta/mk/ta_dev_kit.mk
Owners: @OP-TEE/linaro

plat-imx: add i.MX6 Hummingboard Edge platform flavors
  README.md
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/platform_config.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

plat-imx: make platform flavor list diff friendly
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

ci: travis: do not build with legacy compiler (GCC 4.9) anymore
  .travis.yml
Owners: @OP-TEE/linaro

imx: wdog: correct wdog_path
  core/drivers/imx_wdog.c
Owners: @OP-TEE/linaro

imx: wdog: correct wdog_path
  core/drivers/imx_wdog.c
Owners: @OP-TEE/linaro

aosp_optee.mk: Fix compilation for build outside of source
  mk/aosp_optee.mk
Owners: @OP-TEE/linaro
