Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: kernel: move timer.h to core/include/kernel
  core/include/kernel/timer.h
Owners: @OP-TEE/linaro

ta: pkcs11: relocate shared session object db to client session
  ta/pkcs11/src/object.c
  ta/pkcs11/src/object.h
  ta/pkcs11/src/persistent_token.c
  ta/pkcs11/src/pkcs11_token.c
  ta/pkcs11/src/pkcs11_token.h
Owners: @OP-TEE/linaro

ta: pkcs11: relocate shared session object db to client session
  ta/pkcs11/src/object.c
  ta/pkcs11/src/object.h
  ta/pkcs11/src/persistent_token.c
  ta/pkcs11/src/pkcs11_token.c
  ta/pkcs11/src/pkcs11_token.h
Owners: @OP-TEE/linaro

libutee: add NULL pointer check in TEE_OpenPersistentObject()
  lib/libutee/tee_api_objects.c
Owners: @OP-TEE/linaro

plat-ls: Add DSPI driver for NXP LS Platforms
  MAINTAINERS
  core/arch/arm/plat-ls/conf.mk
  core/drivers/ls_dspi.c
  core/drivers/sub.mk
  core/include/drivers/ls_dspi.h
Owners: @OP-TEE/approvers, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/linaro

plat-ls: Add DSPI driver for NXP LS Platforms
  MAINTAINERS
  core/arch/arm/plat-ls/conf.mk
  core/drivers/ls_dspi.c
  core/drivers/sub.mk
  core/include/drivers/ls_dspi.h
Owners: @OP-TEE/approvers, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/linaro

libutee: add NULL pointer check in TEE_OpenPersistentObject()
  lib/libutee/tee_api_objects.c
Owners: @OP-TEE/linaro

ta: pkcs11: Fix error code returned by entry_processing_key()
  ta/pkcs11/src/processing.c
Owners: @OP-TEE/linaro

ta: pkcs11: Fix error code returned by entry_processing_key()
  ta/pkcs11/src/processing.c
Owners: @OP-TEE/linaro

ta: pkcs11: Add debug helper for PKCS11_CKR_ATTRIBUTE_SENSITIVE
  ta/pkcs11/src/pkcs11_helpers.c
Owners: @OP-TEE/linaro

ta: pkcs11: Add API for releasing active processing
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/pkcs11_attributes.h
  ta/pkcs11/src/pkcs11_helpers.c
  ta/pkcs11/src/processing.c
  ta/pkcs11/src/processing.h
Owners: @OP-TEE/linaro

ta: pkcs11: Add support for digest operations
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/pkcs11_attributes.h
  ta/pkcs11/src/pkcs11_helpers.c
  ta/pkcs11/src/processing.c
  ta/pkcs11/src/processing.h
  ta/pkcs11/src/processing_digest.c
  ta/pkcs11/src/sub.mk
  ta/pkcs11/src/token_capabilities.c
Owners: @OP-TEE/linaro

ta: pkcs11: Make it possible to disable support for C_DigestKey()
  mk/config.mk
  ta/pkcs11/src/processing_digest.c
Owners: @OP-TEE/linaro

ta: pkcs11: Add support for digest operations
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/pkcs11_attributes.h
  ta/pkcs11/src/pkcs11_helpers.c
  ta/pkcs11/src/processing.c
  ta/pkcs11/src/processing.h
  ta/pkcs11/src/processing_digest.c
  ta/pkcs11/src/sub.mk
  ta/pkcs11/src/token_capabilities.c
Owners: @OP-TEE/linaro

ta: pkcs11: Add debug helper for PKCS11_CKR_ATTRIBUTE_SENSITIVE
  ta/pkcs11/src/pkcs11_helpers.c
Owners: @OP-TEE/linaro

ta: pkcs11: Add API for releasing active processing
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/pkcs11_attributes.h
  ta/pkcs11/src/pkcs11_helpers.c
  ta/pkcs11/src/processing.c
  ta/pkcs11/src/processing.h
Owners: @OP-TEE/linaro

ta: pkcs11: Make it possible to disable support for C_DigestKey()
  mk/config.mk
  ta/pkcs11/src/processing_digest.c
Owners: @OP-TEE/linaro

drivers: gic: fix the off-by-one error
  core/drivers/gic.c
Owners: @OP-TEE/linaro

drivers: gic: fix the off-by-one error
  core/drivers/gic.c
Owners: @OP-TEE/linaro

core: kernel: pm.c: add missing header stdlib.h
  core/kernel/pm.c
Owners: @OP-TEE/linaro

core: mm: move core_memprot.h to core/include/mm
  core/include/mm/core_memprot.h
Owners: @OP-TEE/linaro

core: driver: stpmic1: do not use TEE_Result as return type
  core/drivers/stpmic1.c
  core/include/drivers/stpmic1.h
Owners: @OP-TEE/linaro

core: drivers: stm32_rng.c: include thread.h
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

core: mm: move core_memprot.h to core/include/mm
  core/include/mm/core_memprot.h
Owners: @OP-TEE/linaro

core: drivers: stm32_rng.c: include thread.h
  core/drivers/stm32_rng.c
Owners: @OP-TEE/linaro

core: driver: stpmic1: do not use TEE_Result as return type
  core/drivers/stpmic1.c
  core/include/drivers/stpmic1.h
Owners: @OP-TEE/linaro

core: kernel: pm.c: add missing header stdlib.h
  core/kernel/pm.c
Owners: @OP-TEE/linaro

core: remove memory copy when TA invokes another TA
  core/tee/tee_svc.c
Owners: @OP-TEE/linaro

drivers: imx_rngb: random number generator
  core/arch/arm/plat-imx/registers/imx6.h
  core/drivers/imx_rngb.c
  core/drivers/sub.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

MAINTAINERS: imx_rngb maintained
  MAINTAINERS
Owners: @OP-TEE/approvers

shippable: add CFG_IMX_RNGB
  .shippable.yml
Owners: @OP-TEE/linaro

azure: add CFG_IMX_RNGB
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

shippable: add CFG_IMX_RNGB
  .shippable.yml
Owners: @OP-TEE/linaro

MAINTAINERS: imx_rngb maintained
  MAINTAINERS
Owners: @OP-TEE/approvers

drivers: imx_rngb: random number generator
  core/arch/arm/plat-imx/registers/imx6.h
  core/drivers/imx_rngb.c
  core/drivers/sub.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

azure: add CFG_IMX_RNGB
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

plat-stm32mp1: update from deprecated register_dynamic_shm()
  core/arch/arm/plat-stm32mp1/main.c
Owners: @OP-TEE/linaro

plat-stm32mp1: simplify device memory mapping
  core/arch/arm/plat-stm32mp1/main.c
  core/arch/arm/plat-stm32mp1/platform_config.h
Owners: @OP-TEE/linaro

drivers: scmi-msg: define CFG_SCMI_MSG_VOLTAGE_DOMAIN in mk/config.mk
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: scmi-msg: rename agent_id to channel_id
  core/arch/arm/plat-stm32mp1/scmi_server.c
  core/drivers/scmi-msg/base.c
  core/drivers/scmi-msg/clock.c
  core/drivers/scmi-msg/common.h
  core/drivers/scmi-msg/entry.c
  core/drivers/scmi-msg/reset_domain.c
  core/drivers/scmi-msg/smt.c
  core/drivers/scmi-msg/voltage_domain.c
  core/include/drivers/scmi-msg.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
