Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

plat-ls:add LS2088ARDB platform flavors
  .shippable.yml
  MAINTAINERS
  README.md
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/linaro, @OP-TEE/approvers, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

plat-ls:add LS1088ARDB platform flavors
  .shippable.yml
  MAINTAINERS
  README.md
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/linaro, @OP-TEE/approvers, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

plat-ls:add LS1012AFRWY platform flavors
  .shippable.yml
  MAINTAINERS
  README.md
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/linaro, @OP-TEE/approvers, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

Updating MAINTAINERS for LS1046A-RDB, LS1043A-RDB, LS1021
  MAINTAINERS
Owners: @OP-TEE/approvers

core:arch:arm:plat-ls: make generic layout for all platforms
  .shippable.yml
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

plat-ls:add LS2088ARDB platform flavors
  .shippable.yml
  MAINTAINERS
  README.md
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/linaro, @OP-TEE/approvers, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

core:arch:arm:plat-ls: remove platform specific function get_core_pos_mpidr
  core/arch/arm/plat-ls/ls_core_pos_a32.S
  core/arch/arm/plat-ls/ls_core_pos_a64.S
  core/arch/arm/plat-ls/sub.mk
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

core: arm: sm: fix FIQ from normal world
  core/arch/arm/sm/sm_a32.S
Owners: @OP-TEE/linaro

core: arm: sm: optimize padding in struct sm_ctx
  core/arch/arm/include/sm/sm.h
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/sm/sm.c
  core/arch/arm/sm/sm_a32.S
Owners: @OP-TEE/linaro

core: rename to read_pmu_ccnt() to read_pmccntr()
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm64.h
  core/arch/arm/pta/benchmark.c
Owners: @OP-TEE/linaro

core: rename read_idpfr1() to read_id_pfr1()
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/sm/sm_a32.S
Owners: @OP-TEE/linaro

core: arm32: generate system register access code
  core/arch/arm/arm.mk
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/kernel/arm32_sysreg.txt
  scripts/arm32_sysreg.py
Owners: @OP-TEE/linaro

core: arm: sm: fix FIQ from normal world
  core/arch/arm/sm/sm_a32.S
Owners: @OP-TEE/linaro

core: arm: sm: optimize padding in struct sm_ctx
  core/arch/arm/include/sm/sm.h
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/sm/sm.c
  core/arch/arm/sm/sm_a32.S
Owners: @OP-TEE/linaro

core: arm32: generate gicv3 register access code
  core/arch/arm/arm.mk
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/kernel/arm32_gicv3_sysreg.txt
Owners: @OP-TEE/linaro

core: arm32: generate system register access code
  core/arch/arm/arm.mk
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/kernel/arm32_sysreg.txt
  scripts/arm32_sysreg.py
Owners: @OP-TEE/linaro

core: rename read_idpfr1() to read_id_pfr1()
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/sm/sm_a32.S
Owners: @OP-TEE/linaro

core: rename to read_pmu_ccnt() to read_pmccntr()
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm64.h
  core/arch/arm/pta/benchmark.c
Owners: @OP-TEE/linaro

core: arm32: generate gicv3 register access code
  core/arch/arm/arm.mk
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/kernel/arm32_gicv3_sysreg.txt
Owners: @OP-TEE/linaro

ta: link.mk: filter out dependency and command files from $(MAKEFILE_LIST)
  ta/arch/arm/link.mk
Owners: @OP-TEE/linaro

ta: link.mk: filter out dependency and command files from $(MAKEFILE_LIST)
  ta/arch/arm/link.mk
Owners: @OP-TEE/linaro

plat-rpi3: Modify addresses to work with upstream TF-A.
  core/arch/arm/plat-rpi3/platform_config.h
Owners: @OP-TEE/plat-rpi3

plat-rpi3: Modify addresses to work with upstream TF-A.
  core/arch/arm/plat-rpi3/platform_config.h
Owners: @OP-TEE/plat-rpi3

porting guide: fix path
  documentation/porting_guidelines.md
Owners: @OP-TEE/linaro

porting guide: fix path
  documentation/porting_guidelines.md
Owners: @OP-TEE/linaro

libmbedtls: support mbedtls hash algorithm
  lib/libmbedtls/core/tee_lmd_provider.c
  lib/libmbedtls/include/mbedtls_config_kernel.h
Owners: @OP-TEE/linaro

libmbedtls: add interfaces in mbedtls for context memory operation
  lib/libmbedtls/mbedtls/include/mbedtls/cipher.h
  lib/libmbedtls/mbedtls/include/mbedtls/cipher_internal.h
  lib/libmbedtls/mbedtls/include/mbedtls/cmac.h
  lib/libmbedtls/mbedtls/library/cipher.c
  lib/libmbedtls/mbedtls/library/cipher_wrap.c
  lib/libmbedtls/mbedtls/library/cmac.c
  lib/libmbedtls/mbedtls/library/md.c
Owners: @OP-TEE/linaro

libmbedtls: support symmetrical ciphers
  lib/libmbedtls/core/tee_lmd_provider.c
  lib/libmbedtls/include/mbedtls_config_kernel.h
Owners: @OP-TEE/linaro

core: add encrypt key length in aes encrypt api
  core/crypto/aes-gcm-sw.c
  core/include/crypto/crypto.h
  core/lib/libtomcrypt/src/tee_ltc_provider.c
Owners: @OP-TEE/linaro

libmbedtls: implement AES encrypt api
  lib/libmbedtls/core/tee_lmd_provider.c
Owners: @OP-TEE/linaro

libmbedtls: support mbedtls HMAC algorithm
  lib/libmbedtls/core/tee_lmd_provider.c
  lib/libmbedtls/include/mbedtls_config_kernel.h
Owners: @OP-TEE/linaro

libmbedtls: support CMAC algorithm
  lib/libmbedtls/core/tee_lmd_provider.c
  lib/libmbedtls/include/mbedtls_config_kernel.h
Owners: @OP-TEE/linaro

libmbedtls: support mbedtls bignum functions
  lib/libmbedtls/core/tee_lmd_provider.c
  lib/libmbedtls/include/mbedtls_config_kernel.h
Owners: @OP-TEE/linaro

libmbedtls: support mbedtls acipher RSA function
  lib/libmbedtls/core/tee_lmd_provider.c
  lib/libmbedtls/include/mbedtls_config_kernel.h
Owners: @OP-TEE/linaro

libmbedtls: fix no CRT issue
  lib/libmbedtls/mbedtls/library/rsa.c
Owners: @OP-TEE/linaro

libmbedtls: support mbedtls DH function
  lib/libmbedtls/core/tee_lmd_provider.c
  lib/libmbedtls/include/mbedtls_config_kernel.h
Owners: @OP-TEE/linaro

libmbedtls: support mbedtls ECC function
  lib/libmbedtls/core/tee_lmd_provider.c
  lib/libmbedtls/include/mbedtls_config_kernel.h
Owners: @OP-TEE/linaro

libmbedtls: GCM and CCM enhance for integrate
  lib/libmbedtls/mbedtls/include/mbedtls/ccm.h
  lib/libmbedtls/mbedtls/include/mbedtls/gcm.h
  lib/libmbedtls/mbedtls/library/ccm.c
  lib/libmbedtls/mbedtls/library/gcm.c
Owners: @OP-TEE/linaro

libmbedtls: support mbedtls ccm function.
  lib/libmbedtls/core/tee_lmd_provider.c
  lib/libmbedtls/include/mbedtls_config_kernel.h
Owners: @OP-TEE/linaro

libmbedtls: support mbedtls unsupported algorithms
  core/core.mk
  core/crypto/crypto.c
  core/include/crypto/crypto_lite.h
  core/lib/libtomcrypt/src/tee_ltc_provider.c
  core/lib/libtomcrypt_lite/src/sub.mk
  core/lib/libtomcrypt_lite/src/tee_ltc_provider.c
  core/lib/libtomcrypt_lite/sub.mk
  core/tee/tee_cryp_utl.c
  lib/libmbedtls/core/tee_lmd_provider.c
Owners: @OP-TEE/linaro
