Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

plat-rockchip: rk3588: add OTP_S support and HUK
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rk3588.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

core: fix debug event fault value for ARM32 with LPAE
  core/arch/arm/mm/core_mmu_lpae.c
Owners: @OP-TEE/linaro

plat-stm32mp2: add platform-specific abort handler
  core/arch/arm/plat-stm32mp2/conf.mk
  core/arch/arm/plat-stm32mp2/main.c
  core/drivers/firewall/stm32_serc.c
  core/include/drivers/stm32_serc.h
Owners: @OP-TEE/linaro

core: add platform-specific abort handler
  core/arch/arm/include/arm64.h
  core/arch/arm/kernel/abort.c
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/arm/mm/core_mmu_v7.c
  core/include/kernel/abort.h
  core/include/mm/core_mmu.h
  mk/config.mk
Owners: @OP-TEE/linaro

crypto: stm32: use HASH IP for HASH and HMAC algorithm
  core/drivers/crypto/stm32/common.h
  core/drivers/crypto/stm32/crypto.mk
  core/drivers/crypto/stm32/hash.c
  core/drivers/crypto/stm32/hmac.c
  core/drivers/crypto/stm32/stm32_hash.c
  core/drivers/crypto/stm32/stm32_hash.h
  core/drivers/crypto/stm32/sub.mk
Owners: @OP-TEE/linaro

dts: stm32: enable HASH on stm32mp135f-dk
  core/arch/arm/dts/stm32mp135f-dk.dts
Owners: @OP-TEE/linaro

plat-stm32mp1: conf: default enable HASH
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

fixup! crypto: stm32: use HASH IP for HASH and HMAC algorithm
  core/drivers/crypto/stm32/hmac.c
Owners: @OP-TEE/linaro

core: do not acknowledge end of interrupt for special GIC interrupt IDs
  core/drivers/gic.c
Owners: @OP-TEE/linaro

core: riscv: Introduce boot_init_primary_final()
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: riscv: Call call_driver_initcalls() late
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

core: arm: Remove dummy call_initcalls()
  core/arch/arm/kernel/link_dummies_paged.c
Owners: @OP-TEE/linaro

core: kernel: Remove unused call_initcalls()
  core/include/initcall.h
  core/kernel/initcall.c
Owners: @OP-TEE/linaro

MAINTAINERS: Update Sumit Garg's email address
  MAINTAINERS
Owners: @OP-TEE/approvers

core: do not acknowledge end of interrupt for special GIC interrupt IDs
  core/drivers/gic.c
Owners: @OP-TEE/linaro

core: riscv: Introduce boot_init_primary_final()
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/entry.S
Owners: @OP-TEE/linaro

core: kernel: Remove unused call_initcalls()
  core/include/initcall.h
  core/kernel/initcall.c
Owners: @OP-TEE/linaro

core: arm: Remove dummy call_initcalls()
  core/arch/arm/kernel/link_dummies_paged.c
Owners: @OP-TEE/linaro

core: riscv: Call call_driver_initcalls() late
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

[review] Add phys_mem_alloc_flags()
  lib/libutils/isoc/include/malloc_flags.h
Owners: @OP-TEE/linaro

[review] core: mm: add virt_page_alloc()
  lib/libutils/isoc/include/malloc_flags.h
Owners: @OP-TEE/linaro

[review] Use malloc flags MAF_* in tee_mm.h
  lib/libutils/isoc/include/malloc_flags.h
Owners: @OP-TEE/linaro

MAINTAINERS: Update Sumit Garg's email address
  MAINTAINERS
Owners: @OP-TEE/approvers

drivers: ele: getting common macros and functions in header file
  core/drivers/crypto/ele/ele.c
  core/drivers/crypto/ele/include/ele.h
  core/drivers/crypto/ele/sub.mk
Owners: @OP-TEE/linaro

drivers: ele: allocate data in heap for HUK derivation
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: ele: update session open command parameters
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: ele: use the baseline API to retrieve the UID
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: ele: enable TRUST MU in OP-TEE for i.MX93-EVK/i.MX91-EVK
  core/arch/arm/plat-imx/registers/imx93.h
  core/drivers/imx/mu/imx_mu.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

drivers: ele: disable ASLR for imx8ulp
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

drivers: ele: add memory management functions
  core/drivers/crypto/ele/include/memutils.h
  core/drivers/crypto/ele/memutils.c
  core/drivers/crypto/ele/sub.mk
Owners: @OP-TEE/linaro

drivers: ele: move ELE to a dedicated directory
  core/drivers/crypto/ele/ele.c
  core/drivers/crypto/ele/sub.mk
  core/drivers/crypto/sub.mk
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

drivers: ele: add SAB init command
  core/drivers/crypto/ele/ele.c
Owners: @OP-TEE/linaro

MAINTAINERS: Update Sumit Garg's email address
  MAINTAINERS
Owners: @OP-TEE/approvers

drivers: add RISC-V IMSIC interrupt driver
  core/arch/riscv/include/riscv.h
  core/drivers/imsic.c
  core/drivers/sub.mk
  core/include/drivers/imsic.h
Owners: @OP-TEE/linaro

drivers: add RISC-V APLIC interrupt driver
  core/drivers/aplic_direct.c
  core/drivers/aplic_msi.c
  core/drivers/aplic_priv.c
  core/drivers/sub.mk
  core/include/drivers/aplic.h
  core/include/drivers/aplic_priv.h
Owners: @OP-TEE/linaro

riscv: plat-virt: add APLIC and IMSIC support for QEMU virt platform
  core/arch/riscv/plat-virt/conf.mk
  core/arch/riscv/plat-virt/main.c
  core/arch/riscv/plat-virt/platform_config.h
Owners: @OP-TEE/linaro

ci: add build jobs for RISC-V APLIC and IMSIC configurations
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: add build jobs for RISC-V APLIC and IMSIC configurations
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

riscv: plat-virt: add APLIC and IMSIC support for QEMU virt platform
  core/arch/riscv/plat-virt/conf.mk
  core/arch/riscv/plat-virt/main.c
  core/arch/riscv/plat-virt/platform_config.h
Owners: @OP-TEE/linaro

drivers: add RISC-V APLIC interrupt driver
  core/drivers/aplic_direct.c
  core/drivers/aplic_msi.c
  core/drivers/aplic_priv.c
  core/drivers/sub.mk
  core/include/drivers/aplic.h
  core/include/drivers/aplic_priv.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
