Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

plat-stm32mp1: default disable reserved shared memory
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: default disable CFG_STM32MP1_SCMI_SHM_SYSRAM
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: enable async notif on stm32mp13
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

core: add memory area for transfer list
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: add support for transfer list
  core/arch/arm/kernel/boot.c
  core/kernel/dt.c
Owners: @OP-TEE/linaro

ci: vexpress-qemu_armv8a: add transfer list build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: add transfer list API
  core/include/kernel/transfer_list.h
  core/kernel/sub.mk
  core/kernel/transfer_list.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: arm: stmm_sp: fix calls to tee_pobj_get()
  core/arch/arm/kernel/stmm_sp.c
Owners: @OP-TEE/linaro

core: pta: attestation: fix calls to tee_pobj_get()
  core/pta/attestation.c
Owners: @OP-TEE/linaro

core: add memory area for transfer list
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: add support for transfer list
  core/arch/arm/kernel/boot.c
  core/kernel/dt.c
Owners: @OP-TEE/linaro

ci: vexpress-qemu_armv8a: add transfer list build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: add transfer list API
  core/include/kernel/transfer_list.h
  core/kernel/sub.mk
  core/kernel/transfer_list.c
  mk/config.mk
Owners: @OP-TEE/linaro

libutee: TEE_AllocateOperation(): maxKeySize of digests may take any value
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

mk: config.mk: describe CFG_WITH_STATS
  mk/config.mk
Owners: @OP-TEE/linaro

core: pta: attestation: fix calls to tee_pobj_get()
  core/pta/attestation.c
Owners: @OP-TEE/linaro

core: arm: stmm_sp: fix calls to tee_pobj_get()
  core/arch/arm/kernel/stmm_sp.c
Owners: @OP-TEE/linaro

ta: pkcs11: Improve PIN counter handling robustness
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

TA dev kit: Export ftrace_format.py
  ta/ta.mk
Owners: @OP-TEE/linaro

TA dev kit: Export ftrace_format.py
  ta/ta.mk
Owners: @OP-TEE/linaro

ta: pkcs11: Improve PIN counter handling robustness
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

libutee: remove leftover references to libmpa
  lib/libutee/include/tee_arith_internal.h
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

core: print current guest ID in logs
  core/kernel/trace_ext.c
  lib/libutils/ext/include/trace.h
  lib/libutils/ext/trace.c
  scripts/symbolize.py
Owners: @OP-TEE/linaro

libutee: remove leftover references to libmpa
  lib/libutee/include/tee_arith_internal.h
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

core: interrupt_raise_sgi() updates
  core/drivers/gic.c
  core/include/kernel/interrupt.h
Owners: @OP-TEE/linaro

plat-stm32mp1: activate CFG_CORE_HALT_CORES_ON_PANIC
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

core: interrupt: halt other cores when one is panicking
  core/kernel/panic.c
  mk/config.mk
Owners: @OP-TEE/linaro

plat-vexpress: activate CFG_CORE_HALT_CORES_ON_PANIC
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

plat-stm32mp2: activate CFG_CORE_HALT_CORES_ON_PANIC
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

core: print current guest ID in logs
  core/kernel/trace_ext.c
  lib/libutils/ext/include/trace.h
  lib/libutils/ext/trace.c
  scripts/symbolize.py
Owners: @OP-TEE/linaro

core: interrupt: halt other cores when one is panicking
  core/kernel/panic.c
  mk/config.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: activate CFG_CORE_HALT_CORES_ON_PANIC
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

plat-vexpress: activate CFG_CORE_HALT_CORES_ON_PANIC
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

plat-stm32mp2: activate CFG_CORE_HALT_CORES_ON_PANIC
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

core: interrupt_raise_sgi() updates
  core/drivers/gic.c
  core/include/kernel/interrupt.h
Owners: @OP-TEE/linaro

core: ffa: fix mem reclaim error reporting
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: arm: check for NULL mobj before thread_rpc_free()
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: arm: check for NULL mobj before thread_rpc_free()
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: arm: fix inline comment on async notif interrupt
  core/arch/arm/arm.mk
Owners: @OP-TEE/linaro

core: ffa: fix mem reclaim error reporting
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro
