Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

libutee: fix deprecated TA_FLAG_REMAP_SUPPORT inline comment
  lib/libutee/include/user_ta_header.h
Owners: @OP-TEE/linaro

libutee: fix deprecated TA_FLAG_REMAP_SUPPORT inline comment
  lib/libutee/include/user_ta_header.h
Owners: @OP-TEE/linaro

core: Initialize the chip_id array when generating the SSK
  core/tee/tee_fs_key_manager.c
Owners: @OP-TEE/linaro

Add support for ultra96 ZynqMP board
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

Add support for ultra96 ZynqMP board
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

zynqmp: fix UART1 base for zcu102, zc1751_dc1, zc1751_dc2 flavors
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

core: crypto: introduce struct crypto_hash_ops
  core/crypto/crypto.c
  core/include/crypto/crypto_impl.h
  core/lib/libtomcrypt/hash.c
  core/lib/libtomcrypt/src/tee_ltc_provider.c
  core/lib/libtomcrypt/sub.mk
Owners: @OP-TEE/linaro

core: implement crypto_cipher_get_block_size()
  core/crypto/crypto.c
Owners: @OP-TEE/linaro

core: crypto: introduce struct crypto_mac_ops
  core/crypto/cbc-mac.c
  core/crypto/crypto.c
  core/crypto/sub.mk
  core/include/crypto/crypto_impl.h
  core/lib/libtomcrypt/cmac.c
  core/lib/libtomcrypt/hmac.c
  core/lib/libtomcrypt/src/tee_ltc_provider.c
  core/lib/libtomcrypt/sub.mk
Owners: @OP-TEE/linaro

core: crypto: introduce struct crypto_cipher_ops
  core/crypto/crypto.c
  core/include/crypto/crypto_impl.h
  core/lib/libtomcrypt/cbc.c
  core/lib/libtomcrypt/ctr.c
  core/lib/libtomcrypt/cts.c
  core/lib/libtomcrypt/des2_key.h
  core/lib/libtomcrypt/ecb.c
  core/lib/libtomcrypt/src/tee_ltc_provider.c
  core/lib/libtomcrypt/sub.mk
  core/lib/libtomcrypt/xts.c
Owners: @OP-TEE/linaro

core: crypto: introduce struct crypto_authenc_ops
  core/crypto/aes-gcm-ghash-tbl.c
  core/crypto/aes-gcm.c
  core/crypto/crypto.c
  core/include/crypto/aes-ccm.h
  core/include/crypto/aes-gcm.h
  core/include/crypto/crypto_impl.h
  core/lib/libtomcrypt/ccm.c
  core/lib/libtomcrypt/gcm.c
  core/lib/libtomcrypt/src/tee_ltc_provider.c
  core/lib/libtomcrypt/sub.mk
Owners: @OP-TEE/linaro

core: crypto: introduce struct crypto_mac_ops
  core/crypto/cbc-mac.c
  core/crypto/crypto.c
  core/crypto/sub.mk
  core/include/crypto/crypto_impl.h
  core/lib/libtomcrypt/cmac.c
  core/lib/libtomcrypt/hmac.c
  core/lib/libtomcrypt/src/tee_ltc_provider.c
  core/lib/libtomcrypt/sub.mk
Owners: @OP-TEE/linaro

core: crypto: introduce struct crypto_hash_ops
  core/crypto/crypto.c
  core/include/crypto/crypto_impl.h
  core/lib/libtomcrypt/hash.c
  core/lib/libtomcrypt/src/tee_ltc_provider.c
  core/lib/libtomcrypt/sub.mk
Owners: @OP-TEE/linaro

core: implement crypto_cipher_get_block_size()
  core/crypto/crypto.c
Owners: @OP-TEE/linaro

core: crypto: introduce struct crypto_cipher_ops
  core/crypto/crypto.c
  core/include/crypto/crypto_impl.h
  core/lib/libtomcrypt/cbc.c
  core/lib/libtomcrypt/ctr.c
  core/lib/libtomcrypt/cts.c
  core/lib/libtomcrypt/des2_key.h
  core/lib/libtomcrypt/ecb.c
  core/lib/libtomcrypt/src/tee_ltc_provider.c
  core/lib/libtomcrypt/sub.mk
  core/lib/libtomcrypt/xts.c
Owners: @OP-TEE/linaro

core: crypto: introduce struct crypto_authenc_ops
  core/crypto/aes-gcm-ghash-tbl.c
  core/crypto/aes-gcm.c
  core/crypto/crypto.c
  core/include/crypto/aes-ccm.h
  core/include/crypto/aes-gcm.h
  core/include/crypto/crypto_impl.h
  core/lib/libtomcrypt/ccm.c
  core/lib/libtomcrypt/gcm.c
  core/lib/libtomcrypt/src/tee_ltc_provider.c
  core/lib/libtomcrypt/sub.mk
Owners: @OP-TEE/linaro

generic_boot: map device tree as MEM_AREA_IO_SEC
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

scripts/symbolize.py: accept several spaces after "region"
  scripts/symbolize.py
Owners: @OP-TEE/linaro

generic_boot: rename shared reserved memory node
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

generic_boot: retrieve address-cells and size-cells from root
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

generic_boot: reserve optee_tzdram memory
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

scripts/symbolize.py: accept several spaces after "region"
  scripts/symbolize.py
Owners: @OP-TEE/linaro

zynqmp: fix UART1 base for zcu102, zc1751_dc1, zc1751_dc2 flavors
  core/arch/arm/plat-zynqmp/platform_config.h
Owners: @OP-TEE/plat-zynqmp

libutee: lessen dependency on mbedtls internals
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

Add mbed TLS types to typedefs.checkpatch
  typedefs.checkpatch
Owners: @OP-TEE/linaro

generic_boot: rename shared reserved memory node
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

generic_boot: retrieve address-cells and size-cells from root
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

generic_boot: reserve optee_tzdram memory
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

Add mbed TLS types to typedefs.checkpatch
  typedefs.checkpatch
Owners: @OP-TEE/linaro

libutee: lessen dependency on mbedtls internals
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

libutee: fix off-by-one errors in base64_dec()
  lib/libutee/base64.c
Owners: @OP-TEE/linaro

libutee: fix off-by-one errors in base64_dec()
  lib/libutee/base64.c
Owners: @OP-TEE/linaro

core: user_ta: use consistent formatting for addresses in TA dump
  core/arch/arm/kernel/user_ta.c
Owners: @OP-TEE/linaro

core: user_ta: implement ASLR for TAs
  core/arch/arm/kernel/user_ta.c
  core/arch/arm/plat-hikey/conf.mk
  core/arch/arm/plat-vexpress/conf.mk
  mk/config.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-hikey, @OP-TEE/plat-vexpress

libutils: export PRIxVA_WIDTH and add PRIxPA_WIDTH
  lib/libutils/ext/include/types_ext.h
  lib/libutils/ext/trace.c
Owners: @OP-TEE/linaro

core: user_ta: use consistent formatting for addresses in TA dump
  core/arch/arm/kernel/user_ta.c
Owners: @OP-TEE/linaro

core: user_ta: implement ASLR for TAs
  core/arch/arm/kernel/user_ta.c
  core/arch/arm/plat-hikey/conf.mk
  core/arch/arm/plat-vexpress/conf.mk
  mk/config.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-hikey, @OP-TEE/plat-vexpress

libutils: export PRIxVA_WIDTH and add PRIxPA_WIDTH
  lib/libutils/ext/include/types_ext.h
  lib/libutils/ext/trace.c
Owners: @OP-TEE/linaro

libutee: lessen dependency on mbedtls internals
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

[RFC] Add support for runtime dynamic linking in TAs (libdl)
  core/arch/arm/include/kernel/user_ta.h
  core/arch/arm/kernel/elf_load.c
  core/arch/arm/kernel/elf_load_private.h
  core/arch/arm/kernel/user_ta.c
  core/arch/arm/pta/system.c
  lib/libdl/dl.c
  lib/libdl/include/dlfcn.h
  lib/libdl/sub.mk
  lib/libutee/include/pta_system.h
  mk/config.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
