Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: move PTAs from core/arch/arm/pta to core/pta
  core/arch/arm/arm.mk
  core/arch/arm/pta/sub.mk
  core/pta/benchmark.c
  core/pta/device.c
  core/pta/gprof.c
  core/pta/sdp.c
  core/pta/secstor_ta_mgmt.c
  core/pta/stats.c
  core/pta/sub.mk
  core/pta/system.c
Owners: @OP-TEE/linaro

core: move sockets PTA to core/tee
  core/arch/arm/tee/sub.mk
  core/tee/socket.c
  core/tee/sub.mk
Owners: @OP-TEE/linaro

core: pta/gprof.c: remove <arm.h> include
  core/arch/arm/pta/gprof.c
Owners: @OP-TEE/linaro

core: move PTAs from core/arch/arm/pta to core/pta
  core/arch/arm/arm.mk
  core/arch/arm/pta/sub.mk
  core/pta/benchmark.c
  core/pta/device.c
  core/pta/gprof.c
  core/pta/sdp.c
  core/pta/secstor_ta_mgmt.c
  core/pta/stats.c
  core/pta/sub.mk
  core/pta/system.c
Owners: @OP-TEE/linaro

core: move sockets PTA to core/tee
  core/arch/arm/tee/sub.mk
  core/tee/socket.c
  core/tee/sub.mk
Owners: @OP-TEE/linaro

core: move test PTAs to core/pta/tests
  core/arch/arm/pta/sub.mk
  core/pta/sub.mk
  core/pta/tests/fs_htree.c
  core/pta/tests/interrupt.c
  core/pta/tests/invoke.c
  core/pta/tests/lockdep.c
  core/pta/tests/misc.c
  core/pta/tests/misc.h
  core/pta/tests/mutex.c
  core/pta/tests/sub.mk
Owners: @OP-TEE/linaro

core: prepare to move PTAs under core/pta and core/pta/tests
  core/pta/sub.mk
  core/pta/tests/sub.mk
  core/sub.mk
Owners: @OP-TEE/linaro

build: prevent produce-* from being forced built before current submodule
  mk/subdir.mk
Owners: @OP-TEE/linaro

build: prevent produce-* from being forced built before current submodule
  mk/subdir.mk
Owners: @OP-TEE/linaro

libutee,libdl: remove 0ms timeouts in TA invocations
  lib/libdl/dlfcn.c
  lib/libutee/arch/arm/gprof/gprof_pta.c
  lib/libutee/tee_socket_pta.c
  lib/libutee/tee_system_pta.c
Owners: @OP-TEE/linaro

hikey: increase core heap size to 192 kB
  core/arch/arm/plat-hikey/conf.mk
Owners: @OP-TEE/plat-hikey

hikey: increase core heap size to 192 kB
  core/arch/arm/plat-hikey/conf.mk
Owners: @OP-TEE/plat-hikey

core: no need to set the default partition again
  core/arch/arm/kernel/thread.c
Owners: @OP-TEE/linaro

libutils: relax noreturn label
  lib/libutils/ext/include/compiler.h
Owners: @OP-TEE/linaro

Add configuration flag for Generic RPC's.
  mk/config.mk
Owners: @OP-TEE/linaro

Add GRPC PTA header.
  lib/libutee/include/pta_grpc.h
Owners: @OP-TEE/linaro

Add new RPC memory allocation type: OPTEE_MSG_RPC_SHM_TYPE_HOST.
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/kernel/thread_optee_smc.c
  core/include/optee_rpc_cmd.h
Owners: @OP-TEE/linaro

libutils: relax noreturn label
  lib/libutils/ext/include/compiler.h
Owners: @OP-TEE/linaro

Build once with Generic RPC's on.
  .shippable.yml
Owners: @OP-TEE/linaro

Initial GRPC implementation.
  core/pta/grpc.c
  core/pta/sub.mk
Owners: @OP-TEE/linaro

plat/rcar: fix core numbering for M3 flavor
  core/arch/arm/plat-rcar/conf.mk
Owners: @OP-TEE/plat-rcar

core: refactored the custom REE service infrastructure
  core/arch/arm/tee/pta_ree_service.c
  core/include/optee_rpc_cmd.h
  lib/libutee/include/pta_ree_service.h
  lib/libutee/sub.mk
  lib/libutee/tee_api_ree_service.c
Owners: @OP-TEE/linaro

core: add a new pta to support any ree service for TA
  core/arch/arm/tee/pta_generic.c
  core/arch/arm/tee/sub.mk
  core/include/optee_rpc_cmd.h
  lib/libutee/include/pta_generic.h
  lib/libutee/include/tee_api.h
  lib/libutee/include/tee_api_defines.h
  lib/libutee/include/tee_api_types.h
  lib/libutee/sub.mk
  lib/libutee/tee_api_ree_service.c
Owners: @OP-TEE/linaro

core: refactored custom REE support
  core/arch/arm/tee/pta_ree_service.c
  core/arch/arm/tee/sub.mk
  core/include/optee_rpc_cmd.h
  lib/libutee/include/pta_generic.h
  lib/libutee/include/pta_ree_service.h
  lib/libutee/include/tee_api.h
  lib/libutee/include/tee_api_defines.h
  lib/libutee/include/tee_api_extensions.h
  lib/libutee/include/tee_api_types.h
  lib/libutee/include/tee_api_types_extensions.h
  lib/libutee/tee_api_ree_service.c
Owners: @OP-TEE/linaro

Simple stricter checks.
  core/pta/grpc.c
Owners: @OP-TEE/linaro

Pass host function ID in command ID.
  core/include/optee_rpc_cmd.h
  core/pta/grpc.c
  lib/libutee/include/pta_grpc.h
Owners: @OP-TEE/linaro

Use OPTEE_RPC_SHM_TYPE_HOST for shared memory allocations from GRPC PTA.
  core/arch/arm/kernel/thread_optee_smc.c
  core/include/optee_rpc_cmd.h
Owners: @OP-TEE/linaro

Do not fail on INPUT params returning from REE.
  core/pta/grpc.c
Owners: @OP-TEE/linaro

License updates.
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/kernel/thread_optee_smc.c
  core/include/optee_rpc_cmd.h
Owners: @OP-TEE/linaro

Update comment.
  lib/libutee/include/pta_grpc.h
Owners: @OP-TEE/linaro

core: Add support for multi-threaded MPIDR values
  core/arch/arm/include/arm.h
  core/arch/arm/kernel/misc_a32.S
  core/arch/arm/kernel/misc_a64.S
  mk/config.mk
Owners: @OP-TEE/linaro

Fixing comment line length
  core/arch/arm/kernel/misc_a32.S
  core/arch/arm/kernel/misc_a64.S
Owners: @OP-TEE/linaro

scripts: convert remainging scripts to python3
  scripts/arm32_sysreg.py
  scripts/gen_hashed_bin.py
  scripts/gen_ld_sects.py
  scripts/pem_to_pub_c.py
  scripts/sign.py
  scripts/symbolize.py
  scripts/tee_bin_parser.py
Owners: @OP-TEE/linaro

scripts: convert remainging scripts to python3
  scripts/arm32_sysreg.py
  scripts/gen_hashed_bin.py
  scripts/gen_ld_sects.py
  scripts/pem_to_pub_c.py
  scripts/sign.py
  scripts/symbolize.py
  scripts/tee_bin_parser.py
Owners: @OP-TEE/linaro

core: fix configuration check for CFG_PAGED_USER_TA
  core/core.mk
Owners: @OP-TEE/linaro

symbolize.py: disable terminal local echo
  scripts/symbolize.py
Owners: @OP-TEE/linaro

core: fix configuration check for CFG_PAGED_USER_TA
  core/core.mk
Owners: @OP-TEE/linaro

symbolize.py: disable terminal local echo
  scripts/symbolize.py
Owners: @OP-TEE/linaro

build: prevent empty config from cfg-*-enabled
  mk/checkconf.mk
Owners: @OP-TEE/linaro

core: REE FS TAs: disable CFG_REE_FS_TA_BUFFERED by default
  mk/config.mk
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
