Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

MAINTAINERS: add clock driver interface entry
  MAINTAINERS
Owners: @OP-TEE/approvers

drivers: add type field to dt_driver struct
  core/drivers/imx_lpuart.c
  core/drivers/imx_uart.c
  core/drivers/pl011.c
  core/drivers/serial8250_uart.c
  core/include/kernel/dt.h
  core/kernel/console.c
Owners: @OP-TEE/linaro

drivers: clk: add fixed-clock driver
  core/drivers/clk/fixed_clk.c
  core/drivers/clk/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: clk: add devicetree support
  core/drivers/clk/clk_dt.c
  core/drivers/clk/sub.mk
  core/include/drivers/clk_dt.h
  mk/config.mk
Owners: @OP-TEE/linaro

dts: at91: add device trees for sama5d2_xplained
  core/arch/arm/dts/at91-sama5d2_xplained.dts
  core/arch/arm/dts/sama5d2-pinfunc.h
  core/arch/arm/dts/sama5d2.dtsi
  core/include/dt-bindings/clock/at91.h
  core/include/dt-bindings/dma/at91.h
  core/include/dt-bindings/iio/adc/at91-sama5d2_adc.h
  core/include/dt-bindings/mfd/atmel-flexcom.h
  core/include/dt-bindings/regulator/active-semi,8945a-regulator.h
Owners: @OP-TEE/linaro

plat-sam: allow using sama5d2_xplained instead of sama5d2xult
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: enable CFG_GENERATE_DTB_OVERLAY by default
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: remove unused CFG_DRAM_SIZE config option
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: add support to build embedded dtb
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: add sama5d27-som1-ek board support and change default platform
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

dts: at91: add device tree for sama5d27_som1_ek board
  core/arch/arm/dts/at91-sama5d27_som1.dtsi
  core/arch/arm/dts/at91-sama5d27_som1_ek.dts
Owners: @OP-TEE/linaro

drivers: clk: move clk_get_name() implement in C source
  core/drivers/clk/clk.c
  core/drivers/clk/clk_dt.c
  core/include/drivers/clk.h
Owners: @OP-TEE/linaro

drivers: clk: move clk_get_num_parents() implement in C source
  core/drivers/clk/clk.c
  core/include/drivers/clk.h
Owners: @OP-TEE/linaro

core: add crypto_atomic_sha256_*() functions
  core/include/crypto/crypto.h
  core/lib/libtomcrypt/hash.c
Owners: @OP-TEE/linaro

core: add run-time integrity check service
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/include/sm/optee_smc.h
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/arm/mm/core_mmu_v7.c
  core/arch/arm/tee/entry_fast.c
  core/arch/arm/tee/rti_check.c
  core/arch/arm/tee/rti_check.h
  core/arch/arm/tee/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

core: core_mmu_map_rti_check() add debug print
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

drivers: clk: weak clock functions for platform optimized clock driver
  core/drivers/clk/clk_weak.c
  core/drivers/clk/sub.mk
  core/drivers/sub.mk
  core/include/drivers/clk.h
  mk/config.mk
Owners: @OP-TEE/linaro

[PR#4940] core: dt: add platform data per compatible identifier
  core/drivers/clk/clk_dt.c
  core/drivers/clk/fixed_clk.c
  core/include/drivers/clk_dt.h
  core/include/kernel/dt.h
Owners: @OP-TEE/linaro

plat-stm32mp1: clk: implement _CFG_DRIVERS_CLK_WEAK=y
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_clk.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

plat-sam: add support to build embedded dtb
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: enable CFG_GENERATE_DTB_OVERLAY by default
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: allow using sama5d2_xplained instead of sama5d2xult
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

dts: at91: add device tree for sama5d27_som1_ek board
  core/arch/arm/dts/at91-sama5d27_som1.dtsi
  core/arch/arm/dts/at91-sama5d27_som1_ek.dts
Owners: @OP-TEE/linaro

plat-sam: remove unused CFG_DRAM_SIZE config option
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: add sama5d27-som1-ek board support and change default platform
  core/arch/arm/plat-sam/conf.mk
Owners: @OP-TEE/plat-sam, @nodeax

dts: at91: add device trees for sama5d2_xplained
  core/arch/arm/dts/at91-sama5d2_xplained.dts
  core/arch/arm/dts/sama5d2-pinfunc.h
  core/arch/arm/dts/sama5d2.dtsi
  core/include/dt-bindings/clock/at91.h
  core/include/dt-bindings/dma/at91.h
  core/include/dt-bindings/iio/adc/at91-sama5d2_adc.h
  core/include/dt-bindings/mfd/atmel-flexcom.h
  core/include/dt-bindings/regulator/active-semi,8945a-regulator.h
Owners: @OP-TEE/linaro

drivers: clk: add platform data per compatible identifier
  core/drivers/clk/clk_dt.c
  core/drivers/clk/fixed_clk.c
  core/include/drivers/clk_dt.h
  core/include/kernel/dt.h
Owners: @OP-TEE/linaro

drivers: clk: add platform data per compatible identifier
  core/drivers/clk/clk_dt.c
  core/drivers/clk/fixed_clk.c
  core/include/drivers/clk_dt.h
  core/include/kernel/dt.h
Owners: @OP-TEE/linaro

[review] core: add run-time integrity check service
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/include/sm/optee_smc.h
  core/arch/arm/tee/rti_check.c
Owners: @OP-TEE/linaro

[review] core: add run-time integrity check service
  core/arch/arm/include/sm/optee_smc.h
  core/arch/arm/tee/rti_check.c
  core/arch/arm/tee/rti_check.h
Owners: @OP-TEE/linaro

drivers: clk: implement clk_is_enabled()
  core/drivers/clk/clk.c
  core/include/drivers/clk.h
Owners: @OP-TEE/linaro

drivers: clk: implement clk_is_enabled()
  core/drivers/clk/clk.c
  core/include/drivers/clk.h
Owners: @OP-TEE/linaro

drivers: clk: rename clk_dt_get_fn to clk_dt_get_func
  core/drivers/clk/clk_dt.c
  core/include/drivers/clk_dt.h
Owners: @OP-TEE/linaro

drivers: clk: rename setup callback to probe
  core/drivers/clk/clk_dt.c
  core/drivers/clk/fixed_clk.c
Owners: @OP-TEE/linaro

[review] core: add run-time integrity check service
  core/arch/arm/tee/rti_check.c
Owners: @OP-TEE/linaro

[review] core: add run-time integrity check service
  core/arch/arm/tee/rti_check.c
Owners: @OP-TEE/linaro

core: pta/bcm/elog: add missing buffer size check
  core/pta/bcm/elog.c
Owners: @OP-TEE/linaro

drivers: clk: rename clk_dt_get_fn to clk_dt_get_func
  core/drivers/clk/clk_dt.c
  core/include/drivers/clk_dt.h
Owners: @OP-TEE/linaro

drivers: clk: rename setup callback to probe
  core/drivers/clk/clk_dt.c
  core/drivers/clk/fixed_clk.c
Owners: @OP-TEE/linaro

drivers: clk: move clk_get_name() implement in C source
  core/drivers/clk/clk.c
  core/drivers/clk/clk_dt.c
  core/include/drivers/clk.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
