Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

plat-stm32mp2: conf: support HPDMA driver
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

plat-stm32mp2: conf: support FMC driver
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

drivers: add FMC driver with RIF support
  core/drivers/stm32_fmc.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

drivers: add HPDMA driver with RIF support
  core/drivers/stm32_hpdma.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

core: reset cancellation mask on TA exit
  core/kernel/user_ta.c
Owners: @OP-TEE/linaro

core: reset cancellation mask on TA exit
  core/kernel/user_ta.c
Owners: @OP-TEE/linaro

drivers: atmel_wdt: upgrade to support sama7g5 watchdog
  core/drivers/atmel_wdt.c
Owners: @OP-TEE/linaro

drivers: atmel_wdt: remove the unused variable from "struct atmel_wdt"
  core/drivers/atmel_wdt.c
Owners: @OP-TEE/linaro

drivers: atmel_wdt: update "#include" list of the header files
  core/drivers/atmel_wdt.c
Owners: @OP-TEE/linaro

plat-sam: optimize the macro and makefile for building sama5d2 clocks
  core/arch/arm/plat-sam/conf.mk
  core/drivers/clk/sam/sub.mk
Owners: @OP-TEE/plat-sam, @nodeax, @OP-TEE/linaro

plat-sam: rename filename for sama5d2 functions to 'platform_sama5d2.c'
  core/arch/arm/plat-sam/platform_sama5d2.c
  core/arch/arm/plat-sam/sub.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: add support for Microchip sama7g54-ek board
  core/arch/arm/plat-sam/conf.mk
  core/arch/arm/plat-sam/platform_sama7g5.c
  core/arch/arm/plat-sam/sub.mk
  core/drivers/clk/sam/sub.mk
Owners: @OP-TEE/plat-sam, @nodeax, @OP-TEE/linaro

drivers: atmel_wdt: update "#include" list of the header files
  core/drivers/atmel_wdt.c
Owners: @OP-TEE/linaro

drivers: atmel_wdt: remove the unused variable from "struct atmel_wdt"
  core/drivers/atmel_wdt.c
Owners: @OP-TEE/linaro

drivers: atmel_wdt: upgrade to support sama7g5 watchdog
  core/drivers/atmel_wdt.c
Owners: @OP-TEE/linaro

plat-sam: optimize the macro and makefile for building sama5d2 clocks
  core/arch/arm/plat-sam/conf.mk
  core/drivers/clk/sam/sub.mk
Owners: @OP-TEE/plat-sam, @nodeax, @OP-TEE/linaro

plat-sam: rename filename for sama5d2 functions to 'platform_sama5d2.c'
  core/arch/arm/plat-sam/platform_sama5d2.c
  core/arch/arm/plat-sam/sub.mk
Owners: @OP-TEE/plat-sam, @nodeax

plat-sam: add support for Microchip sama7g54-ek board
  core/arch/arm/plat-sam/conf.mk
  core/arch/arm/plat-sam/platform_sama7g5.c
  core/arch/arm/plat-sam/sub.mk
  core/drivers/clk/sam/sub.mk
Owners: @OP-TEE/plat-sam, @nodeax, @OP-TEE/linaro

fixup! drivers: versal: NVM driver for Versal Net
  core/arch/arm/plat-versal/conf.mk
  core/drivers/sub.mk
  core/drivers/versal_net_nvm.c
  core/drivers/versal_nvm.c
Owners: @OP-TEE/linaro

fixup! plat-versal: add support for Versal Net variant
  core/arch/arm/plat-versal/conf.mk
Owners: @OP-TEE/linaro

fixup! core: pta: add Versal FPGA PTA
  core/pta/versal/fpga_pta.c
Owners: @OP-TEE/linaro

fixup! drivers: versal: rework mbox driver
  core/arch/arm/plat-versal/conf.mk
  core/drivers/versal_mbox.c
Owners: @OP-TEE/linaro

fixup! drivers: versal: rework mbox driver
  core/drivers/crypto/versal/authenc.c
  core/drivers/crypto/versal/rsa.c
  core/drivers/versal_puf.c
Owners: @OP-TEE/linaro

core: make OP-TEE relocatable without S-EL2 SPMC
  core/arch/arm/arm.mk
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/secure_partition.c
  core/include/mm/tee_mm.h
  core/kernel/ree_fs_ta.c
  core/mm/core_mmu.c
  core/mm/fobj.c
  core/mm/mobj.c
  core/mm/tee_mm.c
Owners: @OP-TEE/linaro

core: riscv: Add seed CSR detection helper
  core/arch/riscv/include/riscv.h
  core/arch/riscv/kernel/csr_detect.S
  core/arch/riscv/kernel/sub.mk
Owners: @OP-TEE/linaro

drivers: Add RISC-V Zkr hardware random number generator support
  core/drivers/riscv_zkr_rng.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro

riscv: plat-virt: Enable CFG_HWRNG_PTA
  core/arch/riscv/plat-virt/conf.mk
Owners: @OP-TEE/linaro

Update CHANGELOG for 4.2.0
  CHANGELOG.md
  mk/config.mk
Owners: @OP-TEE/linaro

Update CHANGELOG for 4.2.0
  CHANGELOG.md
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: firewall: fix stm32_rif_semaphore_enabled_and_ok() prototype
  core/include/drivers/stm32_rif.h
Owners: @OP-TEE/linaro

dt-bindings: firewall: move RIFPROT binding
  core/drivers/firewall/stm32_rifsc.c
  core/include/dt-bindings/firewall/stm32mp25-rif.h
  core/include/dt-bindings/firewall/stm32mp25-rifsc.h
Owners: @OP-TEE/linaro

core: make sure tee_entry_get_os_revision() uses a proper TEE_IMPL_GIT_SHA1
  .github/workflows/ci.yml
  core/arch/arm/kernel/thread_spmc.c
  core/core.mk
  mk/config.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

drivers: firewall: fix stm32_rif_semaphore_enabled_and_ok() prototype
  core/include/drivers/stm32_rif.h
Owners: @OP-TEE/linaro

dt-bindings: firewall: move RIFPROT binding
  core/drivers/firewall/stm32_rifsc.c
  core/include/dt-bindings/firewall/stm32mp25-rif.h
  core/include/dt-bindings/firewall/stm32mp25-rifsc.h
Owners: @OP-TEE/linaro

core: make sure tee_entry_get_os_revision() uses a proper TEE_IMPL_GIT_SHA1
  .github/workflows/ci.yml
  core/arch/arm/kernel/thread_spmc.c
  core/core.mk
  mk/config.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

core: notif: add support timeout notify
  core/include/kernel/notif.h
  core/include/kernel/wait_queue.h
  core/include/optee_rpc_cmd.h
  core/kernel/notif.c
  core/kernel/wait_queue.c
Owners: @OP-TEE/linaro

core: mutex: add support timeout condvar
  core/include/kernel/mutex.h
  core/kernel/mutex.c
Owners: @OP-TEE/linaro

core: notif: add support timeout notify
  core/include/kernel/notif.h
  core/include/kernel/wait_queue.h
  core/include/optee_rpc_cmd.h
  core/kernel/notif.c
  core/kernel/wait_queue.c
Owners: @OP-TEE/linaro

core: mutex: add support timeout condvar
  core/include/kernel/mutex.h
  core/kernel/mutex.c
Owners: @OP-TEE/linaro

drivers: add FMC driver with RIF support
  core/drivers/stm32_fmc.c
  core/drivers/sub.mk
Owners: @OP-TEE/linaro
