Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

ldelf: add DT_GNU_HASH support
  ldelf/ta_elf.c
  ldelf/ta_elf.h
  ldelf/ta_elf_rel.c
Owners: @OP-TEE/linaro

core: pta: attestation: fix buffer size for generated key
  core/pta/attestation.c
Owners: @OP-TEE/linaro

core: pta: return error code when failing to deserialize saved key
  core/pta/attestation.c
Owners: @OP-TEE/linaro

core: pta: attestation: fix buffer size for generated key
  core/pta/attestation.c
Owners: @OP-TEE/linaro

core: pta: return error code when failing to deserialize saved key
  core/pta/attestation.c
Owners: @OP-TEE/linaro

dts: sama5d2: Set tcb1 as secure
  core/arch/arm/dts/sama5d2.dtsi
Owners: @OP-TEE/linaro

ldelf: get DT_HASH info from section headers
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

ldelf: add DT_GNU_HASH support
  ldelf/ta_elf.c
  ldelf/ta_elf.h
  ldelf/ta_elf_rel.c
Owners: @OP-TEE/linaro

core: ls: add CAAM_SIZE values for LS platforms
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

drivers: caam: map the CAAM registers with the CAAM_SIZE value
  core/drivers/crypto/caam/hal/common/hal_cfg.c
Owners: @OP-TEE/linaro

core: imx: add CAAM_SIZE values for i.MX platforms
  core/arch/arm/plat-imx/registers/imx6.h
  core/arch/arm/plat-imx/registers/imx7.h
  core/arch/arm/plat-imx/registers/imx7ulp.h
  core/arch/arm/plat-imx/registers/imx8m.h
  core/arch/arm/plat-imx/registers/imx8q.h
  core/arch/arm/plat-imx/registers/imx8ulp.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

plat-stm32mp1: introduce CFG_STM32MP1_SHARED_RESOURCES
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/stm32_util.h
  core/arch/arm/plat-stm32mp1/sub.mk
Owners: @OP-TEE/linaro

core: ls: add CAAM_SIZE values for LS platforms
  core/arch/arm/plat-ls/platform_config.h
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

core: imx: add CAAM_SIZE values for i.MX platforms
  core/arch/arm/plat-imx/registers/imx6.h
  core/arch/arm/plat-imx/registers/imx7.h
  core/arch/arm/plat-imx/registers/imx7ulp.h
  core/arch/arm/plat-imx/registers/imx8m.h
  core/arch/arm/plat-imx/registers/imx8q.h
  core/arch/arm/plat-imx/registers/imx8ulp.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: caam: map the CAAM registers with the CAAM_SIZE value
  core/drivers/crypto/caam/hal/common/hal_cfg.c
Owners: @OP-TEE/linaro

core: fix error handling in vm_remap()
  core/mm/vm.c
Owners: @OP-TEE/linaro

core: handle large holes in S-EL0 map
  core/arch/arm/mm/pgt_cache.c
  core/include/mm/pgt_cache.h
  core/mm/core_mmu.c
  core/mm/vm.c
Owners: @OP-TEE/linaro

core: fix error handling in vm_remap()
  core/mm/vm.c
Owners: @OP-TEE/linaro

core: handle large holes in S-EL0 map
  core/arch/arm/mm/pgt_cache.c
  core/include/mm/pgt_cache.h
  core/mm/core_mmu.c
  core/mm/vm.c
Owners: @OP-TEE/linaro

pta: rng: rename rng_pta_client.h to pta_rng.h
  core/arch/arm/plat-synquacer/rng_pta.c
  core/pta/hwrng.c
  lib/libutee/include/pta_rng.h
  lib/libutee/include/rng_pta_client.h
Owners: @OP-TEE/linaro

plat-synquacer: rename rng_pta.h to synquacer_rng_pta.h
  core/arch/arm/plat-synquacer/main.c
  core/arch/arm/plat-synquacer/rng_pta.c
  core/arch/arm/plat-synquacer/rng_pta.h
  core/arch/arm/plat-synquacer/synquacer_rng_pta.h
Owners: @OP-TEE/linaro

core: fix TA crash if RPMB key is not provisioned
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

drivers: stm32_shared_io: introduce shared io driver
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/shared_resources.c
  core/arch/arm/plat-stm32mp1/stm32_util.h
  core/drivers/clk/clk-stm32-core.c
  core/drivers/clk/clk-stm32mp15.c
  core/drivers/stm32_shared_io.c
  core/drivers/sub.mk
  core/include/drivers/stm32_shared_io.h
Owners: @OP-TEE/linaro

plat-stm32mp1: introduce CFG_STM32MP1_SHARED_RESOURCES
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/stm32_util.h
  core/arch/arm/plat-stm32mp1/sub.mk
Owners: @OP-TEE/linaro

core: Define SDP in embedded DTB
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

plat-hikey: Add embedded DTB to define SDP
  core/arch/arm/dts/hikey.dts
  core/arch/arm/plat-hikey/conf.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-hikey

drivers: imx_snvs: re-work security state for imx8m platforms
  core/drivers/imx_snvs.c
Owners: @OP-TEE/linaro

core: fix TA crash if RPMB key is not provisioned
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

plat-hikey: Add embedded DTB to define SDP
  core/arch/arm/dts/hikey.dts
  core/arch/arm/plat-hikey/conf.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-hikey

core: Define SDP in embedded DTB
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

drivers: imx_snvs: re-work security state for imx8m platforms
  core/drivers/imx_snvs.c
Owners: @OP-TEE/linaro

drivers: imx: dcp: workaround DCP errata 051292
  core/drivers/imx/dcp/dcp.c
Owners: @OP-TEE/linaro

drivers: imx: dcp: clear OTP_KEY bit for unique key selection
  core/drivers/imx/dcp/dcp.c
Owners: @OP-TEE/linaro

drivers: imx: dcp: disable the use of UNIQUE KEY after HUK generation
  core/arch/arm/plat-imx/registers/imx6-dcp.h
  core/drivers/imx/dcp/dcp.c
  core/drivers/imx/dcp/dcp_huk.c
  core/include/drivers/imx/dcp.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

plat-stm32mp1: restore reserved shared memory
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

ta: pkcs11: fix use-after-free in close_ck_session() when CFG_TEE_TA_LOG_LEVEL >= 3
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

plat-stm32mp1: restore reserved shared memory
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

build: use CFLAGS_ta_armXX etc. when building in-tree TAs
  ta/mk/build-user-ta.mk
Owners: @OP-TEE/linaro

drivers: imx: dcp: disable the use of UNIQUE KEY after HUK generation
  core/arch/arm/plat-imx/registers/imx6-dcp.h
  core/drivers/imx/dcp/dcp.c
  core/drivers/imx/dcp/dcp_huk.c
  core/include/drivers/imx/dcp.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

drivers: imx: dcp: workaround DCP errata 051292
  core/drivers/imx/dcp/dcp.c
Owners: @OP-TEE/linaro
