Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: regulator: fix variable sized voltages fallback
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
  core/arch/arm/plat-stm32mp1/scmi_server.c
  core/drivers/regulator/regulator.c
  core/drivers/regulator/stm32_vrefbuf.c
  core/drivers/regulator/stm32mp13_regulator_iod.c
  core/include/drivers/regulator.h
Owners: @OP-TEE/linaro

ci: build stm32mp1-135F_DK with Clang
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: ffa: fix FFA_NOTIFICATION_GET vm_id
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: gic: make GICR base optional
  core/drivers/gic.c
Owners: @OP-TEE/linaro

core: gic: allow GIC version 1
  core/drivers/gic.c
Owners: @OP-TEE/linaro

pta: stats: add commands to print clock and regulator trees
  core/pta/stats.c
  lib/libutee/include/pta_stats.h
Owners: @OP-TEE/linaro

pta: stats: add commands to print clock and regulator trees
  core/pta/stats.c
  lib/libutee/include/pta_stats.h
Owners: @OP-TEE/linaro

plat-mediatek: disable console when CFG_TEE_CORE_LOG_LEVEL is 0
  core/arch/arm/plat-mediatek/main.c
Owners: @OP-TEE/plat-mediatek

drivers: regulator: stm32_vrefbuf: set voltage list at init
  core/drivers/regulator/stm32_vrefbuf.c
Owners: @OP-TEE/linaro

plat-stm32mp1: set voltage list at pmic driver init
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
Owners: @OP-TEE/linaro

drivers: regulator: supported voltage consider levels bounds
  core/drivers/regulator/regulator.c
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi_server: remove useless bounding of voltage levels
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

core: remove unused bytes from transfer list
  core/kernel/transfer_list.c
Owners: @OP-TEE/linaro

core: update transfer list header and signature
  core/include/kernel/transfer_list.h
  core/kernel/transfer_list.c
Owners: @OP-TEE/linaro

mk: config: add comment for CFG_TRANSFER_LIST
  mk/config.mk
Owners: @OP-TEE/linaro

plat-aspeed: use gic_init_per_cpu()
  core/arch/arm/plat-aspeed/platform_ast2600.c
  core/arch/arm/plat-aspeed/platform_ast2700.c
Owners: @OP-TEE/linaro

plat-corstone1000: use gic_init_per_cpu()
  core/arch/arm/plat-corstone1000/main.c
Owners: @OP-TEE/linaro

dts: stm32mp15: enable secure IWDG1 on ST boards
  core/arch/arm/dts/stm32mp157c-ed1.dts
  core/arch/arm/dts/stm32mp15xx-dkx.dtsi
Owners: @OP-TEE/linaro

dts: stm32mp15: disable non-secure IWDG2 on ST boards
  core/arch/arm/dts/stm32mp157c-ed1.dts
  core/arch/arm/dts/stm32mp15xx-dkx.dtsi
Owners: @OP-TEE/linaro

plat-stm32mp1: exposes a fastcall SMC watchdog service
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

mk: config: add comment for CFG_TRANSFER_LIST
  mk/config.mk
Owners: @OP-TEE/linaro

core: update transfer list header and signature
  core/include/kernel/transfer_list.h
  core/kernel/transfer_list.c
Owners: @OP-TEE/linaro

core: remove unused bytes from transfer list
  core/kernel/transfer_list.c
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi_server: remove useless bounding of voltage levels
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

drivers: regulator: stm32_vrefbuf: set voltage list at init
  core/drivers/regulator/stm32_vrefbuf.c
Owners: @OP-TEE/linaro

plat-stm32mp1: set voltage list at pmic driver init
  core/arch/arm/plat-stm32mp1/drivers/stm32mp1_pmic.c
Owners: @OP-TEE/linaro

drivers: regulator: supported voltage consider levels bounds
  core/drivers/regulator/regulator.c
Owners: @OP-TEE/linaro

plat-imx: use gic_init_per_cpu()
  core/arch/arm/plat-imx/main.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

plat-ls: use gic_init_per_cpu()
  core/arch/arm/plat-ls/main.c
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

plat-k3: use gic_init_per_cpu()
  core/arch/arm/plat-k3/main.c
Owners: @OP-TEE/linaro

plat-ti: use gic_init_per_cpu()
  core/arch/arm/plat-ti/main.c
Owners: @OP-TEE/plat-ti, @glneo

plat-stm32mp1: use gic_init_per_cpu()
  core/arch/arm/plat-stm32mp1/main.c
Owners: @OP-TEE/linaro

plat-rzn1: use gic_init_per_cpu()
  core/arch/arm/plat-rzn1/main.c
Owners: @OP-TEE/linaro

plat-rockchip: use gic_init_per_cpu()
  core/arch/arm/plat-rockchip/main.c
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-stm32mp2: use gic_init_per_cpu()
  core/arch/arm/plat-stm32mp2/main.c
Owners: @OP-TEE/linaro

plat-rcar: use gic_init_per_cpu()
  core/arch/arm/plat-rcar/main.c
Owners: @OP-TEE/plat-rcar

core: remove unused deprecated gic_cpu_init()
  core/drivers/gic.c
  core/include/drivers/gic.h
Owners: @OP-TEE/linaro

plat-zynq7k: use gic_init_per_cpu()
  core/arch/arm/plat-zynq7k/main.c
Owners: @OP-TEE/plat-zynq7k, yan.yan@windriver.com, Yu.Feng@windriver.com

plat-stm: use gic_init_per_cpu()
  core/arch/arm/plat-stm/main.c
Owners: @OP-TEE/plat-stm

plat-sunxi: use gic_init_per_cpu()
  core/arch/arm/plat-sunxi/main.c
Owners: @OP-TEE/linaro
