Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: riscv: vfp: own xstatus.FS from vfp_enable() and vfp_disable()
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/kernel/thread_optee_abi_rv.S
  core/arch/riscv/kernel/thread_rv.S
  core/arch/riscv/kernel/vfp.c
Owners: @OP-TEE/linaro

core: riscv: give a TA the FP unit on first use
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

amd: add PMC/PLMFW version compatibility check
  core/arch/arm/plat-versal2/conf.mk
  core/arch/arm/plat-versal2/main.c
  core/drivers/amd/pmc/pmc_fw_info.c
  core/drivers/amd/pmc/sub.mk
  core/drivers/amd/sub.mk
  core/include/drivers/amd/pmc_fw_info.h
  core/include/drivers/amd/pmc_sharedmem.h
Owners: @OP-TEE/linaro

drivers: amd: gate firmware compatibility support
  core/drivers/amd/sub.mk
Owners: @OP-TEE/linaro

core: riscv: boot: initialize MPXY on all harts and probe RPMI channels
  core/arch/riscv/include/sbi_mpxy_rpmi.h
  core/arch/riscv/kernel/boot.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: add sbi_mpxy_to_tee_result()
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: bounds-check lengths against shared memory
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: add sbi_mpxy_init()
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

core: riscv: sbi_mpxy: fix SET_SHMEM arguments and use queried size
  core/arch/riscv/include/sbi_mpxy.h
  core/arch/riscv/kernel/sbi_mpxy.c
Owners: @OP-TEE/linaro

Update CHANGELOG for 4.11.0
  CHANGELOG.md
  mk/config.mk
Owners: @OP-TEE/linaro

core: vendor_props: derive the endorsement seed from the HUK
  core/arch/arm/plat-vexpress/vendor_props.c
  core/include/kernel/huk_subkey.h
Owners: @OP-TEE/plat-vexpress, @OP-TEE/linaro

core: tee: share the TA endorsement seed property
  core/arch/arm/plat-vexpress/conf.mk
  core/arch/arm/plat-vexpress/sub.mk
  core/tee/sub.mk
  core/tee/vendor_props.c
  mk/config.mk
Owners: @OP-TEE/plat-vexpress, @OP-TEE/linaro

plat-zynqmp: enable the TA endorsement seed property
  core/arch/arm/plat-zynqmp/conf.mk
Owners: @OP-TEE/plat-zynqmp

core: tee_ree_fs: remove an unprotected dirf.db only when it is corrupt
  core/tee/tee_ree_fs.c
Owners: @OP-TEE/linaro

core: refuse to load a user TA with the nil UUID
  core/kernel/user_ta.c
Owners: @OP-TEE/linaro

core: add tee_uuid_is_nil()
  core/include/tee/uuid.h
  core/tee/tadb.c
  core/tee/uuid.c
Owners: @OP-TEE/linaro

amd: add PMC/PLMFW version compatibility check
  core/arch/arm/plat-versal2/conf.mk
  core/arch/arm/plat-versal2/main.c
  core/drivers/amd/pmc/pmc_fw_info.c
  core/drivers/amd/pmc/sub.mk
  core/drivers/amd/sub.mk
  core/include/drivers/amd/pmc_fw_info.h
  core/include/drivers/amd/pmc_sharedmem.h
Owners: @OP-TEE/linaro

drivers: amd: gate firmware compatibility support
  core/drivers/amd/sub.mk
Owners: @OP-TEE/linaro

core: ltc, mbedtls: select SM2 ciphertext format with config
  core/crypto.mk
  core/lib/libtomcrypt/sm2-pke.c
  lib/libmbedtls/core/sm2-pke.c
Owners: @OP-TEE/linaro

core: riscv: vfp: own xstatus.FS from vfp_enable() and vfp_disable()
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/kernel/thread_optee_abi_rv.S
  core/arch/riscv/kernel/thread_rv.S
  core/arch/riscv/kernel/vfp.c
Owners: @OP-TEE/linaro

core: riscv: enable FP context switching with CFG_WITH_VFP
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: riscv: give a TA the FP unit on first use
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: vfp: low-level save, restore and clear of the f registers
  core/arch/riscv/include/kernel/vfp.h
  core/arch/riscv/include/riscv.h
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/kernel/vfp_private.h
  core/arch/riscv/kernel/vfp_rv.S
  lib/libutils/ext/include/riscv.S
Owners: @OP-TEE/linaro

core: riscv: switch the REE FP context lazily at the domain boundary
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: recognise the FP disabled trap from user mode
  core/arch/riscv/kernel/abort.c
Owners: @OP-TEE/linaro

core: riscv: add vector ISA configuration
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: riscv: prevent automatic vector instructions in C code
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: riscv: add Linux vector AES ECB/CBC/CTR acceleration
  core/arch/riscv/crypto/aes_riscv_zvkng.h
  core/arch/riscv/crypto/aes_riscv_zvkng_glue.c
Owners: @OP-TEE/linaro

core: riscv: add Linux vector SHA-256 and SHA-512 acceleration
  core/arch/riscv/crypto/sha256-riscv64-zvknha_or_zvknhb-zvkb.S
  core/arch/riscv/crypto/sha256_riscv_zvkng_glue.c
  core/arch/riscv/crypto/sha512-riscv64-zvknhb-zvkb.S
  core/arch/riscv/crypto/sha512_riscv_zvkng_glue.c
  core/arch/riscv/crypto/sub.mk
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: riscv: add Linux vector AES-XTS acceleration
  core/arch/riscv/crypto/aes_riscv_zvkng.h
  core/arch/riscv/crypto/aes_riscv_zvkng_glue.c
Owners: @OP-TEE/linaro

core: riscv: allow VFP for vector crypto acceleration
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: riscv: add AES key expansion and Linux vector assembly
  core/arch/riscv/crypto/aes-macros.S
  core/arch/riscv/crypto/aes-riscv64-zvkned-zvbb-zvkg.S
  core/arch/riscv/crypto/aes-riscv64-zvkned-zvkb.S
  core/arch/riscv/crypto/aes-riscv64-zvkned.S
  core/arch/riscv/crypto/aes_riscv_zvkng_glue.c
  core/arch/riscv/crypto/sub.mk
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: riscv: derive vector configuration from crypto acceleration
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

drivers: qcom: qfprom: preserve the programming clock state
  core/drivers/clk/qcom/clock-qcom.c
  core/drivers/qcom/qfprom/qfprom_priv.h
  core/drivers/qcom/qfprom/qfprom_target.c
Owners: @OP-TEE/linaro

drivers: qcom: qfprom: check FEC error status after raw reads
  core/drivers/qcom/qfprom/qfprom_core.c
Owners: @OP-TEE/linaro

plat-qcom: skip fuse provisioning in download mode
  core/arch/arm/plat-qcom/provision/provision_boot.c
Owners: @OP-TEE/linaro

drivers: qcom: qfprom: manage programming supplies and cleanup
  core/arch/arm/plat-qcom/hoya/kodiak/target.mk
  core/arch/arm/plat-qcom/hoya/lemans/target.mk
  core/arch/arm/plat-qcom/provision/provision_boot.c
  core/arch/arm/plat-qcom/provision/provision_core.c
  core/arch/arm/plat-qcom/provision/sec_elf_v2.h
  core/drivers/qcom/qfprom/kodiak/qfprom_fuse_region.c
  core/drivers/qcom/qfprom/kodiak/qfprom_target.h
  core/drivers/qcom/qfprom/lemans/qfprom_fuse_region.c
  core/drivers/qcom/qfprom/qfprom_core.c
  core/drivers/qcom/qfprom/qfprom_priv.h
  core/drivers/qcom/qfprom/qfprom_target.c
  core/include/drivers/qcom/qfprom/qfprom.h
Owners: @OP-TEE/linaro

plat-qcom: fix fuse region coverage and retry gates
  core/arch/arm/plat-qcom/provision/provision_core.c
  core/arch/arm/plat-qcom/provision/provision_regions.c
Owners: @OP-TEE/linaro

plat-qcom: contain fuse provisioning input and failures
  core/arch/arm/plat-qcom/provision/provision_boot.c
  core/arch/arm/plat-qcom/provision/provision_core.c
  core/drivers/qcom/qfprom/qfprom_core.c
  core/include/drivers/qcom/qfprom/qfprom.h
Owners: @OP-TEE/linaro

plat-qcom: validate complete fuse provisioning payloads
  core/arch/arm/plat-qcom/provision/provision_boot.c
  core/arch/arm/plat-qcom/provision/provision_core.c
  core/arch/arm/plat-qcom/provision/provision_regions.c
  core/arch/arm/plat-qcom/provision/sec_elf_v2.c
  core/arch/arm/plat-qcom/provision/sec_elf_v2.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
