Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: tests: add a notification test watchdog
  core/tests/notif_test_wd.c
  core/tests/sub.mk
Owners: @OP-TEE/linaro

core: arm64: add {read,write}_cntps_cval()
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: notif_send_async(): remove debug print
  core/kernel/notif_default.c
Owners: @OP-TEE/linaro

core: arm64: implement timer_init_callout_service()
  core/arch/arm/kernel/generic_timer.c
  core/arch/arm/kernel/sub.mk
Owners: @OP-TEE/linaro

plat-vexpress: initialize callout service
  core/arch/arm/plat-vexpress/main.c
Owners: @OP-TEE/plat-vexpress

core: define generic callout service initializer
  core/include/kernel/timer.h
Owners: @OP-TEE/linaro

core: add callout service
  core/include/kernel/callout.h
  core/kernel/callout.c
  core/kernel/sub.mk
Owners: @OP-TEE/linaro

plat-vexpress: qemu_armv8: define IT_SEC_PHY_TIMER
  core/arch/arm/plat-vexpress/platform_config.h
Owners: @OP-TEE/plat-vexpress

ta: remoteproc: allow remoteproc_load_fw re-entrance
  ta/remoteproc/src/remoteproc_core.c
Owners: @OP-TEE/linaro

core: arm: use cpu_spin_lock_xsave() in generic timer implementation
  core/arch/arm/kernel/timer_a64.c
Owners: @OP-TEE/linaro

core: arm: mm: use thread_unmask_exceptions() where applicable
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

plat-synquacer: use cpu_spin_lock_xsave() and friend
  core/arch/arm/plat-synquacer/rng_pta.c
Owners: @OP-TEE/linaro

ta: pkcs11: Clarify context reference in step_symm_operation()
  ta/pkcs11/src/processing_symm.c
Owners: @OP-TEE/linaro

core: arm: mm: use thread_unmask_exceptions() where applicable
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: arm: use cpu_spin_lock_xsave() in generic timer implementation
  core/arch/arm/kernel/timer_a64.c
Owners: @OP-TEE/linaro

plat-synquacer: use cpu_spin_lock_xsave() and friend
  core/arch/arm/plat-synquacer/rng_pta.c
Owners: @OP-TEE/linaro

core: add missing DECLARE_KEEP_PAGER()
  core/arch/arm/kernel/generic_timer.c
  core/arch/arm/kernel/tee_time_arm_cntpct.c
  core/tests/notif_test_wd.c
Owners: @OP-TEE/linaro

core: callout: assert callback is unpaged
  core/kernel/callout.c
Owners: @OP-TEE/linaro

core: notif: assert callback is unpaged
  core/kernel/notif.c
Owners: @OP-TEE/linaro

core: add CFG_CALLOUT
  core/arch/arm/kernel/sub.mk
  core/arch/arm/plat-vexpress/main.c
  core/kernel/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-vexpress

core: introduce CFG_NOTIF_TEST_WD
  core/tests/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

core: introduce CFG_NOTIF_TEST_WD
  core/tests/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

core: add CFG_CALLOUT
  core/arch/arm/kernel/sub.mk
  core/arch/arm/plat-vexpress/main.c
  core/kernel/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-vexpress

core: callout: assert callback is unpaged
  core/kernel/callout.c
Owners: @OP-TEE/linaro

core: notif: assert callback is unpaged
  core/kernel/notif.c
Owners: @OP-TEE/linaro

core: add missing DECLARE_KEEP_PAGER()
  core/arch/arm/kernel/generic_timer.c
  core/arch/arm/kernel/tee_time_arm_cntpct.c
  core/tests/notif_test_wd.c
Owners: @OP-TEE/linaro

ta: pkcs11: Clarify context reference in step_symm_operation()
  ta/pkcs11/src/processing_symm.c
Owners: @OP-TEE/linaro

core: boot: fix memtag init sequence
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a64.S
  core/include/kernel/boot.h
Owners: @OP-TEE/linaro

core: boot: fix memtag init sequence
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a64.S
  core/include/kernel/boot.h
Owners: @OP-TEE/linaro

core: riscv: Apply exception return to resume thread
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/include/riscv.h
  core/arch/riscv/kernel/asm-defines.c
  core/arch/riscv/kernel/thread_arch.c
  core/arch/riscv/kernel/thread_rv.S
Owners: @OP-TEE/linaro

core: riscv: Refine thread enter/exit user mode
  core/arch/riscv/kernel/thread_arch.c
  core/arch/riscv/kernel/thread_rv.S
Owners: @OP-TEE/linaro

core: riscv: Refine thread trap handler
  core/arch/riscv/kernel/asm-defines.c
  core/arch/riscv/kernel/thread_rv.S
Owners: @OP-TEE/linaro

core: riscv: Apply exception return to handle_user_mode_panic()
  core/arch/riscv/kernel/abort.c
Owners: @OP-TEE/linaro

core: riscv: Apply STATUS helper for RPC resume
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/kernel/thread_arch.c
  core/arch/riscv/kernel/thread_optee_abi_rv.S
Owners: @OP-TEE/linaro

core: riscv: Apply mask/unmask exceptions when operating page table
  core/arch/riscv/mm/core_mmu_arch.c
Owners: @OP-TEE/linaro

core: riscv: Apply exception return to resume thread
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/include/riscv.h
  core/arch/riscv/kernel/asm-defines.c
  core/arch/riscv/kernel/thread_arch.c
  core/arch/riscv/kernel/thread_rv.S
Owners: @OP-TEE/linaro

core: riscv: Refine thread trap handler
  core/arch/riscv/kernel/asm-defines.c
  core/arch/riscv/kernel/thread_rv.S
Owners: @OP-TEE/linaro

core: riscv: Refine thread enter/exit user mode
  core/arch/riscv/kernel/thread_arch.c
  core/arch/riscv/kernel/thread_rv.S
Owners: @OP-TEE/linaro

core: riscv: Apply STATUS helper for RPC resume
  core/arch/riscv/include/kernel/thread_private_arch.h
  core/arch/riscv/kernel/thread_arch.c
  core/arch/riscv/kernel/thread_optee_abi_rv.S
Owners: @OP-TEE/linaro

core: riscv: Apply exception return to handle_user_mode_panic()
  core/arch/riscv/kernel/abort.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
