Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: ltc: fix return value in crypto API SM2 PKA decrypt
  core/lib/libtomcrypt/sm2-pke.c
Owners: @OP-TEE/linaro

core: ltc: fix return value in crypto API SM2 PKA decrypt
  core/lib/libtomcrypt/sm2-pke.c
Owners: @OP-TEE/linaro

plat-stm32mp1: stub stm32mp_nsec_can_access_pmic_regu() when no PMIC
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi: handlers for STPMIC1 regulators
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi: make local arrays static
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi: remove unused references
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

plat-stm32mp1: stub stm32mp_nsec_can_access_pmic_regu() when no PMIC
  core/arch/arm/plat-stm32mp1/stm32_util.h
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi: make local arrays static
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi: handlers for STPMIC1 regulators
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

plat-stm32mp1: scmi: remove unused references
  core/arch/arm/plat-stm32mp1/scmi_server.c
Owners: @OP-TEE/linaro

drivers: implement se050 driver
  core/drivers/crypto/se050/adaptors/apis/apdu.c
  core/drivers/crypto/se050/adaptors/apis/sss.c
  core/drivers/crypto/se050/adaptors/apis/user.c
  core/drivers/crypto/se050/adaptors/include/se050.h
  core/drivers/crypto/se050/adaptors/include/se050_apdu_apis.h
  core/drivers/crypto/se050/adaptors/include/se050_sss_apis.h
  core/drivers/crypto/se050/adaptors/include/se050_user_apis.h
  core/drivers/crypto/se050/adaptors/include/se050_utils.h
  core/drivers/crypto/se050/adaptors/sub.mk
  core/drivers/crypto/se050/adaptors/utils/info.c
  core/drivers/crypto/se050/adaptors/utils/scp_config.c
  core/drivers/crypto/se050/adaptors/utils/utils.c
  core/drivers/crypto/se050/core/cipher.c
  core/drivers/crypto/se050/core/ctr.c
  core/drivers/crypto/se050/core/huk.c
  core/drivers/crypto/se050/core/include/se050_cipher_algorithms.h
  core/drivers/crypto/se050/core/rng.c
  core/drivers/crypto/se050/core/rsa.c
  core/drivers/crypto/se050/core/scp03.c
  core/drivers/crypto/se050/core/storage.c
  core/drivers/crypto/se050/core/sub.mk
  core/drivers/crypto/se050/session.c
  core/drivers/crypto/se050/sub.mk
  core/drivers/crypto/sub.mk
  core/include/crypto/crypto.h
Owners: @OP-TEE/linaro

core: pta: SCP03 pseudo trusted application
  core/pta/scp03.c
  core/pta/sub.mk
  lib/libutee/include/scp03_pta.h
Owners: @OP-TEE/linaro

core: svc store: delete keys from secure elements
  core/crypto/crypto.c
  core/include/crypto/crypto.h
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

drivers: se050: glue layer
  core/drivers/crypto/se050/glue/i2c.c
  core/drivers/crypto/se050/glue/user.c
  core/drivers/crypto/se050/sub.mk
Owners: @OP-TEE/linaro

plat-imx: conf: don't force SOFTWARE_PRNG
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

MAINTAINERS: maintain se050
  MAINTAINERS
Owners: @OP-TEE/approvers

core: build: se050 driver
  core/arch/arm/kernel/link.mk
  core/crypto.mk
  core/drivers/crypto/se050/crypto.mk
  mk/config.mk
Owners: @OP-TEE/linaro

plat-imx: conf: don't force CRYPTO_DRIVER
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: se050: glue layer
  core/drivers/crypto/se050/glue/i2c.c
  core/drivers/crypto/se050/glue/user.c
  core/drivers/crypto/se050/sub.mk
Owners: @OP-TEE/linaro

core: svc store: delete keys from secure elements
  core/crypto/crypto.c
  core/include/crypto/crypto.h
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

core: build: se050 driver
  core/arch/arm/kernel/link.mk
  core/crypto.mk
  core/drivers/crypto/se050/crypto.mk
  mk/config.mk
Owners: @OP-TEE/linaro

plat-imx: conf: don't force SOFTWARE_PRNG
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: implement se050 driver
  core/drivers/crypto/se050/adaptors/apis/apdu.c
  core/drivers/crypto/se050/adaptors/apis/sss.c
  core/drivers/crypto/se050/adaptors/apis/user.c
  core/drivers/crypto/se050/adaptors/include/se050.h
  core/drivers/crypto/se050/adaptors/include/se050_apdu_apis.h
  core/drivers/crypto/se050/adaptors/include/se050_sss_apis.h
  core/drivers/crypto/se050/adaptors/include/se050_user_apis.h
  core/drivers/crypto/se050/adaptors/include/se050_utils.h
  core/drivers/crypto/se050/adaptors/sub.mk
  core/drivers/crypto/se050/adaptors/utils/info.c
  core/drivers/crypto/se050/adaptors/utils/scp_config.c
  core/drivers/crypto/se050/adaptors/utils/utils.c
  core/drivers/crypto/se050/core/cipher.c
  core/drivers/crypto/se050/core/ctr.c
  core/drivers/crypto/se050/core/huk.c
  core/drivers/crypto/se050/core/include/se050_cipher_algorithms.h
  core/drivers/crypto/se050/core/rng.c
  core/drivers/crypto/se050/core/rsa.c
  core/drivers/crypto/se050/core/scp03.c
  core/drivers/crypto/se050/core/storage.c
  core/drivers/crypto/se050/core/sub.mk
  core/drivers/crypto/se050/session.c
  core/drivers/crypto/se050/sub.mk
  core/drivers/crypto/sub.mk
  core/include/crypto/crypto.h
Owners: @OP-TEE/linaro

core: pta: SCP03 pseudo trusted application
  core/pta/scp03.c
  core/pta/sub.mk
  lib/libutee/include/scp03_pta.h
Owners: @OP-TEE/linaro

MAINTAINERS: maintain se050
  MAINTAINERS
Owners: @OP-TEE/approvers

plat-imx: conf: don't force CRYPTO_DRIVER
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

build: fix ld-option again
  mk/cc-option.mk
Owners: @OP-TEE/linaro

build: fix ld-option again
  mk/cc-option.mk
Owners: @OP-TEE/linaro

core: make sure thread_get_core_local() is unpaged
  core/arch/arm/kernel/thread.c
Owners: @OP-TEE/linaro

ta: pkcs11: fix return code on one-shot process of a updated operation
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

caam: helper: enable PR for RNG state handles
  core/drivers/crypto/caam/include/caam_desc_helper.h
Owners: @OP-TEE/linaro

caam: defines: add define for RNG PR
  core/drivers/crypto/caam/include/caam_desc_defines.h
Owners: @OP-TEE/linaro

caam: plat_rng_init without NXP_CAAM_RNG_DRV
  core/drivers/crypto/caam/caam_rng.c
Owners: @OP-TEE/linaro

core: arm: helper function to read 32bit usr_sp banked register
  core/arch/arm/kernel/thread_a32.S
  core/arch/arm/kernel/thread_private.h
Owners: @OP-TEE/linaro

core: stmm: fix storage syscalls return value
  core/arch/arm/kernel/stmm_sp.c
Owners: @OP-TEE/linaro

core: stmm: support 32bit execution
  core/arch/arm/include/kernel/stmm_sp.h
  core/arch/arm/kernel/stmm_sp.c
Owners: @OP-TEE/linaro

core: stmm: set panic flag when secure partition panics
  core/arch/arm/kernel/stmm_sp.c
Owners: @OP-TEE/linaro

core: arm: helper function to read 32bit usr_sp banked register
  core/arch/arm/kernel/thread_a32.S
  core/arch/arm/kernel/thread_private.h
Owners: @OP-TEE/linaro

core: stmm: set panic flag when secure partition panics
  core/arch/arm/kernel/stmm_sp.c
Owners: @OP-TEE/linaro

core: stmm: fix storage syscalls return value
  core/arch/arm/kernel/stmm_sp.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
