Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

spi: pl022: expose internal fifo flush API
  core/drivers/pl022_spi.c
  core/include/spi.h
Owners: @OP-TEE/linaro

core: add small test to check deferred work framework
  core/pta/dw.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: simple framework to execute deferred works
  core/include/kernel/deferred_work.h
  core/kernel/deferred_work.c
  core/kernel/sub.mk
  core/pta/dw.c
  core/pta/sub.mk
  lib/libutee/include/pta_dw.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: add deferred init calls
  core/include/initcall.h
  core/kernel/initcall.c
  mk/config.mk
Owners: @OP-TEE/linaro

[review] core: add deferred init calls
  core/include/initcall.h
Owners: @OP-TEE/linaro

libutee: user_ta_header.h: remove unused enum user_ta_core_service_id
  lib/libutee/include/user_ta_header.h
Owners: @OP-TEE/linaro

libutee: user_ta_header.h: remove unused property strings
  lib/libutee/include/user_ta_header.h
Owners: @OP-TEE/linaro

libutee: user_ta_header.h: remove unused struct ta_func_head
  lib/libutee/include/user_ta_header.h
Owners: @OP-TEE/linaro

core: remove unused TEE_TIME_BOOT_TICKS_HZ
  core/include/kernel/tee_time.h
Owners: @OP-TEE/linaro

libutee: user_ta_header.h: remove unused enum user_ta_core_service_id
  lib/libutee/include/user_ta_header.h
Owners: @OP-TEE/linaro

core: remove unused TEE_TIME_BOOT_TICKS_HZ
  core/include/kernel/tee_time.h
Owners: @OP-TEE/linaro

libutee: user_ta_header.h: remove unused struct ta_func_head
  lib/libutee/include/user_ta_header.h
Owners: @OP-TEE/linaro

libutee: user_ta_header.h: remove unused property strings
  lib/libutee/include/user_ta_header.h
Owners: @OP-TEE/linaro

ta: pkcs11: fix return code when parsing attribute templates
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: release active process on session closure
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

ta: pkcs11: remove empty tee_release_ctr_operation()
  ta/pkcs11/src/processing.c
  ta/pkcs11/src/processing.h
  ta/pkcs11/src/processing_aes.c
Owners: @OP-TEE/linaro

ta: pkcs11: add missing header files
  ta/pkcs11/src/pkcs11_helpers.h
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

ta: pkcs11: fix ordering in switch case
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: fix initial value for return code
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/object.c
Owners: @OP-TEE/linaro

ta: pkcs11: rename argument bp to attrs for generic attributes
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

core: kernel: link.mk: Move rules to generate tee-raw.bin and tee.srec from rcar platform
  core/arch/arm/kernel/link.mk
  core/arch/arm/plat-rcar/link.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-rcar

Initial support for Renesas RZ/G2{H,M,N,E} SoC's
  .shippable.yml
  MAINTAINERS
  core/arch/arm/plat-rzg/conf.mk
  core/arch/arm/plat-rzg/link.mk
  core/arch/arm/plat-rzg/main.c
  core/arch/arm/plat-rzg/platform_config.h
  core/arch/arm/plat-rzg/sub.mk
Owners: @OP-TEE/linaro, @OP-TEE/approvers

ta: pkcs11: fix return code when parsing attribute templates
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: rename argument bp to attrs for generic attributes
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: add missing header files
  ta/pkcs11/src/pkcs11_helpers.h
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

ta: pkcs11: release active process on session closure
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

ta: pkcs11: remove empty tee_release_ctr_operation()
  ta/pkcs11/src/processing.c
  ta/pkcs11/src/processing.h
  ta/pkcs11/src/processing_aes.c
Owners: @OP-TEE/linaro

ta: pkcs11: fix ordering in switch case
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: fix initial value for return code
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/object.c
Owners: @OP-TEE/linaro

Initial support for Renesas RZ/G2{H,M,N,E} SoC's
  .shippable.yml
  MAINTAINERS
  core/arch/arm/plat-rzg/conf.mk
  core/arch/arm/plat-rzg/link.mk
  core/arch/arm/plat-rzg/main.c
  core/arch/arm/plat-rzg/platform_config.h
  core/arch/arm/plat-rzg/sub.mk
Owners: @OP-TEE/linaro, @OP-TEE/approvers

core: kernel: link.mk: Move rules to generate tee-raw.bin and tee.srec from rcar platform
  core/arch/arm/kernel/link.mk
  core/arch/arm/plat-rcar/link.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-rcar

drivers: imx_i2c: remove non-portable use of define
  core/drivers/imx_i2c.c
Owners: @OP-TEE/linaro

drivers: imx_i2c: remove non-portable use of define
  core/drivers/imx_i2c.c
Owners: @OP-TEE/linaro

drivers: crypto: se050: strip spaces from crypto.mk
  core/drivers/crypto/se050/crypto.mk
Owners: @OP-TEE/linaro

drivers: crypto: se050: strip spaces from crypto.mk
  core/drivers/crypto/se050/crypto.mk
Owners: @OP-TEE/linaro

core: fix user mode context reference in pager
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

build: make 'force' macro more robust
  mk/checkconf.mk
Owners: @OP-TEE/linaro

build: make 'force' macro more robust
  mk/checkconf.mk
Owners: @OP-TEE/linaro

core: fix user mode context reference in pager
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

core: copy mode in cts_copy_state()
  core/crypto/aes-cts.c
Owners: @OP-TEE/linaro
