Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

Thread changes for RISCV floating point and vector changes
  core/arch/riscv/kernel/thread_vfp.c
Owners: @OP-TEE/linaro

ta: pkcs#11: limit indirect attribute recursion depth
  ta/pkcs11/src/attributes.c
  ta/pkcs11/src/attributes.h
  ta/pkcs11/src/object.c
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/processing_ec.c
  ta/pkcs11/src/sanitize_object.c
  ta/pkcs11/src/sanitize_object.h
Owners: @OP-TEE/linaro

MAINTAINERS: Add a "THE CORE REVIEWERS" category
  MAINTAINERS
Owners: @OP-TEE/approvers

libmbedtls: disable PK_EXPORT_KEYS_ON_THE_STACK
  lib/libmbedtls/mbedtls/library/pk_internal.h
Owners: @OP-TEE/linaro

libmbedtls: Fix clang build
  lib/libmbedtls/mbedtls/library/alignment.h
Owners: @OP-TEE/linaro

libmbedtls: fix no CRT issue
  lib/libmbedtls/mbedtls/library/rsa.c
Owners: @OP-TEE/linaro

libmbedtls: add interfaces in mbedtls for context memory operation
  lib/libmbedtls/mbedtls/include/mbedtls/cipher.h
  lib/libmbedtls/mbedtls/include/mbedtls/cmac.h
  lib/libmbedtls/mbedtls/library/cipher.c
  lib/libmbedtls/mbedtls/library/cipher_wrap.c
  lib/libmbedtls/mbedtls/library/cipher_wrap.h
  lib/libmbedtls/mbedtls/library/cmac.c
  lib/libmbedtls/mbedtls/library/md.c
Owners: @OP-TEE/linaro

libmbedtls: Fix missing ctx_clone_func in xts_aes_info
  lib/libmbedtls/mbedtls/library/cipher_wrap.c
Owners: @OP-TEE/linaro

libmbedtls: add fault mitigation in mbedtls_rsa_rsassa_pkcs1_v15_verify()
  lib/libmbedtls/mbedtls/library/rsa.c
Owners: @OP-TEE/linaro

libmbedtls: add SM2 curve
  lib/libmbedtls/mbedtls/include/mbedtls/ecp.h
  lib/libmbedtls/mbedtls/library/ecp.c
  lib/libmbedtls/mbedtls/library/ecp_curves.c
Owners: @OP-TEE/linaro

libmbedtls: use mempool_calloc() for temporary memory
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmbedtls: add CFG_CORE_UNSAFE_MODEXP and CFG_TA_MBEDTLS_UNSAFE_MODEXP
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmbedtls: fix compilation warning with GCC14
  lib/libmbedtls/mbedtls/library/common.h
Owners: @OP-TEE/linaro

mbedtls: remove default include/mbedtls/config.h
  lib/libmbedtls/mbedtls/include/mbedtls/mbedtls_config.h
Owners: @OP-TEE/linaro

libmbedtls: Fix clang build
  lib/libmbedtls/mbedtls/library/alignment.h
Owners: @OP-TEE/linaro

libmbedtls: make mbedtls_mpi_mont*() available
  lib/libmbedtls/mbedtls/include/mbedtls/bignum.h
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmbedtls: add mbedtls_mpi_init_mempool()
  lib/libmbedtls/mbedtls/include/mbedtls/bignum.h
  lib/libmbedtls/mbedtls/library/bignum.c
  lib/libmbedtls/mbedtls/library/ecp.c
Owners: @OP-TEE/linaro

libmedtls: mpi_miller_rabin: increase count limit
  lib/libmbedtls/mbedtls/library/bignum.c
Owners: @OP-TEE/linaro

libmbedtls: fix build warning related to deprecated DTLS connect ID
  lib/libmbedtls/mbedtls/include/mbedtls/ssl.h
Owners: @OP-TEE/linaro

libmbedtls: fix cipher_wrap.c for NIST AES Key Wrap mode
  lib/libmbedtls/mbedtls/library/cipher_wrap.c
Owners: @OP-TEE/linaro

libmbedtls: disable PK_EXPORT_KEYS_ON_THE_STACK
  lib/libmbedtls/mbedtls/library/pk_internal.h
Owners: @OP-TEE/linaro

libmbedtls: add fault mitigation in mbedtls_rsa_rsassa_pss_verify_ext()
  lib/libmbedtls/mbedtls/library/rsa.c
Owners: @OP-TEE/linaro

libmbedtls: fix warning redundant-decls in mbedtls 3.6.5
  lib/libmbedtls/mbedtls/include/psa/crypto.h
Owners: @OP-TEE/linaro

mbedtls: configure mbedtls to reach for config
  lib/libmbedtls/mbedtls/include/mbedtls/mbedtls_config.h
Owners: @OP-TEE/linaro

libmbedtls: allow inclusion of arm_neon.h
  lib/libmbedtls/mbedtls/library/common.h
Owners: @OP-TEE/linaro

libmbedtls: fix cipher_wrap.c for chacha20 and chachapoly
  lib/libmbedtls/mbedtls/library/cipher_wrap.c
Owners: @OP-TEE/linaro

MAINTAINERS: Add a "THE CORE REVIEWERS" category
  MAINTAINERS
Owners: @OP-TEE/approvers

plat-qcom: Add support for GICv4
  core/arch/arm/plat-qcom/main.c
Owners: @OP-TEE/linaro

plat-qcom: Add support for Nord based on Wildcat arch
  core/arch/arm/plat-qcom/bobcat/sub.mk
  core/arch/arm/plat-qcom/conf.mk
  core/arch/arm/plat-qcom/hoya/sub.mk
  core/arch/arm/plat-qcom/sub.mk
  core/arch/arm/plat-qcom/wildcat/arch_config.h
  core/arch/arm/plat-qcom/wildcat/core_pos_a64.S
  core/arch/arm/plat-qcom/wildcat/nord/target.mk
  core/arch/arm/plat-qcom/wildcat/nord/target_config.h
  core/arch/arm/plat-qcom/wildcat/qcom-arch.mk
  core/arch/arm/plat-qcom/wildcat/sub.mk
Owners: @OP-TEE/linaro

mmu: also ignore dyn VA spaces in get_type_by_pa
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

ta: pkcs11: Introduce HKDF_DERIVE support
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/processing.c
  ta/pkcs11/src/processing.h
  ta/pkcs11/src/processing_hkdf.c
  ta/pkcs11/src/sub.mk
  ta/pkcs11/src/token_capabilities.c
Owners: @OP-TEE/linaro

ta: pkcs11: add CKM_AES_GCM key wrap/unwrap
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/processing.h
  ta/pkcs11/src/processing_aes.c
  ta/pkcs11/src/processing_symm.c
  ta/pkcs11/src/token_capabilities.c
Owners: @OP-TEE/linaro

drivers: qcom: rng: Consolidate PRNG into generic RNG driver
  core/arch/arm/plat-qcom/hoya/arch_config.h
  core/arch/arm/plat-qcom/hoya/qcom-arch.mk
  core/drivers/qcom/rng/qcom-rng.c
  core/drivers/qcom/sub.mk
Owners: @OP-TEE/linaro

core: fix typo MOBJ_USE_CASE_TRUSED_UI -> TRUSTED_UI
  core/arch/arm/mm/mobj_ffa.c
  core/include/mm/mobj.h
  core/tee/entry_std.c
Owners: @OP-TEE/linaro

plat-qcom: Enable consolidated RNG driver for QCOM platforms
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target.mk
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target_config.h
Owners: @OP-TEE/linaro

drivers: qcom: wdog: Add secure watchdog driver for Bobcat family
  core/drivers/qcom/sub.mk
  core/drivers/qcom/wdt/qcom-wdt.c
Owners: @OP-TEE/linaro

plat-qcom: Enable sec wdog config for Bobcat family
  core/arch/arm/plat-qcom/bobcat/ipq52xx/target_config.h
  core/arch/arm/plat-qcom/bobcat/ipq96xx/target_config.h
  core/arch/arm/plat-qcom/bobcat/qcom-arch.mk
Owners: @OP-TEE/linaro

plat-rockchip: add support for RK3506
  .github/workflows/ci.yml
  MAINTAINERS
  core/arch/arm/plat-rockchip/conf.mk
  core/arch/arm/plat-rockchip/main.c
  core/arch/arm/plat-rockchip/pen_rk3506.S
  core/arch/arm/plat-rockchip/pen_rk3506.h
  core/arch/arm/plat-rockchip/plat_init_rk3506.S
  core/arch/arm/plat-rockchip/platform_config.h
  core/arch/arm/plat-rockchip/platform_rk3506.c
  core/arch/arm/plat-rockchip/psci_rk3506.c
  core/arch/arm/plat-rockchip/sub.mk
Owners: @OP-TEE/approvers, @OP-TEE/plat-rockchip, op-tee@rock-chips.com

crypto: asu: add support for GCM,CCM modes in ASU
  core/arch/arm/plat-versal2/conf.mk
  core/drivers/crypto/asu_driver/asu_authenc.c
  core/drivers/crypto/asu_driver/crypto.mk
  core/drivers/crypto/asu_driver/sub.mk
  core/include/drivers/amd/asu_client.h
Owners: @OP-TEE/linaro

mmu: also ignore dyn VA spaces in get_type_by_pa
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro
