Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

ta: pkcs11: add object attribute ABI in TA header file
  ta/pkcs11/include/pkcs11_ta.h
Owners: @OP-TEE/linaro

ta: pkcs11: helper for serial arguments with allocation
  ta/pkcs11/src/serializer.c
  ta/pkcs11/src/serializer.h
Owners: @OP-TEE/linaro

ta: pkcs11: attribute helper functions
  ta/pkcs11/src/attributes.c
  ta/pkcs11/src/attributes.h
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/pkcs11_attributes.h
  ta/pkcs11/src/pkcs11_helpers.c
  ta/pkcs11/src/pkcs11_helpers.h
  ta/pkcs11/src/sanitize_object.c
  ta/pkcs11/src/sanitize_object.h
  ta/pkcs11/src/sub.mk
Owners: @OP-TEE/linaro

ta: pkcs11: add attributes/class/key type IDs in TA API
  ta/pkcs11/include/pkcs11_ta.h
Owners: @OP-TEE/linaro

ta: pkcs11: support command to import and destroy object
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/object.c
  ta/pkcs11/src/object.h
  ta/pkcs11/src/pkcs11_token.c
  ta/pkcs11/src/pkcs11_token.h
  ta/pkcs11/src/sub.mk
Owners: @OP-TEE/linaro

ta: pkcs11: helper function to serialize object attribute
  ta/pkcs11/src/serializer.c
  ta/pkcs11/src/serializer.h
Owners: @OP-TEE/linaro

ta: pkcs11: define TA commands for object creation/destruction
  ta/pkcs11/include/pkcs11_ta.h
Owners: @OP-TEE/linaro

ta: pkcs11: add id-to-string conversion for new TA commands
  ta/pkcs11/src/pkcs11_helpers.c
Owners: @OP-TEE/linaro

core: make thread ID a short int
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/kernel/mutex_lockdep.c
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_a64.S
  core/include/kernel/tee_ta_manager.h
  core/kernel/tee_ta_manager.c
  lib/libutils/ext/ftrace/ftrace.c
Owners: @OP-TEE/linaro

core: mutex: replace -1 with THREAD_ID_INVALID
  core/arch/arm/kernel/mutex.c
Owners: @OP-TEE/linaro

libutils: atomic.h: add atomic_{load,store}_short()
  lib/libutils/ext/include/atomic.h
Owners: @OP-TEE/linaro

core: introduce recursive mutexes
  core/arch/arm/include/kernel/mutex.h
  core/arch/arm/kernel/mutex.c
Owners: @OP-TEE/linaro

core: mempool: use recursive mutex
  lib/libutils/ext/mempool.c
Owners: @OP-TEE/linaro

core: mutex: replace -1 with THREAD_ID_INVALID
  core/arch/arm/kernel/mutex.c
Owners: @OP-TEE/linaro

core: introduce recursive mutexes
  core/arch/arm/include/kernel/mutex.h
  core/arch/arm/kernel/mutex.c
Owners: @OP-TEE/linaro

libutils: atomic.h: add atomic_{load,store}_short()
  lib/libutils/ext/include/atomic.h
Owners: @OP-TEE/linaro

core: mempool: use recursive mutex
  lib/libutils/ext/mempool.c
Owners: @OP-TEE/linaro

core: make thread ID a short int
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/kernel/mutex_lockdep.c
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_a64.S
  core/include/kernel/tee_ta_manager.h
  core/kernel/tee_ta_manager.c
  lib/libutils/ext/ftrace/ftrace.c
Owners: @OP-TEE/linaro

subdir.mk: clear aflags-remove-y after processing
  mk/subdir.mk
Owners: @OP-TEE/linaro

stm32_etzpc: rename internal function init_device_from_hw_config()
  core/drivers/stm32_etzpc.c
Owners: @OP-TEE/linaro

subdir.mk: clear aflags-remove-y after processing
  mk/subdir.mk
Owners: @OP-TEE/linaro

stm32_etzpc: rename internal function init_device_from_hw_config()
  core/drivers/stm32_etzpc.c
Owners: @OP-TEE/linaro

core: enable FF-A with SPM Core at S-EL1
  .shippable.yml
  core/arch/arm/arm.mk
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/sub.mk
  core/arch/arm/kernel/thread_private.h
  core/arch/arm/kernel/thread_spmc.c
  core/arch/arm/kernel/thread_spmc_a32.S
  core/arch/arm/kernel/thread_spmc_a64.S
  core/arch/arm/plat-vexpress/sub.mk
  core/arch/arm/tee/entry_std.c
  core/arch/arm/tee/sub.mk
  core/kernel/sub.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-vexpress

core: add mobj_ffa
  core/arch/arm/include/mm/mobj.h
  core/arch/arm/mm/mobj_ffa.c
  core/arch/arm/mm/sub.mk
Owners: @OP-TEE/linaro

plat-vexpress: spci: add support to register secondary CPU entrypoints using PSCI_CPU_ON
  core/arch/arm/include/arm.h
  core/arch/arm/include/kernel/boot.h
  core/arch/arm/plat-vexpress/fvp_spmc_pm.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-vexpress

core: add optee_ffa.h defining the OP-TEE ABI for FF-A
  core/arch/arm/include/optee_ffa.h
  core/include/optee_msg.h
Owners: @OP-TEE/linaro

core: add FF-A 1.0 definitions
  core/arch/arm/include/ffa.h
Owners: @OP-TEE/linaro

core: psci.h: add PSCI_CPU_ON_SMC64
  core/arch/arm/include/sm/psci.h
Owners: @OP-TEE/linaro

core: arm: allocate kernel payload
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: arm: ff-a: add dummy thread_rpc_{alloc,free}_global_payload()
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: add generic rpc shared memory buffer caching
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_private.h
  core/include/tee/tee_fs_rpc.h
  core/tee/socket.c
  core/tee/sub.mk
  core/tee/tadb.c
  core/tee/tee_fs_rpc.c
  core/tee/tee_fs_rpc_cache.c
Owners: @OP-TEE/linaro

core: ff-a: clear shm buffer caching after yielding call
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: ff-a: clear shm buffer caching after yielding call
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: add generic rpc shared memory buffer caching
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_private.h
  core/include/tee/tee_fs_rpc.h
  core/tee/socket.c
  core/tee/sub.mk
  core/tee/tadb.c
  core/tee/tee_fs_rpc.c
  core/tee/tee_fs_rpc_cache.c
Owners: @OP-TEE/linaro

core: arm: ff-a: add dummy thread_rpc_{alloc,free}_global_payload()
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

core: arm: allocate kernel payload
  core/arch/arm/include/kernel/thread.h
  core/arch/arm/kernel/thread_optee_smc.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

mk: core: ta: Configurable Python interpreter
  core/arch/arm/arm.mk
  core/arch/arm/kernel/link.mk
  core/sub.mk
  mk/config.mk
  mk/lib.mk
  ta/arch/arm/link.mk
  ta/arch/arm/link_shlib.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

plat-imx: fix CSU SA settings for i.MX6UL
  core/arch/arm/plat-imx/drivers/imx_csu.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

plat-imx: fix CSU SA settings for i.MX6UL
  core/arch/arm/plat-imx/drivers/imx_csu.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

mk: core: ta: Configurable Python interpreter
  core/arch/arm/arm.mk
  core/arch/arm/kernel/link.mk
  core/sub.mk
  mk/config.mk
  mk/lib.mk
  ta/arch/arm/link.mk
  ta/arch/arm/link_shlib.mk
  ta/ta.mk
Owners: @OP-TEE/linaro
