Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

drivers: clk: Fix check for assigned-clock-rates index
  core/drivers/clk/clk_dt.c
Owners: @OP-TEE/linaro

core: dt_driver: allow parsing of phandle == 0
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

ta: pkcs11: PKCS11_CKM_AES_CBC_PAD is not supported
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/processing_symm.c
  ta/pkcs11/src/token_capabilities.c
Owners: @OP-TEE/linaro

ta: pkcs11: PKCS11_CKM_AES_CBC_PAD is not supported
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/processing_symm.c
  ta/pkcs11/src/token_capabilities.c
Owners: @OP-TEE/linaro

mk: update CROSS_COMPILE and CROSS_COMPILE64 defaults
  mk/config.mk
Owners: @OP-TEE/linaro

get_maintainer.py: add OP-TEE mailing list(s) to --release-to
  scripts/get_maintainer.py
Owners: @OP-TEE/linaro

get_maintainer.py: add OP-TEE mailing list(s) to --release-to
  scripts/get_maintainer.py
Owners: @OP-TEE/linaro

scripts/gen_tee_bin.py: inlude .ctors in included sections
  scripts/gen_tee_bin.py
Owners: @OP-TEE/linaro

core: set CFG_TEE_CORE_LOG_LEVEL to 2 (info) by default
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: caam: fix function definition when CFG_CAAM_NO_ITR=y
  core/arch/arm/plat-imx/crypto_conf.mk
  core/drivers/crypto/caam/hal/common/hal_jr.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

drivers: caam: fix function definition when CFG_CAAM_NO_ITR=y
  core/arch/arm/plat-imx/crypto_conf.mk
  core/drivers/crypto/caam/hal/common/hal_jr.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/linaro

plat: arm: fix refactor GIC initialization
  core/arch/arm/plat-k3/main.c
  core/arch/arm/plat-marvell/main.c
  core/arch/arm/plat-mediatek/main.c
  core/arch/arm/plat-sprd/main.c
  core/arch/arm/plat-synquacer/main.c
  core/arch/arm/plat-totalcompute/main.c
  core/arch/arm/plat-uniphier/main.c
  core/arch/arm/plat-zynqmp/main.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-zynqmp

drivers: caam: add JR interrupt only if CFG_CAAM_ITR=y
  core/drivers/crypto/caam/caam_jr.c
Owners: @OP-TEE/linaro

drivers: caam: add JR interrupt only if CFG_CAAM_ITR=y
  core/drivers/crypto/caam/caam_jr.c
Owners: @OP-TEE/linaro

plat: arm: fix refactor GIC initialization
  core/arch/arm/plat-k3/main.c
  core/arch/arm/plat-marvell/main.c
  core/arch/arm/plat-mediatek/main.c
  core/arch/arm/plat-sprd/main.c
  core/arch/arm/plat-synquacer/main.c
  core/arch/arm/plat-totalcompute/main.c
  core/arch/arm/plat-uniphier/main.c
  core/arch/arm/plat-zynqmp/main.c
Owners: @OP-TEE/linaro, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-zynqmp

plat-rockchip: rk3399: define GICC_BASE
  core/arch/arm/plat-rockchip/platform_config.h
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

ci: azure: build for rk3399
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

ci: azure: build for rk3399
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

plat-rockchip: rk3399: define GICC_BASE
  core/arch/arm/plat-rockchip/platform_config.h
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

Update CHANGELOG for 3.17.0
  CHANGELOG.md
  mk/config.mk
Owners: @OP-TEE/linaro

Update CHANGELOG for 3.17.0
  CHANGELOG.md
  mk/config.mk
Owners: @OP-TEE/linaro

Enable mbedtls pk parse and write
  lib/libmbedtls/include/mbedtls_config_kernel.h
Owners: @OP-TEE/linaro

core: Fix compile warning in RPMB storage initialization
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: Fix compile warning in RPMB storage initialization
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

core: set CFG_TEE_CORE_LOG_LEVEL to 2 (info) by default
  mk/config.mk
Owners: @OP-TEE/linaro

ci: azure: remove build for CFG_CORE_SANITIZE_UNDEFINED=y
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

ci: azure: remove build for CFG_CORE_SANITIZE_UNDEFINED=y
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

ci: azure: specify use case for CFG_NSEC_DTB_OVERLAY_ADDR
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

drivers: crypto: aspeed: hace: resolve build issues
  core/drivers/crypto/aspeed/hace_ast2600.c
  core/drivers/crypto/aspeed/hace_ast2600.h
Owners: @OP-TEE/linaro

drivers: crypto: aspeed: hace: fix digest incorrect problem
  core/drivers/crypto/aspeed/hace_ast2600.c
Owners: @OP-TEE/linaro

plat-aspeed: ast2600: control HACE into Secure World
  core/arch/arm/plat-aspeed/platform_ast2600.c
Owners: @OP-TEE/linaro

drivers: crypto: aspeed: hace: resolve build issues
  core/drivers/crypto/aspeed/hace_ast2600.c
  core/drivers/crypto/aspeed/hace_ast2600.h
Owners: @OP-TEE/linaro

plat-aspeed: ast2600: control HACE into Secure World
  core/arch/arm/plat-aspeed/platform_ast2600.c
Owners: @OP-TEE/linaro

drivers: crypto: aspeed: hace: fix digest incorrect problem
  core/drivers/crypto/aspeed/hace_ast2600.c
Owners: @OP-TEE/linaro

drivers: crypto: remove unnecessary header
  core/drivers/crypto/crypto_api/cipher/cipher.c
Owners: @OP-TEE/linaro

drivers: caam: fix potential memory leak
  core/drivers/crypto/caam/utils/utils_mem.c
Owners: @OP-TEE/linaro

drivers: caam: remove unnecessary header
  core/drivers/crypto/caam/caam_ctrl.c
Owners: @OP-TEE/linaro

drivers: caam: avoid arithmetic operation for pointer assignment
  core/drivers/crypto/caam/utils/utils_dmaobj.c
Owners: @OP-TEE/linaro

core: lpae: check return value of core_mmu_xlat_table_entry_pa2va()
  core/arch/arm/mm/core_mmu_lpae.c
Owners: @OP-TEE/linaro

drivers: crypto: remove unnecessary header
  core/drivers/crypto/crypto_api/math/modulus.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
