Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

ECC: optimize the pool of temporary variables
  core/lib/libtomcrypt/src/headers/tomcrypt_math.h
  core/lib/libtomcrypt/src/headers/tomcrypt_private.h
  core/lib/libtomcrypt/src/math/multi.c
  core/lib/libtomcrypt/src/pk/ecc/ltc_ecc_points.c
Owners: @OP-TEE/linaro

core: ltc: move AES CE files under aes/
  core/lib/libtomcrypt/src/ciphers/aes/aes_armv8a_ce.c
  core/lib/libtomcrypt/src/ciphers/aes/aes_modes_armv8a_ce_a32.S
  core/lib/libtomcrypt/src/ciphers/aes/aes_modes_armv8a_ce_a64.S
Owners: @OP-TEE/linaro

arm: Fix SHA-1 with cryptographic extensions
  core/lib/libtomcrypt/src/hashes/sha1_armv8a_ce_a32.S
Owners: @OP-TEE/linaro

arm64: libtomcrypt: move inline assembly to .S file
  core/lib/libtomcrypt/src/ciphers/aes_arm64_ce.c
  core/lib/libtomcrypt/src/ciphers/aes_modes_arm64_ce_a64.S
Owners: @OP-TEE/linaro

arm64: SHA-224/SHA-256 using ARMv8-A cryptographic extensions
  core/lib/libtomcrypt/src/hashes/sha2/sha256_armv8a_ce.c
  core/lib/libtomcrypt/src/hashes/sha2/sha256_armv8a_ce_a64.S
Owners: @OP-TEE/linaro

arm: update SHA-1 32-bit CE implementation to process multiple blocks
  core/lib/libtomcrypt/src/hashes/sha1_armv8a_ce.c
  core/lib/libtomcrypt/src/hashes/sha1_armv8a_ce_a32.S
Owners: @OP-TEE/linaro

core: ltc: add custom DH key generation function dh_make_key()
  core/lib/libtomcrypt/src/headers/tomcrypt_pk.h
  core/lib/libtomcrypt/src/pk/dh/dh_make_key.c
Owners: @OP-TEE/linaro

arm: update SHA-256 32-bit CE implementation to process multiple blocks
  core/lib/libtomcrypt/src/hashes/sha2/sha256_armv8a_ce.c
  core/lib/libtomcrypt/src/hashes/sha2/sha256_armv8a_ce_a32.S
Owners: @OP-TEE/linaro

core: link.mk: support reproducible builds via SOURCE_DATE_EPOCH
  core/arch/arm/kernel/link.mk
Owners: @OP-TEE/linaro

core: link.mk: support reproducible builds via SOURCE_DATE_EPOCH
  core/arch/arm/kernel/link.mk
Owners: @OP-TEE/linaro

core: arm64 Add sev/wfe inline function
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: kernel: move DT pack at the end of boot
  core/arch/arm/kernel/generic_boot.c
Owners: @OP-TEE/linaro

core: add DT function to read/modify DT
  core/include/kernel/dt.h
  core/kernel/dt.c
Owners: @OP-TEE/linaro

core: io: add {get/put}_le{32/64}()
  core/include/io.h
Owners: @OP-TEE/linaro

core: arm64: add read_ctr_el0 function
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

plat-imx: Add CRM registers mapping
  MAINTAINERS
  core/arch/arm/plat-imx/registers/imx6-crm_regs.h
  core/arch/arm/plat-imx/registers/imx6.h
  core/arch/arm/plat-imx/registers/imx7-crm_regs.h
  core/arch/arm/plat-imx/registers/imx7.h
Owners: @OP-TEE/approvers, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

MAINTAINERS: add Github handles for teams
  MAINTAINERS
Owners: @OP-TEE/approvers

core: import IS_ENABLED macro from Zephyr OS
  core/include/config.h
Owners: @OP-TEE/linaro

MAINTAINERS: add Github handles for teams
  MAINTAINERS
Owners: @OP-TEE/approvers

core: add missing arch_extension to thread assembly
  core/arch/arm/kernel/thread_optee_smc_a32.S
Owners: @OP-TEE/linaro

ftrace: allow tracing of syscall wrappers only
  lib/libutee/arch/arm/utee_syscalls_a32.S
  lib/libutee/arch/arm/utee_syscalls_a64.S
  mk/config.mk
Owners: @OP-TEE/linaro

ftrace: allow display of larger durations
  lib/libutee/arch/arm/ftrace/ftrace.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: add missing arch_extension to thread assembly
  core/arch/arm/kernel/thread_optee_smc_a32.S
Owners: @OP-TEE/linaro

ftrace: use wall clock time
  core/kernel/tee_ta_manager.c
  ldelf/ftrace.c
  lib/libutee/include/user_ta_header.h
Owners: @OP-TEE/linaro

build: do not use -Wp with the preprocessor and use -o instead of a redirection
  core/arch/arm/kernel/link.mk
  ldelf/link.mk
  ta/arch/arm/link.mk
Owners: @OP-TEE/linaro

build: do not use -Wp with the preprocessor and use -o instead of a redirection
  core/arch/arm/kernel/link.mk
  ldelf/link.mk
  ta/arch/arm/link.mk
Owners: @OP-TEE/linaro

get_maintainer.py: fix spelling mistake
  scripts/get_maintainer.py
Owners: @OP-TEE/linaro

core: imx: add support for i.MX 8MN
  .shippable.yml
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/registers/imx8m.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add support for i.MX 8QM
  .shippable.yml
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/imx.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: allow to boot without console
  core/arch/arm/plat-imx/main.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add device tree support for uart
  core/drivers/imx_lpuart.c
  core/drivers/imx_uart.c
Owners: @OP-TEE/linaro

core: imx: add support for i.MX 8QxP
  .shippable.yml
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/imx.h
  core/arch/arm/plat-imx/registers/imx8q.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: allow to boot without console
  core/arch/arm/plat-imx/main.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add support for i.MX 8QM
  .shippable.yml
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/imx.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add support for i.MX 8QxP
  .shippable.yml
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/imx-common.c
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/imx.h
  core/arch/arm/plat-imx/registers/imx8q.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add device tree support for uart
  core/drivers/imx_lpuart.c
  core/drivers/imx_uart.c
Owners: @OP-TEE/linaro

core: imx: add support for i.MX 8MN
  .shippable.yml
  core/arch/arm/plat-imx/conf.mk
  core/arch/arm/plat-imx/imx-regs.h
  core/arch/arm/plat-imx/registers/imx8m.h
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

ftrace: allow tracing of syscall wrappers only
  lib/libutee/arch/arm/utee_syscalls_a32.S
  lib/libutee/arch/arm/utee_syscalls_a64.S
  mk/config.mk
Owners: @OP-TEE/linaro

ftrace: allow display of larger durations
  lib/libutee/arch/arm/ftrace/ftrace.c
  mk/config.mk
Owners: @OP-TEE/linaro

core: imx: add mx6dapalis/mx6qapalis platform flavor
  .shippable.yml
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/linaro, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue
