Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

drivers: qcom: qfprom: honor private-row verification policy
  core/drivers/qcom/qfprom/qfprom_core.c
Owners: @OP-TEE/linaro

drivers: qcom: rpmh: log AMC completion timeouts
  core/drivers/qcom/rpmh/rpmh_client.c
Owners: @OP-TEE/linaro

core: riscv: switch the REE vector context lazily and give a TA the unit
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/kernel/thread_arch.c
Owners: @OP-TEE/linaro

core: riscv: vector: own xstatus.VS from vfp_enable() and vfp_disable()
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/kernel/vfp.c
Owners: @OP-TEE/linaro

core: riscv: recognise the vector disabled trap from user mode
  core/arch/riscv/kernel/abort.c
Owners: @OP-TEE/linaro

core: riscv: vector: low-level save and restore of the v registers
  core/arch/riscv/include/kernel/vfp.h
  core/arch/riscv/include/riscv.h
  core/arch/riscv/include/riscv_macros.S
  core/arch/riscv/kernel/vfp_private.h
  core/arch/riscv/kernel/vfp_rv.S
Owners: @OP-TEE/linaro

core: riscv: enable vector context switching with CFG_WITH_VFP
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/plat-virt/conf.mk
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: cryp: allow secret keys in opaque driver key containers
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

drivers: crypto: caam: validate deserialized key size and declare overhead
  core/drivers/crypto/caam/acipher/caam_dh.c
  core/drivers/crypto/caam/acipher/caam_dsa.c
  core/drivers/crypto/caam/acipher/caam_ecc.c
  core/drivers/crypto/caam/acipher/caam_rsa.c
  core/drivers/crypto/caam/caam_key.c
  core/drivers/crypto/caam/include/caam_key.h
  core/drivers/crypto/crypto_api/include/drvcrypt_acipher.h
Owners: @OP-TEE/linaro

core: reject keys with oversized parameters
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: reject DSA keys with invalid x
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

ci: Drop unneeded git safe.directory statement
  .github/actions/qemu-checks/action.yml
Owners: @OP-TEE/approvers

ci: Harden fetching of llvm
  scripts/ci-images/Dockerfile.build
Owners: @OP-TEE/linaro

ci: Consolidate QEMU checks steps into a composite action
  .github/actions/qemu-checks/action.yml
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: Switch to new ci-build-image
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: Modernize the ci-buidl-image with Debian 13
  .github/workflows/ci.yml
  scripts/ci-images/Dockerfile.build
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: Drop exceptions from BTI+MTE+PAC check
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

ci: Add workflow to build container image for build and test jobs in-tree
  .github/workflows/ci-images.yml
  scripts/ci-images/Dockerfile.build
  scripts/ci-images/get_optee.sh
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: Use repo tool from Debian
  scripts/ci-images/Dockerfile.build
Owners: @OP-TEE/linaro

ci: Make manifest owner configurable
  .github/workflows/qemu-checks-image.yml
  scripts/ci-images/get_optee.sh
Owners: @OP-TEE/approvers, @OP-TEE/linaro

ci: Consolidate QEMU image builds into a reusable workflow
  .github/workflows/ci.yml
  .github/workflows/qemu-checks-image.yml
Owners: @OP-TEE/approvers

core: riscv: add Zicfilp and Zicfiss definitions and SBI FWFT helpers
  core/arch/riscv/include/encoding.h
  core/arch/riscv/include/riscv.h
  core/arch/riscv/include/sbi.h
  core/arch/riscv/kernel/sbi.c
Owners: @OP-TEE/linaro

core: riscv: report software-check exceptions
  core/arch/riscv/kernel/abort.c
Owners: @OP-TEE/linaro

core: riscv: enforce Zicfilp landing pads per user context
  core/arch/riscv/include/kernel/cfi.h
  core/arch/riscv/include/mm/core_mmu_arch.h
  core/arch/riscv/kernel/boot.c
  core/arch/riscv/kernel/cfi.c
  core/arch/riscv/kernel/sub.mk
  core/arch/riscv/mm/core_mmu_arch.c
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

core: add a shadow stack memory attribute for user mappings
  core/arch/riscv/mm/core_mmu_arch.c
  core/include/mm/tee_mmu_types.h
  core/kernel/ldelf_syscalls.c
  ldelf/include/ldelf.h
Owners: @OP-TEE/linaro

core: riscv: user mode shadow stacks with Zicfiss
  core/arch/riscv/include/kernel/cfi.h
  core/arch/riscv/include/kernel/thread_arch.h
  core/arch/riscv/kernel/cfi.c
  core/arch/riscv/kernel/thread_arch.c
  core/arch/riscv/mm/core_mmu_arch.c
  core/arch/riscv/riscv.mk
  core/include/kernel/user_mode_ctx_struct.h
  core/kernel/ldelf_loader.c
  ldelf/include/ldelf.h
Owners: @OP-TEE/linaro

ldelf: RISC-V CFI properties, TA shadow stack and dependency rules
  ldelf/main.c
  ldelf/ta_elf.c
  ldelf/ta_elf.h
  lib/libutee/include/elf_common.h
Owners: @OP-TEE/linaro

core: riscv: build TAs and ldelf with -fcf-protection
  core/arch/riscv/riscv.mk
  core/kernel/ldelf_loader.c
  ldelf/ldelf.mk
  ldelf/start_rv64.S
  ldelf/syscalls_rv.S
  lib/libutee/arch/riscv/utee_syscalls_rv.S
  lib/libutils/ext/arch/riscv/atomic_rv.S
  lib/libutils/ext/arch/riscv/mcount_rv.S
  lib/libutils/ext/include/asm.S
  lib/libutils/ext/include/riscv.S
  lib/libutils/isoc/arch/riscv/setjmp_rv.S
  lib/libutils/isoc/include/setjmp.h
Owners: @OP-TEE/linaro

core: tee_ree_fs: remove an unprotected dirf.db only when it is corrupt
  core/tee/tee_ree_fs.c
Owners: @OP-TEE/linaro

core: add tee_uuid_is_nil()
  core/include/tee/uuid.h
  core/tee/tadb.c
  core/tee/uuid.c
Owners: @OP-TEE/linaro

core: refuse to load a user TA with the nil UUID
  core/kernel/user_ta.c
Owners: @OP-TEE/linaro

plat-qcom: bruin: shikra: add platform support
  core/arch/arm/plat-qcom/bruin/arch_config.h
  core/arch/arm/plat-qcom/bruin/qcom-arch.mk
  core/arch/arm/plat-qcom/bruin/shikra/target_config.h
  core/arch/arm/plat-qcom/bruin/sub.mk
  core/arch/arm/plat-qcom/conf.mk
Owners: @OP-TEE/linaro

ci: qcom: add shikra platform build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

core: derive key: check ECDH peer key sizes
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: reject RSA keys with oversized dq/dp/qp
  core/tee/tee_svc_cryp.c
Owners: @OP-TEE/linaro

core: riscv: add vector ISA configuration
  core/arch/riscv/riscv.mk
Owners: @OP-TEE/linaro

plat-qcom: bruin: shikra: add platform support
  core/arch/arm/plat-qcom/bruin/arch_config.h
  core/arch/arm/plat-qcom/bruin/qcom-arch.mk
  core/arch/arm/plat-qcom/bruin/shikra/target_config.h
  core/arch/arm/plat-qcom/bruin/sub.mk
  core/arch/arm/plat-qcom/conf.mk
Owners: @OP-TEE/linaro

ci: qcom: add shikra platform build
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

Force CFG_SM2_PKE_LEGACY=y
  core/crypto.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

core: ltc, mbedtls: select SM2 ciphertext format with config
  core/crypto.mk
  core/lib/libtomcrypt/sm2-pke.c
  lib/libmbedtls/core/sm2-pke.c
  ta/ta.mk
Owners: @OP-TEE/linaro
