Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

plat: stm32mp2: sysconf: fix CA35SS register names
  core/arch/arm/plat-stm32mp2/stm32_sysconf.h
  core/drivers/clk/clk-stm32mp21.c
  core/drivers/clk/clk-stm32mp25.c
Owners: @OP-TEE/linaro

drivers: stm32_iwdg: early watchdog interrupt
  core/drivers/stm32_iwdg.c
Owners: @OP-TEE/linaro

dts: stm32: add stm32mp257f-dk board support
  core/arch/arm/dts/stm32mp257f-dk-ca35tdcid-rcc.dtsi
  core/arch/arm/dts/stm32mp257f-dk-ca35tdcid-resmem.dtsi
  core/arch/arm/dts/stm32mp257f-dk-ca35tdcid-rif.dtsi
  core/arch/arm/dts/stm32mp257f-dk.dts
Owners: @OP-TEE/linaro

fixup! plat-stm32mp2: conf: add stm32mp257f-dk board support
  core/arch/arm/dts/stm32mp257f-dk-ca35tdcid-rcc.dtsi
  core/arch/arm/dts/stm32mp257f-dk-ca35tdcid-resmem.dtsi
  core/arch/arm/dts/stm32mp257f-dk-ca35tdcid-rif.dtsi
Owners: @OP-TEE/linaro

plat-k3: drivers: Refactor SA2UL driver
  core/arch/arm/plat-k3/conf.mk
  core/arch/arm/plat-k3/drivers/eip76d_trng.c
  core/arch/arm/plat-k3/drivers/eip76d_trng.h
  core/arch/arm/plat-k3/drivers/sa2ul.c
  core/arch/arm/plat-k3/drivers/sub.mk
Owners: @OP-TEE/linaro

plat-k3: drivers: Add TRNG driver support in AM62L
  core/arch/arm/plat-k3/conf.mk
  core/arch/arm/plat-k3/drivers/dthev2.c
  core/arch/arm/plat-k3/drivers/sub.mk
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

drivers: stm32_iwdg: disable clocks during PM standby
  core/drivers/stm32_iwdg.c
Owners: @OP-TEE/linaro

drivers: stm32_iwdg: add stop watchdog handler
  core/drivers/stm32_iwdg.c
Owners: @OP-TEE/linaro

drivers: stm32_iwdg: add support for extended watchdog timeout
  core/drivers/stm32_iwdg.c
Owners: @OP-TEE/linaro

drivers: stm32_iwdg: reload for stopped watchdog
  core/drivers/stm32_iwdg.c
Owners: @OP-TEE/linaro

drivers: stm32_iwdg: change prescaler value to 1024
  core/drivers/stm32_iwdg.c
Owners: @OP-TEE/linaro

plat-stm32mp2: conf: default enable CFG_STM32_IWDG
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

dts: stm32: add IWDG[1-2] nodes in stm32mp21x soc device-tree
  core/arch/arm/dts/stm32mp211.dtsi
Owners: @OP-TEE/linaro

dts: stm32: add IWDG[1-2] nodes in stm32mp25x soc device-tree
  core/arch/arm/dts/stm32mp251.dtsi
Owners: @OP-TEE/linaro

dts: stm32: enable IWDG1 on stm32mp257f-ev1 board
  core/arch/arm/dts/stm32mp257f-ev1.dts
Owners: @OP-TEE/linaro

dts: stm32: enable IWDG1 on stm32mp215f-dk board
  core/arch/arm/dts/stm32mp215f-dk.dts
Owners: @OP-TEE/linaro

plat-stm32mp2: enable watchdog SMC service
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

.gitignore: remove specific IDE configurations directory
  .gitignore
  .vscode/extensions.json
Owners: @OP-TEE/linaro

drivers: stm32_rtc: add the capability to wakeup the platform
  core/arch/arm/dts/stm32mp251.dtsi
  core/drivers/stm32_rtc.c
Owners: @OP-TEE/linaro

drivers: rtc: add support of alarm in RTC API
  core/include/drivers/rtc.h
Owners: @OP-TEE/linaro

plat-stm32mp2: add support for RTC PTA
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

drivers: stm32_rtc: add init configuration function
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp2/conf.mk
  core/drivers/stm32_rtc.c
Owners: @OP-TEE/linaro

drivers: stm32_rtc: add alarm related operations
  core/drivers/stm32_rtc.c
Owners: @OP-TEE/linaro

core: pta: check struct alignment in RTC PTA API
  core/pta/rtc.c
Owners: @OP-TEE/linaro

core: pta: add alarm-related operations to RTC PTA
  core/pta/rtc.c
  lib/libutee/include/pta_rtc.h
Owners: @OP-TEE/linaro

plat-stm32mp2: enable async notif with GIC PPI 15
  core/arch/arm/plat-stm32mp2/conf.mk
Owners: @OP-TEE/linaro

plat-stm32mp1: add support for RTC PTA
  core/arch/arm/plat-stm32mp1/conf.mk
Owners: @OP-TEE/linaro

Add optee.ta.instanceKeepCrashed property
  core/kernel/tee_ta_manager.c
  lib/libutee/include/user_ta_header.h
  ta/user_ta_header.c
Owners: @OP-TEE/linaro

Add optee.ta.instanceKeepCrashed property
  core/kernel/tee_ta_manager.c
  lib/libutee/include/user_ta_header.h
  ta/user_ta_header.c
Owners: @OP-TEE/linaro

core: asan: add support for custom panic callback
  core/include/kernel/asan.h
  core/kernel/asan.c
Owners: @OP-TEE/linaro

core: add ASan runtime tests to core self-tests
  core/pta/tests/misc.c
Owners: @OP-TEE/linaro

core, libutils: unpoison stack on longjmp for ASan
  core/kernel/asan.c
  lib/libutils/isoc/arch/arm/setjmp_a32.S
  lib/libutils/isoc/arch/arm/setjmp_a64.S
  lib/libutils/isoc/arch/riscv/setjmp_rv.S
  lib/libutils/isoc/include/setjmp.h
Owners: @OP-TEE/linaro

libutils: tag only actual allocated size in ASan heap tagging
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

libutils: drop redundant IS_ENABLED checks
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

core: asan: fix check_access()
  core/kernel/asan.c
Owners: @OP-TEE/linaro

ci: add test run with ASan stack instrumentation
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

dts: stm32: default enable RTC on stm32mp1
  core/arch/arm/dts/stm32mp131.dtsi
  core/arch/arm/dts/stm32mp151.dtsi
Owners: @OP-TEE/linaro

dts: stm32: remove activation of RTC nodes at board level
  core/arch/arm/dts/stm32mp135f-dk.dts
  core/arch/arm/dts/stm32mp157c-ed1.dts
  core/arch/arm/dts/stm32mp15xx-dkx.dtsi
Owners: @OP-TEE/linaro

plat-vexpress: qemu-v8: fix CFG_CORE_CLUSTER_SHIFT
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

dts: stm32: remove activation of RTC nodes at board level
  core/arch/arm/dts/stm32mp135f-dk.dts
  core/arch/arm/dts/stm32mp157c-ed1.dts
  core/arch/arm/dts/stm32mp15xx-dkx.dtsi
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
