Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

ci: remove duplicate build for STM32MP157C-DK2
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: clk: add support for clk_get_rates_array
  core/drivers/clk/clk.c
  core/include/drivers/clk.h
Owners: @OP-TEE/linaro

libutils: IS_ENABLED2() for _CFG_* switches
  lib/libutils/ext/include/config.h
Owners: @OP-TEE/linaro

core: use IS_ENABLED2()
  core/arch/arm/kernel/boot.c
  core/lib/libtomcrypt/ecc.c
Owners: @OP-TEE/linaro

core: pta: scmi: internal switches for supported transports
  core/pta/scmi.c
  lib/libutee/include/pta_scmi_client.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: pta: scmi: simplify scmi-msg case in open session
  core/pta/scmi.c
Owners: @OP-TEE/linaro

core: lib: scmi-server: Build a SCMI server from SCP-firmware
  core/arch/arm/include/scmi/scmi_server.h
  core/core.mk
  core/lib/scmi-server/conf-optee-fvp.mk
  core/lib/scmi-server/conf-optee-stm32mp1.mk
  core/lib/scmi-server/conf.mk
  core/lib/scmi-server/include/optee_scmi.h
  core/lib/scmi-server/scmi_server.c
  core/lib/scmi-server/sub-optee-fvp.mk
  core/lib/scmi-server/sub-optee-stm32mp1.mk
  core/lib/scmi-server/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

core: pta: scmi: support SCP-firmware SCMI resources
  core/pta/scmi.c
Owners: @OP-TEE/linaro

plat-stm32mp1: support building with CFG_SCMI_SCPFW=y
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/main.c
Owners: @OP-TEE/linaro

plat-vexpress: fvp and qemuv8a support building with CFG_SCMI_SCPFW=y
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

ci: build stm32mp15 with scp-firmware scmi-server
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

plat-vexpress: fvp and qemuv8a support building with CFG_SCMI_SCPFW=y
  core/arch/arm/plat-vexpress/conf.mk
Owners: @OP-TEE/plat-vexpress

core: pta: scmi: internal switches for supported transports
  core/pta/scmi.c
  lib/libutee/include/pta_scmi_client.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: lib: scmi-server: Build a SCMI server from SCP-firmware
  core/arch/arm/include/scmi/scmi_server.h
  core/core.mk
  core/lib/scmi-server/conf-optee-fvp.mk
  core/lib/scmi-server/conf-optee-stm32mp1.mk
  core/lib/scmi-server/conf.mk
  core/lib/scmi-server/include/optee_scmi.h
  core/lib/scmi-server/scmi_server.c
  core/lib/scmi-server/sub-optee-fvp.mk
  core/lib/scmi-server/sub-optee-stm32mp1.mk
  core/lib/scmi-server/sub.mk
  mk/config.mk
Owners: @OP-TEE/linaro

ci: build stm32mp15 with scp-firmware scmi-server
  .github/workflows/ci.yml
Owners: @OP-TEE/approvers

drivers: clk: add support for clk_get_rates_array
  core/drivers/clk/clk.c
  core/include/drivers/clk.h
Owners: @OP-TEE/linaro

core: pta: scmi: support SCP-firmware SCMI resources
  core/pta/scmi.c
Owners: @OP-TEE/linaro

core: pta: scmi: simplify scmi-msg case in open session
  core/pta/scmi.c
Owners: @OP-TEE/linaro

plat-stm32mp1: support building with CFG_SCMI_SCPFW=y
  core/arch/arm/plat-stm32mp1/conf.mk
  core/arch/arm/plat-stm32mp1/main.c
Owners: @OP-TEE/linaro

core: use IS_ENABLED2()
  core/arch/arm/kernel/boot.c
  core/lib/libtomcrypt/ecc.c
Owners: @OP-TEE/linaro

libutils: IS_ENABLED2() for _CFG_* switches
  lib/libutils/ext/include/config.h
Owners: @OP-TEE/linaro

core: dt_driver: differentiate error codes if property is not found
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

drivers: rstctrl: differentiate error codes if items not found
  core/drivers/rstctrl/rstctrl.c
  core/include/drivers/rstctrl.h
Owners: @OP-TEE/linaro

libutils: riscv: provide setjmp_rv.S
  lib/libutils/isoc/arch/riscv/setjmp_rv.S
  lib/libutils/isoc/arch/riscv/sub.mk
Owners: @OP-TEE/linaro

libutils: setjmp.h: add defines for RISC-V
  lib/libutils/isoc/include/setjmp.h
Owners: @OP-TEE/linaro

core: dt_driver: differentiate error codes if property is not found
  core/include/kernel/dt_driver.h
  core/kernel/dt_driver.c
Owners: @OP-TEE/linaro

drivers: rstctrl: differentiate error codes if items not found
  core/drivers/rstctrl/rstctrl.c
  core/include/drivers/rstctrl.h
Owners: @OP-TEE/linaro

core: ffa: Allow multiple SPs with same UUID
  core/arch/arm/include/kernel/secure_partition.h
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/thread_spmc.c
Owners: @OP-TEE/linaro

libutee: _utee_panic: add register info
  lib/libutee/arch/riscv/utee_syscalls_rv.S
  lib/libutils/ext/arch/riscv/sub.mk
Owners: @OP-TEE/linaro

core: introduce scall layer from svc parts
  core/arch/arm/include/kernel/thread_arch.h
  core/arch/arm/include/kernel/thread_private_arch.h
  core/arch/arm/include/tee/arch_svc.h
  core/arch/arm/kernel/asm-defines.c
  core/arch/arm/kernel/ldelf_loader.c
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/thread.c
  core/arch/arm/kernel/thread_a32.S
  core/arch/arm/kernel/thread_a64.S
  core/arch/arm/tee/arch_svc.c
  core/arch/arm/tee/arch_svc_a32.S
  core/arch/arm/tee/arch_svc_a64.S
  core/arch/arm/tee/arch_svc_private.h
  core/arch/riscv/include/kernel/thread_arch.h
  core/include/kernel/ts_manager.h
  core/kernel/tee_ta_manager.c
  core/kernel/user_ta.c
Owners: @OP-TEE/linaro

core: provide arch_scall.h
  core/arch/arm/include/kernel/arch_scall.h
  core/arch/arm/tee/arch_svc.c
Owners: @OP-TEE/linaro

core: provide scall_save_panic_stack()
  core/arch/arm/include/tee/arch_svc.h
  core/arch/arm/kernel/arch_scall.c
  core/arch/arm/kernel/sub.mk
  core/arch/arm/tee/arch_svc.c
Owners: @OP-TEE/linaro

core: finalize scall layer
  core/arch/arm/kernel/arch_scall.c
  core/arch/arm/kernel/arch_scall_a32.S
  core/arch/arm/kernel/arch_scall_a64.S
  core/arch/arm/kernel/ldelf_loader.c
  core/arch/arm/kernel/sub.mk
  core/arch/arm/tee/arch_svc_private.h
  core/arch/arm/tee/sub.mk
  core/include/kernel/scall.h
  core/kernel/scall.c
  core/kernel/sub.mk
  core/kernel/user_ta.c
Owners: @OP-TEE/linaro

core: log capabilities with INFO level
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro

core: pta: scmi: fix typo in open session test
  core/pta/scmi.c
Owners: @OP-TEE/linaro

core: log capabilities with INFO level
  core/arch/arm/tee/entry_fast.c
Owners: @OP-TEE/linaro

libutils: malloc: fix MDBG combined with MEMTAG
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

core: pta: scmi: fix typo in open session test
  core/pta/scmi.c
Owners: @OP-TEE/linaro

libutils: malloc: fix MDBG combined with MEMTAG
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

plat-stm32mp1: fix SYSRAM size on stm32mp13 variants
  core/arch/arm/plat-stm32mp1/platform_config.h
Owners: @OP-TEE/linaro
