Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: tee_rpmb_fs: Return error when block decryption fails
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

pkcs11: persistent_token: Don't read token object UUIDs if we have none
  ta/pkcs11/src/persistent_token.c
Owners: @OP-TEE/linaro

ta: pkcs11: Change sizeof argument for consistency
  ta/pkcs11/src/persistent_token.c
Owners: @OP-TEE/linaro

ta: pkcs11: entry_ck_token_initialize: reset SO flags on init
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

ta: pkcs11: Add TEE Identity based authentication support
  mk/config.mk
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/persistent_token.c
  ta/pkcs11/src/pkcs11_token.c
  ta/pkcs11/src/pkcs11_token.h
Owners: @OP-TEE/linaro

ta: pkcs11: set_pin: use token shortcut like in other pin functions
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

ta: pkcs11: Remove persistent objects on token re-initialization
  ta/pkcs11/src/object.c
  ta/pkcs11/src/object.h
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

plat-poplar: include internal test pTA
  core/arch/arm/plat-poplar/conf.mk
Owners: @OP-TEE/plat-poplar

ftrace: fix regression causing panic in ftrace_update_times()
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

core: rpmb: fix initialization of new rpmb data
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

ta: pkcs11: Remove persistent objects on token re-initialization
  ta/pkcs11/src/object.c
  ta/pkcs11/src/object.h
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

core: rpmb: fix initialization of new rpmb data
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

ftrace: fix regression causing panic in ftrace_update_times()
  core/kernel/tee_ta_manager.c
Owners: @OP-TEE/linaro

ta: fix processing of DT_FINI_ARRAY
  lib/libutee/arch/arm/user_ta_entry.c
Owners: @OP-TEE/linaro

ta: fix processing of DT_FINI_ARRAY
  lib/libutee/arch/arm/user_ta_entry.c
Owners: @OP-TEE/linaro

ta: pkcs11: define TA commands for finding objects
  ta/pkcs11/include/pkcs11_ta.h
Owners: @OP-TEE/linaro

ta: pkcs11: Add support for finding objects
  ta/pkcs11/src/attributes.c
  ta/pkcs11/src/attributes.h
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/object.c
  ta/pkcs11/src/object.h
  ta/pkcs11/src/pkcs11_helpers.c
  ta/pkcs11/src/pkcs11_token.c
  ta/pkcs11/src/pkcs11_token.h
Owners: @OP-TEE/linaro

ta: pkcs11: Add support for getting object size and attribute value
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/object.c
  ta/pkcs11/src/object.h
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/pkcs11_attributes.h
  ta/pkcs11/src/pkcs11_helpers.c
Owners: @OP-TEE/linaro

ta: pkcs11: Add support for getting object size and attribute value
  ta/pkcs11/include/pkcs11_ta.h
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/object.c
  ta/pkcs11/src/object.h
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/pkcs11_attributes.h
  ta/pkcs11/src/pkcs11_helpers.c
Owners: @OP-TEE/linaro

ta: pkcs11: define TA commands for finding objects
  ta/pkcs11/include/pkcs11_ta.h
Owners: @OP-TEE/linaro

ta: pkcs11: Add support for finding objects
  ta/pkcs11/src/attributes.c
  ta/pkcs11/src/attributes.h
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/object.c
  ta/pkcs11/src/object.h
  ta/pkcs11/src/pkcs11_helpers.c
  ta/pkcs11/src/pkcs11_token.c
  ta/pkcs11/src/pkcs11_token.h
Owners: @OP-TEE/linaro

drivers: imx_wdog: default initialize variables
  core/drivers/imx_wdog.c
Owners: @OP-TEE/linaro

core: fix file handle leakage in syscall_storage_next_enum()
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

core: fix file handle leakage in syscall_storage_next_enum()
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

driver: imx_wdog: search node by compatible
  core/drivers/imx_wdog.c
Owners: @OP-TEE/linaro

ta: pkcs11: Access check for private objects
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: Reduce the minimum pin length required
  ta/pkcs11/src/pkcs11_token.h
Owners: @OP-TEE/linaro

ta: pkcs11: Deal with the private objects in C_Logout
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/pkcs11_attributes.h
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

core: fix bad memset() in update_write_helper()
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

ta: pkcs11: Reduce the minimum pin length required
  ta/pkcs11/src/pkcs11_token.h
Owners: @OP-TEE/linaro

ta: pkcs11: Access check for private objects
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: Deal with the private objects in C_Logout
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/pkcs11_attributes.h
  ta/pkcs11/src/pkcs11_token.c
Owners: @OP-TEE/linaro

core: fix bad memset() in update_write_helper()
  core/tee/tee_rpmb_fs.c
Owners: @OP-TEE/linaro

drivers: imx_wdog: default initialize variables
  core/drivers/imx_wdog.c
Owners: @OP-TEE/linaro

driver: imx_wdog: search node by compatible
  core/drivers/imx_wdog.c
Owners: @OP-TEE/linaro

ta: link.mk: export trace_ext_prefix and trace_level
  ta/arch/arm/link.mk
Owners: @OP-TEE/linaro

ta: link.mk: export trace_ext_prefix and trace_level
  ta/arch/arm/link.mk
Owners: @OP-TEE/linaro

core: imx: remove security check for i.MX6DQ
  core/arch/arm/plat-imx/drivers/imx_snvs.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: remove security check for i.MX6DQ
  core/arch/arm/plat-imx/drivers/imx_snvs.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

ta: pkcs11: Don't load objects that don't match the search during find
  ta/pkcs11/src/attributes.c
  ta/pkcs11/src/object.c
  ta/pkcs11/src/persistent_token.c
  ta/pkcs11/src/pkcs11_token.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
