Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

asan: support trusted applications
  core/arch/arm/arm.mk
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/riscv/plat-spike/conf.mk
  ldelf/main.c
  ldelf/ta_elf.c
  lib/libutee/user_ta_entry.c
  lib/libutils/ext/asan.c
  lib/libutils/ext/include/asan_cfg.h
  lib/libutils/ext/include/compiler.h
  lib/libutils/ext/sub.mk
  mk/config.mk
  ta/arch/arm/ta.ld.S
  ta/mk/ta_dev_kit.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

asan: improve report output
  lib/libutils/ext/asan.c
Owners: @OP-TEE/linaro

libutils: asan: skip global unpoisoning for bget pool backing buffers
  lib/libutils/ext/asan.c
  lib/libutils/ext/include/asan.h
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

plat-marvell: register DDR for dynamic shared memory
  core/arch/arm/plat-marvell/conf.mk
  core/arch/arm/plat-marvell/main.c
Owners: @OP-TEE/plat-marvell, @kevin-peng-hao

pta: stm32mp: Add a missing header
  lib/libutee/include/pta_stm32mp_bsec.h
Owners: @OP-TEE/linaro

drivers: imx: tzc380: refactor region number handling
  core/arch/arm/plat-imx/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: relax CFG_DDR_SIZE decision
  core/arch/arm/plat-imx/main.c
  core/arch/arm/plat-imx/platform_config.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx: tzc380: add support to discover nsec_dram dynamically
  core/arch/arm/plat-imx/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: mm: add core_mmu_for_each_nsec_ddr support
  core/include/mm/core_mmu.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

drivers: imx: tzc380: document reconfiguration requirements
  core/arch/arm/plat-imx/tzc380.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: imx_ocotp: write support i.MX6Q/D/S/DL/UL
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: write support i.MX6ULL
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

plat-agilex5: add initial platform support
  core/arch/arm/plat-agilex5/conf.mk
  core/arch/arm/plat-agilex5/main.c
  core/arch/arm/plat-agilex5/platform_config.h
  core/arch/arm/plat-agilex5/sub.mk
Owners: @OP-TEE/linaro

plat-k3: drivers: Refactor SA2UL RNG firewall setup
  core/arch/arm/plat-k3/drivers/sa2ul.c
  core/arch/arm/plat-k3/drivers/sub.mk
  core/arch/arm/plat-k3/drivers/ti_crypto.c
  core/arch/arm/plat-k3/drivers/ti_crypto.h
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

plat-k3: drivers: Remove code to get firewall configs
  core/arch/arm/plat-k3/drivers/ti_crypto.c
Owners: @OP-TEE/linaro

plat-k3: drivers: Set firewall for DTHEv2 RNG
  core/arch/arm/plat-k3/drivers/dthev2.c
  core/arch/arm/plat-k3/drivers/ti_crypto.c
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

plat-rockchip: px30: set CFG_CRYPTO_WITH_CE ?= y
  core/arch/arm/plat-rockchip/conf.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

plat-rockchip: increase FDT max size to 384KiB on all Aarch64 supported SoCs
  core/arch/arm/plat-rockchip/conf.mk
Owners: @OP-TEE/plat-rockchip, op-tee@rock-chips.com

drivers: imx: rngb: use explicit seed generation command
  core/drivers/imx_rngb.c
Owners: @OP-TEE/linaro

plat-k3: drivers: Refactor SA2UL RNG firewall setup
  core/arch/arm/plat-k3/drivers/sa2ul.c
  core/arch/arm/plat-k3/drivers/sub.mk
  core/arch/arm/plat-k3/drivers/ti_crypto.c
  core/arch/arm/plat-k3/drivers/ti_crypto.h
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

plat-k3: drivers: Set firewall for DTHEv2 RNG
  core/arch/arm/plat-k3/drivers/dthev2.c
  core/arch/arm/plat-k3/drivers/ti_crypto.c
  core/arch/arm/plat-k3/platform_config.h
Owners: @OP-TEE/linaro

plat-k3: drivers: Remove code to get firewall configs
  core/arch/arm/plat-k3/drivers/ti_crypto.c
Owners: @OP-TEE/linaro

[Review] arm: altera: clean up sub.mk and restore copyright headers
  core/arch/arm/plat-altera/conf.mk
  core/arch/arm/plat-altera/flavors/agilex5.mk
  core/arch/arm/plat-altera/main.c
  core/arch/arm/plat-altera/platform_config.h
  core/arch/arm/plat-altera/sub.mk
  core/arch/arm/plat-socfpga/sub.mk
Owners: @OP-TEE/linaro

[Review] arm: altera: add MAINTAINER, update flavors and ci workflow
  .github/workflows/ci.yml
  MAINTAINERS
  core/arch/arm/plat-altera/conf.mk
  core/arch/arm/plat-altera/flavors/agilex5.mk
Owners: @OP-TEE/approvers, @OP-TEE/linaro

plat-corstone1000: swap GIC-600 for GIC-700 for Cortex-A320 variant
  core/arch/arm/plat-corstone1000/conf.mk
Owners: @OP-TEE/linaro

gic: refactor implementation of GICv3 to add GICv4 support
  core/arch/arm/arm.mk
  core/arch/arm/include/arm32.h
  core/arch/arm/include/arm32_macros.S
  core/arch/arm/kernel/sub.mk
  core/arch/arm/plat-corstone1000/main.c
  core/arch/arm/plat-corstone1000/platform_config.h
  core/drivers/gic.c
  core/include/drivers/gic.h
Owners: @OP-TEE/linaro

Review (iteration 1)
  lib/libutils/ext/asan.c
Owners: @OP-TEE/linaro

compiler.h: define __no_asan
  lib/libutils/ext/include/compiler.h
Owners: @OP-TEE/linaro

asan: improve report output
  lib/libutils/ext/asan.c
Owners: @OP-TEE/linaro

asan: support trusted applications
  core/arch/arm/arm.mk
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/riscv/plat-spike/conf.mk
  ldelf/main.c
  ldelf/ta_elf.c
  lib/libutee/user_ta_entry.c
  lib/libutils/ext/asan.c
  lib/libutils/ext/include/asan_cfg.h
  lib/libutils/ext/include/compiler.h
  lib/libutils/ext/sub.mk
  mk/config.mk
  ta/arch/arm/ta.ld.S
  ta/mk/ta_dev_kit.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

libutils: arm: add getauxval() wrapper
  lib/libutils/ext/arch/arm/auxval.c
Owners: @OP-TEE/linaro

libutils: move ASan runtime and tests from core to libutils
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a32.S
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/kernel/thread.c
  core/arch/arm/mm/tee_pager.c
  core/arch/arm/sm/pm_a32.S
  core/arch/riscv/kernel/thread_arch.c
  core/kernel/sub.mk
  core/kernel/thread.c
  core/mm/boot_mem.c
  core/pta/tests/misc.c
  lib/libutils/ext/asan.c
  lib/libutils/ext/asan_test.c
  lib/libutils/ext/include/asan.h
  lib/libutils/ext/include/asan_test.h
  lib/libutils/ext/sub.mk
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

ldelf: asan: add support and user shadow mapping infrastructure
  core/arch/arm/arm.mk
  core/core.mk
  ldelf/asan.c
  ldelf/asan.h
  ldelf/ldelf.ld.S
  ldelf/ldelf.mk
  ldelf/main.c
  ldelf/sub.mk
  lib/libutils/ext/asan.c
  lib/libutils/ext/include/asan.h
  lib/libutils/ext/include/asan_cfg.h
  lib/libutils/ext/sub.mk
  lib/libutils/isoc/arch/arm/setjmp_a32.S
  lib/libutils/isoc/arch/arm/setjmp_a64.S
  lib/libutils/isoc/bget_malloc.c
  lib/libutils/isoc/sub.mk
Owners: @OP-TEE/linaro

libutee: add tee_map_fixed_zi()
  lib/libutee/include/tee_internal_api_extensions.h
  lib/libutee/tee_system_pta.c
Owners: @OP-TEE/linaro

libutils: asan: support multiple shadow regions
  lib/libutils/ext/asan.c
  lib/libutils/ext/include/asan.h
Owners: @OP-TEE/linaro

libutils: asan: skip global unpoisoning for bget pool backing buffers
  lib/libutils/ext/asan.c
  lib/libutils/ext/include/asan.h
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: write support i.MX6ULL
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: write support i.MX6Q/D/S/DL/UL
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

drivers: imx_ocotp: add support to burn fuses
  core/drivers/imx_ocotp.c
  core/include/drivers/imx_ocotp.h
Owners: @OP-TEE/linaro

drivers: imx_ocotp: fix ocotp_ctrl_wait_for for i.MX6
  core/drivers/imx_ocotp.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
