Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers

libutee: add coverity note to TEE_Panic()
  lib/libutee/tee_api_panic.c
Owners: @OP-TEE/linaro

libutee: remove redundant NULL check in TEE_BigIntComputeExtendedGcd()
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

core: check snprintf() return value in add_res_mem_dt_node()
  core/arch/arm/kernel/boot.c
Owners: @OP-TEE/linaro

libutee: check srcLen in TEE_CipherDoFinal()
  lib/libutee/tee_api_operations.c
Owners: @OP-TEE/linaro

core: assert result in crypto_bignum_bn2bin()
  core/lib/libtomcrypt/mpi_desc.c
Owners: @OP-TEE/linaro

ldelf: assert result in print_seg()
  ldelf/ta_elf.c
Owners: @OP-TEE/linaro

core: Rename abort_print_current_ta
  core/arch/arm/include/kernel/abort.h
  core/arch/arm/kernel/abort.c
  core/arch/arm/kernel/ldelf_loader.c
  core/arch/arm/kernel/stmm_sp.c
  core/arch/arm/kernel/user_ta.c
  ldelf/main.c
Owners: @OP-TEE/linaro

ci: add .azure-pipelines.yml
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

ci: add .azure-pipelines.yml
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

core: add pgt_clear_ctx_range()
  core/arch/arm/include/mm/pgt_cache.h
  core/arch/arm/mm/pgt_cache.c
Owners: @OP-TEE/linaro

core: clear user mappings from tables when removed
  core/mm/vm.c
Owners: @OP-TEE/linaro

core: add tlbi_mva_range_asid()
  core/arch/arm/include/kernel/tlb_helpers.h
  core/arch/arm/include/mm/core_mmu.h
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

ta: pkcs11: Allocate command ID for key derivation
  ta/pkcs11/include/pkcs11_ta.h
Owners: @OP-TEE/linaro

ta: pkcs11: Forbid derivation by encryption from AES encryption keys
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

ta: pkcs11: Add implementation for key derivation
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/pkcs11_helpers.c
  ta/pkcs11/src/processing.c
  ta/pkcs11/src/processing.h
  ta/pkcs11/src/processing_symm.c
Owners: @OP-TEE/linaro

ta: pkcs11: Add implementation for key derivation
  ta/pkcs11/src/entry.c
  ta/pkcs11/src/pkcs11_attributes.c
  ta/pkcs11/src/pkcs11_helpers.c
  ta/pkcs11/src/processing.c
  ta/pkcs11/src/processing.h
  ta/pkcs11/src/processing_symm.c
Owners: @OP-TEE/linaro

ta: pkcs11: Allocate command ID for key derivation
  ta/pkcs11/include/pkcs11_ta.h
Owners: @OP-TEE/linaro

ta: pkcs11: Forbid derivation by encryption from AES encryption keys
  ta/pkcs11/src/pkcs11_attributes.c
Owners: @OP-TEE/linaro

driver: bcm_sotp: changed driver_init to service_init
  core/drivers/bcm_sotp.c
Owners: @OP-TEE/linaro

ta: pkcs11: Fix class check when sanitizing indirect attributes
  ta/pkcs11/src/sanitize_object.c
Owners: @OP-TEE/linaro

ta: pkcs11: Correct the error in tracing indirect attributes
  ta/pkcs11/src/sanitize_object.c
Owners: @OP-TEE/linaro

ta: pkcs11: Correct the error in tracing indirect attributes
  ta/pkcs11/src/sanitize_object.c
Owners: @OP-TEE/linaro

ta: pkcs11: Fix class check when sanitizing indirect attributes
  ta/pkcs11/src/sanitize_object.c
Owners: @OP-TEE/linaro

core: mobj: MOBJ is abstract pull it from arch folder
  core/arch/arm/mm/sub.mk
  core/include/mm/mobj.h
  core/mm/mobj.c
  core/mm/sub.mk
Owners: @OP-TEE/linaro

core: mutex: mutex is abstract pull it from arch folder
  core/arch/arm/kernel/sub.mk
  core/include/kernel/mutex.h
  core/include/kernel/wait_queue.h
  core/kernel/mutex.c
  core/kernel/mutex_lockdep.c
  core/kernel/mutex_lockdep.h
  core/kernel/sub.mk
  core/kernel/wait_queue.c
Owners: @OP-TEE/linaro

core: tee_mm.c: pull architecture-independent code from arch folder
  core/arch/arm/mm/sub.mk
  core/mm/sub.mk
  core/mm/tee_mm.c
Owners: @OP-TEE/linaro

libutee: fix memory leak in bigint_binary_mod()
  lib/libutee/tee_api_arith_mpi.c
Owners: @OP-TEE/linaro

core: mutex: mutex is abstract pull it from arch folder
  core/arch/arm/kernel/sub.mk
  core/include/kernel/mutex.h
  core/include/kernel/wait_queue.h
  core/kernel/mutex.c
  core/kernel/mutex_lockdep.c
  core/kernel/mutex_lockdep.h
  core/kernel/sub.mk
  core/kernel/wait_queue.c
Owners: @OP-TEE/linaro

core: imx: add snvs base address for imx8m
  core/arch/arm/plat-imx/registers/imx8m.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: build snvs driver for imx8mm
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: crypto: provide RNG quality information
  core/crypto/rng_fortuna.c
  core/crypto/rng_hw.c
  core/include/crypto/crypto.h
Owners: @OP-TEE/linaro

core: drivers: export crypto_rng_read to REE
  core/pta/rng.c
  core/pta/sub.mk
  lib/libutee/include/rng_pta.h
  mk/config.mk
Owners: @OP-TEE/linaro

core: imx: build snvs driver for imx8mm
  core/arch/arm/plat-imx/conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: imx: add snvs base address for imx8m
  core/arch/arm/plat-imx/registers/imx8m.h
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

core: gpio.h: Add 'struct gpio_chip *chip' in 'struct gpio_ops'
  core/arch/arm/plat-hikey/spi_test.c
  core/drivers/bcm_gpio.c
  core/drivers/pl022_spi.c
  core/drivers/pl061_gpio.c
  core/include/gpio.h
  core/pta/bcm/gpio.c
Owners: @OP-TEE/plat-hikey, @OP-TEE/linaro

plat-ls: Add GPIO driver for NXP LS Platforms
  MAINTAINERS
  core/arch/arm/plat-ls/conf.mk
  core/drivers/ls_gpio.c
  core/drivers/sub.mk
  core/include/drivers/ls_gpio.h
Owners: @OP-TEE/approvers, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/linaro

plat-ls: Add GPIO driver for NXP LS Platforms
  MAINTAINERS
  core/arch/arm/plat-ls/conf.mk
  core/drivers/ls_gpio.c
  core/drivers/sub.mk
  core/include/drivers/ls_gpio.h
Owners: @OP-TEE/approvers, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/linaro

core: gpio.h: Add 'struct gpio_chip *chip' in 'struct gpio_ops'
  core/arch/arm/plat-hikey/spi_test.c
  core/drivers/bcm_gpio.c
  core/drivers/pl022_spi.c
  core/drivers/pl061_gpio.c
  core/include/gpio.h
  core/pta/bcm/gpio.c
Owners: @OP-TEE/plat-hikey, @OP-TEE/linaro

ta: trusted_keys: Fix to align with strict buffer checks
  ta/trusted_keys/entry.c
Owners: @OP-TEE/linaro

ta: trusted_keys: Fix to align with strict buffer checks
  ta/trusted_keys/entry.c
Owners: @OP-TEE/linaro
