Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: map TA memory using TEE_MATTR_MEM_TYPE_TAGGED
  core/arch/arm/kernel/ldelf_loader.c
  core/arch/arm/kernel/secure_partition.c
  core/arch/arm/kernel/stmm_sp.c
  core/include/mm/mobj.h
  core/kernel/ldelf_syscalls.c
  core/mm/core_mmu.c
  core/mm/fobj.c
  core/mm/mobj.c
  core/pta/system.c
Owners: @OP-TEE/linaro

core: mm: add TEE_MATTR_MEM_TYPE_TAGGED
  core/arch/arm/mm/core_mmu_lpae.c
  core/arch/arm/mm/core_mmu_v7.c
  core/include/mm/tee_mmu_types.h
  core/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: arm64.h: use BIT64() for SCTLR_* defines
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: rename mobj_get_cattr() to mobj_get_mem_type()
  core/arch/arm/mm/mobj_dyn_shm.c
  core/arch/arm/mm/mobj_ffa.c
  core/include/mm/mobj.h
  core/mm/mobj.c
  core/mm/vm.c
Owners: @OP-TEE/linaro

core: add support for MTE
  core/arch/arm/arm.mk
  core/arch/arm/kernel/boot.c
  core/arch/arm/kernel/entry_a64.S
  core/arch/arm/mm/core_mmu_lpae.c
  core/include/kernel/boot.h
  core/kernel/user_access.c
  core/mm/fobj.c
  core/tee/tee_svc.c
  lib/libutee/arch/arm/user_ta_entry.c
  lib/libutils/ext/arch/arm/memtag.c
  lib/libutils/ext/arch/arm/sub.mk
  lib/libutils/ext/include/memtag.h
  mk/config.mk
  ta/ta.mk
Owners: @OP-TEE/linaro

core: arm64: add MTE bits for ID_AA64PFR1
  core/arch/arm/include/arm.h
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: arm64.h: add MTE related defines
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: syscalls: strip tags from user space pointers
  core/kernel/user_access.c
  core/tee/tee_svc.c
  core/tee/tee_svc_cryp.c
  core/tee/tee_svc_storage.c
Owners: @OP-TEE/linaro

core: arm64.h: use 64-bit macros for TCR_* defines
  core/arch/arm/include/arm64.h
Owners: @OP-TEE/linaro

core: recognize tag check faults in abort handler
  core/arch/arm/include/arm64.h
  core/arch/arm/kernel/abort.c
  core/arch/arm/mm/core_mmu_lpae.c
  core/include/mm/core_mmu.h
Owners: @OP-TEE/linaro

drivers: versal_pm: VERSAL ACAD PM driver
  core/arch/arm/plat-versal/conf.mk
  core/drivers/sub.mk
  core/drivers/versal_pm.c
  core/include/drivers/versal_pm.h
Owners: @OP-TEE/linaro

plat-versal: display SoC revision
  core/arch/arm/plat-versal/main.c
Owners: @OP-TEE/linaro

plat-versal: define the cache line length
  core/arch/arm/plat-versal/platform_config.h
Owners: @OP-TEE/linaro

core: drivers: Versal ACAP TRNG support
  core/arch/arm/plat-versal/conf.mk
  core/arch/arm/plat-versal/platform_config.h
  core/drivers/sub.mk
  core/drivers/versal_trng.c
Owners: @OP-TEE/linaro

MAINTAINERS: maintain the Versal ACAP TRNG driver
  MAINTAINERS
Owners: @OP-TEE/approvers

core: sp_mem: fix get_cattr() callback name
  core/arch/arm/mm/sp_mem.c
  core/include/mm/sp_mem.h
Owners: @OP-TEE/linaro

ci: azure: build for k3-am62x and k3-am64x
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

MAINTAINERS: add TI AM62x and AM64x
  MAINTAINERS
Owners: @OP-TEE/approvers

core: sp_mem: fix get_cattr() callback name
  core/arch/arm/mm/sp_mem.c
  core/include/mm/sp_mem.h
Owners: @OP-TEE/linaro

MAINTAINERS: add TI AM62x and AM64x
  MAINTAINERS
Owners: @OP-TEE/approvers

ci: azure: build for k3-am62x and k3-am64x
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

ci: azure: add build for CFG_SECURE_PARTITION=y
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

ci: azure: add build for CFG_SECURE_PARTITION=y
  .azure-pipelines.yml
Owners: @OP-TEE/linaro

drivers: versal_mbox: Versal ACAD mailbox driver
  core/arch/arm/plat-versal/conf.mk
  core/drivers/sub.mk
  core/drivers/versal_mbox.c
  core/include/drivers/versal_mbox.h
Owners: @OP-TEE/linaro

drivers: versal_nvm: Versal ACAD non-volatile memory driver
  core/arch/arm/plat-versal/conf.mk
  core/drivers/sub.mk
  core/drivers/versal_nvm.c
  core/include/drivers/versal_nvm.h
Owners: @OP-TEE/linaro

MAINTAINERS: maintain Xilinx Versal ACAD drivers
  MAINTAINERS
Owners: @OP-TEE/approvers

plat-ti: Enable hardware RNG PTA
  core/arch/arm/plat-ti/conf.mk
Owners: @OP-TEE/plat-ti, @glneo

plat-ti: Add SM handler for setting AMBA IF in the WUGEN
  core/arch/arm/plat-ti/platform_config.h
  core/arch/arm/plat-ti/sm_platform_handler_a15.c
Owners: @OP-TEE/plat-ti, @glneo

plat-k3: drivers: Add secure proxy driver for communication with System Controller
  core/arch/arm/plat-k3/drivers/sec_proxy.c
  core/arch/arm/plat-k3/drivers/sec_proxy.h
  core/arch/arm/plat-k3/drivers/sub.mk
  core/arch/arm/plat-k3/main.c
  core/arch/arm/plat-k3/platform_config.h
  core/arch/arm/plat-k3/sub.mk
Owners: @OP-TEE/linaro

plat-k3: drivers: Add basic support for TI System Control Interface (TI-SCI) protocol
  core/arch/arm/plat-k3/drivers/sub.mk
  core/arch/arm/plat-k3/drivers/ti_sci.c
  core/arch/arm/plat-k3/drivers/ti_sci.h
  core/arch/arm/plat-k3/drivers/ti_sci_protocol.h
Owners: @OP-TEE/linaro

plat-k3: Initialize Secure Storage with DKEK
  core/arch/arm/plat-k3/drivers/ti_sci.c
  core/arch/arm/plat-k3/drivers/ti_sci.h
  core/arch/arm/plat-k3/drivers/ti_sci_protocol.h
  core/arch/arm/plat-k3/main.c
Owners: @OP-TEE/linaro

libutils: fix MTE error in realloc()
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

libutils: fix MTE error in realloc()
  lib/libutils/isoc/bget_malloc.c
Owners: @OP-TEE/linaro

symbolize.py: translate TA panic codes
  scripts/symbolize.py
Owners: @OP-TEE/linaro

symbolize.py: translate TA panic codes
  scripts/symbolize.py
Owners: @OP-TEE/linaro

libutee: fix value of TEE_ECC_CURVE_SM2
  lib/libutee/include/tee_api_defines.h
Owners: @OP-TEE/linaro

plat-k3: drivers: Add basic support for TI System Control Interface (TI-SCI) protocol
  core/arch/arm/plat-k3/drivers/sub.mk
  core/arch/arm/plat-k3/drivers/ti_sci.c
  core/arch/arm/plat-k3/drivers/ti_sci.h
  core/arch/arm/plat-k3/drivers/ti_sci_protocol.h
Owners: @OP-TEE/linaro

plat-k3: drivers: Add secure proxy driver for communication with System Controller
  core/arch/arm/plat-k3/drivers/sec_proxy.c
  core/arch/arm/plat-k3/drivers/sec_proxy.h
  core/arch/arm/plat-k3/drivers/sub.mk
  core/arch/arm/plat-k3/main.c
  core/arch/arm/plat-k3/platform_config.h
  core/arch/arm/plat-k3/sub.mk
Owners: @OP-TEE/linaro

plat-k3: Initialize Secure Storage with DKEK
  core/arch/arm/plat-k3/drivers/ti_sci.c
  core/arch/arm/plat-k3/drivers/ti_sci.h
  core/arch/arm/plat-k3/drivers/ti_sci_protocol.h
  core/arch/arm/plat-k3/main.c
Owners: @OP-TEE/linaro

libutee: fix value of TEE_ECC_CURVE_SM2
  lib/libutee/include/tee_api_defines.h
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
