Repository OP-TEE/optee_os, changes with the owners that .github/CODEOWNERS names for each.
All owners: @OP-TEE/linaro, @OP-TEE/plat-d02, @OP-TEE/plat-hikey, @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/plat-marvell, @kevin-peng-hao, @OP-TEE/plat-mediatek, @OP-TEE/plat-poplar, @OP-TEE/plat-rcar, @OP-TEE/plat-rockchip, op-tee@rock-chips.com, @OP-TEE/plat-rpi3, @OP-TEE/plat-sam, @nodeax, @OP-TEE/plat-sprd, @aijunsun, @OP-TEE/plat-stm, @OP-TEE/plat-ti, @glneo, @OP-TEE/plat-vexpress, @OP-TEE/plat-zynq7k, @OP-TEE/plat-zynqmp, @OP-TEE/approvers

core: pager: support paging of tag and IV
  core/arch/arm/include/mm/tee_pager.h
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

core: add fobj_get_iv_vaddr()
  core/include/mm/fobj.h
Owners: @OP-TEE/linaro

core: add abort_is_write_fault()
  core/arch/arm/include/kernel/abort.h
  core/arch/arm/kernel/abort.c
Owners: @OP-TEE/linaro

core: fobj_rw_paged_alloc() store tags and IVs in paged area
  core/mm/fobj.c
Owners: @OP-TEE/linaro

core: pager: small simplifications
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

core: introduce CFG_CORE_PAGE_TAG_AND_IV
  core/arch/arm/mm/tee_pager.c
  core/mm/fobj.c
  mk/config.mk
Owners: @OP-TEE/linaro

drivers: caam: implement CAAM DMA Object
  core/arch/arm/plat-imx/crypto_conf.mk
  core/arch/arm/plat-ls/crypto_conf.mk
  core/drivers/crypto/caam/caam_desc.c
  core/drivers/crypto/caam/include/caam_common.h
  core/drivers/crypto/caam/include/caam_io.h
  core/drivers/crypto/caam/include/caam_jr_status.h
  core/drivers/crypto/caam/include/caam_status.h
  core/drivers/crypto/caam/include/caam_trace.h
  core/drivers/crypto/caam/include/caam_types.h
  core/drivers/crypto/caam/include/caam_utils_dmaobj.h
  core/drivers/crypto/caam/include/caam_utils_mem.h
  core/drivers/crypto/caam/include/caam_utils_sgt.h
  core/drivers/crypto/caam/include/caam_utils_status.h
  core/drivers/crypto/caam/utils/sub.mk
  core/drivers/crypto/caam/utils/utils_dmaobj.c
  core/drivers/crypto/caam/utils/utils_mem.c
  core/drivers/crypto/caam/utils/utils_sgt.c
  core/drivers/crypto/caam/utils/utils_sgt_v1.c
  core/drivers/crypto/caam/utils/utils_sgt_v2.c
  core/drivers/crypto/caam/utils/utils_status.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/linaro

drivers: caam: add dmaobj descriptor functions
  core/drivers/crypto/caam/caam_desc.c
  core/drivers/crypto/caam/include/caam_desc_defines.h
  core/drivers/crypto/caam/include/caam_desc_helper.h
Owners: @OP-TEE/linaro

drivers: caam: use CAAM DMA object in HMAC
  core/drivers/crypto/caam/hash/caam_hash_mac.c
Owners: @OP-TEE/linaro

drivers: caam: use CAAM DMA object in RSA
  core/drivers/crypto/caam/acipher/caam_rsa.c
Owners: @OP-TEE/linaro

drivers: caam: use CAAM DMA object in math driver
  core/drivers/crypto/caam/acipher/caam_math.c
Owners: @OP-TEE/linaro

core: imx: set SGT properties for imx platforms
  core/arch/arm/plat-imx/crypto_conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: caam: use CAAM DMA object in Hash
  core/drivers/crypto/caam/hash/caam_hash.c
  core/drivers/crypto/caam/hash/local.h
  core/drivers/crypto/caam/include/caam_trace.h
Owners: @OP-TEE/linaro

drivers: caam: use CAAM DMA object in Cipher
  core/drivers/crypto/caam/cipher/caam_cipher.c
  core/drivers/crypto/caam/cipher/caam_cipher_mac.c
  core/drivers/crypto/caam/cipher/caam_cipher_xts.c
  core/drivers/crypto/caam/cipher/local.h
Owners: @OP-TEE/linaro

drivers: caam: remove unused SGT functions
  core/drivers/crypto/caam/include/caam_utils_sgt.h
  core/drivers/crypto/caam/utils/utils_sgt.c
Owners: @OP-TEE/linaro

drivers: caam: fix read of length of D component
  core/drivers/crypto/caam/acipher/caam_rsa.c
Owners: @OP-TEE/linaro

core: ls: set SGT properties for LS platforms
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/crypto_conf.mk
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

core: arm: mobj: some mobjs may have no physical address
  core/arch/arm/mm/core_mmu.c
  core/arch/arm/mm/mobj.c
Owners: @OP-TEE/linaro

core: arm: mm: initialize local variables
  core/arch/arm/mm/core_mmu.c
Owners: @OP-TEE/linaro

core: mm: update description of vm.h exported functions
  core/arch/arm/include/mm/core_mmu.h
  core/include/mm/vm.h
Owners: @OP-TEE/linaro

core: mm: change vm_pa2va() to return a virtual address
  core/arch/arm/mm/core_mmu.c
  core/include/mm/vm.h
  core/mm/vm.c
Owners: @OP-TEE/linaro

core: ls: set SGT properties for LS platforms
  core/arch/arm/plat-ls/conf.mk
  core/arch/arm/plat-ls/crypto_conf.mk
Owners: @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com

drivers: caam: implement CAAM DMA Object
  core/arch/arm/plat-imx/crypto_conf.mk
  core/arch/arm/plat-ls/crypto_conf.mk
  core/drivers/crypto/caam/caam_desc.c
  core/drivers/crypto/caam/include/caam_common.h
  core/drivers/crypto/caam/include/caam_io.h
  core/drivers/crypto/caam/include/caam_jr_status.h
  core/drivers/crypto/caam/include/caam_status.h
  core/drivers/crypto/caam/include/caam_trace.h
  core/drivers/crypto/caam/include/caam_types.h
  core/drivers/crypto/caam/include/caam_utils_dmaobj.h
  core/drivers/crypto/caam/include/caam_utils_mem.h
  core/drivers/crypto/caam/include/caam_utils_sgt.h
  core/drivers/crypto/caam/include/caam_utils_status.h
  core/drivers/crypto/caam/utils/sub.mk
  core/drivers/crypto/caam/utils/utils_dmaobj.c
  core/drivers/crypto/caam/utils/utils_mem.c
  core/drivers/crypto/caam/utils/utils_sgt.c
  core/drivers/crypto/caam/utils/utils_sgt_v1.c
  core/drivers/crypto/caam/utils/utils_sgt_v2.c
  core/drivers/crypto/caam/utils/utils_status.c
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue, @OP-TEE/plat-ls, @b49020, pankaj.gupta@nxp.com, @OP-TEE/linaro

drivers: caam: use CAAM DMA object in HMAC
  core/drivers/crypto/caam/hash/caam_hash_mac.c
Owners: @OP-TEE/linaro

drivers: caam: add dmaobj descriptor functions
  core/drivers/crypto/caam/caam_desc.c
  core/drivers/crypto/caam/include/caam_desc_defines.h
  core/drivers/crypto/caam/include/caam_desc_helper.h
Owners: @OP-TEE/linaro

drivers: caam: use CAAM DMA object in math driver
  core/drivers/crypto/caam/acipher/caam_math.c
Owners: @OP-TEE/linaro

core: imx: set SGT properties for imx platforms
  core/arch/arm/plat-imx/crypto_conf.mk
Owners: @OP-TEE/plat-imx, @MrVan, yan.yan@windriver.com, Yu.Feng@windriver.com, @bryanodonoghue

drivers: caam: use CAAM DMA object in Hash
  core/drivers/crypto/caam/hash/caam_hash.c
  core/drivers/crypto/caam/hash/local.h
  core/drivers/crypto/caam/include/caam_trace.h
Owners: @OP-TEE/linaro

drivers: caam: remove unused SGT functions
  core/drivers/crypto/caam/include/caam_utils_sgt.h
  core/drivers/crypto/caam/utils/utils_sgt.c
Owners: @OP-TEE/linaro

drivers: caam: use CAAM DMA object in RSA
  core/drivers/crypto/caam/acipher/caam_rsa.c
Owners: @OP-TEE/linaro

drivers: caam: fix read of length of D component
  core/drivers/crypto/caam/acipher/caam_rsa.c
Owners: @OP-TEE/linaro

drivers: caam: use CAAM DMA object in Cipher
  core/drivers/crypto/caam/cipher/caam_cipher.c
  core/drivers/crypto/caam/cipher/caam_cipher_mac.c
  core/drivers/crypto/caam/cipher/caam_cipher_xts.c
  core/drivers/crypto/caam/cipher/local.h
Owners: @OP-TEE/linaro

mk/compile.mk: drop -Waggregate-return warning
  mk/compile.mk
Owners: @OP-TEE/linaro

core: pager: add struct tblidx
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

core: pager: add struct tblidx
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

mk/compile.mk: drop -Waggregate-return warning
  mk/compile.mk
Owners: @OP-TEE/linaro

core: fs: remove unused functions from tee_fs_rpc.c
  core/include/tee/tee_fs_rpc.h
  core/tee/tee_fs_rpc.c
Owners: @OP-TEE/linaro

core: fs: remove unused functions from tee_fs_rpc.c
  core/include/tee/tee_fs_rpc.h
  core/tee/tee_fs_rpc.c
Owners: @OP-TEE/linaro

core: pager: initialize vabase in core pager tables
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

core: pager: initialize vabase in core pager tables
  core/arch/arm/mm/tee_pager.c
Owners: @OP-TEE/linaro

.github/CODEOWNERS:

# This file should stay in somewhat sync with the MAINTAINERS file, since there
# is some kind of relation between the two. Preferably use GitHub alias here
# instead of email addresses.

# Everything not uniquely specified should land at the core team
* @OP-TEE/linaro

# Platform specific code
/core/arch/arm/plat-d02/ @OP-TEE/plat-d02
/core/arch/arm/plat-hikey/ @OP-TEE/plat-hikey
/core/arch/arm/plat-imx/ @OP-TEE/plat-imx @MrVan yan.yan@windriver.com Yu.Feng@windriver.com @bryanodonoghue
/core/arch/arm/plat-ls/ @OP-TEE/plat-ls @b49020 pankaj.gupta@nxp.com
/core/arch/arm/plat-marvell/ @OP-TEE/plat-marvell @kevin-peng-hao
/core/arch/arm/plat-mediatek/ @OP-TEE/plat-mediatek
/core/arch/arm/plat-poplar/ @OP-TEE/plat-poplar
/core/arch/arm/plat-rcar/ @OP-TEE/plat-rcar
/core/arch/arm/plat-rockchip/ @OP-TEE/plat-rockchip op-tee@rock-chips.com
/core/arch/arm/plat-rpi3/ @OP-TEE/plat-rpi3
/core/arch/arm/plat-sam/ @OP-TEE/plat-sam @nodeax
/core/arch/arm/plat-sprd/ @OP-TEE/plat-sprd @aijunsun
/core/arch/arm/plat-stm/ @OP-TEE/plat-stm
/core/arch/arm/plat-ti/ @OP-TEE/plat-ti @glneo
/core/arch/arm/plat-vexpress/ @OP-TEE/plat-vexpress
/core/arch/arm/plat-zynq7k/ @OP-TEE/plat-zynq7k yan.yan@windriver.com Yu.Feng@windriver.com
/core/arch/arm/plat-zynqmp/ @OP-TEE/plat-zynqmp

/MAINTAINERS @OP-TEE/approvers
/.github/ @OP-TEE/approvers
